<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PAS</title>
    <base href="~/" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Mono:300" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" /> 
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

    <script>$(function () { $(".datepicker").datepicker().datepicker("setDate", new Date()); });</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
            <!-- <script>
        window.onbeforeunload = function() {
        alert( "Data will be lost if you leave the page, are you sure?");
        };
        </script> -->


    <link rel="icon" type="image/png" href="~/favicon.png" />
</head>
    <body class="nav-md">
        @RenderBody()

        @RenderSection("scripts", required: false)


    </body>
    </html>
