#accordion h4 a.collapsed {
  font-size: 12px !important;
}
#accordion h4 a {
  font-size: 12px !important;
}
@media (min-width: 768px) {
  #checkIn .col-md-3 {
      max-width: 22%;
      margin-right: 15px;
  }
}
