.grey-card {
  background-color: #e7e7e7;
}
.wo-multiple-pn-details {
  background: #fff;
  padding: 8px;
  border: 5px solid #e7e7e7;
}
.nav-pills-cstm {
  margin-top: 10px;
  font-size: 11px;
}
.nav-pills-cstm li {
  float: left;
}
.nav-pills-cstm li a {
  background-color: #4298ffb0;
  color: white;
  margin-right: 4px;
}
li.nav-item {
  margin-right: 1px;
  border-radius: 4px;
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: black;
  background-color: #ddd;
}
.nav-pills > li > a.active,
.nav-pills > li > a.active:focus,
.nav-pills > li > a.active:hover {
  color: #fff;
  background-color: #337ab7 !important;
}
.dropdown-menu.show > a {
  background-color: white !important;
  color: black !important;
}
.hidedata {
  display: none;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

label {
  font-size: 12px !important;
  text-align: left;
  width: auto;
  margin-right: 0;
  font-weight: normal;
}
input[type='text'],
input[type='number'],
select,
textarea {
  height: 24px !important;
  border-radius: 5px !important;
}
.ui-widget {
  padding: 0px !important;
}
.nav-pills li a {
  padding: 5px 6px !important;
}
@media (min-width: 768px) {
  .col-md-6 .col-md-6 {
    max-width: 44%;
    margin-right: 15px;
  }
  .col-md-3 {
    max-width: 22%;
    margin-right: 15px;
  }
}
