<div class="card">
  <div class="card-body">
    <p-table
      class="rpo-table-cstm rro-table-cstm"
      [columns]="roListColumns"
      [value]="workOrderROPartsList"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
          <th>
            Actions
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td>
            <a
              (click)="createNewRoWorkOrder(rowData)"
              matTooltip="Create PO"
              class="btn btn-success nobg btn-cstm"
            >
              <span><i class="fa fa-plus"></i></span
            ></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
