<div class="card padding-10">
<div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; left: 0px; top: 0px;" dir="ltr">
    <fieldset class="sf-step-el">
        <div class="col-sm-12">
            <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
                <p class="fs10">
                    <label class="control-label" style="width: auto;">Asset ID :</label>
                    {{local?.assetId}}
                </p>
            </div>
            <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
                <p class="fs10">
                    <label class="control-label" style="width: auto;">Alt Asset ID :</label>
                    {{local?.alternateAssetId}}
                </p>
            </div>
            <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
                <p class="fs10">
                    <label class="control-label" style="width: auto;">Asset Name: </label>
                    {{local?.name}}
                </p>
            </div>
            <!--<div class="form-group" style="display: inline-block;">
                <p class="fs10">
                    <label class="control-label" style="width: auto;">Asset Type</label>
                    {{local?.assetTypeSingleScreenId}}
                </p>
            </div>-->
        </div>
        <div class="clear"></div>
        <hr class="hr-light-grey">
        <div class="col-sm-6 w400">
            <div class="col-sm-12">
                <h5 class="heading">MAINTENANCE</h5>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Maintenance Required</label>
                <div class="col-sm-7">
                    <input class="form-control inline-block" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.assetIsMaintenanceReqd">
                </div>
            </div>
            <div class="maintenance-block" *ngIf="currentMaintenance.assetIsMaintenanceReqd">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Maintenance Contract</label>
                    <div class="col-sm-7">
                        <input class="form-control w20 mcontract-checkbox" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.assetMaintenanceIsContract">
                        <div class="excel-upload  excel-upload-cstm">
                            <input type="file" name="upload[]" id="upload" *ngIf="currentMaintenance.assetMaintenanceIsContract"
                                   [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.assetMaintenanceContractFile" (change)="customExcelUpload($event)" class="uploaddoc upload-file"
                                   accept=".xlsx, .xls, .csv">
                            <label for="upload" *ngIf="currentMaintenance.assetMaintenanceIsContract">
                                <span matTooltip="Upload Data (Excel)">
                                    <i class="fa fa-upload"></i>
                                </span>
                            </label>
                            
                        </div>
                    </div>


                    <!--<div class="col-sm-7">
                        <input class="form-control w20 mcontract-checkbox" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.assetMaintenanceIsContract">
                        <div class="w130">
                            <input class="form-control mcontract-upload" *ngIf="currentMaintenance.assetMaintenanceIsContract" type="file" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.assetMaintenanceContractFile">
                        </div>
                    </div>-->
                </div>

                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Maintenance Frequency</label>
                    <div class="col-sm-7">
                        <div class="col-sm-4">
                            <span class="bold">Mths<input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.maintenanceFrequencyMonths" min="0" max="12"></span>

                        </div>
                        <div class="col-sm-3">
                            <span class="bold"> - Days</span>
                            <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.maintenanceFrequencyDays" min="0" max="31">
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Default Vendor</label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.defaultVendorId">
                            <option>--Select--</option>
                            <option class="form-control" *ngFor="let vendors of allVendorInfo" [ngValue]="vendors.vendorId">
                                {{vendors.vendorName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">GL Account</label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.glAccountId">
                            <option>--Select--</option>
                            <option class="form-control" *ngFor="let glAccounts of allGlInfo" [ngValue]="glAccounts.glAccountId">
                                {{glAccounts.accountName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Maintenance Memo</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.maintenanceMemo"></textarea>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-sm-6 w400">
            <div class="col-sm-12">
                <h5 class="heading">Warranty</h5>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Warranty Required</label>
                <div class="col-sm-7">
                    <input class="form-control inline-block" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.isWarrantyRequired">
                </div>
            </div>
            <div class="warranty-block" *ngIf="currentMaintenance.isWarrantyRequired">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Warranty</label>
                    <div class="col-sm-7">
                        <input class="form-control w20 wcontract-checkbox" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.warranty">
                        <div class="excel-upload  excel-upload-cstm">
                            <input type="file" name="upload[]" id="upload" *ngIf="currentMaintenance.warranty"
                                    (change)="customExcelUpload($event)" class="uploaddoc upload-file"
                                   accept=".xlsx, .xls, .csv">
                            <label for="upload" *ngIf="currentMaintenance.warranty">
                                <span matTooltip="Upload Data (Excel)">
                                    <i class="fa fa-upload"></i>
                                </span>
                            </label>

                        </div>

                        <!--<div class="w130">
                            <input class="form-control wcontract-upload" *ngIf="currentMaintenance.warranty" type="file" style="display: inline-block;">
                        </div>-->
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Warranty Company</label>
                    <div class="col-sm-5">
                        <div class="inner-addon right-addon autosuggesions-add inline-block">
                            <input type="text" class="form-control names ui-autocomplete-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.warrantyCompany">
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Warranty Start Date</label>
                    <div class="col-sm-5">
                        <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.warrantyStartDate"></p-calendar>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Warranty End Date</label>
                    <div class="col-sm-5">
                        <p-calendar [showIcon]="true" class="w160" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.warrantyEndDate"></p-calendar>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Warranty Status</label>
                    <div class="col-sm-5">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.warrantyStatus">
                            <option value="1">In forced</option>
                            <option value="2">Expired</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Unexpired Time (Months)</label>
                    <div class="col-sm-5">
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMaintenance.unexpiredTime" type="number">
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </fieldset>
</div>
<div>
    <button [disabled]="currentMaintenance.isIntangible" type="submit" class="btn btn-primary-cstm pull-right submit-btn" (click)="saveWarrenty()">Save</button>
    <button type="button" class="btn btn-primary-cstm pull-right submit-btn" (click)="backClick()">Previous</button>
</div>
</div>