<div class="row">
    <div class="col-2 column">
      <div class="form-group">
        <label>PN<span class="clr-red">*</span></label>
  
        <p-autoComplete class="autocomp-customer-cstm" [suggestions]="this.partDetails" (completeMethod)="searchPartByPartNumber($event)"
          name="partNumber" [(ngModel)]="query.partSearchParamters.partNumber" (onSelect)="onPartNumberSelect($event)">
          <ng-template let-value pTemplate="selectedItem">
            <span>{{ value.partNumber }}</span>
          </ng-template>
          <ng-template let-brand pTemplate="item">
            <div class="ui-helper-clearfix">
              <div>{{ brand.partNumber }}</div>
            </div>
          </ng-template>
        </p-autoComplete>
     
       
        
       <!--
         <select  name="partNumber" [(ngModel)]="query.partSearchParamters.partId" (onSelect)="onPartNumberSelect(query.partSearchParamters.partId)">
          <option>--select--</option>
          <option *ngFor="let pt of partDetails" [ngValue]="pt.itemMasterId">{{ pt.partNumber }}</option>
        </select>
          <input type="text" pInputText name="partNumber" [(ngModel)]="query.partSearchParamters.partNumber"
        [disabled]="true" />
       -->

      </div>
    </div>
    <div class="col-2 column">
      <div class="form-group">
        <label>PN Description</label>
        <input type="text" pInputText name="partDescription" [(ngModel)]="query.partSearchParamters.partDescription"
          [disabled]="true" />
      </div>
    </div>
    <div class="col-1 column">
      <div class="form-group">
        <label>Cond Type<span class="clr-red">*</span></label>
        <select name="conditionId" [(ngModel)]="query.partSearchParamters.conditionId" (change)="onConditionSelect()">
          <option>--select--</option>
          <option *ngFor="let condition of allConditionInfo" [ngValue]="condition.conditionId">{{condition.description}}</option>
        </select>
      </div>
    </div>
    <div class="col-2 column">
      <div class="form-group">
        <label>Qty Requested</label>
        <input type="text" pInputText name="qtyRequested" [(ngModel)]="query.partSearchParamters.quantityRequested" (change)="calculate()" />
      </div>
    </div>
    <div class="col-1 column">
      <div class="form-group">
        <label>Qty to Quote</label>
        <input type="text" pInputText name="qtyToQuote" [(ngModel)]="query.partSearchParamters.quantityToQuote" />
      </div>
    </div>
    <div class="col-2 column">
        <div class="form-group">
          <label>Qty AlreadyQuoted</label>
          <input type="number" pInputText name="qtyAlreadyQuoted" [(ngModel)]="query.partSearchParamters.quantityAlreadyQuoted" disabled="true" />
        </div>
      </div>
    <div class="col-1 column">
      <div class="form-group">
        <label>Qty On Hand</label>
        <input type="text" pInputText name="qtyOnHand" [(ngModel)]="query.partSearchParamters.qtyOnHand" disabled="true" />
      </div>
    </div>
    <div class="col-1 column">
      <div class="form-group">
        <label>Qty Available</label>
        <input type="text" pInputText name="qtyAvailable" [(ngModel)]="query.partSearchParamters.qtyAvailable" disabled="true" />
      </div>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-1 column" style="margin-right: 8px;">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-primary" (click)="search($event)" [disabled]="searchDisabled">
            Search PN
          </button>
        </div>
      </div>
      <div class="col-1 column" style="margin-right: 8px;">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-primary" [disabled]="historicalDisabled">Historical</button>
        </div>
      </div>
</div>
<div class="row filter-method">
  <div>
    <label>Method</label>
  </div>
  <div>
    <label><input type="radio" name="method" value="1" [(ngModel)]="query.partSearchParamters.itemSearchType"
        (change)="onChangeSearchType($event)" />&nbsp;Item Master</label>
  </div>
  <div>
    <label><input type="radio" name="method" value="2" [(ngModel)]="query.partSearchParamters.itemSearchType"
        (change)="onChangeSearchType($event)" />&nbsp;Stock Line</label>
  </div>
  <div>
    <label><input type="checkbox" name="includeAlternalePN" />&nbsp;Include
      Alternate PN</label>
  </div>
  <div>
    <label><input type="checkbox" name="method" name="includeMultiplePN"
        [(ngModel)]="query.partSearchParamters.includeAlternatePartNumber" />&nbsp;Multiple PN's</label>
  </div>
</div>
<p-dialog header="Alert" [(visible)]="displayPartError" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
          [width]="350" [minWidth]="200" [responsive]="true"
          [minY]="1050" [baseZIndex]="1100000">
    <h5 [ngStyle]="{'color':'red'}">
        Please Enter (*) Mandatory Fields
    </h5>
    <p *ngFor="let error of errorMessages" [ngStyle]="{'color':'red'}"> {{ error }} </p>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
    </p-footer>

</p-dialog>
