<div class="row">
  <div style="overflow-y: auto;">
    <p-table #dt class="sales-quote-part-search-data" [value]="parts" [rows]="10" [lazy]="true"
      [paginator]="showPaginator" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="totalRecords"
      [pageLinks]="pageLinks" [columns]="columns" [scrollable]="true" 
      [resizableColumns]="true"
      [reorderableColumns]="true"
      scrollHeight="450px" [style]="{ width: '100%' }"
      (onLazyLoad)="onPaging($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}" />
          <col style="width:80px"/>
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
              *ngFor="let col of columns"
              pResizableColumn
              pReorderableColumn
              >
              {{ col.header }}
             
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-part let-columns="columns">
        <tr [pSelectableRow]="part" [ngClass]="{'row-bg1':part.alternateFor.length==0}" pReorderableRowHandle>

            <td  *ngFor="let col of columns" pReorderableRowHandle>
              <span *ngIf="col.field == 'select'"><input type="checkbox" (change)="onChange($event, part)" /></span>
              <span *ngIf="col.field == 'partNumber'">{{ part.partNumber }} <span class="alternate-part-label" *ngIf="part.mappingType==1">(Alt)</span> <span class="alternate-part-label" *ngIf="part.mappingType==2">(Eq)</span></span>
              <span *ngIf="col.field == 'oempmpder'">{{ part.pma }}/{{ part.der }}</span>
              <span *ngIf="col.field == 'itemClassification'">
                  {{
                    part.itemClassification !== null
                      ? part.itemClassification.itemType
                      : ""
                  }}
                </span>
                <span *ngIf="col.field == 'glAccount'">
                    {{ part.glAccount !== null ? part.glAccount.accountName : "" }}
                </span>
              <span *ngIf="col.field != 'oempmpder'&&col.field != 'partNumber'&& col.field != 'selected'&&col.field != 'itemClassification'&& col.field != 'glAccount'">{{part[col.field] }}</span>
              

            </td>
            <!--

            
          <td pReorderableRowHandle></td>
          <td pReorderableRowHandle>{{ part.method}}</td>
          <td pReorderableRowHandle>{{ part.partNumber }} <span class="alternate-part-label" *ngIf="part.mappingType==1">(Alt)</span> <span class="alternate-part-label" *ngIf="part.mappingType==2">(Eq)</span></td>
          <td pReorderableRowHandle>{{ part.alternateFor }} </td>
          <td pReorderableRowHandle>{{ part.description }}</td>
          <td pReorderableRowHandle>{{ part.conditionDescription }}</td>
          <td pReorderableRowHandle>{{ part.uomDescription }}</td>
          <td pReorderableRowHandle>{{ part.unitCost }}</td>
          <td pReorderableRowHandle>{{ part.unitListPrice }}</td>
          <td pReorderableRowHandle>{{ part.qtyOnHand }}</td>
          <td pReorderableRowHandle>{{ part.qtyToOrder }}</td>
          <td pReorderableRowHandle>{{ part.qtyOnOrder }}</td>
          <td pReorderableRowHandle>
            {{
              part.itemClassification !== null
                ? part.itemClassification.itemType
                : ""
            }}
          </td>
          <td pReorderableRowHandle>{{ part.itemGroup }}</td>
          <td pReorderableRowHandle>{{ part.pma }}/{{ part.der }}</td>
          <td pReorderableRowHandle>{{ part.manufacturer.name }}</td>
          <td pReorderableRowHandle>{{ part.customerRef }}</td>
          <td pReorderableRowHandle>{{ part.currency !== null ? part.currency.symbol : "" }}</td>
          <td pReorderableRowHandle>{{ part.coreUnitPrice }}</td>
          <td pReorderableRowHandle>
            {{ part.glAccount !== null ? part.glAccount.accountName : "" }}
          </td>
          <td pReorderableRowHandle>{{ part.itar }}</td>
          <td pReorderableRowHandle>{{ part.eccn }}</td>
          <td pReorderableRowHandle>{{ part.memo }}</td>
        -->
          <td> 
            <span>
            <a class="btn btn-info boxed-float-btn nobg"
               data-toggle="tooltip"
               (click)="viewSelectedRow(part)"
               
               matTooltip="View">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-info boxed-float-btn nobg"
            data-toggle="tooltip"
            (click)="viewStockLineHistory(part)"
            
            matTooltip="History">
             <i class="fa fa-history"></i>
         </a>
        </span>
      </td>
        </tr>
      </ng-template>
      
    </p-table>
  </div>
</div>