<div class="fixed-table-container-inner table-responsive cat4-table" style="height:200px;">
    <div>
        <span class="cat-heading cat4" >Add New Charges<i (click)="addRow()" class="fa fa-plus"></i></span>
    </div>
    <table class="table table-bordered table-fixed">
        
        <tr>
            <th><label>Type *</label></th>
            <th><label>Description</label></th>
            <th><label>QTY *</label></th>
            <th><label>Unit Cost *</label></th>
            <th><label>Extended Cost *</label></th>
            <th><label>Unit Price</label></th>
            <th><label>Extended Price</label></th>
            <th><label>Currency</label></th>
            <th><label>FX Rate</label></th>
            <th><label>Vendor Name</label></th>
            <th><label>Vendor Price/Unit </label></th>
            <th><label>Actions </label></th>
        </tr>
        <tr [hidden]="charge.isDelete" *ngFor="let charge of workFlow.charges; let i = index">
            <td>
                <select class="form-control custom-select" id='dllChargesType' (change)="onChargeTypeChange(charge)" [(ngModel)]="charge.workflowChargeTypeId">
                    <option value="">Select</option>
                    <option value={{ctype.id}} *ngFor="let ctype of chargesTypes">{{ctype.name}}</option>
                </select>
            </td>
            <td><textarea rows="1" value="{{charge.description}}" [(ngModel)]="charge.description"></textarea></td>
            <td><input type="text" pInputText pKeyFilter="pnum" maxlength="10" class="form-control" value="{{charge.quantity}}" (input)="calculateExtendedCost(charge)" [(ngModel)]="charge.quantity"></td>
            <td><input type="text" pInputText pKeyFilter="money" class="form-control" value="{{charge.unitCost}}" (input)="calculateExtendedCost(charge)" [(ngModel)]="charge.unitCost"></td>
            <td><input type="text" pInputText pKeyFilter="money" class="form-control" [disabled]="true" value="{{charge.extendedCost}}" [(ngModel)]="charge.extendedCost"></td>
            <td><input type="text" pInputText pKeyFilter="money" class="form-control" value="{{charge.unitPrice}}" [(ngModel)]="charge.unitPrice"> </td>
            <td><input type="text" pInputText pKeyFilter="money" class="form-control" value="{{charge.extendedPrice}}" [(ngModel)]="charge.extendedPrice"></td>
            <td>
                <select class="form-control custom-select" id='dllChargesCurrency' [(ngModel)]="charge.currencyId">
                    <option value="">Select</option>
                    <option value={{currency.currencyId}} *ngFor="let currency of chargesCurrency">{{currency.symbol}}</option>
                </select>
            </td>
            <td><input type="text" pInputText pKeyFilter="money" class="form-control" value="{{charge.forexRate}}" [(ngModel)]="charge.forexRate"></td>
            <td>
                <p-autoComplete (onSelect)="onVendorCodeselected(charge,$event)" [(ngModel)]="charge.vendorName" [suggestions]="vendorCodes" (completeMethod)="filterVendorCodes($event)" [size]="30"
                                [minLength]="1" [dropdown]="true">
                    <ng-template let-vendorCode pTemplate="item">
                        <div class="ui-helper-clearfix">{{vendorCode}}</div>
                    </ng-template>
                </p-autoComplete>
            </td>

            <td><input type="text" pInputText pKeyFilter="money" class="form-control" value="{{charge.vendorUnitPrice}}" [(ngModel)]="charge.vendorUnitPrice"></td>
            <td>
                <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
   <tr>
       <td>
           <b>Total Cost : {{workFlow.totalChargesCost}}</b>
       </td>
   </tr>
    </table>
</div>