<div class="fixed-table-container-inner table-responsive cat4-table" style="height:380px;">
  <div style="width: 100%; z-index: 1;" *ngIf="!isEdit">
    <span class="cat-heading cat4">Add {{ isWorkOrder ? moduleName : 'Equipments'
      }}<i (click)="addRow()" class="fa fa-plus"></i></span>
  </div>
  <table class="table table-bordered table-fixed workflow-table-equip">
    <tr>
      <!-- <th><label>S.No</label></th> -->
      <th *ngIf="!isWorkOrder"><label>Asset Class *</label></th>
      <th *ngIf="isWorkOrder"> <label for="">{{moduleName}} Id</label></th>
      <th><label>{{moduleName}} Type </label></th>
      <th><label>{{moduleName}} Description</label></th>
      <th><label>QTY *</label></th>
      <th><label>Actions </label></th>
    </tr>
    <tr *ngFor="let eqp of workFlow.equipments; let i = index">
      <!-- <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td> -->
      <td>
        <p-autoComplete (onSelect)="onPartSelect($event, eqp)" [suggestions]="partCollection"
          (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="eqp.partNumber" [minLength]="1"
          [dropdown]="true" class="workflow-equip-select">
          <ng-template let-assetId pTemplate="asset">
            <div class="ui-helper-clearfix">{{ assetId }}</div>
          </ng-template>
        </p-autoComplete>
      </td>
      <td>
        <select class="form-control custom-select" id="dllEquipmentAssetTypes" [(ngModel)]="eqp.assetTypeId"
          [disabled]="true">
          <option value=""></option>
          <option value="{{ assetType.id }}" *ngFor="let assetType of equipmentAssetType">{{ assetType.name }}</option>
        </select>
      </td>
      <td>
        <input type="text" class="form-control" [disabled]="true" value="{{ eqp.assetDescription }}"
          [(ngModel)]="eqp.assetDescription" />
      </td>
      <td class="text-center">
        <input type="text" style="width: 75px;" class="form-control" maxlength="10" pInputText pKeyFilter="pnum"
          value="{{ eqp.quantity }}" [(ngModel)]="eqp.quantity" />
      </td>

      <td>
        <button class="btn btn-danger nobg" (click)="deleteRow(i)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>

  <div *ngIf="isWorkOrder && !isEdit" style="float:right">
    <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary" (click)="saveEquipmentWorkOrder()"
      style="padding: 6px 12px !important; margin-top: 10px;">
      Save
    </button>
  </div>

  <div *ngIf="isWorkOrder && isEdit" style="float:right">
    <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary" (click)="updateEquipmentWorkOrder()"
      style="padding: 6px 12px !important; margin-top: 10px;">
      Update
    </button>
  </div>
</div>