<div class="fixed-table-container-inner table-responsive cat4-table" style="height:200px;">
    <table class="table table-bordered table-fixed">
        <tr>
            <td colspan="15" class="add-charges">
                <p class="cat-heading cat4" (click)="addRow()">Add New Equipments<i class="fa fa-plus"></i></p>
            </td>
        </tr>
        <tr>
            <th><label>Asset Id </label></th>
            <th><label>Asset Type </label></th>
            <th><label>Asset Description</label></th>
            <th><label>Quantity</label></th>
            <th><label>Actions </label></th>
        </tr>
        <tr [hidden]="eqp.isDelete" *ngFor="let eqp of workFlow.equipments; let i = index">
            <td>
                <p-autoComplete (onSelect)="onPartSelect($event,eqp)" [suggestions]="partCollection" (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="eqp.partNumber"
                                [minLength]="1" [dropdown]="true">
                    <ng-template let-assetId pTemplate="asset">
                        <div class="ui-helper-clearfix">{{assetId}}</div>
                    </ng-template>
                </p-autoComplete>
            </td>
            <td>
                <select class="form-control custom-select" id='dllEquipmentAssetTypes' [(ngModel)]="eqp.assetTypeId" disabled="true">
                    <option value="" >select</option>
                    <option value={{assetType.id}} *ngFor="let assetType of equipmentAssetType">{{assetType.name}}</option>
                </select>
            </td>
            <td><input type="text" class="form-control" value="{{eqp.assetDescription}}" [(ngModel)]="eqp.assetDescription" /></td>
            <td><input type="number" class="form-control" value="{{eqp.quantity}}" [(ngModel)]="eqp.quantity"></td>
            <td>
                <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </table>
</div>