<div class="table-responsive custom-table">
    <table class="table table-bordered ">
  <tr>
      <th ><label>EPN</label></th>
      <th ><label>EPN Description</label></th>
      <th ><label>Unit Cost</label></th>
      <th ><label>Quantity </label></th>
      <th ><label>Extended </label></th>
      <th ><label>Estimated % Occurance</label></th>
      <th ><label>Memo</label></th>
      <th ><label>Action </label></th>
  </tr>
  <tr>
      <td colspan="8" class="add-charges">
          <span (click)="addRow()">Add New Exclusions</span>
          <i class="fa fa-plus-circle" (click)="addRow()"></i>
      </td>
  </tr>
  <tr [hidden]="exclusion.isDelete" *ngFor="let exclusion of workFlow.exclusions; let i = index">
  	<!--<td><input [disabled]="allowEdit(exclusion)" type="text" class="form-control" [(ngModel)]="exclusion.itemMasterId"  value="{{exclusion.itemMasterId}}">   </td>-->
  	<td>
		<p-autoComplete [disabled]="allowEdit(exclusion)" (onSelect)="onPartSelect($event,exclusion)" [suggestions]="partCollection" (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="exclusion.partNumber"
							[minLength]="1" [dropdown]="true">
			<ng-template let-partName pTemplate="part">
				<div class="ui-helper-clearfix">{{partName}}</div>
			</ng-template>
		</p-autoComplete>		
	</td>
  	<td><input [disabled]="allowEdit(exclusion)" readonly type="text" class="form-control" [(ngModel)]="exclusion.partDescription" value="{{exclusion.partDescription}}"></td>
  	<td><input [disabled]="allowEdit(exclusion)" type="text" class="form-control" [(ngModel)]="exclusion.unitCost" value="{{exclusion.unitCost}}"></td>
  	<td><input [disabled]="allowEdit(exclusion)" type="text" class="form-control" [(ngModel)]="exclusion.quantity" value="{{exclusion.quantity}}"></td>
  	<td><input [disabled]="allowEdit(exclusion)" type="text" class="form-control" [(ngModel)]="exclusion.extendedCost" value="{{exclusion.extendedCost}}"></td>
  	<td>
		<select [disabled]="allowEdit(exclusion)" class="form-control custom-select" id="ddlEstimatedOccurance" [(ngModel)]="exclusion.estimtPercentOccurrance">
			<!--<option value="">select</option>
			<option *ngFor="let estimated of exclusionEstimatedOccurances" value="{{estimated.Name}}">
				{{estimated.Name}}
			</option>-->
			
				<option value="">select</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			
		</select>
  	</td>
  	<td><input type="text" [disabled]="allowEdit(exclusion)" class="form-control" value="{{exclusion.memo}}" [(ngModel)]="exclusion.memo"></td>
  	<td>
  		<span *ngIf="UpdateMode" style="font-size: 22px;cursor: pointer;" class="fa fa-pencil-square-o" (click)="editRow(exclusion)"></span>
  		<i class="fa fa-trash-o delete-btn" (click)="deleteRow(i)"></i>
  	</td>
  </tr>
</table>
</div>