<div class="fixed-table-container-inner table-responsive cat4-table" style="height:380px;">
  <div style="z-index: 1;" *ngIf="!isEdit">
    <span class="cat-heading cat4">Add Exclusions <i (click)="addRow()" class="fa fa-plus"></i></span>
  </div>
  <form #exclusionsCreateForm="ngForm">
    <table class="table table-bordered table-fixed workflow-table-exclusion">
      <tr>
        <!-- <th><label>S.No</label></th> -->
        <th *ngIf="!isWorkFlow"><label>Task*</label></th>
        <th><label>EPN *</label></th>
        <th><label>EPN Description *</label></th>
        <th><label>QTY </label></th>
        <th><label>Unit Cost</label></th>
        <th><label>Extended Cost </label></th>
        <th><label>Estimated % Occurance</label></th>
        <th><label>Memo</label></th>
        <th><label>Action </label></th>
      </tr>

      <tr [hidden]="exclusion.isDelete" *ngFor="let exclusion of workFlow.exclusions; let i = index">
        <!-- <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td> -->
        <td *ngIf="!isWorkFlow">
          <select class="form-control" [(ngModel)]="exclusion.taskId" name="task_{{index}}" required>
            <option value="">Select</option>
            <option *ngFor="let task of taskList" [value]="task.taskId">{{task.description}}</option>
          </select>
        </td>
        <td>
          <p-autoComplete (onSelect)="onPartSelect($event, exclusion)" [suggestions]="partCollection"
            (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="exclusion.partNumber" [minLength]="1"
            (onClear)="clearValue(exclusion, index)" [dropdown]="true" class="workflow-measurement-select"
            name="pn_{{index}}" required>
            <ng-template let-partName pTemplate="part">
              <div class="ui-helper-clearfix">{{ partName }}</div>
            </ng-template>
          </p-autoComplete>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="exclusion.partDescription"
            value="{{ exclusion.partDescription }}" name=" pdesc_{{index}}" required />
        </td>
        <td>
          <input type="text" class="form-control" pInputText pKeyFilter="pnum" maxlength="10" (input)="
              validateQuantity($event, exclusion);
              calculateExtendedCost(exclusion);
              calculateQtySummation()
            " [(ngModel)]="exclusion.quantity" value="{{ exclusion.quantity }}" name="qty_{{index}}" />
        </td>
        <td>
          <input type="text" class="form-control" pInputText pKeyFilter="money"
            (input)="calculateExtendedCost(exclusion)" [(ngModel)]="exclusion.unitCost" value="{{ exclusion.unitCost }}"
            name="unitcost_{{index}}" />
        </td>
        <td>
          <input type="text" class="form-control" pInputText pKeyFilter="money" [(ngModel)]="exclusion.extendedCost"
            value="{{ exclusion.extendedCost }}" name="exdcost_{{index}}" disabled />
        </td>
        <td style="padding: 4px 8px;">
          <select class="form-control custom-select wf-pub-id" id="ddlEstimatedOccurance"
            [(ngModel)]="exclusion.estimtPercentOccurrance" name="estPercentOcc_{{index}}">
            <option value="">select</option>
            <option value="{{ occurance.id }}" *ngFor="
                let occurance of exclusionEstimatedOccurances;
                let i = index
              ">{{ occurance.name + '%' }}</option>
          </select>
        </td>
        <td>
          <!--<input type="text" class="form-control" pInputText [(ngModel)]="exclusion.memo" value="{{exclusion.memo}}" style="width:90px;">-->
          <textarea style="height: 25px; margin-top: 5px;width: 130px;" class="form-control"
            [(ngModel)]="exclusion.memo" value="{{ exclusion.memo }}" name="memo_{{index}}"></textarea>
        </td>
        <td>
          <button class="btn btn-danger nobg" (click)="deleteRow(i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>

      <tr>
        <!-- <td>Total</td> -->
        <td *ngIf="isQuote">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>{{ workFlow.sumofQty }}</td>
        <td>&nbsp;</td>
        <td>{{ workFlow.sumofExtendedCost }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>


    <div *ngIf="(isWorkOrder && !isEdit) || (isQuote && !isEdit)" style="float:right">
      <button class="btn btn-primary btn-primary" (click)="saveExclusionsWorkOrder()"
        style="padding: 6px 12px !important;margin-top: 10px;" [disabled]="!exclusionsCreateForm.valid">
        {{isQuote?'Add':'Save'}}
      </button>
    </div>

    <div *ngIf="(isWorkOrder && isEdit) || (isQuote && isEdit)" style="float:right">
      <button *ngIf="isWorkOrder || isQuote" class="btn btn-primary btn-primary" (click)="updateExclusionsWorkOrder()"
        style="padding: 6px 12px !important;margin-top: 10px;" [disabled]="!exclusionsCreateForm.valid">
        Update
      </button>
    </div>

  </form>
</div>