<div class="fixed-table-container-inner table-responsive cat4-table" style="height:200px;">
    <table class="table table-bordered table-fixed">
        <tr>
            <td colspan="15" class="add-charges">
                <p class="cat-heading cat4" (click)="addRow()">Add New Expertise<i class="fa fa-plus-circle"></i></p>
            </td>
        </tr>
        <tr>
            <th><label> Expertise Type *</label></th>
            <th><label>Estimated Hours </label></th>
            <th><label>Labour Direct Rate</label></th>
            <th><label>Labour Direct Cost</label></th>
            <th><label>OHead Burden </label></th>
            <th><label>OH Cost</label></th>
            <th><label>Labour And OH Cost </label></th>
            <th><label>Action </label></th>
        </tr>
        <tr [hidden]="expert.isDelete" *ngFor="let expert of workFlow.expertise;let i = index">
            <td>
                <select class="form-control custom-select"
                        id="ddlExpertiesType"
                        [(ngModel)]="expert.expertiseTypeId">
                    <option value="">Select</option>
                    <option *ngFor="let type of expertiseTypes"
                            value="{{type.expertiseTypeId}}">
                        {{type.description}}
                    </option>
                </select>

            </td>
            <td>
                <input type="number"
                       class="form-control"
                       value="{{expert.estimatedHours}}"
                       [(ngModel)]="expert.estimatedHours">
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       value="{{expert.laborDirectRate}}"
                       [(ngModel)]="expert.laborDirectRate">
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       value="{{expert.directLaborRate}}"
                       [(ngModel)]="expert.directLaborRate">
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       value="{{expert.overheadBurden}}"
                       [(ngModel)]="expert.overheadBurden">
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       value="{{expert.overheadCost}}"
                       [(ngModel)]="expert.overheadCost">
            </td>
            <td>
                <input type="number"
                       class="form-control"
                       value="{{expert.laborOverheadCost}}"
                       [(ngModel)]="expert.laborOverheadCost">
            </td>
            <td>
                <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
            
        </tr>
    </table>
</div>