<div class="fixed-table-container-inner table-responsive cat4-table">
    <div>
        <span class="cat-heading cat4">
            Add New Material List<i (click)="addRow()" class="fa fa-plus"></i>
            <span class="float-right">
                Deferred &nbsp;<input type="checkbox" (click)="isDeferredEnable($event)" />
            </span>
        </span>
        
    </div>
   
    <table class="table table-bordered table-fixed workflow-table-material">

        <tr>
            <th>S.No</th>
            <th>PN *</th>
            <th>Description *</th>
            <th>Condition *</th>
            <th>Mandatory / Supplemental *</th>
            <th>Item Classification</th>
            <th>QTY *</th>
            <th>UOM *</th>
            <th>Unit Cost *</th>
            <th>Extended Cost *</th>
            <th>Price *</th>
            <th>Memo</th>
            <th>Deferred</th>
            <th>Action</th>
        </tr>
        <tr class="material-tr"  [hidden]="material.isDelete" *ngFor="let material of workFlow.materialList;let i = index">
                <td>{{(currentPage - 1) * itemsPerPage + i + 1}}</td>
            <td>
                <p-autoComplete (onSelect)="onPartSelect($event,material)" [suggestions]="partCollection" (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="material.partNumber"
                                [minLength]="1" [dropdown]="true" class="workflow-measurement-select">
                    <ng-template let-partName pTemplate="part">
                        <div class="ui-helper-clearfix" >{{partName}}</div>
                    </ng-template>
                </p-autoComplete>
            </td>
            <td>
                <input rows="1"   value="{{material.partDescription}}" [disabled]="true" [(ngModel)]="material.partDescription">
            </td>
            <td>
                <select class="form-control custom-select wf-pub-id" id="ddlMaterialCondition" [(ngModel)]="material.conditionCodeId">
                    <option value="">Select</option>
                    <option *ngFor="let condition of materialCondition" value="{{condition.conditionId}}">
                        {{condition.description}}
                    </option>
                </select>
            </td>
            <td>
                <select class="form-control custom-select wf-pub-id" id="ddlMandatoryOrSupplemental" [(ngModel)]="material.mandatoryOrSupplemental">
                    <option value="">Select</option>
                    <option *ngFor="let mandatory of materialMandatory" value="{{mandatory.name}}">
                        {{mandatory.name}}
                    </option>
                </select>
            </td>
            <td>
                <select class="form-control custom-select dropdown-select wf-pub-id" [(ngModel)]="material.itemClassificationId" [disabled]="true">
                   <option *ngFor="let item of itemClassInfo" value="{{item.itemClassificationId}}">
                        {{item.description}}
                    </option>
                </select>
            </td>
            <td style="width: 200px">
                <input type="text" maxlength="10"   pInputText pKeyFilter="pnum" class="form-control" value="{{material.quantity}}" (input)="calculateExtendedCost(material);calculateQtySummation(); " [(ngModel)]="material.quantity" />
            </td>
            <td>
                <select class="form-control custom-select wf-pub-id" id="ddlMaterialUOM" [(ngModel)]="material.unitOfMeasureId">
                    <option value="">Select</option>
                    <option *ngFor="let uom of materialUOM" value="{{uom.unitOfMeasureId}}">
                        {{uom.shortName}}
                    </option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" pInputText pKeyFilter="money" value="{{material.unitCost}}" (input)="calculateExtendedCost(material)" [(ngModel)]="material.unitCost" />
            </td>
            <td>
                <input type="text" class="form-control" pInputText pKeyFilter="money" [disabled]="true" value="{{material.extendedCost}}" [(ngModel)]="material.extendedCost" />
            </td>
            <td>
                <input type="text" class="form-control" pInputText pKeyFilter="money" value="{{material.price}}" [(ngModel)]="material.price" (input)="calculatePriceSummation()" />
            </td>
            <td>
                    <input type="text" class="form-control" pInputText  value="{{material.memo}}" [(ngModel)]="material.memo" style="width: 100px;" />
                <!-- <textarea type="text" class="form-control" style="width: 100px;" rows="2" cols="35" value="{{material.memo}}" [(ngModel)]="material.memo"></textarea> -->
               
            </td>
            <td style="width:30px;">
                <div class="custom-checkbox-box">                    
                        <input class="filled-in" id="PMS" type="checkbox" value="{{material.isDeferred}}" [(ngModel)]="material.isDeferred">
                </div>
            </td>
            <td>
                <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        <tfoot *ngIf="workFlow.materialList.length > 0" >
            <tr>
            <td>
             Total :  
            </td>
            <td> &nbsp;</td>

                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> {{qtySummation}}</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td>{{extendedCostSummation}}</td>
                <td>{{workFlow.totalMaterialCost}}</td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>               
                <td> &nbsp;</td>
            </tr>
        </tfoot>
        
    </table>
</div>


