<div class="fixed-table-container-inner table-responsive cat4-table" style="height:200px;">
    <div>
        <span class="cat-heading cat4">
            Add New Material List<i (click)="addRow()" class="fa fa-plus"></i>
            <span class="float-right">
                Deferred &nbsp;<input type="checkbox" (click)="isDeferredEnable($event)" />
            </span>
        </span>
        
    </div>
   
    <table class="table table-bordered table-fixed">

        <tr>
            <th>PN *</th>
            <th>Description *</th>
            <th>Condition *</th>
            <th>Mandatory / Supplemental *</th>
            <th>Item Classification</th>
            <th>Qty *</th>
            <th>UOM *</th>
            <th>Unit Cost *</th>
            <th>Ext. Cost *</th>
            <th>Price *</th>
            <th>Memo</th>
            <th>Deferred</th>
            <th>Action</th>
        </tr>
        <tr [hidden]="material.isDelete" *ngFor="let material of workFlow.materialList;let i = index">
            <td>
                <p-autoComplete (onSelect)="onPartSelect($event,material)" [suggestions]="partCollection" (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="material.partNumber"
                                [minLength]="1" [dropdown]="true">
                    <ng-template let-partName pTemplate="part">
                        <div class="ui-helper-clearfix">{{partName}}</div>
                    </ng-template>
                </p-autoComplete>
            </td>
            <td>
                <textarea rows="1"  pInputTextarea value="{{material.partDescription}}" [(ngModel)]="material.partDescription"></textarea>
            </td>
            <td>
                <select class="form-control custom-select" id="ddlMaterialCondition" [(ngModel)]="material.conditionCodeId">
                    <option value="">Select</option>
                    <option *ngFor="let condition of materialCondition" value="{{condition.conditionId}}">
                        {{condition.description}}
                    </option>
                </select>
            </td>
            <td>
                <select class="form-control custom-select" id="ddlMandatoryOrSupplemental" [(ngModel)]="material.mandatoryOrSupplemental">
                    <option value="">Select</option>
                    <option *ngFor="let mandatory of materialMandatory" value="{{mandatory.name}}">
                        {{mandatory.name}}
                    </option>
                </select>
            </td>
            <td>
                <select class="form-control custom-select" [(ngModel)]="material.itemClassificationId">
                    <option value="">
                        Select
                    </option>

                    <option *ngFor="let item of itemClassInfo" value="{{item.itemClassificationId}}">
                        {{item.description}}
                    </option>
                </select>
            </td>
            <td style="width: 200px">
                <input type="text"   pInputText pKeyFilter="pnum" class="form-control" value="{{material.quantity}}" (input)="calculateExtendedCost(material)" [(ngModel)]="material.quantity" />
            </td>
            <td>
                <select class="form-control custom-select" id="ddlMaterialUOM" [(ngModel)]="material.unitOfMeasureId">
                    <option value="">Select</option>
                    <option *ngFor="let uom of materialUOM" value="{{uom.unitOfMeasureId}}">
                        {{uom.shortName}}
                    </option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" pInputText pKeyFilter="money" value="{{material.unitCost}}" (input)="calculateExtendedCost(material)" [(ngModel)]="material.unitCost" />
            </td>
            <td>
                <input type="text" class="form-control" pInputText pKeyFilter="money" value="{{material.extendedCost}}" [(ngModel)]="material.extendedCost" />
            </td>
            <td>
                <input type="text" class="form-control" pInputText pKeyFilter="money" value="{{material.price}}" [(ngModel)]="material.price" />
            </td>
            <td>
                <input type="text" class="form-control" value="{{material.memo}}" [(ngModel)]="material.memo" />
            </td>
            <td style="width:30px;">
                <div class="custom-checkbox-box">                    
                        <input class="filled-in" id="PMS" type="checkbox" value="{{material.isDeferred}}" [(ngModel)]="material.isDeferred">
                                 
                </div>
            </td>
            <td>
                <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="13"
                    class="total-cost">
                    Total Material Cost : {{ totalCost }}
                </td>
            </tr>
        </tfoot>
        
    </table>
</div>


