<div
  class="fixed-table-container-inner table-responsive cat4-table fixed-column-table column-r1-fixed"
>
  <div>
    <span class="cat-heading cat4" *ngIf="!isEdit">
      Add New Material List<i (click)="addRow()" class="fa fa-plus"></i>
      <span class="float-right">
        Deferred &nbsp;<input
          type="checkbox"
          (click)="isDeferredEnable($event)"
        />
      </span>
    </span>
  </div>
  <form #materialCreateForm="ngForm">
    <table class="table table-bordered table-fixed workflow-table-material">
      <thead>
        <tr>
          <!-- <th>S.No</th> -->
          <th>Task *</th>
          <th>PN *</th>
          <th>Description *</th>
          <th>Cond *</th>
          <th>Mandatory / Supplemental *</th>
          <th>Item Classification</th>
          <th>QTY *</th>
          <th>UOM *</th>
          <th>Unit Cost *</th>
          <th>Extended Cost *</th>
          <th *ngIf="!isQuote">Unit Price *</th>
          <th *ngIf="!isQuote">Extended Price</th>
          <th>Deferred</th>
          <th>Memo</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        
          <tr
            class="material-tr"
            [hidden]="material.isDelete"
            *ngFor="let material of workFlow.materialList; let i = index"
          >
            <!-- <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td> -->
            <td>
              <select class="form-control wf-pub-id" [(ngModel)]="material.taskId" name="task_{{i}}" required>
                <option value="">Select</option>
                <option *ngFor="let task of taskList" [value]="task.taskId">{{task.description}}</option>
              </select>
            </td>
            <td>
              <p-autoComplete
                (onSelect)="onPartSelect($event, material)"
                [suggestions]="partCollection"
                (completeMethod)="filterpartItems($event)"
                [size]="30"
                [(ngModel)]="material.partNumber"
                [minLength]="1"
                [dropdown]="true"
                class="workflow-measurement-select"
                name="partnum_{{i}}"
                required
              >
                <ng-template let-partName pTemplate="part">
                  <div class="ui-helper-clearfix">{{ partName }}</div>
                </ng-template>
              </p-autoComplete>
            </td>
            <td>
              <input
                rows="1"
                value="{{ material.partDescription }}"
                [disabled]="true"
                [(ngModel)]="material.partDescription"
                name="partdesc_{{i}}"
              />
            </td>
            <td>
              <select
                class="form-control custom-select wf-pub-id"
                id="ddlMaterialCondition"
                [(ngModel)]="material.conditionCodeId"
                name="cond_{{i}}"
                required
              >
                <option value="">Select</option>
                <option
                  *ngFor="let condition of materialCondition"
                  [ngValue]="condition.conditionId"
                >
                  {{ condition.description }}
                </option>
              </select>
            </td>
            <td>
              <select
                class="form-control custom-select wf-pub-id"
                id="ddlMandatoryOrSupplemental"
                [(ngModel)]="material.mandatoryOrSupplemental"
                style="margin:auto;"
                name="mandi_{{i}}"
                required
              >
                <option value="">Select</option>
                <option
                  *ngFor="let mandatory of materialMandatory"
                  value="{{ mandatory.name }}"
                >
                  {{ mandatory.name }}
                </option>
              </select>
            </td>
            <td>
              <select
                class="form-control custom-select dropdown-select wf-pub-id"
                [(ngModel)]="material.itemClassificationId"
                [disabled]="true"
                name="classi_{{i}}"
              >
                <option
                  *ngFor="let item of itemClassInfo"
                  value="{{ item.itemClassificationId }}"
                >
                  {{ item.description }}
                </option>
              </select>
            </td>
            <td style="width: 200px">
              <input
                type="text"
                pInputText
                pKeyFilter="pnum"
                class="form-control"
                value="{{ material.quantity }}"
                (input)="
                  validateQuantity($event, material);
                  calculateQtySummation();
                  calculateExtendedCost(material);
                  calculateExtendedPrice(material)
                "
                [(ngModel)]="material.quantity"
                name="qty_{{i}}"
                required
              />
            </td>
            <td>
              <select
                class="form-control custom-select wf-pub-id"
                id="ddlMaterialUOM"
                [(ngModel)]="material.unitOfMeasureId"
                name="uom_{{i}}"
                required
              >
                <option value="">Select</option>
                <option
                  *ngFor="let uom of materialUOM"
                  [ngValue]="uom.unitOfMeasureId"
                >
                  {{ uom.shortName }}
                </option>
              </select>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                pInputText
                pKeyFilter="money"
                value="{{ material.unitCost }}"
                (input)="calculateExtendedCost(material)"
                [(ngModel)]="material.unitCost"
                name="unitcost_{{i}}"
                required
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                pInputText
                pKeyFilter="money"
                [disabled]="true"
                value="{{ material.extendedCost }}"
                [(ngModel)]="material.extendedCost"
                name="extCost_{{i}}"
              />
            </td>
            <td *ngIf="!isQuote">
              <input
                type="text"
                class="form-control"
                pInputText
                pKeyFilter="money"
                value="{{ material.price }}"
                [(ngModel)]="material.price"
                name="price_{{i}}"
                (input)="
                  calculatePriceSummation(); calculateExtendedPrice(material)
                "
              />
            </td>
            <td *ngIf="!isQuote">
              <input
                type="text"
                class="form-control"
                disabled
                pInputText
                pKeyFilter="money"
                value="{{ material.extendedPrice }}"
                [(ngModel)]="material.extendedPrice"
                name="extPrice_{{i}}"
              />
            </td>
            <td style="width:30px;">
              <div class="custom-checkbox-box">
                <input
                  class="filled-in"
                  id="PMS"
                  type="checkbox"
                  value="{{ material.isDeferred }}"
                  [(ngModel)]="material.isDeferred"
                  name="isDef_{{i}}"
                />
              </div>
            </td>
            <td>
              <textarea
                style="height: 25px;margin-top: 5px;min-width: 130px !important;"
                class="form-control"
                [(ngModel)]="material.memo"
                value="{{ material.memo }}"
                name="memo_{{i}}"
              ></textarea>
            </td>
            <td>
              <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
      </tbody>
      <tfoot *ngIf="workFlow.materialList.length > 0">
        <tr>
          <td>
            Total
          </td>
          <td *ngIf="isQuote">&nbsp;</td>
          <td>&nbsp;</td>

          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>{{ workFlow.materialQtySummation }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>{{ workFlow.materialExtendedCostSummation }}</td>
          <td *ngIf="!isQuote">{{ workFlow.totalMaterialCost }}</td>
          <td *ngIf="!isQuote">{{ workFlow.materialExtendedPriceSummation }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </form>

  <div *ngIf="isWorkOrder && !isEdit" style="float:right">
    <button
      *ngIf="isWorkOrder"
      class="btn btn-primary btn-primary"
      (click)="saveMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid"
    >
      Save
    </button>
  </div>

  <div *ngIf="isQuote" style="float:right">
    <button
      class="btn btn-primary btn-primary"
      (click)="saveMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid"
    >
      Add
    </button>
  </div>

  <div *ngIf="isWorkOrder && isEdit" style="float:right">
    <button
      *ngIf="isWorkOrder"
      class="btn btn-primary btn-primary"
      (click)="updateMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid"
    >
      Update
    </button>
  </div>
</div>
