<div class="fixed-table-container-inner table-responsive cat4-table" style="height:200px;">
    <table class="table table-bordered table-fixed">
        <tr>
            <td colspan="15" class="add-charges">
                <p class="cat-heading cat4" (click)="addRow()">Add New Measurement  <i class="fa fa-plus-circle"></i></p>
            </td>
        </tr>
        <tr>
            <th><label>PN *</label></th>
            <th><label>Sequence</label></th>
            <th><label>Stage</label></th>
            <th><label>Min </label></th>
            <th><label>Max </label></th>
            <th><label>Expected</label></th>
            <th><label>Diagram</label></th>
            <th><label>Memo </label></th>
            <th><label>Action </label></th>
        </tr>
        <tr [hidden]="measurement.isDelete" *ngFor="let measurement of workFlow.measurements;let i= index">
            <td>
                <div class="col-sm-12">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-7">
                            <p-autoComplete (onSelect)="onPartSelect($event,measurement)" [suggestions]="partCollection" (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="measurement.partDescription"
                                            [minLength]="1" [dropdown]="true">
                                <ng-template let-partName pTemplate="part">
                                    <div class="ui-helper-clearfix">{{partName}}</div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                </div>
            </td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.sequence" value="{{measurement.sequence}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.stage" value="{{measurement.stage}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.min" value="{{measurement.min}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.max" value="{{measurement.max}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.expected" value="{{measurement.expected}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.diagramURL" value="{{measurement.diagramURL}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.memo" value="{{measurement.memo}}"></td>
            <td>
                <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </table>
</div>