<div class="fixed-table-container-inner table-responsive cat4-table fixed-column-table column-r1-fixed">
    <div>
        <span class="cat-heading cat4">Add New Publications/CMM<i (click)="addRow()" class="fa fa-plus"></i></span>
    </div>
    <table class="table table-bordered table-fixed workflow-table-pub">
        <thead class="thead-light">
            <tr>
                <th> S.No </th>
                <th> Pub ID* </th>
                <th> Pub Desc </th>
                <th> Pub Type </th>
                <th> Revision Date </th>
                <th> Sequence  </th>
                <th> Source  </th>
                <th> Aircraft Manufacturer </th>
                <th> Model </th>
                <th> Dash Number </th>
                <th> Location </th>
                <th> Verified By </th>
                <th> Verified Date  </th>
                <th> Status </th>
                <th> Image </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="publ.isDeleted" *ngFor="let publ of workFlow.publication;let i = index">
                <td>{{(currentPage - 1) * itemsPerPage + i + 1}}</td>
                <td>
                    <select class="form-control custom-select dropdown-select wf-pub-id"
                            [(ngModel)]="publ.publicationId"
                            (change)="onPublicationChange($event, publ)">
                        <option [value]="0">Select</option>
                        <option *ngFor="let dropdown of publicationDropdown" [value]="dropdown.publicationRecordId"> {{ dropdown.publicationId}}</option>
                    </select>
                </td>
                <td><input type="text" class="form-control" [(ngModel)]="publ.publicationDescription" [disabled]="true"></td>
                <td>
                    <select class="form-control custom-select" id="ddlPublicationTypes" [(ngModel)]="publ.publicationType" disabled="disabled">
                        <option value="0">select</option>
                        <option *ngFor="let type of publicationTypes" value={{type.publicationTypeId}}>
                            {{type.name}}
                        </option>
                    </select>

                </td>
                <td><input type="text" class="form-control" [(ngModel)]="publ.revisionDate" value="{{publ.revisionDate}}" [disabled]="true"></td>
                <td><input type="text" class="form-control" [(ngModel)]="publ.sequence" value="{{publ.sequence}}" [disabled]="true"></td>
                <td><input type="text" class="form-control" [(ngModel)]="publ.source" value="{{publ.source}}" [disabled]="true"></td>
                <td>
                    <select class="form-control custom-select dropdown-select wf-pub-id" id="ddlAircraftManufacturer" [(ngModel)]="publ.aircraftManufacturer" (change)="getAircraftModels(publ)">
                        <option value="0">select</option>
                        <option *ngFor="let manufact of publ.aircraft" value="{{manufact.aircraftTypeId}}">
                            {{manufact.aircraftType}}
                        </option>
                    </select>
                </td>

                <td>
                    <select class="form-control custom-select dropdown-select wf-pub-id" id="ddlModel" [(ngModel)]="publ.model" (change)="getDashNumbers($event, publ)">
                        <option value="0">select</option>
                        <option *ngFor="let model of publ.aircraftModels" value="{{model.aircraftModelId}}">
                            {{model.aircraftModel}}
                        </option>
                    </select>

                </td>

                <td style="width:200px;">
                    <ng-multiselect-dropdown class="form-control multiple-custom-select"
                                             [placeholder]="'Select'"
                                             [data]="publ.allDashNumbers"
                                             [(ngModel)]="publ.workflowPublicationDashNumbers"
                                             [settings]="dropdownSettings"
                                             (onDeSelect)="onDeSelect(publ,$event)"
                                             (onSelect)="onItemSelect(publ,$event)"
                                             (onSelectAll)="onSelectAll(publ,$event)">
                    </ng-multiselect-dropdown>
                </td>
                <td>
                    <input type="text" class="form-control" value="{{publ.location}}" [disabled]="true">
                </td>

                <td>
                    <input type="text" class="form-control" value="{{publ.verifiedBy}}" [disabled]="true">
                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="publ.verifiedDate" value="{{publ.verifiedDate}}" [disabled]="true">
                </td>
                <td>
                    <select class="form-control custom-select dropdown-select wf-pub-id" disabled="disabled" [(ngModel)]="publ.status">
                        <option value="0">Select</option>
                        <option value="true">Active</option>
                        <option value="false">In Active</option>
                    </select>
                </td>
                <td><!--<input type="file" id="myFile" value="{{publ.image}}" [(ngModel)]="publ.image">--></td>
                <td>
                    <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>