<div></div>
<!--<div class="x_content">
    <div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content form-bg">
                <div class="tab-pane active">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-12">
                            <label class="wauto" data-toggle="tooltip" title="Note, this is for a manual Entry">
                                <input type="radio" checked name="journal-type" [(ngModel)]="currentManualJournel.isManual">
                                Manual
                            </label>
                            <label class="wauto" data-toggle="tooltip" title="Import UI to be developed">
                                <input type="radio" name="journal-type" id="import">
                                Import
                            </label>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <hr class="hr-dark">
                    <div class="col-sm-3">
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Ledger Name</label>
                            <div class="col-sm-7">
                                <select [(ngModel)]="currentManualJournel.glAccountId" [ngModelOptions]="{standalone: true}" (change)="getLegalEntityData(currentManualJournel.glAccountId)">
                                    <option *ngFor="let entity of companyList" [ngValue]="entity.legalEntityId">  {{entity.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Batch Num</label>
                            <div class="col-sm-7 inner-addon right-addon inline-block">
                                <input type="number" [disabled]="true" class="form-control numberids ui-autocomplete-input" id="" name="" autocomplete="off" placeholder="creating">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Batch Name</label>
                            <div class="col-sm-7 inner-addon right-addon inline-block">
                                <input type="text" maxlength="150" [(ngModel)]="currentManualJournel.journalManualBatchName" class="form-control numberids ui-autocomplete-input" id="" name="" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Batch Description</label>
                            <div class="col-sm-7">
                                <input class="form-control wauto" type="text" [(ngModel)]="currentManualJournel.journalManualBatchDescription">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Balance Type</label>
                            <div class="col-sm-7">
                                <select class="form-control w150" [(ngModel)]="currentManualJournel.journalManualBalanceTypeId">
                                    <option>-- Select --</option>
                                    <option value="1">Actual</option>
                                    <option value="2">Budget</option>
                                    <option value="3">Forecast</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Category</label>
                            <div class="col-sm-7">
                                <select class="form-control w150" [(ngModel)]="currentManualJournel.journalManualCategoryId">
                                    <option>-- Select --</option>
                                    <option value="1">Manual</option>
                                    <option value="2">Adjustment</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Journal Type</label>
                            <div class="col-sm-7">
                                <select class="form-control w150" [(ngModel)]="currentManualJournel.journalManualTypeId">
                                    <option>-- Select --</option>
                                    <option value="1">Standard</option>
                                    <option value="2">Intercompany</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Entry Date</label>
                            <div class="col-sm-7">
                                <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualEntryDate"></p-calendar>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Effective Date</label>
                            <div class="col-sm-7">
                                <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualEffectiveDate"></p-calendar>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Period Name</label>
                            <div class="col-sm-7">
                                <input type="text" [(ngModel)]="currentManualJournel.journalManualPeriodName" class="form-control wauto" name="" id="">
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Employee</label>
                            <div class="col-sm-7">
                                <div class="inner-addon right-addon inline-block">
                                    <p-autoComplete [(ngModel)]="employeeName" (onSelect)="onEmployeeselected($event)" [ngModelOptions]="{standalone: true}" [suggestions]="firstCollection" (completeMethod)="filterfirstName($event)" [size]="30"
                                                    [minLength]="1" [dropdown]="true">
                                        <ng-template let-firstName pTemplate="item">
                                            <div class="ui-helper-clearfix">{{firstName}}</div>
                                        </ng-template>
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="form-block-heading">Conversion</h5>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Local Currency</label>
                            <div class="col-sm-7">
                                <select class="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualLocalCurrencyId">
                                    <option *ngFor="let currencyName of allCurrencyInfo" [ngValue]="currencyName.currencyId">{{currencyName.symbol}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Reporting Currency</label>
                            <div class="col-sm-7">
                                <select class="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualReportingCurrencyId">
                                    <option *ngFor="let currencyName of allCurrencyInfo" [ngValue]="currencyName.currencyId">{{currencyName.symbol}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Currency Date</label>
                            <div class="col-sm-7">
                                <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualEntryDate"></p-calendar>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Type</label>
                            <div class="col-sm-7">
                                <select class="form-control w150" [(ngModel)]="currentManualJournel.journalManualcurrencytype" [ngModelOptions]="{standalone: true}">
                                    <option>-- Select --</option>
                                    <option value="1">Corporate</option>
                                    <option value="2">Spot</option>
                                    <option value="3">Daily</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Rate</label>
                            <div class="col-sm-7">
                                <input type="number" [(ngModel)]="currentManualJournel.journalManualcurrencyrate" [ngModelOptions]="{standalone: true}" class="form-control wauto" name="" id="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 switch-block">
                        <h5 class="form-block-heading">
                            <input type="checkbox" [(ngModel)]="currentManualJournel.isReversing" (click)="toggleReversingData(currentManualJournel.isReversing)">Reversing
                        </h5>

                        <div class="switch-content" style="display: block;" *ngIf="toggleReversingGrid">
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-4">Date</label>
                                <div class="col-sm-7">
                                    <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualReversingDate"></p-calendar>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-4">Period Name</label>
                                <div class="col-sm-7">
                                    <input type="text" [(ngModel)]="currentManualJournel.reversingPeriodName" class="form-control wauto" name="" id="">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-4">Status</label>
                                <div class="col-sm-7">
                                    <p>Not Reversed</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3 switch-block">
                        <h5 class="form-block-heading">
                            <input type="checkbox" [(ngModel)]="currentManualJournel.isRecurring" (click)="toggleRecurringData(currentManualJournel.isRecurring)">Recurring
                        </h5>
                        <div class="switch-content" style="display: block;" *ngIf="toggleRecurringGrid">
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-4">Date</label>
                                <div class="col-sm-7">
                                    <input type="date" [(ngModel)]="currentManualJournel.journalManualRecurringDate" class="form-control datepicker wauto hasDatepicker" name="" id="dp1558439422098">
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clear"></div>
            <div id="" class="table-responsive default-bg ">
                <br>
                <button *ngIf="!updateJournelButton" class="btn btn-success" (click)="addJournelManual()">Save</button>
                <button *ngIf="updateJournelButton" class="btn btn-success" (click)="updateManualJournel()">Update</button>
                <a href="#" class="btn btn-success" data-toggle="tooltip" title="This will follow the approval rule. Note:  If no approval rule is set up in global approval engine this this button is not an option for the user">Submit for Approval</a>
                <a href="#" class="btn btn-success" data-toggle="tooltip" title="This (inherirntly) Saves and post (update) the general ledget at the same time">Post</a>
                <a href="#" class="btn btn-success" data-toggle="tooltip" title="Ability to upload supporting doc or analysis and accociate with the Batch #">Upload Doc</a>

                <button type="button" id="" name="" class="btn btn-success add pull-right mleft10" data-toggle="modal" data-target="#success-popup"><span data-dismiss="modal">Sent to Approval</span></button>
                <a href="journal-batches.php" class="btn btn-success pull-right">Post</a>
                <table class="table table-bordered table-striped input-85">
                    <thead>
                        <tr>
                            <th colspan="6"></th>
                            <th colspan="2">USD <span class="comments-show-btn" data-toggle="tooltip" title="This is the functional currency picked up the currency above"><i class="fa fa-info"></i></span></th>
                            <th colspan="2">CDN <span class="comments-show-btn" data-toggle="tooltip" title="This is defaulted from the currency set up table (this is the reporting currency)"><i class="fa fa-info"></i></span></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Line <span class="comments-show-btn" data-toggle="tooltip" title="Starts with 1 and Increment by 1"><i class="fa fa-info"></i></span></th>
                            <th>CO <span class="comments-show-btn" data-toggle="tooltip" title="1. Default to the company associated with the ledger selected in the header of this journal entry"><i class="fa fa-info"></i></span></th>
                            <th>BU <span class="comments-show-btn" data-toggle="tooltip" title="1. Default to the BU associated with the ledger selected in the header of this journal entry"><i class="fa fa-info"></i></span></th>
                            <th>Div <span class="comments-show-btn" data-toggle="tooltip" title="1. Default to the Div associated with the ledger selected in the header of this journal entry"><i class="fa fa-info"></i></span></th>
                            <th>Dept <span class="comments-show-btn" data-toggle="tooltip" title="1. Default to the Dept associated with the ledger selected in the header of this journal entry"><i class="fa fa-info"></i></span></th>
                            <th>Account <span class="comments-show-btn" data-toggle="tooltip" title="User has to select via a pop up (drown down allowing user to search by Description or Acct # and then select the correct acct (note the acct number ONLY is then populated in this field"><i class="fa fa-info"></i></span></th>
                            <th>Dr.</th>
                            <th>Cr.</th>
                            <th>Dr.</th>
                            <th>Cr.</th>
                            <th>Description <span class="comments-show-btn" data-toggle="tooltip" title="Each row will Default to description in header but any row can be changed manually in this grid"><i class="fa fa-info"></i></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <select [(ngModel)]="companyId" [ngModelOptions]="{standalone: true}" (change)="getBUList(companyId)">
                                    <option *ngFor="let ataName of maincompanylist" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="businessUnitId" [ngModelOptions]="{standalone: true}" (change)="getDepartmentlist(businessUnitId)">
                                    <option *ngFor="let ataName of bulist" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="departmentId" [ngModelOptions]="{standalone: true}" (change)="getDivisionlist(departmentId)">
                                    <option *ngFor="let ataName of departmentList " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
                                </select>
                            </td>
                            <td>
                                <select [(ngModel)]="divisionId" [ngModelOptions]="{standalone: true}" (change)="getDivisionChangeManagementCode(divisionId)">
                                    <option *ngFor="let ataName of divisionlist " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
                                </select>
                            </td>
                            <td>
                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualReportingCurrencyId">
                                    <option *ngFor="let account of accountNumberCollection" [ngValue]="account.currencyId">{{account.accountNO}}</option>
                                </select>
                            </td>
                            <td><input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualLocalDebitCurrency" (change)="localDebitCurrencyChange(currentManualJournel.journalManualLocalDebitCurrency)" class="form-control"></td>
                            <td><input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualLocalCreditCurrency" class="form-control"></td>
                            <td><input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualReposrtingDebitCurrency" class="form-control"></td>
                            <td><input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualReposrtingCreditCurrency" class="form-control"></td>
                            <td><input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentManualJournel.journalManualDescription" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <select>
                                    <option>01</option>
                                    <option selected="">02</option>
                                    <option>03</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option selected="">000</option>
                                    <option>300</option>
                                    <option>400</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option selected="">0000</option>
                                    <option>1000</option>
                                    <option>2000</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option>60201</option>
                                    <option selected="">20200</option>
                                    <option>20780</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" value="10,000.00" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" value="12,900.00" class="form-control"></td>
                            <td>March Vacation Accrual</td>
                        </tr>
                    </tbody>
                </table>
                <div class="clear"></div>
                <hr>
            </div>
        </div>
    </div>-->
