<div [@fadeInOut] class="page-content">
   <div class="card padding-10">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
            <form #empform="ngForm" class="form-horizontal add-custustomer">
                <div class="card">
                        <div class="card-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb rpo-bcrumb" style="background-color: transparent;">
                                    <li class="breadcrumb-item" aria-current="page">Create Employee</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="card-body">
                            <!-- <h4 class="po-head"></h4> -->                            
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>First Name <span class="clr-red">*</span></label>
                                        <p-autoComplete field="firstName" class="pautocomp-cstm"
                                        [(ngModel)]="sourceEmployee.firstName" name="firstName" [suggestions]="firstCollection" (completeMethod)="filterfirstName($event)" [size]="30" [minLength]="1" [dropdown]="true" #firstName="ngModel" required>
                                        </p-autoComplete>
                                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger alert-danger-cstm">
                                            <div *ngIf="firstName.errors.required">
                                                <small> First Name is required </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <p-autoComplete field="middleName" class="pautocomp-cstm"
                                        [(ngModel)]="sourceEmployee.middleName" name="middleName" [suggestions]="middleNameCollection" (completeMethod)="filtermiddleName($event)" [size]="30" [minLength]="1" [dropdown]="true">
                                        </p-autoComplete>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name <span class="clr-red">*</span></label>
                                        <p-autoComplete field="lastName" class="pautocomp-cstm"
                                        [(ngModel)]="sourceEmployee.lastName" name="lastName" [suggestions]="lastNameCollection" (completeMethod)="filterlastName($event)" [size]="30" [minLength]="1" [dropdown]="true" #lastName="ngModel" required>
                                        </p-autoComplete>
                                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger alert-danger-cstm">
                                            <div *ngIf="lastName.errors.required">
                                                <small> Last Name is required </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Emp ID <span class="clr-red">*</span></label>
                                        <input #sourceEmpID="ngModel" class="form-control" type="text" name="employeeIdTemp" [(ngModel)]="employeeIdTemp" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Emp ID (Per Payroll)</label>
                                        <input class="form-control" type="text" name="employeeIdAsPerPayroll" [(ngModel)]="sourceEmployee.employeeIdAsPerPayroll">
                                    </div>                                        
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Job Title <span class="clr-red">*</span>
                                            <span style="margin-left:3px;cursor:pointer;"><a class="fa fa-plus-circle fa-lg" data-toggle="modal" data-target="#addJobTitle" (click)="openjobtitle(content)"></a></span>
                                        </label>
                                        <select name="jobTitleId" class="form-control" [formControl]="empCreationForm.controls['jobTitleId']" required>
                                            <option value ="0"> Select Job Title</option>
                                            <ng-container *ngFor="let jobtitleName of allJobTitlesinfo">
                                                <option  *ngIf="jobtitleName.isActive" [ngValue]="jobtitleName.jobTitleId">{{jobtitleName.description}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Emp Expertise <span class="clr-red">*</span>
                                            <span style="margin-left:3px;cursor:pointer;"><a class="fa fa-plus-circle fa-lg" data-toggle="modal" data-target="#addEmpExprt" (click)="openemployeeExpertise(contentEdit)"></a></span>
                                        </label>
                                        <select name="employeeExpertiseId" class="form-control" [formControl]="empCreationForm.controls['employeeExpertiseId']" required>
                                            <option value ="0">Select Employee Expertise </option>
                                            <ng-container *ngFor="let employeeName of allEmployeeExpertiseInfo">
                                                <option *ngIf="employeeName.isActive" [ngValue]="employeeName.employeeExpertiseId">{{employeeName.description}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Job Type <span class="clr-red">*</span>
                                            <span style="margin-left:3px;cursor:pointer;"><a class="fa fa-plus-circle fa-lg" data-toggle="modal" data-target="#addJobTitle" (click)="openjobtype(content2)"></a></span>
                                        </label>
                                        <select name="JobTypeId" class="form-control" [formControl]="empCreationForm.controls['JobTypeId']" required>
                                            <option value ="0"> Select Job Type</option>
                                            <ng-container *ngFor="let jobType of allJobTypesinfo">
                                                <option *ngIf="jobType.isActive" [ngValue]="jobType.jobTypeId">{{jobType.jobTypeName}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Station ID</label>
                                        <div class="inner-addon right-addon inline-block">
                                            <input class="form-control" type="text" name="stationId" [(ngModel)]="sourceEmployee.stationId">
                                        </div>
                                    </div>       
                                </div>
                                <div class="col-md-3">
                                    <div class="card" style="margin-top: 20px;">
                                        <div class="card-header" style="padding: 10px 12px;">
                                            <h5 style="margin-bottom: 0; font-size: 12px;">Management Structure <span class="clr-red">*</span></h5>
                                        </div>
                                        <div class="card-body" style="padding: 12px 12px 4px;">
                                            <div class="form-group">
                                                <select name="companyId" class="form-control" [formControl]="empCreationForm.controls['companyId']" (change)="getBUList($event.target.value)" required>       
                                                    <option value="0">Select Legal Entity</option>
                                                    <option *ngFor="let managementStructure of maincompanylist" [ngValue]="managementStructure.managementStructureId">{{managementStructure.name}}</option>
                                                </select>                
                                            </div>
                                            <div class="form-group">
                                                <select name="businessUnitId" class="form-control" [formControl]="empCreationForm.controls['BusinessUnitId']" (change)="getDepartmentlist($event.target.value)">
                                                    <option value="0">Select</option>
                                                    <option *ngFor="let managementStructure of bulist" [ngValue]="managementStructure.managementStructureId">{{managementStructure.name}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="divisionId" class="form-control" [formControl]="empCreationForm.controls['divisionId']" (change)="getDivisionlist($event.target.value)">
                                                    <option value="0">Select</option>
                                                    <option *ngFor="let managementStructure of departmentList" [ngValue]="managementStructure.managementStructureId">{{managementStructure.name}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="departmentId" class="form-control" [formControl]="empCreationForm.controls['departmentId']" (change)="divisionChange(sourceEmployee.divisionId)">
                                                    <option value="0">Select</option>
                                                    <option *ngFor="let managementStructure of divisionlist" [ngValue]="managementStructure.managementStructureId">{{managementStructure.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>

                            <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Date Of Birth</label>
                                            <p-calendar [showIcon]="true" name="dateOfBirth" [maxDate]="sourceEmployee.startDate" [(ngModel)]="sourceEmployee.dateOfBirth" ></p-calendar>
                                        </div> 
                                        <div class="form-group">
                                            <label>Country of Origin</label>
                                            <select name="originatingCountryId" class="form-control" [(ngModel)]="sourceEmployee.originatingCountryId">
                                                <option *ngFor="let shift of allCountries" [ngValue]="shift.countries_id">{{shift.countries_name}}</option>
                                            </select>                                           
                                        </div>
                                        <div class="form-group">
                                            <label>Start Date <span class="clr-red">*</span></label>
                                            <p-calendar name="startDate" [minDate]="sourceEmployee.dateOfBirth" [formControl]="empCreationForm.controls['startDate']"  [showIcon]="true" [(ngModel)]="sourceEmployee.startDate"></p-calendar>
                                        </div>
                                        <div class="form-group">
                                            <label>Cell</label>
                                            <div class="inner-addon right-addon inline-block">
                                                <input class="form-control" type="text" id="" [ngModelOptions]="{standalone: true}" name="mobilePhone" [(ngModel)]="sourceEmployee.mobilePhone" pattern="[a-zA-Z ]*">
                                            </div>
                                        </div>                               
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Business Phone</label>
                                            <div class="inner-addon right-addon inline-block">
                                                <input class="form-control" type="text" name="businessPhone" [(ngModel)]="sourceEmployee.workPhone">
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <label>Fax</label>
                                            <div class="inner-addon right-addon inline-block">
                                                <input class="form-control" type="text" name="fax" [(ngModel)]="sourceEmployee.fax">
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" type="text" name="email" [formControl]="empCreationForm.controls['email']" [(ngModel)]="sourceEmployee.email">
                                            <span class="help-block form-error text-danger small"
                                            *ngIf="empCreationForm.controls['email'].errors?.pattern &&
                                            empCreationForm.controls['email'].touched">Email must be in proper format </span>
                                        </div> 
                                        <div class="form-group">
                                            <label>SS#</label>
                                            <div class="inner-addon right-addon inline-block">
                                                <input class="form-control" type="text" name="ssn" [(ngModel)]="sourceEmployee.ssn">
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Shift</label>
                                            <div>
                                                <label class="radio-cstm wauto pull-left" style="margin-right: 10px;">
                                                    <input type="radio" name="shift" id="shiftsingle" class="form-control" value="singleShift" (change)="handlePayType($event)" [(ngModel)]="sourceEmployee.singleShift" (click)="singleClick('single')">
                                                    <span class="checkmark"></span>
                                                    Single Shift
                                                </label>
                                                <label class="radio-cstm wauto pull-left">
                                                    <input type="radio" name="shift" id="shiftmultiple" class="form-control" value="multiShift" (change)="handlePayType($event)" [(ngModel)]="sourceEmployee.multiShift" (click)="singleClick('multiple')">
                                                    <span class="checkmark"></span>
                                                    Multiple Shifts
                                                </label>
                                            </div>

                                            <!-- <div class="inner-addon right-addon inline-block">
                                                <label class="radio-inline"><input type="radio" name="shift" id="shiftsingle" value="singleShift" (change)="handlePayType($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.singleShift" (click)="singleClick('single')">Single Shift</label>
                                                <label class="radio-inline"><input type="radio" name="shift" id="shiftmultiple" value="multiShift" (change)="handlePayType($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.multiShift" (click)="singleClick('multiple')">Multiple shifts</label>
                                            </div> -->
                                        </div> 
                                        <div class="form-group col-sm-12 shiftmultiple-block" *ngIf="showMultiple">
                                            <label>Shift Type</label>
                                            <p-multiSelect [options]="shiftValues" name="multipleShiftType" [(ngModel)]="selectedshiftValues" [panelStyle]="{minWidth:'12em'}"></p-multiSelect> 
                                        </div>
                                        <div class="form-group col-sm-12 shiftsingle-block" *ngIf="showsingle">
                                            <label>Shift Type</label>
                                            <select name="singleShiftType" [(ngModel)]="sourceEmployee.shifId">
                                                <option *ngFor="let shift of allShiftdetails" [ngValue]="shift.shiftId">{{shift.description}}</option>
                                            </select>                                            
                                        </div>
                                        <div class="form-group">
                                            <label>Extra Hours</label>
                                            <div class="form-group">
                                                <div class="checkbox-cstm">
                                                    <label>
                                                        <input type="checkbox" name="allowOvertime" [(ngModel)]="sourceEmployee.allowOvertime">
                                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                        Allow Overtime
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox-cstm">
                                                    <label>
                                                        <input type="checkbox" name="allowDoubletime" [(ngModel)]="sourceEmployee.allowDoubleTime">
                                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                        Allow Double-Time
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Pay Type</label>
                                            <!--<div>
        <label class="radio-cstm wauto pull-left" style="margin-right: 10px;">
            <input type="radio" name="paytype" id="hourpay" class="form-control" value="Hourly" [checked]="sourceEmployee.isHourly"  (change)="handlePayType('hourly')" [(ngModel)]="sourceEmployee.hourlypayType">
            <span class="checkmark"></span>
            Hourly
        </label>
        <label class="radio-cstm wauto pull-left" style="margin-right: 10px;">
            <input type="radio" name="paytype" id="salarypay" class="form-control" value="Monthly"  (change)="handlePayType('monthly')" [(ngModel)]="sourceEmployee.yearlypayType">
            <span class="checkmark"></span>
            Monthly
        </label>
    </div> -->

                                            <div>
                                                <label *ngFor="let radiobutton of radioItems">
                                                    <input type="radio" name="options" (click)="model.option = radiobutton" (change)="handlePayType(model.option)"
                                                           [checked]="radiobutton === model.option">{{radiobutton}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 hourpay-block" *ngIf="hourly"> <!--hourly-->
                                            <label>Hourly Pay</label>
                                            <div class="inner-addon right-addon inline-block">
                                                <input class="form-control amount" type="text" name="hourlyPay" [(ngModel)]="sourceEmployee.hourlyPay">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 salarypay-block" *ngIf="yearly"> <!--yearly-->
                                            <label>Monthly Pay</label>
                                            <div class="inner-addon right-addon inline-block">
                                                <input class="form-control amount" type="text" name="monthlyPay" [(ngModel)]="sourceEmployee.hourlyPay">
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Currency <span class="clr-red">*</span></label>
                                            <p-autoComplete field="symbol" class="pautocomp-cstm" [(ngModel)]="sourceEmployee.currencyId" name="currencyId" [suggestions]="currencyList" (completeMethod)="filterCurrencyList($event)"  [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true" required>
                                            </p-autoComplete>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Leave Type
                                                <span style="margin-left:3px;cursor:pointer;"><a class="fa fa-plus-circle fa-lg" data-toggle="modal" data-target="#addJobTitle" (click)="openLeaveType(contentleave)"></a></span>
                                            </label>
                                            <p-multiSelect [options]="leavemultiValues" name="leaveType" [(ngModel)]="selectedLeaveValues" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox-cstm" style="margin-top: 10px;">
                                                <label>
                                                    <input type="checkbox" name="certification-radio" id="certification-radio" [(ngModel)]="sourceEmployee.employeeCertifyingStaff">
                                                    <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                    Emp Certifying Staff
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Supervisor Name</label>
                                            <select name="supervisorName" class="form-control" [(ngModel)]="supervisorId">
                                                <option value="0">Select Supervisor</option>
                                                <option *ngFor="let employee of allEmployeeinfo" [ngValue]="employee.employeeId">{{employee.firstName}}</option>
                                            </select>                                    
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox-cstm" style="margin-top: 10px;">
                                                <label>
                                                    <input type="checkbox" name="worksInShop-radio" [(ngModel)]="sourceEmployee.isHeWorksInShop">
                                                    <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                    Shop Employee
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>             
                        </div>
                    <div style="margin-bottom: 10px;">
                        <button type="button" [disabled]="!empform.valid" class="btn btn-primary-cstm pull-right" (click)="onSubmit2()">Save & Next</button>
                    </div>
                </div>
                
            </form>
            </div>
        </div>
        <!-- <button type="button" [disabled]="!empCreationForm.valid" class="btn btn-primary-cstm pull-right" (click)="onSubmit2()">Save & Next</button> -->
    </div>
</div>
<!-- <div class="pull-right"> &copy; 2018 <a>PAS</a> </div> -->
</div>


<!--<p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
          [width]="350" [minWidth]="200" [responsive]="true"
          [minY]="1050" [baseZIndex]="1100000">


        <h5 [ngStyle]="{'color':'red'}">
            Please Enter (*) Mandatory Fields
        </h5>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
    </p-footer>

</p-dialog>-->

<ng-template #content2 let-c="close" let-d="dismiss" style="width:auto">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isEditMode">Edit JobType</h4>
        <h4 class="modal-title" *ngIf="!isEditMode">Add JobType</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="saveJobType(); dismissModel();">
    <div class="modal-body">        

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label">Job Type<span class="clr-red">*</span></label>
                    </div>
                    <div class="col-sm-5">
                        <p-autoComplete class="p-autoComplete-ctsm" [(ngModel)]="jobTypeName" [ngModelOptions]="{standalone: true}" (onKeyUp)=onJobTypeKeyUP($event) (onSelect)="onSelectJob($event)" [suggestions]="localCollection" (completeMethod)="filterJobs($event)" [size]="30"
                        [minLength]="1" [dropdown]="true">
                            <ng-template let-jobName pTemplate="item">
                                <div class="ui-helper-clearfix">{{jobName}}</div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="control-label">Job Type Description</label>
                    </div>
                    <div class="col-sm-5">
                        <input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="jobTypeDescription">
                    </div>
                </div>


                <!-- <label for="description" class="control-label">Job Type<span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">
                        //<input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="jobTypeName">



                        <p-autoComplete [(ngModel)]="jobTypeName" [ngModelOptions]="{standalone: true}" (onKeyUp)=onJobTypeKeyUP($event) (onSelect)="onSelectJob($event)" [suggestions]="localCollection" (completeMethod)="filterJobs($event)" [size]="30"
                                        [minLength]="1" [dropdown]="true">
                            <ng-template let-jobName pTemplate="item">
                                <div class="ui-helper-clearfix">{{jobName}}</div>
                            </ng-template>
                        </p-autoComplete>



                        //<div *ngIf="disableJobTitle" style="color:red">Already Exist</div>
                        <div class="clear"></div>
                    </div>
                    </div> -->
                </div>

                <!-- <div class="form-group">
                    <label for="description" class="control-label">Job Type Description</label>
                    <div class="col-sm-7">
                        <div class="inner-addon right-addon inline-block">
                            <input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="jobTypeDescription">



                        </div>
                    </div>
                </div> -->

                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="checkbox-cstm">
                            <label>
                                <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive">
                                <span class="cr">
                                    <i class="cr-icon pi pi-check"></i>
                                </span>
                                Active
                            </label>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group">

                    <div class="col-sm-6">
                        <label class="form-check-label" for="isActive">
                            <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive"> Active
                        </label>
                    </div>
                    <div class="clear"></div>
                </div> -->
                           
        </div> 
        <div class="modal-footer">

                <button class="btn btn-primary-cstm" [disabled]="disableJobType">Save</button>
                <button type="button" class="btn btn-danger-cstm" (click)="dismissModel()">Close</button>
            </div>
    </form>
    </ng-template>



    <ng-template #content let-c="close" let-d="dismiss" style="width:auto">
        <div class="modal-header">
            <h4 class="modal-title" *ngIf="isEditMode">Edit JobTitle</h4>
            <h4 class="modal-title" *ngIf="!isEditMode">Add JobTitle</h4>
            <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="saveJobTitle(); dismissModel();">
        <div class="modal-body">
            


                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="control-label">Job Title <span class="clr-red">*</span></label>
                        </div>
                        <div class="col-sm-5">
                                <p-autoComplete class="p-autoComplete-ctsm" [(ngModel)]="jobName" [ngModelOptions]="{standalone: true}" (onKeyUp)=onjobTitleKeyUP($event) (onSelect)="onSelectJob($event)" [suggestions]="localCollection" (completeMethod)="filterJObTitles($event)" [size]="30"
                                [minLength]="1" [dropdown]="true">
                                    <ng-template let-jobName pTemplate="item">
                                        <div class="ui-helper-clearfix">{{jobName}}</div>
                                    </ng-template>
                                </p-autoComplete>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label class="control-label">Memo</label>
                            </div>
                            <div class="col-sm-5">
                                <input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceAction.memo"  minlength="2">
                            <div *ngIf="memo.dirty && memo.errors?.required && memo.errors" class="invalid-form-error-message">
                                Memo is required.
                            </div>
                            <div *ngIf="memo.dirty && memo.errors?.minlength && memo.errors" class="invalid-form-error-message">
                                Memo must be at least 2 characters long.
                            </div>
                            </div>
                        </div>


                    <!-- <label for="description" class="control-label">Job Title<span class="clr-red">*</span></label>
                    <div class="col-sm-7">
                        <div class="inner-addon right-addon inline-block">

                            <p-autoComplete [(ngModel)]="jobName" [ngModelOptions]="{standalone: true}" (onKeyUp)=onjobTitleKeyUP($event) (onSelect)="onSelectJob($event)" [suggestions]="localCollection" (completeMethod)="filterJObTitles($event)" [size]="30"
                                            [minLength]="1" [dropdown]="true">
                                <ng-template let-jobName pTemplate="item">
                                    <div class="ui-helper-clearfix">{{jobName}}</div>
                                </ng-template>
                            </p-autoComplete>



                            //<div *ngIf="disableJobTitle" style="color:red">Already Exist</div>

    //<input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="jobName">

    //<div *ngIf="disableJobTitle" style="color:red">">Already Exist</div> 
                            <div class="clear"></div>
                        </div>
                    </div> -->

                </div>

                <!-- <div class="form-group">
                    <label for="description" class="control-label">Memo</label>
                    <div class="col-sm-7">
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">

                        <input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceAction.memo"  minlength="2">
                        <div *ngIf="memo.dirty && memo.errors?.required && memo.errors" class="invalid-form-error-message">
                            Memo is required.
                        </div>
                        <div *ngIf="memo.dirty && memo.errors?.minlength && memo.errors" class="invalid-form-error-message">
                            Memo must be at least 2 characters long.
                        </div>


                    </div>
                </div>
                </div>
                </div> -->
                <!-- <div class="form-group">
                    <label for="description" class="control-label">Memo</label>
                    <div class="control-data">
                        <input #memo="ngModel" id="memo" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceAction.memo" minlength="2">
                        <div *ngIf="memo.dirty && memo.errors?.required && memo.errors" class="invalid-form-error-message">
                            Memo is required.
                        </div>
                        <div *ngIf="memo.dirty && memo.errors?.minlength && memo.errors" class="invalid-form-error-message">
                            Memo must be at least 2 characters long.
                        </div>
                    </div>
                    <div class="clear"></div>
                </div> -->

                <div class="form-group">
                        <div class="col-sm-6">
                            <div class="checkbox-cstm">
                                <label>
                                        <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive">
                                    <span class="cr">
                                        <i class="cr-icon pi pi-check"></i>
                                    </span>
                                    Active
                                </label>
                            </div>
                        </div>
                    </div>

                        <!-- <div class="form-group">

                            <div class="col-sm-6">
                                <label class="form-check-label" for="isActive">
                                    <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive"> Active
                                </label>
                            </div>
                            <div class="clear"></div>
                        </div> -->
                        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary-cstm" [disabled]="disableJobTitle">Save</button>
        <button type="button" class="btn btn-danger-cstm" (click)="dismissModel()">Close</button>
    </div>
</form>

</ng-template>


<ng-template #contentleave let-c="close" let-d="dismiss" style="width:auto">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isEditMode">Edit Leave Type</h4>
        <h4 class="modal-title" *ngIf="!isEditMode">Add Leave Type</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="editItemLeaveCloseModel()">
    <div class="modal-body">
        


            <div class="form-group">
                    <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label class="control-label">Leave Type <span class="clr-red">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                    <p-autoComplete class="p-autoComplete-ctsm" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" [suggestions]="localleaveCollection" (onKeyUp)=onKeyUpLeaveNames($event) (onSelect)="onSelectLeaveName($event)" (onBlur)="onBlurLeaveName($event)" (completeMethod)="filterLeaves($event)" [size]="30"
                                    [minLength]="1" [dropdown]="true">
                                        <ng-template let-description pTemplate="item">
                                            <div class="ui-helper-clearfix">{{description}}</div>
                                        </ng-template>
                                    </p-autoComplete>
                            <div *ngIf="disableSaveLeaveName" style="color:red">Already Exist</div>                    
                            </div>
                        </div>

                <!-- <label for="description" class="control-label">Leave Type<span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">
                        <p-autoComplete [(ngModel)]="description" [ngModelOptions]="{standalone: true}" [suggestions]="localleaveCollection" (onKeyUp)=onKeyUpLeaveNames($event) (onSelect)="onSelectLeaveName($event)" (onBlur)="onBlurLeaveName($event)" (completeMethod)="filterLeaves($event)" [size]="30"
                                        [minLength]="1" [dropdown]="true">
                            <ng-template let-description pTemplate="item">
                                <div class="ui-helper-clearfix">{{description}}</div>
                            </ng-template>
                        </p-autoComplete>
                        <div *ngIf="disableSaveLeaveName" style="color:red">Already Exist</div>
                        <div class="clear"></div>
                    </div>
                </div> -->
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="checkbox-cstm">
                        <label>
                                <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive">
                            <span class="cr">
                                <i class="cr-icon pi pi-check"></i>
                            </span>
                            Active
                        </label>
                    </div>
                </div>
            </div>

            <!-- <div class="form-group">

                <div class="col-sm-6">
                    <label class="form-check-label" for="isActive">
                        <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive"> Active
                    </label>
                </div>
                <div class="clear"></div>
            </div> -->
                    
    </div>
    <div class="modal-footer">

            <button class="btn btn-primary-cstm" [disabled]="disableSaveLeaveName">Save</button>
            <button type="button" class="btn btn-danger-cstm" (click)="dismissModel()">Close</button>
        </div>
    </form>
</ng-template>


<ng-template #contentEdit let-c="close" let-d="dismiss" style="width:auto">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isEditMode">Edit Employee Expertise</h4>
        <h4 class="modal-title" *ngIf="!isEditMode">Add Employee Expertise</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="saveEmpExpertise(); dismissModel();">
    <div class="modal-body">
        
            <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="control-label">Employee Expertise <span class="clr-red">*</span></label>
                        </div>
                        <div class="col-sm-5">
                                <p-autoComplete id="memo" class="p-autoComplete-ctsm" [(ngModel)]="employeeName" [ngModelOptions]="{standalone: true}" (onKeyUp)=onEmpExpertiseKeyUP() (onSelect)="onSelectJob($event)" [suggestions]="localCollection" (completeMethod)="filterEMpExpertise($event)" [size]="30"
                                [minLength]="1" [dropdown]="true">
                                    <ng-template let-jobName pTemplate="item">
                                        <div class="ui-helper-clearfix">{{jobName}}</div>
                                    </ng-template>
                                </p-autoComplete>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="control-label">Memo</label>
                        </div>
                        <div class="col-sm-5">
                            <input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceAction.memo"  minlength="2">
                            <div *ngIf="memo.dirty && memo.errors?.required && memo.errors" class="invalid-form-error-message">
                                Memo is required.
                            </div>
                            <div *ngIf="memo.dirty && memo.errors?.minlength && memo.errors" class="invalid-form-error-message">
                                Memo must be at least 2 characters long.
                            </div>
                        </div>
                    </div>

                <!-- <label for="name" class="control-label">Employee Expertise<span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">

                        //<input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="employeeName">

                        <p-autoComplete id="memo" [(ngModel)]="employeeName" [ngModelOptions]="{standalone: true}" (onKeyUp)=onEmpExpertiseKeyUP() (onSelect)="onSelectJob($event)" [suggestions]="localCollection" (completeMethod)="filterEMpExpertise($event)" [size]="30"
                                        [minLength]="1" [dropdown]="true">
                            <ng-template let-jobName pTemplate="item">
                                <div class="ui-helper-clearfix">{{jobName}}</div>
                            </ng-template>
                        </p-autoComplete>



                        //    <div *ngIf="disableJobTitle" style="color:red">Already Exist</div>
        //<div *ngIf="disableExpTitle" style="color:red">Already Exist</div>
        //<div class="clear"></div> 
                    </div>
                </div> -->
            </div>

            <!-- <div class="form-group">
                <label for="description" class="control-label">Memo</label>
                <div class="col-sm-7">
            <div class="col-sm-7">
                <div class="inner-addon right-addon inline-block">
                    <input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceAction.memo"  minlength="2">
                    <div *ngIf="memo.dirty && memo.errors?.required && memo.errors" class="invalid-form-error-message">
                        Memo is required.
                    </div>
                    <div *ngIf="memo.dirty && memo.errors?.minlength && memo.errors" class="invalid-form-error-message">
                        Memo must be at least 2 characters long.
                    </div>

                 
                </div>
            </div>
            </div>
            </div> -->
            <!-- <div class="form-group">
                <label for="description" class="control-label">Memo</label>
                <div class="control-data">
                    <input #memo="ngModel" class="form-control" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceAction.memo" minlength="2">
                    <div *ngIf="memo.dirty && memo.errors?.required && memo.errors" class="invalid-form-error-message">
                        Memo required.
                    </div>
                    <div *ngIf="memo.dirty && memo.errors?.minlength && memo.errors" class="invalid-form-error-message">
                        Memo must be at least 2 characters long.
                    </div>


                </div>

                <div class="clear"></div>
            </div> -->

            <div class="form-group">
                <div class="col-sm-6">
                    <div class="checkbox-cstm">
                        <label>
                            <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive">
                            <span class="cr">
                                <i class="cr-icon pi pi-check"></i>
                            </span>
                            Active
                        </label>
                    </div>
                </div>
            </div>
            
            <!-- <div class="form-group">
                <div class="col-sm-6">
                    <label class="form-check-label" for="isActive">
                        <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive"> Active
                    </label>
                </div>
                <div class="clear"></div>
            </div> -->
                    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary-cstm" [disabled]="disableExpTitle">Save</button>
        <button type="button" class="btn btn-danger-cstm" (click)="dismissModel()">Close</button>
    </div>
</form>

</ng-template>