<p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>

<div class="card">
    <div class="card-body">
        <div class="inline-block display-flex">
            <h3 class="po-head lead">Receiving - Customer Work List</h3>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a matTooltip="Create Customer Work"
               class="plusicon-cstm new-margin"
               [routerLink]="[
                '/receivingmodule/receivingpages/app-customer-work-setup'
              ]">
                <i class="fa fa-plus-circle fa-lg"></i>
            </a>
        </div>

        <div class="form-row status-radio">
            <div class="col-md-8">
                <form>
                    <div class="form-group">
                        <label class="radiobtn-label">Status:</label>
                        <div class="pull-left" style="margin-top: 4px; margin-right: 15px;">
                            <label class="radio-cstm wauto">
                                <input type="radio" name="custworkstatus" class="form-control" value="1" (click)="getCustWorkStatus('1')" [ngModel]="currentStatusCW" checked>
                                <span class="checkmark"></span>Pending WO Creation</label>
                        </div>
                        <div class="pull-left" style="margin-top: 4px; margin-right: 15px;">
                            <label class="radio-cstm wauto">
                                <input type="radio" name="custworkstatus" class="form-control" value="2" (click)="getCustWorkStatus('2')" [ngModel]="currentStatusCW">
                                <span class="checkmark"></span>Returned to Customers</label>
                        </div>
                        <div class="pull-left" style="margin-top: 4px; margin-right: 15px;">
                            <label class="radio-cstm wauto">
                                <input type="radio" name="custworkstatus" class="form-control" value="3" (click)="getCustWorkStatus('3')" [ngModel]="currentStatusCW">
                                <span class="checkmark"></span>All</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <p-table #dt class="rpo-table-cstm lastcol-fix" [value]="allRecevinginfo" [lazy]="true" (onLazyLoad)="loadData($event)" [metaKeySelection]="true" [first]="0" [rows]="pageSize" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]" [columns]="selectedColumns" selectionMode="multiple" [(selection)]="selectedColumn" [resizableColumns]="true" [reorderableColumns]="true" [scrollable]="true" scrollHeight="450px" [totalRecords]="totalRecords">
        <ng-template pTemplate="caption">
            <div style="text-align: right;margin-left:-6px !important;min-height: 30px;">
                <p-multiSelect [maxSelectedLabels]="2" [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
                <div class="inner-addon right-addon w200 inline-block g-filter-search-cstm">
                    <i class="fa fa-search"></i>
                    <input type="text" pInputText size="50" class="form-control ui-autocomplete-input" (input)="globalSearch($event.target.value)" placeholder=" Filter">
                </div>
                <button class="btn btn-primary" type="button" pButton icon="fa-download" iconPos="left" label="Export  Data" matTooltip="Download Data" matTooltipPosition="above" (click)="dt.exportCSV()" style="padding: 5px 10px !important;"></button>
                <button class="btn btn-primary" type="button" pButton icon="fa-download" iconPos="left" label="Export Selected Data" matTooltip="Download Selected Data" matTooltipPosition="above"  (click)="dt.exportCSV({selectionOnly:true})" style="padding: 5px 10px !important;"></button>
                <!--<div class="excel-upload">
                    <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <label for="upload">
                        <span matTooltip="Upload Data (Excel)"><i class="fa fa-upload"></i></span>
                    </label>
                </div>-->
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" style="width:140px">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                <th class="text-center" *ngIf="col.field!='levelCode1' && col.field!='levelCode2' && col.field!='levelCode3' && col.field!='levelCode4'"  pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th class="text-center" *ngIf="col.field=='levelCode1'"  colspan="4"  pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                   Management Structure
                </th>
            </ng-container>

                <th  style="width: 130px; position:sticky">Actions</th>

            </tr>
            <!-- <tr>
                <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="width:130px;position:sticky">Actions</th>
            </tr> -->
            <tr>
                <th style="width:120px" *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input type="text" *ngIf="col.field !== 'receivedDate'" style="width:100%;" pInputText (keyup)="dt.filter($event.target.value, col.field, 'contains')">
                    <input type="date" class="hidePlaceHolder" *ngIf="col.field == 'receivedDate'" name="receivedDate" style="width:100%;" (change)="dt.filter($event.target.value, col.field, 'contains'); enableDateFilter($event.target);">                    
                    <!-- <input style="width:100%;" pInputText type="text" (keyup)="dt.filter($event.target.value, col.field, 'contains')"> -->
                </th>
                <th style="width:130px;position:sticky"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowDblClick]="rowData" pReorderableRowHandle (dblclick)="viewSelectedRowdbl(rowData)">

                <td *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                    {{col.field == 'receivedDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'woOpenDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]}}
                </td>
                <td style="width:130px;">
                    <!-- <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                    <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                    <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch> -->

                    <span data-toggle="modal" data-target="#cusView"><a class="btn nobg" (click)="openView(rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span>
                    <span><a class="btn nobg" *ngIf="rowData['woNumber'] == '' || rowData['woNumber'] == null" (click)="openEdits(rowData)" matTooltip="Edit"><i class="fa fa-pencil"></i></a> </span>
                    <span><a class="btn nobg" (click)="openDelete(content,rowData)" matTooltip="Delete"><i class="fa fa-trash"></i></a> </span>
                    <span><a class="btn nobg" (click)="openHistory(contentAuditHist,rowData)" matTooltip="History"><i class="fa fa-history"></i></a></span>
                    <span><a class="btn nobg btn-pluspo-cstm" *ngIf="rowData['woNumber'] == '' || rowData['woNumber'] == null" (click)="gotoWorkOrder(rowData)" matTooltip="Create WO"><i class="fa fa-plus"></i></a> </span>
                    <span><a class="btn nobg btn-ro-cstm" matTooltip="Return to Customer"><i class="fa fa-list"></i></a></span>

                    <!-- <span data-toggle="modal" data-target="#view"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openView(view,rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span> -->
                    <!-- <button class="btn-edit" mat-icon-button (click)="openEdits(rowData)" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                    <!-- <button class="btn-delete" mat-icon-button matTooltip="Delete" (click)="openDelete(content,rowData)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button> -->                    
                    <!-- <button class="btn-history" mat-icon-button matTooltip="history" (click)="openHistory(contentAuditHist,rowData)">
                        <mat-icon color="green">history</mat-icon>
                    </button> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" id="footer">
            <label id="footer" class="footer">No'of records:</label>
            <input style="width: 5%;"
                    [(ngModel)]="totalRecords"
                    [disabled]="true"
                    pInputText
                    type="text" />
            &nbsp;&nbsp;
            <label id="footer" class="footer1">Pages Count:</label>
            <input style="width: 5%;"
                    [(ngModel)]="totalPages"
                    [disabled]="true"
                    pInputText
                    type="text" />
        </ng-template>
        </p-table>
    </div>
</div>



<!-- <div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">Receiving</li>
                        <li class="breadcrumb-item" aria-current="page">Customer Work</li>
                        <li class="breadcrumb-item active" aria-current="page">Customer Work List</li>
                    </ol>
                </nav>
                <div class="inline-block display-flex">

                    <h3 class="po-head lead">
                        Receiving - Customer Work List
                    </h3>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a matTooltip="Create Customer Work"
                       class="plusicon-cstm new-margin"
                       [routerLink]="[
                '/receivingmodule/receivingpages/app-customer-work-setup'
              ]">
                        <i class="fa fa-plus-circle fa-lg"></i>
                    </a>
                    </div>

                    <p-table #dt [value]="allRecevinginfo" [lazy]="true"
                             (onLazyLoad)="loadData($event)"
                             [metaKeySelection]="true" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]" [columns]="selectedColumns" selectionMode="multiple" [(selection)]="selectedColumn" [resizableColumns]="true" [reorderableColumns]="true" class="rpo-table-cstm rro-table-cstm">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                               selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
                                <div class="inner-addon right-addon w200 inline-block">
                                    <i class="fa fa-search"></i>
                                    <input type="text" pInputText size="50" class="form-control ui-autocomplete-input" (input)="globalSearch($event.target.value)" placeholder=" Filter">
                                </div>
                                <button type="button" pButton icon="fa-download" iconPos="left" label="Export  Data" matTooltip="Download Data" matTooltipPosition="above" (click)="dt.exportCSV()"></button>
                                <button type="button" pButton icon="fa-download" iconPos="left" label="Export Selection Only" matTooltip="Download Selected Data" matTooltipPosition="above"  (click)="dt.exportCSV({selectionOnly:true})"></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                            <tr>
                                <th style="width:120px" *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                </th>
                                <th style="width:200px;position:sticky"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">

                                <td *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                    {{col.field == 'createdDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'updatedDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]}}
                                </td>


                                <td style="width:150px">
                                    <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>

                                    <span data-toggle="modal" data-target="#view"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openView(view,rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span>
                                    <button class="btn-edit" mat-icon-button (click)="openEdits(rowData)" matTooltip="Edit">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button class="btn-delete" mat-icon-button matTooltip="Delete" (click)="openDelete(content,rowData)">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </button>
                                 
                                    <button class="btn-history" mat-icon-button matTooltip="history" (click)="openHistory(contentAuditHist,rowData)">
                                        <mat-icon color="green">history</mat-icon>
                                    </button>

                                </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" id="footer">
                            <label id="footer" class="footer">No'of records:</label>
                            <input style="width: 5%;"
                                   [(ngModel)]="totalRecords"
                                   [disabled]="true"
                                   pInputText
                                   type="text" />
                            &nbsp;&nbsp;
                            <label id="footer" class="footer1">Pages Count:</label>
                            <input style="width: 5%;"
                                   [(ngModel)]="totalPages"
                                   [disabled]="true"
                                   pInputText
                                   type="text" />
                        </ng-template>

                    </p-table>
                </div>
            </div>
    </div>
</div> -->

<ng-template #content let-c="close" let-d="dismiss" data-backdrop="static">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        <strong>
        Receiving Num:
            <span class="new-label">{{selectedRowForDelete.receivingNumber}}</span>
        </strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteItemAndCloseModel()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>

<!-- <ng-template #view data-backdrop="static">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="dismissModel()">×</button>
            <h4 class="modal-title">Details of Receiving - Customer</h4>
        </div>

        <div class="modal-body viewform">
            <div id="" class="table-responsive default-bg clear">
                  <div class="panel-body">
                    <div class="col-sm-5">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="15" class="text-center"><strong>Management Structure</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{compnayname ? compnayname : '-'}}</td>
                                    <td>{{biuName ? biuName : '-'}}</td>
                                    <td>{{divsioname ? divsioname : '-'}}</td>
                                    <td>{{departname ? departname : '-'}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-1">
                        </div>
                        <div class="col-sm-6">
                            <p><span class="label"><b>Receiving Num: </b></span><span class="value">{{showViewProperties.receivingCustomerNumber}}</span></p>
                            <p><span class="label"><b>Employee: </b></span><span class="value">{{showViewProperties.employeeId}}</span></p>
                        </div>
                        <div class="clear"></div>
                        <hr class="hr-dark">
                        <div class="col-sm-6">
                            <p><span class="label"><b>Name: </b></span><span class="value">{{showViewProperties.customerId}}</span></p>
                            <p><span class="label"><b>Ref: </b></span><span class="value">{{showViewProperties.customerReference}}</span></p>
                            <p><span class="label"><b>Contact: </b></span><span class="value">{{showViewProperties.contactFirstName}}</span></p>
                            <p><span class="label"><b>Contact Phone: </b></span><span class="value">{{showViewProperties.workPhone}}</span></p>
                            <p><span class="label"><b>PN: </b></span><span class="value">{{showViewProperties.partNumber}}</span></p>
                            <p><span class="label"><b>PN Description: </b></span><span class="value">{{showViewProperties.partDescription}}</span></p>
                            <p><span class="label"><b>Change PN: </b></span><span class="value">{{showViewProperties.changePartNumber}}</span></p>
                            <p><span class="label"><b>Parts Cert Num: </b></span><span class="value">{{showViewProperties.partCertificationNumber}}</span></p>
                            <p><span class="label"><b>Expiration Date: </b></span><span class="value">{{showViewProperties.expirationDate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                            <p><span class="label"><b>QTY : </b></span><span class="value">{{showViewProperties.quantity}}</span></p>
                            <p><span class="label"><b>Condtion : </b></span><span class="value">{{showViewProperties.conditionId}}</span></p>
                            <p><span class="label"><b>Warehouse : </b></span><span class="value">{{showViewProperties.warehouseId}}</span></p>
                            <p><span class="label"><b>Location: </b></span><span class="value">{{showViewProperties.locationId}}</span></p>
                            <p><span class="label"><b>Owner: </b></span><span class="value">{{showViewProperties.owner}}</span></p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="label"><b>Customer Stock: </b></span><span class="value">{{showViewProperties.isCustomerStock}}</span></p>
                            <p><span class="label"><b>Traceable to: </b></span><span class="value">{{showViewProperties.traceableToType}}</span></p>
                            <p><span class="label"><b>Traceable Name: </b></span><span class="value">{{showViewProperties.traceableTo}}</span></p>
                            <p><span class="label"><b>Obtain From: </b></span><span class="value">{{showViewProperties.obtainFromType}}</span></p>
                            <p><span class="label"><b>Obtain From Name: </b></span><span class="value">{{showViewProperties.obtainFrom}}</span></p>
                            <p><span class="label"><b>MFG Date: </b></span><span class="value">{{showViewProperties.manufacturingDate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                            <p><span class="label"><b>Exp Date: </b></span><span class="value">{{showViewProperties.expirationDate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                            <p><span class="label"><b>MFG Trace: </b></span><span class="value">{{showViewProperties.manufacturingTrace}}</span></p>
                            <p><span class="label"><b>MFR Lot #: </b></span><span class="value">{{showViewProperties.manufacturingLotNumber}}</span></p>

                            <h4>Time Life</h4>
                            <p><span class="label"><b>Date: </b></span><span class="value">{{showViewProperties.timeLifeDate |date: 'dd-MM-yyyy h:mm a '}}</span></p>
                            <p><span class="label"><b>Origin: </b></span><span class="value">{{showViewProperties.timeLifeOrigin}}</span></p>
                            <div class="table-responsive form-group col-sm-12" *ngIf="showViewProperties.isTimeLife">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="15" class="text-center"><strong>TIME LIFE ADJUSTMENTS</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">Cycles</th>
                                            <th class="text-center">Time</th>
                                            <th class="text-center">Last</th>
                                        </tr>
                                        <tr>
                                            <td><b>Remaining</b></td>
                                            <td class="clr2 text-center">
                                                <span>{{showViewProperties.cyclesRemaining}}</span>
                                            </td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.timeRemaining}}</span></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td><b>Since New</b></td>

                                            <td class="clr2 text-center"><span>{{showViewProperties.cyclesSinceNew}}</span></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.timeSinceNew}}</span></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.lastSinceNew}}</span></td>



                                        </tr>
                                        <tr>
                                            <td><b>Since Ovh</b></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.cyclesSinceOVH}}</span></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.timeSinceOVH}}</span></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.lastSinceOVH}}</span></td>


                                        </tr>
                                        <tr>
                                            <td><b>Since Insp</b></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.cyclesSinceInspection}}</span></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.timeSinceInspection}}</span></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.lastSinceInspection}}</span></td>


                                        </tr>
                                        <tr>
                                            <td><b>Since Repair</b></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.cyclesSinceRepair}}</span></td>
                                            <td class="clr2 text-center"><span>{{showViewProperties.timeSinceRepair}}</span></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" (click)="dismissModel()">Close</button>
        </div>
    </div>
</ng-template> -->

<ng-template #contentAuditHist let-c="close" let-d="dismiss" style="width:auto" data-backdrop="static">
  
    <div class="modal-header">

        <h4 class="modal-title">History of Receive Customer Work</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>


    </div>

    <div class="modal-body">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Rec.No.</th>
                        <th>Part Number</th>
                        <th>Change Part Number</th>
                        <th>Employee Name</th>
                        <th>Customer Name</th>
                        <th>Customer Reference</th>
                       <th>Contact</th>
                        <th>Contact Phone</th>
                        <th>Manufacturer</th>
                        <th>Quantity</th>
                        <th>Condition</th>
                        <th>Site</th>
                        <th>Ware House</th>
                        <th>Location</th>
                        <th>Shelf</th>
                        <th>Bin</th>
                        <th>Updated By</th>
                        <th>Last Updated Time</th>
                        <th>Created By</th>
                        <th>Created Time</th>

                    </tr>
                </thead>


                <tr *ngFor="let audit of customerWorkHisory; let i = index;">
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'receivingCustomerNumber', audit.receivingCustomerNumber)  ? 'black' : 'red'  }">{{audit.receivingCustomerNumber}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'partNumber', audit.partNumber)  ? 'black' : 'red'  }">{{audit.partNumber}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'changePartNumber', audit.changePartNumber)  ? 'black' : 'red'  }">{{audit.changePartNumber}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'firstName', audit.firstName)  ? 'black' : 'red'  }">{{audit.firstName}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'name', audit.name)  ? 'black' : 'red'  }">{{audit.name}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'customerReference', audit.customerReference)  ? 'black' : 'red'  }">{{audit.customerReference}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'contactTitle', audit.contactFirstName)  ? 'black' : 'red'  }">{{audit.contactFirstName}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'workPhone', audit.workPhone)  ? 'black' : 'red'  }">{{audit.workPhone}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'manufacturer', audit.manufacturer)  ? 'black' : 'red'  }">{{audit.manufacturer}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'quantity', audit.quantity)  ? 'black' : 'red'  }">{{audit.quantity}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'condition', audit.condition)  ? 'black' : 'red'  }">{{audit.condition}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'site', audit.site)  ? 'black' : 'red'  }">{{audit.site}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'warehouse', audit.warehouse)  ? 'black' : 'red'  }">{{audit.warehouse}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'location', audit.location)  ? 'black' : 'red'  }">{{audit.location}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'shelfName', audit.shelfName)  ? 'black' : 'red'  }">{{audit.shelfName}}</td>
                    <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'binName', audit.binName)  ? 'black' : 'red'  }">{{audit.binName}}</td>

                    <td>{{audit.updatedBy}}</td>
                    <td>{{audit.updatedDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                    <td>{{audit.createdBy}}</td>
                    <td>{{audit.createdDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dismissModel()">Close</button>
    </div>
</ng-template>

    <div id="cusView" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">    
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="col-sm-3">
                        <h4 class="modal-title">Details of Receiving - Customer</h4>
                    </div>
                    <div class="col-sm-3">
                        Customer Name<span class="text-danger"> : {{viewCustWorkInfo.customerName}}</span>
                    </div>
                    <div class="col-sm-3">
                        Customer Code<span class="text-danger"> : {{viewCustWorkInfo.customerCode}}</span>
                    </div>
                </div>
                <div class="modal-body" *ngIf="viewCustWorkInfo">
                    <div class="form-row">
                        <div class="col-md-6">                            
                            <p><span class="label"><b>Customer Name: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.customerName }}</span></p>
                            <p><span class="label"><b>Customer Code: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.customerCode }}</span></p>
                            <p><span class="label"><b>Receiving Num: </b></span><span class="value">{{ viewCustWorkInfo.receivingNumber }}</span></p>
                            <p><span class="label"><b>Received Date: <span class="text-danger">*</span> </b></span><span class="value">{{ viewCustWorkInfo.receivedDate | date: 'dd-MM-yyyy'}}</span></p>
                            <p><span class="label"><b>Ref: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.reference }}</span></p>
                            <p><span class="label"><b>Contact: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.customerContact }}</span></p>
                            <p><span class="label"><b>Contact: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.customerContact }}</span></p>
                            <p><span class="label"><b>Contact Phone: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.contactPhone }}</span></p>
                            <p><span class="label"><b>PN: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.partNumber }}</span></p>
                            <p><span class="label"><b>PN Description: </b></span><span class="value">{{ viewCustWorkInfo.partDescription ? viewCustWorkInfo.partDescription : '-' }}</span></p>
                            <p><span class="label"><b>Manufacturer: </b></span><span class="value">{{ viewCustWorkInfo.manufacturer ? viewCustWorkInfo.manufacturer : '-' }}</span></p>
                            <p><span class="label"><b>Revised PN: </b></span><span class="value">{{ viewCustWorkInfo.revisedPart ? viewCustWorkInfo.revisedPart : '-' }}</span></p>                            
                            <p><span class="label"><b>Certify By: </b></span><span class="value">{{ viewCustWorkInfo.certifiedBy ? viewCustWorkInfo.certifiedBy : '-' }}</span></p>
                            <p><span class="label"><b>Tag Date: </b></span><span class="value">{{ viewCustWorkInfo.tagDate | date: 'dd-MM-yyyy' }}</span></p>
                            <p><span class="label"><b>Tag Type: </b></span><span class="value">{{ viewCustWorkInfo.tagType ? viewCustWorkInfo.tagType : '-' }}</span></p>
                            <p><span class="label"><b>Parts Cert Num: </b></span><span class="value">{{ viewCustWorkInfo.partCertificationNumber ? viewCustWorkInfo.partCertificationNumber : '-' }}</span></p>
                            <p><span class="label"><b>QTY: </b></span><span class="value">{{ viewCustWorkInfo.quantity ? viewCustWorkInfo.quantity : '-' }}</span></p>   
                            <p><span class="label"><b>Condition: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.condition }}</span></p>
                            <div class="form-row">
                                <div class="col-md-7">
                                    <div class="shadow-Box" style="padding: 3px 10px;">
                                        <p><span class="label"><b>Site: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.site }}</span></p>
                                        <p><span class="label"><b>Warehouse: </b></span><span class="value">{{ viewCustWorkInfo.warehouse ? viewCustWorkInfo.warehouse : '-' }}</span></p>   
                                        <p><span class="label"><b>Location: </b></span><span class="value">{{ viewCustWorkInfo.location ? viewCustWorkInfo.location : '-' }}</span></p>
                                        <p><span class="label"><b>Shelf: </b></span><span class="value">{{ viewCustWorkInfo.shelf ? viewCustWorkInfo.shelf : '-' }}</span></p>   
                                        <p><span class="label"><b>Bin: </b></span><span class="value">{{ viewCustWorkInfo.bin ? viewCustWorkInfo.bin : '-' }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">  
                            <div class="form-row managementstr">
                                <div class="col-md-6">
                                    <div class="card" style="margin-top: 20px;">
                                        <div class="card-header" style="padding: 0 10px;">
                                            <h5 style="margin-bottom: 0; font-size: 12px;">Management Structure <span class="text-danger">*</span></h5>
                                        </div>
                                        <div class="card-body" style="padding: 4px 12px 6px;">
                                            <div class="form-group" style="margin-bottom: 4px;">
                                                <input class="form-control" type="text" name="companyName" [(ngModel)]="managementStructure.level1" disabled>
                                            </div>
                                            <div class="form-group" style="margin-bottom: 4px;">
                                                <input class="form-control" type="text" name="BUName" [(ngModel)]="managementStructure.level2" disabled>
                                            </div>
                                            <div class="form-group" style="margin-bottom: 4px;">
                                                <input class="form-control" type="text" name="divisionName" [(ngModel)]="managementStructure.level3" disabled>
                                            </div>
                                            <div class="form-group" style="margin-bottom: 4px;">
                                                <input class="form-control" type="text" name="deptName" [(ngModel)]="managementStructure.level4" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                                
                            <div class="form-group p-t-10">
                                <div class="checkbox-cstm">
                                    <label>
                                        <input type="checkbox" name="isCustomerStock"
                                                [(ngModel)]="viewCustWorkInfo.isCustomerStock" disabled>
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        Customer Stock
                                    </label>
                                </div>
                            </div>
                            <p class="full-width"><span class="label"><b>Obtain From: </b></span><span class="value">{{ viewCustWorkInfo.obtainFromType ? viewCustWorkInfo.obtainFromType : '-' }}</span></p>
                            <p><span class="label"><b>Obtain From Name: </b></span><span class="value">{{ viewCustWorkInfo.obtainFromName ? viewCustWorkInfo.obtainFromName : '-' }}</span></p>
                            <p><span class="label"><b>Owner: </b></span><span class="value">{{ viewCustWorkInfo.ownerType ? viewCustWorkInfo.ownerType : '-' }}</span></p>
                            <p><span class="label"><b>Owner Name: </b></span><span class="value">{{ viewCustWorkInfo.ownerName ? viewCustWorkInfo.ownerName : '-' }}</span></p>
                            <p><span class="label"><b>Traceble To: </b></span><span class="value">{{ viewCustWorkInfo.tracableToType ? viewCustWorkInfo.tracableToType : '-' }}</span></p>
                            <p><span class="label"><b>Traceble To Name: </b></span><span class="value">{{ viewCustWorkInfo.tracableToName ? viewCustWorkInfo.tracableToName : '-' }}</span></p>
                            <div class="form-group p-t-10">
                                <div class="checkbox-cstm">
                                    <label>
                                        <input type="checkbox" name="isMFGDate"
                                                [(ngModel)]="viewCustWorkInfo.isMFGDate" disabled>
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        Is MFG Date
                                    </label>
                                </div>
                            </div>
                            <p class="full-width"><span class="label"><b>MFG Date: </b></span><span class="value">{{ viewCustWorkInfo.mfgDate | date: 'dd-MM-yyyy' }}</span></p>
                            <p><span class="label"><b>MFG Trace: </b></span><span class="value">{{ viewCustWorkInfo.mfgTrace ? viewCustWorkInfo.mfgTrace : '-' }}</span></p>
                            <p><span class="label"><b>MFG Lot: </b></span><span class="value">{{ viewCustWorkInfo.mfgLotNo ? viewCustWorkInfo.mfgLotNo : '-' }}</span></p>
                            <div class="form-group p-t-10">
                                <div class="checkbox-cstm">
                                    <label>
                                        <input type="checkbox" name="isExpDate"
                                                [(ngModel)]="viewCustWorkInfo.isExpDate" disabled>
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        Is Exp Date
                                    </label>
                                </div>
                            </div>
                            <p class="full-width"><span class="label"><b>Exp Date: </b></span><span class="value">{{ viewCustWorkInfo.expDate | date: 'dd-MM-yyyy' }}</span></p>                            
                            <p><span class="label"><b>Employee Name: <span class="text-danger">*</span></b></span><span class="value">{{ viewCustWorkInfo.employeeName }}</span></p>
                            <p><span class="label"><b>Memo: </b></span><span class="value">{{ viewCustWorkInfo.memo ? viewCustWorkInfo.memo : '-' }}</span></p>                            
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body" style="padding: 2px 10px;">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="form-group p-t-10">
                                        <div class="checkbox-cstm">
                                            <label>
                                                <input type="checkbox" name="isSerialized"
                                                        [(ngModel)]="viewCustWorkInfo.isSerialized" disabled>
                                                <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                Is Serialized
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p><span class="label"><b>Serial Number: </b></span><span class="value">{{ viewCustWorkInfo.serialNumber ? viewCustWorkInfo.serialNumber : '-' }}</span></p>
                                </div>                                                
                            </div>
                        </div>
                    </div>

                    <div class="card" style="margin-top: 5px;">
                        <div class="card-body" style="padding: 2px 10px;">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="form-group p-t-10">
                                        <div class="checkbox-cstm">
                                            <label>
                                                <input type="checkbox" name="isTimeLife"
                                                        [(ngModel)]="viewCustWorkInfo.isTimeLife" disabled>
                                                <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                Time Life
                                            </label>
                                        </div>
                                    </div>                                                                        
                                </div>
                                <div class="col-md-4">
                                    <p><span class="label"><b>Date: </b></span><span class="value">{{ viewCustWorkInfo.timeLifeDate | date: 'dd-MM-yyyy' }}</span></p>
                                </div> 
                                <div class="col-md-4">
                                    <p><span class="label"><b>Origin: </b></span><span class="value">{{ viewCustWorkInfo.timeLifeOrigin ? viewCustWorkInfo.timeLifeOrigin : '-' }}</span></p>
                                </div>                                               
                            </div>
                            <div *ngIf="viewCustWorkInfo.isTimeLife" class="table-responsive form-group col-sm-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="15" class="text-center"><strong>Time Life Info</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">Cycles</th>
                                            <th class="text-center">Time</th>
                                            <th class="text-center">Last</th>
                                        </tr>
                                        <tr>
                                            <td><b>Remaining</b></td>
                                            <td class="clr2 text-center">
                                                <span>{{timeLifeInfo.cyclesRemaining ? timeLifeInfo.cyclesRemaining : '-'}}</span>
                                            </td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.timeRemaining ? timeLifeInfo.timeRemaining : '-'}}</span></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Since New</b></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.cyclesSinceNew ? timeLifeInfo.cyclesSinceNew : '-'}}</span></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.timeSinceNew ? timeLifeInfo.timeSinceNew : '-'}}</span></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.lastSinceNew ? timeLifeInfo.lastSinceNew : '-'}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Since Ovh</b></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.cyclesSinceOVH ? timeLifeInfo.cyclesSinceOVH : '-'}}</span></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.timeSinceOVH ? timeLifeInfo.timeSinceOVH : '-'}}</span></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.lastSinceOVH ? timeLifeInfo.lastSinceOVH : '-'}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Since Insp</b></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.cyclesSinceInspection ? timeLifeInfo.cyclesSinceInspection : '-'}}</span></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.timeSinceInspection ? timeLifeInfo.timeSinceInspection : '-'}}</span></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.lastSinceInspection ? timeLifeInfo.lastSinceInspection : '-'}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Since Repair</b></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.cyclesSinceRepair ? timeLifeInfo.cyclesSinceRepair : '-'}}</span></td>
                                            <td class="clr2 text-center"><span>{{timeLifeInfo.timeSinceRepair ? timeLifeInfo.timeSinceRepair : '-'}}</span></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>