<div class="form-group">
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="addPartNumber()">
      Add PN
    </button>
  </div>
  <div class="row">
      <p-table [value]="selectedParts" class="rpo-table-cstm rro-table-cstm" [columns]="columns" [scrollable]="true" [style]="{ width: '100%' }">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}" />
            </colgroup>
          </ng-template>  
        <ng-template pTemplate="header">
            <tr>

              <th>PartNumber</th>
              <th>Description</th>
              <th>Stock Line Number</th>
              <th>Method</th>
              <th>Serial Number</th>
              <th>STOCK LINE NUM</th>
              <th>ID NUM</th>             
              <th>OEM/PMA/DER</th>
              <th>COND TYPE</th>
              <th>Currency</th>
              <th>fx Rate</th>             
              <th>QTY QUOTED</th>
              <th>UNIT SALE PRICE</th>
              <th>MARK UP %</th>
              <th>MARK UP AMOUNT</th>           
              <th>DISCOUNT %</th>
              <th>DISC AMOUNT</th>
              <th>NET SALES</th>
              <th>UNIT COST</th>
              <th>EXTENDED COST</th>
              <th>MARGIN ($)</th>
              <th>MARGIN (%)</th>
              <th>Actions</th>
            </tr>
          </ng-template>
        
       
        
          <ng-template pTemplate="body" let-part>
            <tr>
              <td>
                  {{ part.partNumber }}
              </td>
              <td>
                  {{ part.description }}
              </td>
              <td>
                {{ part.stockLineNumber }}
              </td>
              <td>
                {{ part.method }}
                </td>
             
              <td>
                  {{ part.serialNumber }}
              </td>
              <td>
                  {{ part.stockLineId }}
              </td>
              <td>
                  {{ part.idNumber }}
              </td>
              <td>
                  {{ part.pmaStatus }}
              </td>

              <td>
                  {{ part.conditionDescription }}
              </td>
              <td>
                  {{ part.currencyDescription }}
              </td>
              <td>
                  {{ part.fixRate }}
              </td>
              <td>
                  {{ part.quantityFromThis }}
              </td>
             
              <td>
                  {{ part.salesPricePerUnit }}
              </td>
              <td>
                  {{ part.markUpPercentage }}
              </td>
              <td>
                {{ part.markupExtended }}
            </td>
              <td>
                  {{ part.salesDiscount }}
              </td>
              <td>
                  {{ part.salesDiscountPerUnit }}
              </td>
              <td>
                  {{ part.netSalesPriceExtended }}
              </td>
              <td>
                  {{ part.unitCostPerUnit }}
              </td>
              <td>
                  {{ part.unitCostExtended }}
              </td>
              <td>
                  {{ part.marginAmountExtended }}
              </td>
              <td>
                  {{ part.marginPercentagePerUnit }}
              </td>
              <td>
                  <a class="btn-edit" mat-icon-button (click)="openPartToEdit(part)"
                       matTooltip="edit">
                  <mat-icon>edit</mat-icon>
              </a>
                  <a class="btn-delete" mat-icon-button matTooltip="Delete"
                  (click)="openPartDelete(deleteContent,part)">
                  <mat-icon color="warn">delete</mat-icon>
            </a>
               
              </td>
            </tr>
          </ng-template>
         
        </p-table>
  </div>
</div>

<ng-template #addPart let-c="close" let-d="dismiss">
<app-add-sales-part-number [display]="show" [salesQuote]="salesQuote" (select)="openSalesMargin($event)" (close)="onClose($event)"></app-add-sales-part-number>
</ng-template>

<ng-template #salesMargin let-c="close" let-d="dismiss" tabindex="-1">
    <app-sales-margin tabindex="-1" [part]="part" [isEdit]="isEdit" (save)="openSalesMarginSave($event)" (close)="onCloseMargin($event)"></app-sales-margin>
</ng-template>

<ng-template #deleteContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClosePartDelete()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deletePart()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="onClosePartDelete()">No</button>
    </div>

</ng-template>

