<div class="x_content" *ngIf="purchaseOrderData">

    <h4 class="page-heading">Receiving PO</h4>

    <div class="clear"></div>
    <form id="" class="form-horizontal ro-grid-form mtop10" name="" action="#" method="post" onsubmit="return false;">
        <div class="col-sm-3">

            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">PO Num</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" value="Creating" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.purchaseOrderNumber">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Open Date</label>
                <div class="col-sm-7">
                    <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.dateRequested"></p-calendar>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Need By</label>
                <div class="col-sm-7">
                    <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.needByDate"></p-calendar>
                </div>
            </div>
            <div class="form-group col-sm-12 input-icon1 ">
                <label class="control-label col-sm-4">Priority </label>
                <div class="inner-addon right-addon inline-block col-sm-7">
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.priorityId">
                        <option *ngFor="let priorityName of allPriorityInfo" [ngValue]="priorityName.priorityId">{{priorityName.description}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Deferred Receiver</label>
                <div class="col-sm-7">
                    <div class="inner-addon">
                        <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.deferredReceiver" class="form-control names ui-autocomplete-input" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Resale</label>
                <div class="col-sm-7">
                    <div class="inner-addon">
                        <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.resale" class="form-control names ui-autocomplete-input" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Vendor Num</label>
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">
                        <p-autoComplete (onSelect)="onVendorCodeselected($event)" (onKeyUp)=eventvendorHandler($event) [(ngModel)]="purchaseOrderData.vendor.vendorCode" [ngModelOptions]="{standalone: true}" [suggestions]="vendorCodes" (completeMethod)="filterVendorCodes($event)" [size]="30"
                                        [minLength]="1" [dropdown]="true">
                            <ng-template let-vendorCode pTemplate="item">
                                <div class="ui-helper-clearfix">{{vendorCode}}</div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <!--{{purchaseOrderData.vendor.vendorCode}}-->

                </div>
            </div>

            <div class="form-group col-sm-12 input-icon1">
                <label for="vendorName" class="control-label col-sm-4">Vendor Name <span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">

                        <p-autoComplete [(ngModel)]="purchaseOrderData.vendor.vendorName" [ngModelOptions]="{standalone: true}" [suggestions]="vendorNames" (completeMethod)="filterVendorNames($event)" [size]="30"
                                        [minLength]="1" [dropdown]="true">
                            <ng-template let-vendorName pTemplate="item">
                                <div class="ui-helper-clearfix">{{vendorName}}</div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Vendor Contact</label>
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control names ui-autocomplete-input" name="" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.vendor.firstName" autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Contact Phone</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.workPhone">
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Credit Limit &amp; Terms</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" placeholder="limit" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.terms">
                </div>
                <div class="col-sm-4">
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.creditLimit">
                        <option *ngFor="let creditTermsId of allcreditTermInfo" [ngValue]="creditTermsId.creditTermsId">{{creditTermsId.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-12 input-icon1">
                <label class="control-label col-sm-4">Requisitioner</label>
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">
                        <div class="inner-addon right-addon inline-block">
                            <p-autoComplete [(ngModel)]="purchaseOrderData.requestedBy" [ngModelOptions]="{standalone: true}" [suggestions]="employeeNameCollection" (completeMethod)="filterfirstName($event)" [size]="30"
                                            [minLength]="1" [dropdown]="true">
                                <ng-template let-firstName pTemplate="item">
                                    <div class="ui-helper-clearfix">{{firstName}}</div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Approver</label>
                <div class="col-sm-7">
                    <div class="inner-addon ">
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.approver">
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Approved Date</label>
                <div class="col-sm-7">
                    <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.dateApprovied"></p-calendar>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Status</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.statusId">
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Company</label>
                <div class="col-sm-7">
                    <select [(ngModel)]="purchaseOrderData.masterCompanyId" [ngModelOptions]="{standalone: true}" (change)="getBUList(purchaseOrderData.masterCompanyId)">
                        <option *ngFor="let ataName of maincompanylist" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">BU</label>
                <div class="col-sm-7">
                    <select [(ngModel)]="purchaseOrderData.buid1" [ngModelOptions]="{standalone: true}" (change)="getDepartmentlist(purchaseOrderData.buid1)">
                        <option *ngFor="let ataName of bulist" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Dept</label>
                <div class="col-sm-7">
                    <select [(ngModel)]="purchaseOrderData.depid1" [ngModelOptions]="{standalone: true}" (change)="getDivisionlist(purchaseOrderData.depid1)">
                        <option *ngFor="let ataName of departmentList " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Division</label>
                <div class="col-sm-7">
                    <div>
                        <select [(ngModel)]="purchaseOrderData.divid1" [ngModelOptions]="{standalone: true}" (change)="getDivisionChangeManagementCode(purchaseOrderData.divid1)">
                            <option *ngFor="let ataName of divisionlist " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Memo</label>
                <div class="col-sm-7">
                    <textarea class="h100 scroll-x" [ngModelOptions]="{standalone: true}" [(ngModel)]="purchaseOrderData.notes"></textarea>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <hr>
    </form>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 po-ro-setup">
    <div class="x_panel">
        <div class="tab-content">
            <div id="tab1" class="tab-pane  active">
                <div id="adminsearchlocationajax">
                    <div class="table-responsive">
                        <div class="clear"></div>
                        <table class="table table-bordered table-striped table-wrap">
                            <thead>
                                <tr>
                                    <th class="eachcol"></th>
                                    <th class="eachcol">Line no</th>
                                    <th class="eachcol">PN</th>
                                    <th class="eachcol">Qty Ordered</th>
                                    <th class="eachcol">Qty Received</th>
                                    <th class="eachcol">Qty Approved</th>
                                    <th class="eachcol">Qty Backordered</th>
                                    <th class="eachcol">Status</th>
                                    <th class="eachcol" colspan="3"></th>
                                    <th class="eachcol">Company</th>
                                    <th class="eachcol">BU</th>
                                    <th class="eachcol">Division</th>
                                    <th class="eachcol">Dep.</th>
                                    <th class="eachcol"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let partList of purchaseOrderData.purchaseOderPart;let row_index=index">
                                    <tr class="basic-info" *ngIf="partList.isParent">
                                        <td class="details-control eachcol">
                                            <button type="button" class="btn btn-xs" (click)="showSplitShipmentRows(partList.itemMasterId)">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                        <td class="eachcol">{{row_index}}</td>
                                        <td class="eachcol">
                                            {{partList.itemMaster.partNumber}}
                                        </td>
                                        <td class="eachcol">
                                            {{partList.quantityOrdered}}
                                        </td>
                                        <td class="eachcol">
                                            {{partList.quantityReceived}}
                                        </td>
                                        <td class="eachcol">
                                            {{partList.quantityApproved}}
                                        </td>
                                        <td class="eachcol">
                                            {{partList.quantityBackOrdered}}
                                        </td>
                                        <td class="eachcol">status</td>
                                        <td class="eachcol" colspan="3"></td>
                                        <td class="eachcol">
                                            {{"Company"}}
                                        </td>
                                        <td class="eachcol">
                                            {{"BU"}}
                                        </td>
                                        <td class="eachcol">
                                            {{"Dept"}}
                                        </td>
                                        <td class="eachcol">
                                            {{"Division"}}
                                        </td>
                                        <td class="eachcol">
                                            <a *ngIf="partList.quantityBackOrdered" (click)="addDetailsClick(partList)" style="color:red">Add Details</a>
                                        </td>
                                    </tr>
                                    <tr class="basic-info splitshipment" [hidden]="purchaseOrderData.purchaseOderPart[row_index+1] != undefined && !purchaseOrderData.purchaseOderPart[row_index+1].visible" *ngIf="partList.isParent && purchaseOrderData.purchaseOderPart[row_index+1] != undefined && (!purchaseOrderData.purchaseOderPart[row_index+1].isParent)">
                                        <th class="eachcol6"></th>
                                        <th class="eachcol6"></th>
                                        <th class="eachcol6">PN</th>
                                        <th class="eachcol6">Qty Ordered</th>
                                        <th class="eachcol6">Qty Received</th>
                                        <th class="eachcol6">Qty Approved</th>
                                        <th class="eachcol6">Qty Backordered</th>
                                        <th class="eachcol6">Status</th>
                                        <th class="eachcol6">User Type</th>
                                        <th class="eachcol6">User Name</th>
                                        <th class="eachcol6">Address</th>
                                        <th class="eachcol6">Company</th>
                                        <th class="eachcol6">BU</th>
                                        <th class="eachcol6">Division</th>
                                        <th class="eachcol6">Dep.</th>
                                        <th class="eachcol6"> </th>
                                    </tr>
                                    <tr class="basic-info splitshipment" [hidden]="!partList.visible" *ngIf="!partList.isParent">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>{{partList?.itemMaster?.partNumber}}</td>
                                        <td>{{partList?.quantityOrdered}}</td>
                                        <td>{{partList?.stockline?.quantityReceived}}</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td class="details-control"><button type="button" class="btn btn-success btn-xs" (click)="addRow(partList)"><i class="fa fa-plus"></i></button></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>



        </div>
        <div class="clear"></div>
        <hr>
        <a class="btn btn-success pull-right" (click)="saveReceivePurchaseOrder()">Save</a>
        <div class="clear"></div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

<style>
    .disabled {
        cursor: not-allowed;
    }

    .eachcol {
        width: 7%;
    }

    .eachcol6 {
        width: 6%;
    }
</style>