label {
    font-size: 12px !important;
    text-align: left;
    width: 110px;
    margin-right: 0;
    font-weight: normal;
}
.rpo-bcrumb {
    background-color: transparent;
}
.rpo-bcrumb li {
    font-family: 'Roboto';
    font-weight: bold;
}
input[type="text"], input[type="number"], select, textarea {
    height: 24px !important;
    border-radius: 5px;
}
select:disabled {
    background-color: #e9ecef !important;
}
.btn-cstm {
    padding: 3px 8px !important;
}
.btn-cstm:before {
    font-size: 11px;
}
.po-table-tr th {
    padding: 8px 4px;
}
.btn-po-details {
    width: 75px !important;
    padding: 6px 2px 19px !important;
    font-size: 12px !important;
    color: #fff;
    border-radius: 4px !important;
}
.btn-po-details:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74;
}
@media (min-width: 768px) {
    .col-md-3 {
        max-width: 22%;
        margin-right: 15px;
    }
}