################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio..
################################################################################

/DAL/DAL.csproj.user
/QuickApp.Pro/wwwroot/dist
/.vs
/QuickApp.Pro/obj
/QuickApp.Pro/Logs
