################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio..
################################################################################

/DAL/DAL.csproj.user
/DAL/bin/Debug
/DAL/bin/Release
/QuickApp.Pro/node_modules
/QuickApp.Pro/wwwroot/dist
/.vs
/QuickApp.Pro/obj
/QuickApp.Pro/Logs


/QuickApp.Pro/bin/Debug/netcoreapp2.0/DAL.dll
/QuickApp.Pro/bin/Debug/netcoreapp2.0/DAL.pdb
/QuickApp.Pro/bin/Debug/netcoreapp2.0/QuickApp.Pro.deps.json
/QuickApp.Pro/bin/Debug/netcoreapp2.0/QuickApp.Pro.dll
/QuickApp.Pro/bin/Debug/netcoreapp2.0/QuickApp.Pro.pdb
/QuickApp.Pro/bin/Debug/netcoreapp2.0/QuickApp.Pro.runtimeconfig.dev.json
/QuickApp.Pro/bin/Debug/netcoreapp2.0/QuickApp.Pro.runtimeconfig.json
/QuickApp.Pro/bin/Release/netcoreapp2.0/DAL.dll
/QuickApp.Pro/bin/Release/netcoreapp2.0/DAL.pdb
/QuickApp.Pro/bin/Release/netcoreapp2.0/QuickApp.Pro.deps.json
/QuickApp.Pro/bin/Release/netcoreapp2.0/QuickApp.Pro.dll
/QuickApp.Pro/bin/Release/netcoreapp2.0/QuickApp.Pro.pdb
/QuickApp.Pro/bin/Release/netcoreapp2.0/QuickApp.Pro.runtimeconfig.dev.json
/QuickApp.Pro/bin/Release/netcoreapp2.0/QuickApp.Pro.runtimeconfig.json
