<div class="card">
  <div class="card-body">
    <h3>Billing/Invoicing</h3>
    <form #billinForm="ngForm">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Invoice Type </label>
                    <p-dropdown
                    [options]="invoiceTypeList"
                    name="invoiceType"
                    #invoiceType="ngModel"
                    placeholder="Select Status"
                    class="p-dropdown-custom-md-Header"
                    [(ngModel)]="billingorInvoiceForm.invoiceTypeId"
                  >
                  </p-dropdown>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> REV Type </label>
                    <input
                      type="number"
                      class="form-control wo-input"
                      name="revType"
                      #revType="ngModel"
                      [(ngModel)]="billingorInvoiceForm.revType"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Invoice Number </label>
                    <input
                      type="text"
                      class="form-control wo-input"
                      name="invoiceNumber"
                      #invoiceNumber="ngModel"
                      [(ngModel)]="billingorInvoiceForm.invoiceNo"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> WO Type </label>
                    <input
                      type="text"
                      class="form-control wo-input"
                      name="woType"
                      #woType="ngModel"
                      disabled
                      [(ngModel)]="billingorInvoiceForm.woType"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Customer Ref </label>
                    <input
                      type="text"
                      class="form-control wo-input"
                      name="customerRef"
                      #customerRef="ngModel"
                      disabled
                      [(ngModel)]="billingorInvoiceForm.customerRef"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Work Scope</label>
                    <input
                      type="text"
                      class="form-control wo-input"
                      name="workScope"
                      #workScope="ngModel"
                      [(ngModel)]="billingorInvoiceForm.workScope"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Invoice Date </label>
                    <p-calendar
                      [showIcon]="true"
                      class="calender-cstm"
                      name="invoiceDate"
                      #invoiceDate="ngModel"
                      [(ngModel)]="billingorInvoiceForm.invoiceDate"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> WO Open Date </label>
                    <p-calendar
                      [showIcon]="true"
                      class="calender-cstm"
                      name="woOpenDate"
                      #woOpenDate="ngModel"
                      [disabled]=true
                      [(ngModel)]="billingorInvoiceForm.woOpenDate"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Time </label>
                    <p-calendar
                      name="invoiceTime"
                      #invoiceTime="ngModel"
                      [timeOnly]="true"
                      [(ngModel)]="billingorInvoiceForm.invoiceTime"
                      showTime="true"
                      hourFormat="24"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Sales Person </label>
                    <input
                      type="text"
                      class="form-control wo-input"
                      name="salesPerson"
                      #salesPerson="ngModel"
                      disabled
                      [(ngModel)]="billingorInvoiceForm.salesPerson"
                    />

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Print Date </label>
                    <p-calendar
                      [showIcon]="true"
                      class="calender-cstm"
                      name="printDate"
                      #printDate="ngModel"
                      [(ngModel)]="billingorInvoiceForm.printDate"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="credit" style="width: 100%;"
                      >Currency <span class="clr-red">*</span>
                    </label>
                    <p-dropdown
                      [options]="currencyList"
                      name="currency"
                      #currency="ngModel"
                      placeholder="Select Status"
                      class="p-dropdown-custom-md-Header"
                      [(ngModel)]="billingorInvoiceForm.currencyId"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Ship Date </label>
                    <p-calendar
                      [showIcon]="true"
                      class="calender-cstm"
                      name="shipDate"
                      #shipDate="ngModel"
                      [(ngModel)]="billingorInvoiceForm.shipDate"
                    ></p-calendar>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group ">
                    <label> Available Credit</label>
                    <input
                      type="number"
                      class="form-control wo-input"
                      name="salePerson"
                      #salePerson="ngModel"
                      [(ngModel)]="billingorInvoiceForm.availableCredit"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label> No of Pieces </label>
                    <input
                      type="number"
                      class="form-control wo-input"
                      name="noofPieces"
                      #noofPieces="ngModel"
                      [(ngModel)]="billingorInvoiceForm.noofPieces"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label>Credit Terms </label>
                    <input
                      type="text"
                      class="form-control wo-input"
                      name="creditTerms"
                      #creditTerms="ngModel"
                      disabled
                      [(ngModel)]="billingorInvoiceForm.creditTerm"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label for="employee" style="margin-top: 10px;"
                      >Employee
                    </label>

                    <input
                      type="text"
                      class="form-control wo-input"
                      name="employee"
                      #employee="ngModel"
                      disabled
                      [(ngModel)]="billingorInvoiceForm.employeeName"
                    />

                    <!-- <p-autoComplete
                          field="label"
                          [(ngModel)]="billingorInvoiceForm.employeeId"
                          name="employees"
                          #employees="ngModel"
                          errorMessage="Records not found"
                          [forceSelection]="true"
                          [dropdown]="true"
                          [suggestions]="employeeList"
                          (completeMethod)="filterEmployee($event)"
                          [size]="30"
                          [minLength]="1"
                          [dropdown]="true"
                          class="p-autoComplete-ctsm"
                        >
                        </p-autoComplete> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label>Gate Status </label>
                    <input
                      type="number"
                      class="form-control wo-input"
                      name="gateStatus"
                      #gateStatus="ngModel"
                      [(ngModel)]="billingorInvoiceForm.gateStatus"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
              
                <div class="col-md-6">
                    <h5 class="po-head">Sold To</h5>
                  <div class="form-group ">
                    <label for="employee" style="margin-top: 10px;"
                      >Customer
                    </label>
                    <p-autoComplete
                      field="customerName"
                      [(ngModel)]="billingorInvoiceForm.soldToCustomerId"
                      name="soldcustomerName"
                      errorMessage="Records not found"
                      [forceSelection]="true"
                      (onSelect)="getSiteNamesBySoldCustomerId($event)"
                      [suggestions]="customerNamesList"
                      (completeMethod)="filterCustomerName($event)"
                      (onKeyUp)="clearAddress('SoldTo' , $event.target.value)"
                      [size]="30"
                      [minLength]="1"
                      #customerName="ngModel"
                      required
                      [dropdown]="false"
                      class="p-autoComplete-ctsm"
                    >
                    </p-autoComplete>
                  </div>
                </div>
                <div class="col-md-6">
                    <h5 class="po-head">Ship To</h5>
                  <div class="form-group ">
                    <label for="employee" style="margin-top: 10px;"
                      >Customer
                    </label>
                    <p-autoComplete
                      field="customerName"
                      [(ngModel)]="billingorInvoiceForm.shipToCustomerId"
                      name="shipcustomerName"
                      errorMessage="Records not found"
                      [forceSelection]="true"
                      (onSelect)="getSiteNamesByShipCustomerId($event)"
                      [suggestions]="customerNamesList"
                      (completeMethod)="filterCustomerName($event)"
                      (onKeyUp)="clearAddress('ShipTo', $event.target.value)"
                      [size]="30"
                      [minLength]="1"
                      #customerName="ngModel"
                      required
                      [dropdown]="false"
                      class="p-autoComplete-ctsm"
                    >
                    </p-autoComplete>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="credit" style="width: 100%;">Site Name
                             </label>
                  <p-dropdown
                    placeholder="Select Site Name"
                    name="scope"
                    #scope="ngModel"
                    [options]="soldCustomerSiteList"
                    class="p-dropdown-custom-md"
                    (onChange)="changeOfSoldSiteName($event.value)"
                    [(ngModel)]="billingorInvoiceForm.soldToSiteId"

                  >
                  </p-dropdown>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="credit" style="width: 100%;">Site Name
                             </label>
                  <p-dropdown
                    placeholder="Select Site Name"
                    name="scope"
                    #scope="ngModel"
                    [options]="shipCustomerSiteList"
                    class="p-dropdown-custom-md"
                    (onChange)="changeOfShipSiteName($event.value)"
                    [(ngModel)]="billingorInvoiceForm.shipToSiteId"
                  >
                  </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Address 1  </label>
                        <input
                          type="text"
                          class="form-control wo-input"
                          name="soldAddress1"
                          #soldAddress1="ngModel"
                          [(ngModel)]="soldCustomerAddress.line1"
                          disabled
                        />
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Address 1  </label>
                        <input
                          type="text"
                          class="form-control wo-input"
                          name="shipAddress1"
                          #shipAddress1="ngModel"
                          [(ngModel)]="shipCustomerAddress.line1"
                          disabled
                        />
                      </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>Address 2  </label>
                          <input
                            type="text"
                            class="form-control wo-input"
                            name="soldAddress2"
                            #soldAddress1="ngModel"
                            [(ngModel)]="soldCustomerAddress.line2"
                            disabled
                          />
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>Address 2  </label>
                          <input
                            type="text"
                            class="form-control wo-input"
                            name="shipAddress2"
                            #shipAddress1="ngModel"
                            [(ngModel)]="shipCustomerAddress.line2"
                            disabled
                          />
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>City  </label>
                          <input
                            type="text"
                            class="form-control wo-input"
                            name="soldCity"
                            #soldCity="ngModel"
                            [(ngModel)]="soldCustomerAddress.city"
                            disabled
                          />
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>City  </label>
                          <input
                            type="text"
                            class="form-control wo-input"
                            name="shipCity"
                            #shipCity="ngModel"
                            [(ngModel)]="shipCustomerAddress.city"
                            disabled
                          />
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>StateOrProvince  </label>
                          <input
                            type="text"
                            class="form-control wo-input"
                            name="soldstateOrProvince"
                            #soldstateOrProvince="ngModel"
                            [(ngModel)]="soldCustomerAddress.stateOrProvince"
                            disabled
                          />
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>StateOrProvince </label>
                          <input
                            type="text"
                            class="form-control wo-input"
                            name="stateOrProvince"
                            #shipstateOrProvince="ngModel"
                            [(ngModel)]="shipCustomerAddress.stateOrProvince"
                            disabled
                          />
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>Postal Code  </label>
                          <input
                            type="number"
                            class="form-control wo-input"
                            name="soldpostalCode"
                            #soldpostalCode="ngModel"
                            [(ngModel)]="soldCustomerAddress.postalCode"
                            disabled
                          />
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>Postal Code </label>
                          <input
                            type="number"
                            class="form-control wo-input"
                            name="shippostalCode"
                            #shippostalCode="ngModel"
                            [(ngModel)]="shipCustomerAddress.postalCode"
                            disabled
                          />
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>Country  </label>
                          <input
                            type="text"
                            class="form-control wo-input"
                            name="soldcountry"
                            #soldcountry="ngModel"
                            [(ngModel)]="soldCustomerAddress.country"
                            disabled
                          />
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group ">
                          <label>Country </label>
                          <input
                            type="text"
                            class="form-control wo-input"
                            name="shipcountry"
                            #shipcountry="ngModel"
                            [(ngModel)]="shipCustomerAddress.country"
                            disabled
                          />
                        </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Attention </label>
                        <input
                          type="text"
                          class="form-control wo-input"
                          name="shipToAttention"
                          #shipToAttention="ngModel"
                          [(ngModel)]="billingorInvoiceForm.shipToAttention"
                        />
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
                <h5 class="po-head">Management Structure </h5>
                <div class="col-md-12">
                    <div class="form-group">
                  <p-dropdown
                    placeholder="Select Legal Entity"
                    name="company"
                    #companyId="ngModel"
                    [options]="legalEntityList"
                    class="p-dropdown-custom-md-2"
                    (onChange)="selectedLegalEntity($event.value)"
                    [(ngModel)]="managementStructure.companyId"
                  >
                  </p-dropdown>
                  </div>
                  <div class="form-group">
                      <p-dropdown
                        placeholder="Select "
                        name="bu"
                        #bu="ngModel"
                        [options]="businessUnitList"
                        class="p-dropdown-custom-md-2"
                        (onChange)="selectedBusinessUnit($event.value)"
                        [(ngModel)]="managementStructure.buId"
                      >
                      </p-dropdown>
                      </div>
                      <div class="form-group">
                          <p-dropdown
                            placeholder="Select "
                            name="division"
                            #division="ngModel"
                            [options]="divisionList"
                            class="p-dropdown-custom-md-2"
                            (onChange)="selectedDivision($event.value)"
                            [(ngModel)]="managementStructure.divisionId"
                          >
                          </p-dropdown>
                          </div>
                          <div class="form-group">
                              <p-dropdown
                                placeholder="Select "
                                name="department"
                                #department="ngModel"
                                [options]="departmentList"
                                class="p-dropdown-custom-md-2"
                                (onChange)="selectedDepartment($event.value)"
                                [(ngModel)]="managementStructure.departmentId"
                              >
                              </p-dropdown>
                              </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 15px;">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
              <div>
                  <div class="form-row">
                      <div class="form-group">
                        <p-radioButton
                          class="p-radiobutton-label-horizontal"
                          name="HoursorClockorScan"
                          label="Cost Plus"
                          value="Cost Plus"
                          [(ngModel)]="billingorInvoiceForm.costPlusType"
                        ></p-radioButton>
                        <p-radioButton
                          class="p-radiobutton-label-horizontal col-width"
                          name="HoursorClockorScan"
                          value="Flat Rate"
                          label="Flat Rate"
                          [(ngModel)]="billingorInvoiceForm.costPlusType"
                        ></p-radioButton>
                
                       
                      </div>
                    </div>
              </div>
              <h5 class="po-head">{{billingorInvoiceForm.costPlusType}} Information </h5>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <p-checkbox
                          class="p-checkbox-label-2"
                          name="task"
                          binary="false"
                          label="Total Work Order"
                          [(ngModel)]="billingorInvoiceForm.totalWorkOrder"
                        ></p-checkbox>
                      </div>
                </div>
                <div class="col-md-6" *ngIf="billingorInvoiceForm.totalWorkOrder">
                    <div class="form-group">
                        <p-dropdown
                          placeholder="Select "
                       name="bu"
                          #bu="ngModel"
                          [options]="numberData"
                          class="p-dropdown-custom-md-2"
                          [(ngModel)]="billingorInvoiceForm.totalWorkOrderValue"
                        >
                        </p-dropdown>
                        </div>
      
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <p-checkbox
                            class="p-checkbox-label-2"
                            name="task"
                            binary="false"
                            label="Material"
                            [(ngModel)]="billingorInvoiceForm.material"
                          ></p-checkbox>
                        </div>
                  </div>
                  <div class="col-md-6" *ngIf="billingorInvoiceForm.material">
                      <div class="form-group">
                          <p-dropdown
                            placeholder="Select "
                            name="materialValue"
                            #materialValue="ngModel"
                            [options]="numberData"
                            class="p-dropdown-custom-md-2"
                            [(ngModel)]="billingorInvoiceForm.materialValue"
                          >
                          </p-dropdown>
                          </div>
        
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <p-checkbox
                              class="p-checkbox-label-2"
                              name="task"
                              binary="false"
                              label="Labor & Over Head"
                              [(ngModel)]="billingorInvoiceForm.laborOverHead"
                            ></p-checkbox>
                          </div>
                    </div>
                    <div class="col-md-6" *ngIf="billingorInvoiceForm.laborOverHead">
                        <div class="form-group">
                            <p-dropdown
                              placeholder="Select "
                              name="head"
                              #head="ngModel"
                              [options]="numberData"
                              class="p-dropdown-custom-md-2"
                              [(ngModel)]="billingorInvoiceForm.laborOverHeadValue"
                            >
                            </p-dropdown>
                            </div>
          
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <p-checkbox
                                class="p-checkbox-label-2"
                                name="task"
                                binary="false"
                                label="Misc Chargers"
                                [(ngModel)]="billingorInvoiceForm.miscCharges"
                              ></p-checkbox>
                            </div>
                      </div>
                      <div class="col-md-6" *ngIf="billingorInvoiceForm.miscCharges">
                          <div class="form-group">
                              <p-dropdown
                                placeholder="Select "
                                name="misc"
                                #misc="ngModel"
                                [options]="numberData"
                                class="p-dropdown-custom-md-2"
                                [(ngModel)]="billingorInvoiceForm.miscChargesValue"
                              >
                              </p-dropdown>
                              </div>
            
                      </div>
                    </div>
            </div>
            </div>
        </div>

        <div class="col-md-7">
          <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <p-checkbox
                          class="p-checkbox-label-2"
                          name="task"
                          binary="false"
                          label="PRO FOR MA"
                          [(ngModel)]="billingorInvoiceForm.proForma"
                        ></p-checkbox>
                    </div>
                    <div class="form-group">
                        <p-checkbox
                          class="p-checkbox-label-2"
                          name="task"
                          binary="false"
                          label="Partial Invoice"
                          [(ngModel)]="billingorInvoiceForm.partialInvoice"
                        ></p-checkbox>
                    </div>
                    <div class="form-group">
                        <p-checkbox
                          class="p-checkbox-label-2"
                          name="task"
                          binary="false"
                          label="CostPlus & Flate RateCombo"
                          [(ngModel)]="billingorInvoiceForm.costPlusRateCombo"
                        ></p-checkbox>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label for="credit" style="width: 100%;">Ship Via
                                   </label>
                        <p-dropdown
                          placeholder="Select Site Name"
                          name="shipVia"
                          #shipVia="ngModel"
                          [options]="shipViaList"
                          class="p-dropdown-custom-md-2"
                          [(ngModel)]="billingorInvoiceForm.shipViaId"
                        >
                        </p-dropdown>
                        </div>
                        <div class="form-group ">
                            <label>Ship Account</label>
                            <input
                            type="text"
                            class="form-control wo-input"
                            name="shipAccount"
                            #shipAccount="ngModel"
                            disable
                            [(ngModel)]="billingorInvoiceForm.shipAccountInfo"
                          />
                          </div>
                      </div>
                      <div class="col-md-4 col-offset-1">
                          <div class="form-group ">
                              <label>Way Bill REF</label>
                              <input
                                type="text"
                                class="form-control wo-input"
                                name="wayBillRef"
                                #wayBillRef="ngModel"
                                [(ngModel)]="billingorInvoiceForm.wayBillRef"
                              />
                            </div>
                            <div class="form-group ">
                                <label>Tracking #</label>
                                <input
                                  type="text"
                                  class="form-control wo-input"
                                  name="tracking"
                                  #tracking="ngModel"
                                  [(ngModel)]="billingorInvoiceForm.tracking"
                                />
                              </div>
                      </div>
                    </div>

                </div>

            </div>
          </div>
        </div>
      </div>

      <div style="float: right;">
        <button class="btn btn-primary-cstm pull-right"  *ngIf="!isEditBilling" (click)="saveWorkOrderBilling()">Save</button>
        <button class="btn btn-primary-cstm pull-right"  *ngIf="!isEditBilling" (click)="updateWorkOrderBilling()">Update</button>
      </div>


    </form>

  </div>
</div>
