<div [@fadeInOut] class="page-content">

	<div class="right_col" role="main">
		<div class="x_panel">
			<div class="x_content">
				<div style="text-align:center">
					<h4 class="page-heading clr-green">Management Structure</h4>


					<a (click)="open(contentEdit)" matTooltip="Add Root Entity" class="btn btn-success nobg"><span><i class="fa fa-plus"></i></span></a>
				</div>
				<!--<p-toast [style]="{marginTop: '80px'}"></p-toast>-->


				<!--<button (click)="expandAll($event)">Toggle</button>-->

				<p-treeTable [value]="gridData" [columns]="cols1" [metaKeySelection]="true" selectionMode="multiple" [(selection)]="selectedNode">

					<ng-template pTemplate="header" let-columns>
						<tr>
							<th *ngFor="let col of columns">
								{{col.header}}
							</th>
							<th></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">

						<tr [ttSelectableRow]="rowNode">
							<td *ngFor="let col of columns; let i = index">
								<p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
								{{rowData[col.field]}}
							</td>
                            <td>


                                <a (click)="openEdit(contentEdit,rowNode)" matTooltip="Add Child" class="btn btn-success nobg"><span><i class="fa fa-plus"></i></span></a>

                                <button class="btn-edit" mat-icon-button (click)="openContentEdit(contentEdit,rowData)" matTooltip="Edit Entity">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <span data-toggle="modal" data-target="#view"> 
                                <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="View" matTooltip="View" (click)="showViewData(contentView,rowData)">
                                    <i class="fa fa-eye"></i></a> 
                                </span>
                                <button class="btn-delete" mat-icon-button matTooltip="Delete" (click)="openDelete(content,rowData)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>

                                <button class="btn-history" mat-icon-button matTooltip="history">
                                    <mat-icon color="green">history</mat-icon>
                                </button>
                            </td>
						</tr>


					</ng-template>
				</p-treeTable>


			</div>


		</div>
	</div>
</div>
<ng-template #contentEdit let-c="close" style="width:auto">

	<div class="right_col menu2" role="main">
		<div class="x_panel" style="">
			<div class="x_content">
				<div class="clear"></div>

				<div class="modal-header">
					<h4 class="modal-title"> {{headerofMS}}</h4>
					<button type="button" class="close" aria-label="Close" (click)="dismissModel()">
						<span aria-hidden="true">&times;</span>

					</button>

				</div>
                <form action="#" method="post" id="" name="" class="form-horizontal add-custustomer">
                    <div class="col-sm-12 managemet-data-block-bg">
                        <div class="col-sm-8">
                                <div *ngIf="headerofMS == 'Add Root Entity'"> 
                                        <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-3 text-left">Legal Entity</label>
                                                <div class="col-sm-9">
                                                    <div class="inner-addon right-addon inline-block">                                                    
        
                                                        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.legalEntityId">
                                                                <option *ngFor="let legalDP of dropDownLegalEntityList" [ngValue]="legalDP.value">  {{legalDP.label}}</option>
                                                            </select>
                                                     </div>
                                                </div>
                                            </div>
                                   </div>
                                   
                               
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-3 text-left">Code</label>
                                <div class="col-sm-9">
                                    <div class="inner-addon right-addon inline-block"> <input type="text" class="form-control names" id="label" name="label" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.code"> </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-3 text-left">Name</label>
                                <div class="col-sm-9">
                                    <div class="inner-addon right-addon inline-block"> <input type="text" class="form-control names" id="alias" name="alias" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.name"> </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label col-sm-3 text-left">Description</label>
                                <div class="col-sm-9">
                                    <div class="inner-addon right-addon inline-block"> <input type="text" class="form-control names" id="alias" name="alias" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.description"> </div>
                                </div>
                            </div>
                            <!--<div class="form-group col-sm-6">
                <div class="col-sm-6 text-left">
                    <label class=" text-left" style="width:auto">
                        <input type="checkbox" class="leaf" style="width:20px" id="" name="" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.isLastChild"> Is Last Child
                    </label>
                </div>
            </div>-->
                            <!--<div class="form-group col-sm-12 leaf-block" style="display: block;">
                                <div class="col-sm-12 text-left"> <label class="text-left" style="width:auto"> <input type="checkbox" class="assign-entity" id="" name="" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.isLastChild">  Is Last Child</label> </div>
                            </div>-->
                            <!--<div class="form-group col-sm-12 leaf-block" *ngIf="sourceLegalEntity.isLastChild">
                                <label class="control-label col-sm-3 text-left">Tag Name</label>
                                <div class="col-sm-7 cust-name tag1">
                                    <div class="inner-addon right-addon w100 inline-block"><i class="fa fa-search"></i> <input type="text" class="actionattribute form-control ui-autocomplete-input" id="tag1" name="tagname" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.tagName"> </div>
                    <span class="add-tag-row btn btn-primary" style="display: none;"><i class="fa fa-plus"></i></span>
                                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.tagName">
                                        <option *ngFor="let CustomerType of tagNameCollection" [ngValue]="CustomerType.tagName">{{CustomerType.tagName}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-7 cust-name tag2" style="margin-left: 108px; display: none;">
                                    <div class="inner-addon right-addon w100 inline-block"><i class="fa fa-search"></i> <input type="text" class="actionattribute form-control ui-autocomplete-input" id="tag2" name="tagname"> </div>
                                    <span class="add-tag-row btn btn-primary" style="display: none;"><i class="fa fa-plus"></i></span>
                                </div>
                                <div class="col-sm-7 cust-name tag3" style="margin-left: 108px; display: none;">
                                    <div class="inner-addon right-addon w100 inline-block"><i class="fa fa-search"></i> <input type="text" class="actionattribute form-control ui-autocomplete-input" id="tag3" name="tagname"> </div>
                                </div>
                            </div>-->
                            <div class="form-group col-sm-12 leaf-block" *ngIf="sourceLegalEntity.isLastChild">
                                <div class="col-sm-12 text-left"> <label class="text-left" style="width:auto"> <input type="checkbox" class="assign-entity" id="" name="" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.isAssignable"> Assign Legal Entity</label> </div>
                            </div>
                            <div class="form-group col-sm-12 entity-block" *ngIf="sourceLegalEntity.isAssignable">
                                <label class="control-label col-sm-6 text-left">Select Legal Entity</label>
                                <div class="col-sm-7">
                                    <div class="inner-addon right-addon inline-block">
                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceLegalEntity.legalEntityId">
                                            <option *ngFor="let CustomerType of allATAMaininfo" [ngValue]="CustomerType.legalEntityId">{{CustomerType.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12"> <input type="button" class="btn btn-primary submit-btn" value="Save" (click)="editItemAndCloseModel()"> <input type="button" class="btn btn-info hide-block w60" value="Cancel" (click)="dismissModel()"> </div>
                        </div>
                    </div>

                </form>
			</div>
		</div>

	</div>


</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Are You Sure Want to Delete?</h4>
		<button type="button" class="close" aria-label="Close" (click)="dismissModel()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-success" (click)="deleteItemAndCloseModel()">Yes</button>
		<button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
	</div>
</ng-template>

<p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
		  [width]="350" [minWidth]="200" [responsive]="true"
		  [minY]="1050" [baseZIndex]="1100000">
	
    <h5 [ngStyle]="{'color':'red'}">
		There is No data
	</h5>
	<p-footer>
		<button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
	</p-footer>
</p-dialog>

<ng-template #contentView let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="" name="" (click)="dismissModel()">×</button>
            <h4 class="modal-title">Details of Management Structure</h4>
        </div>
        <div class="modal-body viewform">
            <div class="panel-body">
                <div class="col-sm-6">                    
                    <p><span class="label"><b>Code </b></span><span class="value">{{managementViewData.code}}</span></p>
                    <p><span class="label"><b> Name: </b></span><span class="value">{{managementViewData.name}}</span></p>
                    <p><span class="label col-sm-12"><b class="col-sm-3 text-left"> Description: </b></span><span class="value">{{managementViewData.description}}</span></p>

                    <button style="text-align:end" type="button" class="btn btn-info text-left" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>

                </div>
        </div>
      
           
      
    </div>
    </div>
</ng-template>