<div class="x_panel" style="">
    <div class="x_content add-customer-work">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">General Ledger</li>
                <li class="breadcrumb-item active" aria-current="page">Create GL Account</li>
            </ol>
        </nav>
        <div class="pheading">
            <h4 class="page-heading">Create GL Account</h4>
        </div>
        
        <div class="clear"></div>
        
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tab-content form-bg">
                    <div class="tab-pane active" id="home">
                        <div class="col-sm-4">
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Ledger Name</label>
                                <div class="col-sm-7">                                   
                                    <select [(ngModel)]="currentGLAccount.ledgerName" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let entity of companyList" [ngValue]="entity.name">  {{entity.name}} Ledger</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Old Account Code</label>
                                <div class="col-sm-7">
                                  <input type="text"  name="test" value="" [(ngModel)]="currentGLAccount.oldAccountCode" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Account Code</label>
                                <div class="col-sm-7" >
                                    <input type="text" name="test" value="" [(ngModel)]="currentGLAccount.accountCode" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Account Name</label>
                                <div class="col-sm-7">
                                    <input name="test1" class="form-control" type="text" [(ngModel)]="currentGLAccount.accountName" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Account Description</label>
                                <div class="col-sm-7">
                                    <input name="test2" class="form-control" type="text" [(ngModel)]="currentGLAccount.accountDescription" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class=" col-sm-12 summary-account-block">
                                <label class="control-label col-sm-4">Summary Account</label>
                                <div class="col-sm-7">
                                    <input name="test3" type="checkbox" [(ngModel)]="currentGLAccount.summaryAccount" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class=" col-sm-12 allow-manual-je-block">
                                <label class="control-label col-sm-4">Allow Manual JE</label>
                                <div class="col-sm-7">
                                    <input  value="true" type="checkbox"  [(ngModel)]="currentGLAccount.allowManualJE" [ngModelOptions]="{standalone: true}" disabled>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Currency</label>
                                <div class="col-sm-7">
                                    <select class="w80" [(ngModel)]="currentGLAccount.currencyId" >
                                        <option *ngFor="let currencyName of allCurrencyInfo" [ngValue]="currencyName.currencyId">  {{currencyName.symbol}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Intercompany</label>
                                <div class="col-sm-7">
                                    <input name="test5" type="checkbox" [(ngModel)]="currentGLAccount.interCompany" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Active</label>
                                <div class="col-sm-7">
                                    <input name="test6" class="form-control" type="checkbox" checked="" [(ngModel)]="currentGLAccount.activeFlag" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Balance Type</label>
                                <div class="col-sm-7">
                                    <label class="wauto">
                                        <input name="test7" type="checkbox"  id="" [(ngModel)]="currentGLAccount.balanceTypeActual" [ngModelOptions]="{standalone: true}">
                                        Actual
                                    </label>
                                    <label class="wauto">
                                        <input name="test8" type="checkbox" id="" [(ngModel)]="currentGLAccount.balanceTypeBudget" [ngModelOptions]="{standalone: true}">
                                        Budget
                                    </label>
                                    <label class="wauto">
                                        <input name="test9" type="checkbox"  id="" [(ngModel)]="currentGLAccount.balanceTypeForecast" [ngModelOptions]="{standalone: true}">
                                        Forecast
                                    </label>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Account Type</label>
                                <div class="col-sm-7">
                                  

                                    <select class="w80" [(ngModel)]="currentGLAccount.glAccountTypeId" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let accounttype of allGLAccountClassInfo" [ngValue]="accounttype.glAccountClassId">  {{accounttype.glAccountClassName}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class=" col-sm-12 sub-account-block" *ngIf="currentGLAccount.summaryAccount">
                                <label class="control-label col-sm-4">Sub Account of</label>
                                <div class="col-sm-7">
                                    <select class="form-control" id=""  [(ngModel)]="currentGLAccount.subAccountOf" [ngModelOptions]="{standalone: true}">
                                        <option>5002</option>
                                        <option>5003</option>
                                        <option>5004</option>
                                        <option>5006</option>
                                        <option>5007</option>
                                        <option>2011</option>
                                        <option>2022</option>
                                        <option>6002</option>
                                        <option>6003</option>
                                        <option>6005</option>
                                        <option>6011</option>
                                        <option>6012</option>
                                        <option>6013</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">C-Flows Classification</label>
                                <div class="col-sm-7 inner-addon right-addon autosuggesions-add inline-block">
                                   
                                    <select class="w80" [(ngModel)]="currentGLAccount.glClassFlowClassificationId" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let classType of allGLCashFlowClassInfo" [ngValue]="classType.glClassFlowClassificationId">  {{classType.glClassFlowClassificationName}}</option>
                                    </select>
                                </div>
                             
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Account Code Description</label>
                                <div class="col-sm-7">
                                    <p>{{currentGLAccount.accountCode}}_{{currentGLAccount.accountDescription}}</p>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Share with Entities</label>
                                <div class="col-sm-7">
                                    <select class="w80" [(ngModel)]="currentGLAccount.legalEntityId" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let msData of companyList" [ngValue]="msData.legalEntityId">  {{msData.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">1099 Misc Category</label>
                                <div class="col-sm-7">
                                    <select class="w80" [(ngModel)]="currentGLAccount.glAccountMiscCategoryId" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let miscObj of miscData" [ngValue]="miscObj.glAccountMiscCategoryId">  {{miscObj.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class=" col-sm-12">
                                <label class="control-label col-sm-4">Created By</label>
                                <div class="col-sm-7">
                                    <input name="test10" class="form-control" type="text"  [(ngModel)]="currentGLAccount.glCreatedBy" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class=" col-sm-12">
                                <label class="control-label col-sm-4">Created Date</label>
                                <div class="col-sm-7">
                                    <input name="test11" class="form-control datepicker today hasDatepicker" type="text" id="dp1554284356275" [(ngModel)]="currentGLAccount.createdDate" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>-->
                        </div>
                        <div class="clear"></div>
                        <hr>
                        <button href="#" class="btn btn-success pull-right" (click)="addGLAccount()">Save</button>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
       
        <div class="clear"></div>
        <hr>
        <div class="pull-right"> © <span class="currentyear">2019</span> <a href="#">PAS</a> </div>
    </div>
</div>