﻿<div class="card">
    <div class="card-body">
        <div class="inline-block display-flex">
            <h3 class="po-head lead">Stock List</h3>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a matTooltip="Create Stockline"
               class="plusicon-cstm new-margin"
               [routerLink]="[
                '/stocklinemodule/stocklinepages/app-stock-line-setup'
              ]">
                <i class="fa fa-plus-circle fa-lg"></i>
            </a>
        </div>
        <p-table #dt
                 class="rpo-table-cstm rro-table-cstm"
                 [value]="data"
                 [first]="0"
                 [rows]="pageSize"
                 [paginator]="true"
                 [pageLinks]="3"
                 [rowsPerPageOptions]="[10, 20, 50, 100]"
                 [columns]="selectedColumns"
                 selectionMode="multiple"
                 [lazy]="true"
                 (onLazyLoad)="loadData($event)"
                 [resizableColumns]="true"
                 [reorderableColumns]="true"
                 [totalRecords]="totalRecords" [metaKeySelection]="true"
                 [scrollable]="true" scrollHeight="450px">
            <ng-template pTemplate="caption">
                <div style="text-align: right;margin-left:-6px !important; min-height: 30px;">
                    <p-multiSelect [maxSelectedLabels]="2"
                                   [options]="headers"
                                   optionLabel="header"
                                   [(ngModel)]="selectedColumns"
                                   [style]="{ minWidth: '220px' }"
                                   style="float:left"
                                   (onChange)="columnsChanges()"></p-multiSelect>

                    <div style=" left: -10px;"
                         class="inner-addon right-addon w50 inline-block  g-filter-search-cstm">
                        <i class="fa fa-search"></i>
                        <input type="text"
                               pInputText
                               size="50"
                               class="form-control ui-autocomplete-input"
                               (input)="globalSearch($event.target.value)"
                               placeholder="Filter" />
                    </div>
                    <button type="button"
                            class="btn btn-primary-cstm "
                            matTooltip="Download Data" matTooltipPosition="above"
                            pButton
                            icon="fa-download"
                            iconPos="left"
                            label="Export Data"
                            style="left:-10px;padding: 5px 12px !important;"
                            (click)="dt.exportCSV()"></button>
                    <button type="button"
                            class="btn btn-primary-cstm "
                            matTooltip="Download Selected Data" matTooltipPosition="above"
                            pButton
                            icon="fa-download"
                            iconPos="left"
                            label="Export Selected Data"
                            style="left:-10px;padding: 5px 12px !important;"
                            (click)="dt.exportCSV({ selectionOnly: true })"></button>

                    <div class="excel-upload  excel-upload-cstm">
                        <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                        <label for="upload">
                            <span matTooltip="Upload Data (Excel)" matTooltipPosition="above"><i class="fa fa-upload"></i></span>
                        </label>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" style="width:130px">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>

                    <th *ngFor="let col of columns"
                        pResizableColumn
                        pReorderableColumn
                        [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width:160px;position:sticky"
                        *ngIf="selectedColumns.length > 0">
                        Actions
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    </th>
                    <th style="width:160px;position:sticky"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" pReorderableRowHandle (click)="viewSelectedRow(rowData)" data-target="#view">
                    <td *ngFor="let col of columns"
                        class="ui-resizable-column"
                        pReorderableRowHandle
                        data-toggle="modal"
                        data-target="#view"
                        (dblclick)="viewSelectedRow(rowData)">
                        {{
                                          col.field == 'createdDate'
                                            ? (rowData[col.field] | date: 'MM/dd/yyyy')
                                            : rowData[col.field] && col.field == 'updatedDate'
                                            ? (rowData[col.field] | date: 'MM/dd/yyyy')
                                            : rowData[col.field]
                        }}
                    </td>
                    <td style="width:160px" *ngIf="selectedColumns.length > 0">

                        <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="changeStatus(rowData)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                        <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="changeStatus(rowData)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                        <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="changeStatus(rowData)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                        <span data-toggle="modal" data-target="#view"><a class="btn nobg btn-view-cstm" (click)="openView(view,rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span>
                        <span><a class="btn nobg btn-edit-cstm" (click)="openEdits(rowData)" matTooltip="Edit"><i class="fa fa-pencil"></i></a> </span>
                        <span><a class="btn nobg btn-stock-cstm" (click)="openAdjustment(rowData)" matTooltip="Stock Adjustment"><i class="fa fa-cubes"></i></a> </span>
                        <span><a class="btn nobg btn-pluspo-cstm" (click)="routeToPo()" matTooltip="Create PO"><i class="fa fa-plus"></i></a> </span>
                        <span><a class="btn nobg btn-plusro-cstm" (click)="routeToRo()" matTooltip="Create RO"><i class="fa fa-plus" style="color: #259e08;"></i></a> </span>

                        <!-- <span data-toggle="modal" data-target="#view">
                            <a class="btn btn-info boxed-float-btn nobg"
                               data-toggle="tooltip"
                               (click)="openView(view,rowData)"
                               data-target="#view"
                               matTooltip="View">
                                <i class="fa fa-eye"></i>
                            </a>
                        </span> -->
                        <!-- <button class="btn-edit"
                                mat-icon-button
                                (click)="openEdits(rowData)"
                                matTooltip="Edit">
                            <mat-icon>edit</mat-icon>
                        </button> -->
                        <!-- <button class="btn-exposure"
                                mat-icon-button matTooltip="stock Adjustment"
                                (click)="openAdjustment(rowData)">
                            <mat-icon>exposure</mat-icon>
                        </button> -->
                        <!-- <button class="btn-add_circle"
                                style="color:red" mat-icon-button matTooltip="Create PO"
                                (click)="routeToPo()">
                            <mat-icon>add_circle</mat-icon>
                        </button>

                        <button class="btn-add_circle"
                                style="color:forestgreen" mat-icon-button matTooltip="Create RO"
                                (click)="routeToRo()">
                            <mat-icon>add_circle</mat-icon>
                        </button> -->
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary" id="footer">
                <label id="footer" class="footer">No'of records:</label>
                <input style="width: 5%;"
                       [(ngModel)]="totalRecords"
                       [disabled]="true"
                       pInputText
                       type="text" />
                &nbsp;&nbsp;
                <label id="footer" class="footer1">Pages Count:</label>
                <input style="width: 5%;"
                       [(ngModel)]="totalPages"
                       [disabled]="true"
                       pInputText
                       type="text" />
            </ng-template>
        </p-table>
    </div>
</div>

<ng-template #view class="modal fade " id="view" role="dialog">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
            <h4 class="modal-title">Stock List Details</h4>
        </div>
        <div class="modal-body viewform">
            <div class="row">
                <div class="col-sm-4">
                    <p><span class="label"><b>Company: </b></span><span class="value">{{company}}</span></p>
                    <p><span class="label"><b>BU: </b></span><span class="value">{{businessUnitName}}</span></p>
                    <p><span class="label"><b>Division: </b></span><span class="value">{{division}}</span></p>
                    <p><span class="label"><b>Department: </b></span><span class="value">{{departmentName}}</span></p>
                    <p><span class="label"><b>PN: </b></span><span class="value">{{partNumber}}</span></p>
                    <p><span class="label"><b>PN Description: </b></span><span class="value">{{partDescription}}</span></p>
                    <p><span class="label"><b>Stock Line Num: </b></span><span class="value">{{stockLineNumber}}</span></p>
                    <p><span class="label"><b>Control Num: </b></span><span class="value">{{controlNumber}}</span></p>
                    <p><span class="label"><b>ID Num: </b></span><span class="value">{{idNumber}}</span></p>
                    <p><span class="label"><b>Is Serialized: </b></span><input type="checkbox" [disabled]="true" [checked]="isSerialized" /></p>
                    <p><span class="label"><b>Qty On Hand </b></span><span class="value">{{quantityOnHand}}</span></p>
                    <p><span class="label"><b>Quantity Available </b></span><span class="value">{{quantityAvailable}}</span></p>
                    <p><span class="label"><b>Condition: </b></span><span class="value">{{condition}}</span></p>
                    <p><span class="label"><b>Serial Num: </b></span><span class="value">{{serialNumber}}</span></p>
                    <!--<p><span class="label"><b>Shelf Life: </b></span><span class="value">{{shelfLife}}</span></p>-->
                    <p><span class="label"><b>Shelf Life Exp Date: </b></span><span class="value">{{shelfLifeExpirationDate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>Site: </b></span><span class="value">{{site}}</span></p>
                    <p><span class="label"><b>Warehouse: </b></span><span class="value">{{warehouse}}</span></p>
                    <p><span class="label"><b>Location: </b></span><span class="value">{{location}}</span></p>
                    <p><span class="label"><b>Shelf: </b></span><span class="value">{{shelf}}</span></p>
                    <p><span class="label"><b>Bin: </b></span><span class="value">{{bin}}</span></p>
                </div>

                <div class="col-sm-4">
                    <p><span class="label"><b>Obtain From: </b></span><span class="value">{{obtainFrom}}</span></p>
                    <p><span class="label"><b>Owner: </b></span><span class="value">{{owner}}</span></p>
                    <p><span class="label"><b>Tracable to: </b></span><span class="value">{{traceableTo}}</span></p>
                    <p><span class="label"><b>MFG: </b></span><span class="value">{{manufacturerId}}</span></p>
                    <p><span class="label"><b>MFG Lot Num: </b></span><span class="value">{{manufacturerLotNumber}}</span></p>
                    <p><span class="label"><b>MFG Date: </b></span><span class="value">{{manufacturingDate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>MFG Batch Num: </b></span><span class="value">{{manufacturingBatchNumber}}</span></p>
                    <p><span class="label"><b>Part Cert Num: </b></span><span class="value">{{partCertificationNumber}}</span></p>
                    <p><span class="label"><b>Certify By: </b></span><span class="value">{{certifiedBy}}</span></p>
                    <p><span class="label"><b>Cert Date: </b></span><span class="value">{{certifiedDate| date: 'dd-MM-yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>Tag Date: </b></span><span class="value">{{tagdate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>Tag Type: </b></span><span class="value">{{tagType}}</span></p>
                    <p><span class="label"><b>Cert Due Date: </b></span><span class="value">{{certifiedDueDate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>Calibration Notes: </b></span><span class="value">{{calibrationMemo}}</span></p>
                    <p><span class="label"><b>Order Date: </b></span><span class="value">{{orderDate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>PO Num: </b></span><span class="value">{{purchaseOrderNumber}}</span></p>
                    <p><span class="label"><b>PO Unit Cost: </b></span><span class="value">{{purchaseOrderUnitCost}}</span></p>
                    <p><span class="label"><b>RO Num: </b></span><span class="value">{{repairOrderNumber}}</span></p>
                    <p><span class="label"><b>RO Unit Cost: </b></span><span class="value">{{repairOrderUnitCost}}</span></p>
                </div>

                <div class="col-sm-4">
                    <p><span class="label"><b>Received Date: </b></span><span class="value">{{receivedDate | date: 'dd-MM-yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>Receiver Num: </b></span><span class="value">{{receiverNumber}}</span></p>
                    <p><span class="label"><b>Reconiliation Num: </b></span><span class="value">{{reconciliationNumber}}</span></p>
                    <p><span class="label"><b>Unit Sale Price: </b></span><span class="value">{{unitSalesPrice}}</span></p>
                    <p><span class="label"><b>Core Unit Cost: </b></span><span class="value">{{coreUnitCost}}</span></p>
                    <p><span class="label"><b>PMA: </b></span><input type="checkbox" [disabled]="true" [checked]="isPMA" /></p>
                    <p><span class="label"><b>DER: </b></span><input type="checkbox" [disabled]="true" [checked]="isDER" /></p>
                    <p><span class="label"><b>OEM: </b></span><input type="checkbox" [disabled]="true" [checked]="oem" /></p>
                    <p><span class="label"><b>Memo: </b></span><span class="value">{{memo}}</span></p>

                </div>
                <div class="col-sm-4">
                    <h5>Cycles</h5>
                    <p><span class="label"><b>Remaining: </b></span><span class="value">{{cyclesRemaining}}</span></p>
                    <p><span class="label"><b>Since New: </b></span><span class="value">{{cyclesSinceNew}}</span></p>
                    <p><span class="label"><b>Since Ovh: </b></span><span class="value">{{cyclesSinceOVH}}</span></p>
                    <p><span class="label"><b>Since Insp: </b></span><span class="value">{{cyclesSinceInspection}}</span></p>
                    <p><span class="label"><b>Since Repair: </b></span><span class="value">{{cyclesSinceRepair}}</span></p>
                </div>

                <div class="col-sm-4">
                    <h5>Time</h5>
                    <p><span class="label"><b>Remaining: </b></span><span class="value">{{timeRemaining}}</span></p>
                    <p><span class="label"><b>Since New: </b></span><span class="value">{{timeSinceNew}}</span></p>
                    <p><span class="label"><b>Since Ovh: </b></span><span class="value">{{timeSinceOVH}}</span></p>
                    <p><span class="label"><b>Since Insp: </b></span><span class="value">{{timeSinceInspection}}</span></p>
                    <p><span class="label"><b>Since Repair: </b></span><span class="value">{{timeSinceRepair}}</span></p>
                </div>

                <div class="col-sm-4">
                    <h5>Last</h5>
                    <p><span class="label"><b>Since New: </b></span><span class="value">{{lastSinceNew}}</span></p>
                    <p><span class="label"><b>Since Ovh: </b></span><span class="value">{{lastSinceOVH}}</span></p>
                    <p><span class="label"><b>Since Insp: </b></span><span class="value">{{lastSinceInspection}}</span></p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
        </div>
    </div>

</ng-template>
