



<!-- <div  >

    <grd-material  [isWorkOrder]="isWorkOrder" [workFlowObject]="workFlowObject" (saveMaterialList)="saveMaterialListForWO.emit($event)" ></grd-material>
</div> -->


<div>
    <button *ngIf="!addNewMaterial" class="btn btn-primary btn-primary-cstm"  (click)="addNew(); " style="padding: 6px 12px !important;">Add New Material</button>
    <button *ngIf="addNewMaterial" class="btn btn-primary btn-primary-cstm"  (click)="closeAddNew()" style="padding: 6px 12px !important;">Close Add New  Material</button>
    <button class="btn btn-primary btn-primary-cstm"  style="padding: 6px 12px !important;" (click)="getReservedData()" data-toggle="modal" data-target="#reserve" >Reserve Stock</button>

</div>

<div *ngIf="addNewMaterial" class="fixed-table-container-inner table-responsive cat4-table fixed-column-table column-r1-fixed">
        <div>
            <span class="cat-heading cat4">
                Add New Material List<i (click)="addRow()" class="fa fa-plus"></i>
                <span class="float-right">
                    Deferred &nbsp;<input type="checkbox" (click)="isDeferredEnable($event)" />
                </span>
            </span>
            
        </div>
       
        <table class="table table-bordered table-fixed workflow-table-material">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>PN *</th>
                    <th>Description *</th>
                    <th>Cond *</th>
                    <th>Mandatory / Supplemental *</th>
                    <th>Item Classification</th>
                    <th>QTY *</th>
                    <th>UOM *</th>
                    <th>Unit Cost *</th>
                    <th>Extended Cost *</th>
                    <th>Unit Price *</th>
                    <th>Extended Price</th>
                    <th>Memo</th>
                    <th>Deferred</th>
                    <th>Action</th>
                </tr>
            </thead>       
            <tbody>
                <tr class="material-tr" [hidden]="material.isDelete" *ngFor="let material of workFlow.materialList;let i = index">
                    <td>{{(currentPage - 1) * itemsPerPage + i + 1}}</td>
                    <td>
                        <p-autoComplete (onSelect)="onPartSelect($event, material)" [suggestions]="partCollection" (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="material.partNumber"
                                        [minLength]="1" [dropdown]="true" class="workflow-measurement-select">
                            <ng-template let-partName pTemplate="part">
                                <div class="ui-helper-clearfix">{{partName}}</div>
                            </ng-template>
                        </p-autoComplete>
                    </td>
                    <td>
                        <input rows="1" value="{{material.partDescription}}" [disabled]="true" [(ngModel)]="material.partDescription">
                    </td>
                    <td>
                        <select class="form-control custom-select wf-pub-id" id="ddlMaterialCondition" [(ngModel)]="material.conditionCodeId">
                            <option value="">Select</option>
                            <option *ngFor="let condition of materialCondition" value="{{condition.conditionId}}">
                                {{condition.description}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control custom-select wf-pub-id" id="ddlMandatoryOrSupplemental" [(ngModel)]="material.mandatoryOrSupplemental" style="margin:auto;">
                            <option value="">Select</option>
                            <option *ngFor="let mandatory of materialMandatory" value="{{mandatory.name}}">
                                {{mandatory.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control custom-select dropdown-select wf-pub-id" [(ngModel)]="material.itemClassificationId" [disabled]="true">
                            <option *ngFor="let item of itemClassInfo" value="{{item.itemClassificationId}}">
                                {{item.description}}
                            </option>
                        </select>
                    </td>
                    <td style="width: 200px">
                        <input type="text" maxlength="10" pInputText pKeyFilter="pnum" class="form-control" value="{{material.quantity}}"  (input)="validateQuantity($event, material);calculateQtySummation();calculateExtendedCost(material);calculateExtendedPrice(material);" [(ngModel)]="material.quantity" />
                    </td>
                    <td>
                        <select class="form-control custom-select wf-pub-id" id="ddlMaterialUOM" [(ngModel)]="material.unitOfMeasureId">
                            <option value="">Select</option>
                            <option *ngFor="let uom of materialUOM" value="{{uom.unitOfMeasureId}}">
                                {{uom.shortName}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" pInputText pKeyFilter="money" value="{{material.unitCost}}" (input)="calculateExtendedCost(material)" [(ngModel)]="material.unitCost" />
                    </td>
                    <td>
                        <input type="text" class="form-control" pInputText pKeyFilter="money" [disabled]="true" value="{{material.extendedCost}}" [(ngModel)]="material.extendedCost" />
                    </td>
                    <td>
                        <input type="text" class="form-control" pInputText pKeyFilter="money" value="{{material.price}}" [(ngModel)]="material.price" (input)="calculatePriceSummation();calculateExtendedPrice(material);" />
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled pInputText pKeyFilter="money" value="{{material.extendedPrice}}" [(ngModel)]="material.extendedPrice" />
                    </td>
                    <td>
                        <textarea style="height: 25px;margin-top: 5px;min-width: 130px !important;" class="form-control" [(ngModel)]="material.memo" value="{{material.memo}}"></textarea>
                    </td>
                    <td style="width:30px;">
                        <div class="custom-checkbox-box">
                            <input class="filled-in" id="PMS" type="checkbox" value="{{material.isDeferred}}" [(ngModel)]="material.isDeferred">
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger nobg" (click)="deleteRow(i)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="workFlow.materialList.length > 0" >
                <tr>
                    <td>
                        Total
                    </td>
                    <td> &nbsp;</td>
    
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> {{workFlow.materialQtySummation}}</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td>{{workFlow.materialExtendedCostSummation}}</td>
                    <td>{{workFlow.totalMaterialCost}}</td>
                    <td>{{workFlow.materialExtendedPriceSummation}}</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                    <td> &nbsp;</td>
                </tr>
            </tfoot>
    
    
            
        </table>
    

        <div style="float:right"> 

                <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary-cstm"  (click)="saveMaterialListForWorkOrder()" style="padding: 6px 12px !important;">Save</button>
        </div>
    
</div>
    
<div class="equipment-tab-content">
        <div class="x_panel">
            <div class="tab-content">
                <div class="table-responsive table-overflow" id="workflow-attributes-block">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>

                                <th class="text-center">Part Number </th>
                                <th class="text-center">Part Description</th>
                                <th class="text-center">Alternate PN</th>
                                <th class="text-center">SerialNumber</th>
                                <th class="text-center">Provision</th>
                                <th class="text-center">OEM</th>
                                <th class="text-center">Control</th>
                                <th class="text-center">Condition</th>
                                <th class="text-center">Item Type</th>
                                <th class="text-center">Qunatity Requried</th>
                                <th class="text-center">Qunatity Reserved</th>
                                <th class="text-center">Qunatity TurnIn</th>
                                <th class="text-center">Qunatity Issued</th>
                                <th class="text-center">Qunatity BackOrder</th>
                                <th class="text-center">Qunatity Remaining</th>
                                <th class="text-center">Unit Cost</th>
                                <th class="text-center">Extended Cost</th>
                                <th class="text-center">Currency</th>
                                <th class="text-center">Purchase OrderNumber</th>
                                <th class="text-center">Repair OrderNumber</th>
                                <th class="text-center">Part Quantity OnHand</th>
                                <th class="text-center">Part Quantity Available</th>
                                <th class="text-center">Part Quantity OnOrder</th>
                                <th class="text-center">WorkOrder Number</th>
                                <th class="text-center">Sub WorkOrder</th>
                                <th class="text-center">SalesOrder</th>
                                <th class="text-center">Condition</th>
                                <th class="text-center">TimeLife</th>
                                <th class="text-center">Ware House</th>
                                <th class="text-center">Location</th>
                                <th class="text-center">Shelf</th>
                                <th class="text-center">Bin</th>

                            </tr>
                        </thead>
                     
                        <tbody>
                            <tr *ngFor="let m  of workOrderMaterialList; let i=index;">
                                <td>{{m.partNumber}}</td>
                                <td>{{m.partDescription}}</td>
                                <td>{{m.altPartNumber}}</td>
                                <td>{{m.serialNumber}}</td>
                                <td>{{m.provision}}</td>
                                <td>{{m.oem}}</td>
                                <td>{{m.control}}</td>
                                <td>{{m.condition}}</td>
                                <td>{{m.itemType}}</td>
                                <td>{{m.qunatityRequried}}</td>
                                <td>{{m.qunatityReserved}}</td>
                                <td>{{m.qunatityTurnIn}}</td>
                                <td>{{m.qunatityIssued}}</td>
                                <td>{{m.qunatityBackOrder}}</td>
                                <td>{{m.qunatityRemaining}}</td>
                                <td>{{m.unitCost}}</td>
                                <td>{{m.extendedCost}}</td>
                                <td>{{m.currency}}</td>
                                <td>{{m.purchaseOrderNumber}}</td>
                                <td>{{m.repairOrderNumber}}</td>
                                <td>{{m.partQuantityOnHand}}</td>
                                <td>{{m.partQuantityAvailable}}</td>
                                <td>{{m.partQuantityOnOrder}}</td>
                                <td>{{m.receiver}}</td>
                                <td>{{m.workOrderNumber}}</td>
                                <td>{{m.subWorkOrder}}</td>
                                <td>{{m.salesOrder}}</td>
                                <td>{{m.timeLife}}</td>
                                <td>{{m.wareHouse}}</td>
                                <td>{{m.location}}</td>
                                <td>{{m.shelf}}</td>
                                <td>{{m.bin}}</td>
                           
                            </tr>
                             
                                <!-- <td>
                                    <span data-toggle="modal" data-target="#delete">
                                        <a class="btn btn-success boxed-float-btn nobg" data-toggle="tooltip"
                                            title="Delete Material"><i class="fa fa-trash"></i></a>
                                    </span>
                                </td> -->
                            <!-- <div class="text-right">
                                    <button class="btn btn-primary" (click)="saveAssets()" >
                                            save Assets
                                        </button>
                            </div> -->
    
                            <!-- <div *ngIf="workOrderAssetList" class="text-right save-work-btn" >
                                    <button class="btn btn-primary btn-primary-cstm"  style="padding: 6px 12px !important;">Save Assets</button>
                                </div> -->
     
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
            <br />
            <br />
            <br />
            <br />
        </div>
</div>



<div id="reserve" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Reserved Parts</h4>
            </div>
            <div class="modal-body" *ngIf="reservedList">
        
                                    <div class="table-responsive" id="workflow-attributes-block">
                                        <table class="table table-bordered ">
                                            <thead>
                                                <!-- <tr>
                                                </tr> -->
                                                <!-- <tr>
                                                    <th colspan="4" class="text-center"></th>
                                                    <th colspan="4" class="text-center">TOLERANCE</th>
                     
                                                </tr> -->
                                                <tr>
                                                    <th class="text-center">PN </th>
                                                    <th class="text-center">Description</th>
                                                    <th class="text-center">Qty Requried</th>
                                                    <th class="text-center">Qty Reserved</th>
                                                    <th class="text-center">Qty Turn IN </th>
                                                    <th class="text-center">Qty Issued</th>
                                                    <th class="text-center">Reserved By</th>
                                                    <th class="text-center">Reserved Date</th>
                                                    <th class="text-center">Issued By</th>
                                                    <th class="text-center">Issed Date</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let x of reservedList; let i=index;">
                                                    <td>{{x.partNumber}}</td>
                                                    <td>{{x.partDescription}}</td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantity">
                                                    </td>
                                                    <td>
                                                            <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantityReserved">
                                                        </td>
                                                    <td>
                                                            <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantityTurnIn">
                                                      
                                                    </td>
                                                    <td>
                                                            <input type="number" name="quantity{{i}}" [(ngModel)]="x.qunatityIssued">
                                                      
                                                    </td>
                                                    <td>
                                                      {{x.reservedBy}}
                                                    </td>
                                                    <td>
                                                      {{x.reservedDate}}
                                                    </td>
                                                    <td>
                                                    {{x.issuedBy}}
                                                    </td>
                                                    <td>
                                                     {{x.issuedDate}}
                                                    </td>
                                                </tr>
      
                                             <button  class="btn btn-primary btn-primary-cstm"  (click)="saveReserved()" style="padding: 6px 12px !important;">Save Reserved</button>
                                                
                         
                                            </tbody>
                                        </table>

                                        
      
                                    </div>
                                </div>

   
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>


