
<div class="equipment-tab-content">
        <div class="x_panel">
            <div class="tab-content">
                <div class="table-responsive table-overflow" id="workflow-attributes-block">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>

                                <th class="text-center">Part Number </th>
                                <th class="text-center">Part Description</th>
                                <th class="text-center">Alternate PN</th>
                                <th class="text-center">SerialNumber</th>
                                <th class="text-center">Provision</th>
                                <th class="text-center">OEM</th>
                                <th class="text-center">Control</th>
                                <th class="text-center">Condition</th>
                                <th class="text-center">Item Type</th>
                                <th class="text-center">Qunatity Requried</th>
                                <th class="text-center">Qunatity Reserved</th>
                                <th class="text-center">Qunatity TurnIn</th>
                                <th class="text-center">Qunatity Issued</th>
                                <th class="text-center">Qunatity BackOrder</th>
                                <th class="text-center">Qunatity Remaining</th>
                                <th class="text-center">Unit Cost</th>
                                <th class="text-center">Extended Cost</th>
                                <th class="text-center">Currency</th>
                                <th class="text-center">Purchase OrderNumber</th>
                                <th class="text-center">Repair OrderNumber</th>
                                <th class="text-center">Part Quantity OnHand</th>
                                <th class="text-center">Part Quantity Available</th>
                                <th class="text-center">Part Quantity OnOrder</th>
                                <th class="text-center">WorkOrder Number</th>
                                <th class="text-center">Sub WorkOrder</th>
                                <th class="text-center">SalesOrder</th>
                                <th class="text-center">Condition</th>
                                <th class="text-center">TimeLife</th>
                                <th class="text-center">Ware House</th>
                                <th class="text-center">Location</th>
                                <th class="text-center">Shelf</th>
                                <th class="text-center">Bin</th>

                            </tr>
                        </thead>
                     
                        <tbody>
                            <tr *ngFor="let m  of workOrderMaterialList; let i=index;">
                                <td>{{m.partNumber}}</td>
                                <td>{{m.partDescription}}</td>
                                <td>{{m.altPartNumber}}</td>
                                <td>{{m.serialNumber}}</td>
                                <td>{{m.provision}}</td>
                                <td>{{m.oem}}</td>
                                <td>{{m.control}}</td>
                                <td>{{m.condition}}</td>
                                <td>{{m.itemType}}</td>
                                <td>{{m.qunatityRequried}}</td>
                                <td>{{m.qunatityReserved}}</td>
                                <td>{{m.qunatityTurnIn}}</td>
                                <td>{{m.qunatityIssued}}</td>
                                <td>{{m.qunatityBackOrder}}</td>
                                <td>{{m.qunatityRemaining}}</td>
                                <td>{{m.unitCost}}</td>
                                <td>{{m.extendedCost}}</td>
                                <td>{{m.currency}}</td>
                                <td>{{m.purchaseOrderNumber}}</td>
                                <td>{{m.repairOrderNumber}}</td>
                                <td>{{m.partQuantityOnHand}}</td>
                                <td>{{m.partQuantityAvailable}}</td>
                                <td>{{m.partQuantityOnOrder}}</td>
                                <td>{{m.receiver}}</td>
                                <td>{{m.workOrderNumber}}</td>
                                <td>{{m.subWorkOrder}}</td>
                                <td>{{m.salesOrder}}</td>
                                <td>{{m.timeLife}}</td>
                                <td>{{m.wareHouse}}</td>
                                <td>{{m.location}}</td>
                                <td>{{m.shelf}}</td>
                                <td>{{m.bin}}</td>
                           
                            </tr>
                             
                                <!-- <td>
                                    <span data-toggle="modal" data-target="#delete">
                                        <a class="btn btn-success boxed-float-btn nobg" data-toggle="tooltip"
                                            title="Delete Material"><i class="fa fa-trash"></i></a>
                                    </span>
                                </td> -->
                            <!-- <div class="text-right">
                                    <button class="btn btn-primary" (click)="saveAssets()" >
                                            save Assets
                                        </button>
                            </div> -->
    
                            <!-- <div *ngIf="workOrderAssetList" class="text-right save-work-btn" >
                                    <button class="btn btn-primary btn-primary-cstm"  style="padding: 6px 12px !important;">Save Assets</button>
                                </div> -->
     
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>





<!-- <div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="col-md-12">
            <div class="x_panel" style="">
                <div class="x_content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a routerLink="/">WO Setup</a></li>
                            <li class="breadcrumb-item active" aria-current="page">WO Complete Material List</li>
                        </ol>
                    </nav>
                    <div class="pheading">
                        <h4 class="page-heading clr-green">WO Setup - Complete Material List</h4>
                    </div>
                    <div class="cdetails-top">
                        <div class="col-sm-12">
                            <label>Company</label>
                            <span>Silverxis</span>
                        </div>
                        <div class="col-sm-12">
                            <label>BU</label>
                            <span>Adso</span>
                        </div>
                        <div class="col-sm-12">
                            <label>Division</label>
                            <span>Development</span>
                        </div>
                        <div class="col-sm-12">
                            <label>Dept</label>
                            <span>Java</span>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12 po-ro-setup">
            <div class="x_panel">
                <div class="tab-content">

                    <div class="table-responsive default-bg clear ro-grid-table">

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Line #</th>
                                    <th>Stock Line</th>
                                    <th>PN</th>
                                    <th>PN Des.</th>
                                    <th>Alternate</th>
                                    <th>SN</th>
                                    <th>OEM/PMA/DER</th>
                                    <th>Control #</th>
                                    <th>Control ID</th>
                                    <th>Cond</th>
                                    <th>Item Type</th>
                                    <th>Qty Required</th>
                                    <th>QTY Reserved</th>
                                    <th>Qty Turn In</th>
                                    <th>Qty Issued</th>
                                    <th>Unit Cost</th>
                                    <th>Extended Cost</th>
                                    <th>Cur</th>
                                    <th>RO #</th>
                                    <th>PO #</th>
                                    <th>Receiver #</th>
                                    <th>WO #</th>
                                    <th>Sub-WO #</th>
                                    <th>Memo</th>
                                    <th>Employee</th>
                                    <th>Time Life</th>
                                    <th>Warehouse</th>
                                    <th colspan="2">Location</th>
                                    <th class="w150"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="parent-data">
                                    <td>MC</td>
                                    <td>SL-12378</td>
                                    <td>123455</td>
                                    <td>Actuator</td>
                                    <td>S-1002456</td>
                                    <td>4978</td>
                                    <td>OEM</td>
                                    <td>4537</td>
                                    <td>12</td>
                                    <td>AR</td>
                                    <td>CS</td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td> - </td>
                                    <td> $12.00 </td>
                                    <td> $12.00 </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2"></td>
                                    <td>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                        </span>
                                        <a data-toggle="tooltip" title="Edit" class="btn btn-primary boxed-float-btn nobg"><i class="fa fa-edit"></i></a>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="History"><i class="fa fa-history"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Reserve"><i class="fa fa-check"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Issued"><i class="fa fa-check"></i></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="parent2-data">
                                    <td>1</td>
                                    <td></td>
                                    <td>34455</td>
                                    <td>Bushings</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>5</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2"></td>
                                    <td>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                        </span>
                                        <a data-toggle="tooltip" title="Edit" class="btn btn-primary boxed-float-btn nobg"><i class="fa fa-edit"></i></a>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="History"><i class="fa fa-history"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Reserve"><i class="fa fa-check"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Issued"><i class="fa fa-check"></i></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="child-header">
                                    <th></th>
                                    <th>Stock Line</th>
                                    <th>PN</th>
                                    <th>PN Des.</th>
                                    <th>Alternate</th>
                                    <th>Provision</th>
                                    <th>OEM/PMA/DER</th>
                                    <th>SN</th>
                                    <th>Control #</th>
                                    <th>Control ID</th>
                                    <th>Cond</th>
                                    <th>Item Type</th>
                                    <th>Qty Required</th>
                                    <th>Qty Reserved</th>
                                    <th>Qty Turn In</th>
                                    <th>Qty Issued</th>
                                    <th>QTY Back Order</th>
                                    <th>Unit Cost</th>
                                    <th>Extended Cost</th>
                                    <th> Cur</th>
                                    <th>PO #</th>
                                    <th>RO #</th>
                                    <th>Receiver #</th>
                                    <th>WO #</th>
                                    <th>Sub-WO #</th>
                                    <th>SO #</th>
                                    <th>Time Life</th>
                                    <th>Warehouse</th>
                                    <th>Location</th>
                                    <th></th>
                                </tr>
                                <tr class="child-data">
                                    <td>2</td>
                                    <td>SL-12378</td>
                                    <td>123455</td>
                                    <td>Bearing</td>
                                    <td></td>
                                    <td></td>
                                    <td>OEM</td>
                                    <td></td>
                                    <td>4537</td>
                                    <td>12</td>
                                    <td>New</td>
                                    <td>S</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td></td>
                                    <td>4</td>
                                    <td>1</td>
                                    <td> $25.00 </td>
                                    <td> $100.00 </td>
                                    <td></td>
                                    <td>2345</td>
                                    <td></td>
                                    <td>345676</td>
                                    <td></td>
                                    <td>724-1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                        </span>
                                        <a data-toggle="tooltip" title="Edit" class="btn btn-primary boxed-float-btn nobg"><i class="fa fa-edit"></i></a>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="History"><i class="fa fa-history"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Reserve"><i class="fa fa-check"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Issued"><i class="fa fa-check"></i></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="child-data">
                                    <td>3</td>
                                    <td></td>
                                    <td>9486547</td>
                                    <td>Link</td>
                                    <td>PMA1260</td>
                                    <td></td>
                                    <td>PMA</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>3</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                        </span>
                                        <a data-toggle="tooltip" title="Edit" class="btn btn-primary boxed-float-btn nobg"><i class="fa fa-edit"></i></a>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="History"><i class="fa fa-history"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Reserve"><i class="fa fa-check"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Issued"><i class="fa fa-check"></i></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="child-data">
                                    <td>4</td>
                                    <td></td>
                                    <td>65657</td>
                                    <td>Oring</td>
                                    <td>Able-65657</td>
                                    <td></td>
                                    <td>PMA</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>5</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                        </span>
                                        <a data-toggle="tooltip" title="Edit" class="btn btn-primary boxed-float-btn nobg"><i class="fa fa-edit"></i></a>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="History"><i class="fa fa-history"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Reserve"><i class="fa fa-check"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Issued"><i class="fa fa-check"></i></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="child-data">
                                    <td>5</td>
                                    <td></td>
                                    <td>76986</td>
                                    <td>Shaft</td>
                                    <td>76986-5</td>
                                    <td></td>
                                    <td>DER</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>7</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                        </span>
                                        <a data-toggle="tooltip" title="Edit" class="btn btn-primary boxed-float-btn nobg"><i class="fa fa-edit"></i></a>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="History"><i class="fa fa-history"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Reserve"><i class="fa fa-check"></i></a>
                                        </span>
                                        <span data-toggle="modal" data-target="#">
                                            <a class="btn btn-success nobg" data-toggle="tooltip" title="Issued"><i class="fa fa-check"></i></a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <a routerLink="/app-work-order-reserve-issue" class="btn btn-info pull-right">Reserve PN's</a>
                </div>
                <div class="clear"></div>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>

</div> -->