



<!-- <div  >

   
</div> -->


    <div>
        <button  data-target="#addNewMaterials" data-toggle="modal" class="btn btn-primary btn-primary-cstm" (click)="createNew(); " style="padding: 6px 12px !important;">Add New Material</button>
        <!-- <button *ngIf="addNewMaterial" data-toggle="modal" data-toggle="modal" class="btn btn-primary btn-primary-cstm" (click)="closeAddNew()" style="padding: 6px 12px !important;">Close Add New  Material</button> -->


        <!--<button *ngIf="(materialStatus === null || materialStatus === 4)" class="btn btn-primary btn-primary-cstm"  style="padding: 6px 12px !important;" (click)="partsIssueRI(1)" data-toggle="modal" data-target="#reserve" >Reserve Stock</button>
    <button  *ngIf="materialStatus === 1" class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important" (click)="partsIssueRI(2)" data-toggle="modal" data-target="#reserve" > Issue </button>
    <button *ngIf="(materialStatus === null  || materialStatus === 4)" class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important" (click)="partsIssueRI(3)" data-toggle="modal" data-target="#reserve" > Reserve & Issue </button>
    <button *ngIf="(materialStatus === 1 || materialStatus === 5)" class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important" (click)="partsIssueRI(4)" data-toggle="modal" data-target="#reserve" > Unreserve </button>
    <button *ngIf="materialStatus === 2" class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important" (click)="partsIssueRI(5)" data-toggle="modal" data-target="#reserve" > UnIssue </button>-->

        <button class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important;" (click)="partsIssueRI(1)" data-toggle="modal" data-target="#reserve">Reserve </button>
        <button class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important" (click)="partsIssueRI(2)" data-toggle="modal" data-target="#reserve"> Issue </button>
        <button class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important" (click)="partsIssueRI(3)" data-toggle="modal" data-target="#reserve"> Reserve & Issue </button>
        <button class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important" (click)="partsIssueRI(4)" data-toggle="modal" data-target="#reserve"> UnIssue </button>
        <button class="btn btn-primary btn-primary-cstm" style="padding: 6px 12px !important" (click)="partsIssueRI(5)" data-toggle="modal" data-target="#reserve"> UnReserve </button>
        

    </div>



    <div id="addNewMaterials" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Material</h4>
            </div>
            <div class="modal-body">
                <grd-material  *ngIf="!isEdit" 
                [isWorkOrder]="isWorkOrder" 
                [workFlow]="workFlowObject" 
                (saveMaterialListForWO)="saveMaterialList($event)" ></grd-material>
            
              <grd-material *ngIf="isEdit && editData"
                [isEdit]="isEdit"
                [editData]="editData"
                [isWorkOrder]="isWorkOrder" 
                [workFlow]="workFlowObject" 
                (updateMaterialListForWO)="updateMaterialList($event)" >
            </grd-material> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>




    
<div class="equipment-tab-content">
        <div class="x_panel">
            <div class="tab-content">
                <div class="table-responsive table-overflow" id="workflow-attributes-block">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>

                                <th class="text-center">Part Number </th>
                                <th class="text-center">Part Description</th>
                                <th class="text-center">Alternate PN</th>
                                <th class="text-center">SerialNumber</th>
                                <th class="text-center">Provision</th>
                                <th class="text-center">OEM</th>
                                <th class="text-center">Control</th>
                                <th class="text-center">Condition</th>
                                <th class="text-center">Item Type</th>
                                <th class="text-center">Qunatity Requried</th>
                                <th class="text-center">Qunatity Reserved</th>
                                <th class="text-center">Qunatity TurnIn</th>
                                <th class="text-center">Qunatity Issued</th>
                                <th class="text-center">Qunatity BackOrder</th>
                                <th class="text-center">Qunatity Remaining</th>
                                <th class="text-center">Unit Cost</th>
                                <th class="text-center">Extended Cost</th>
                                <th class="text-center">Currency</th>
                                <th class="text-center">Purchase OrderNumber</th>
                                <th class="text-center">Repair OrderNumber</th>
                                <th class="text-center">Part Quantity OnHand</th>
                                <th class="text-center">Part Quantity Available</th>
                                <th class="text-center">Part Quantity OnOrder</th>
                                <th class="text-center">WorkOrder Number</th>
                                <th class="text-center">Sub WorkOrder</th>
                                <th class="text-center">SalesOrder</th>
                                <th class="text-center">Condition</th>
                                <th class="text-center">TimeLife</th>
                                <th class="text-center">Ware House</th>
                                <th class="text-center">Location</th>
                                <th class="text-center">Shelf</th>
                                <th class="text-center">Bin</th>
                                <th colspan="4" class="text-center"></th>

                            </tr>
                        </thead>
                     
                        <tbody>
                            <tr *ngFor="let m  of workOrderMaterialList; let i=index;">
                                <td>{{m.partNumber}}</td>
                                <td>{{m.partDescription}}</td>
                                <td>{{m.altPartNumber}}</td>
                                <td>{{m.serialNumber}}</td>
                                <td>{{m.provision}}</td>
                                <td>{{m.oem}}</td>
                                <td>{{m.control}}</td>
                                <td>{{m.condition}}</td>
                                <td>{{m.itemType}}</td>
                                <td>{{m.qunatityRequried}}</td>
                                <td>{{m.quantityReserved}}</td>
                                <td>{{m.quantityTurnIn}}</td>
                                <td>{{m.quantityIssued}}</td>
                                <td>{{m.quantityBackOrder}}</td>
                                <td>{{m.qunatityRemaining}}</td>
                                <td>{{m.unitCost}}</td>
                                <td>{{m.extendedCost}}</td>
                                <td>{{m.currency}}</td>
                                <td>{{m.purchaseOrderNumber}}</td>
                                <td>{{m.repairOrderNumber}}</td>
                                <td>{{m.partQuantityOnHand}}</td>
                                <td>{{m.partQuantityAvailable}}</td>
                                <td>{{m.partQuantityOnOrder}}</td>
                                <td>{{m.receiver}}</td>
                                <td>{{m.workOrderNumber}}</td>
                                <td>{{m.subWorkOrder}}</td>
                                <td>{{m.salesOrder}}</td>
                                <td>{{m.timeLife}}</td>
                                <td>{{m.wareHouse}}</td>
                                <td>{{m.location}}</td>
                                <td>{{m.shelf}}</td>
                                <td>{{m.bin}}</td>
                                <td>
                                    <button
                                      class="btn-edit ptable-wo-btns"
                                      mat-icon-button
                                      data-target="#addNewMaterials" 
                                      data-toggle="modal"
                                      (click)="edit(m)"
                                      matTooltip="Edit"
                                    >
                                      <mat-icon>edit</mat-icon>
                                    </button>
                                  </td>
                                  <td>
                                    <button
                                      class="btn-delete ptable-wo-btns"
                                      mat-icon-button
                                      matTooltip="Delete"
                                      (click)="delete(m)"
                                    >
                                      <mat-icon color="warn">delete</mat-icon>
                                    </button>
                                  </td>
                           
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
            <br />
            <br />
            <br />
            <br />
        </div>
</div>



<div id="reserve" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Reserved Parts</h4>
            </div>
            <div class="modal-body" *ngIf="reservedList">
        
                                    <div class="table-responsive" id="workflow-attributes-block">
                                        <table class="table table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"></th>
                                                    <th colspan="8" class="text-center"> Materials</th>
                                                    <th colspan="4" class="text-center"> StockLine</th>
                                                    <th  class="text-center" colspan="3"></th>
                                                    <th class="text-center" colspan="3"></th>

                                                </tr>
                                                <tr>
                                                    <th class="text-center">
                                                        Alternate Parts
                                                    </th>
                                                    <th class="text-center">PN </th>
                                                    <th class="text-center">Description</th>

                                                    <th class="text-center">Qty Requried</th>
                                                    <th class="text-center">Qty Already Reserved</th>
                                                    <th class="text-center">Qty Reserved</th>
                                                    <th class="text-center">Qty Turn IN </th>
                                                    <th class="text-center">Qty Already Issued</th>
                                                    <th class="text-center">Qty Issued</th>
                                                    <th class="text-center"> Qty ON Hand </th>
                                                    <th class="text-center"> Qty ON Available </th>
                                                    <th class="text-center"> Qty ON  ORDER  </th>
                                                    <th class="text-center">Reserved By</th>
                                                    <th class="text-center">Reserved Date</th>
                                                    <th class="text-center">Issued By</th>
                                                    <th class="text-center">Issed Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let x of reservedList; let i=index;">

                                                    <td>
                                                        <input type="checkbox" name="isParentChecked{{i}}" (ngModelChange)="showAlternateParts($event , x.woReservedIssuedAltParts)" [(ngModel)]="x.isParentChecked">
                                                    </td>


                                                    <td>{{x.partNumber}}</td>
                                                    <td>{{x.partDescription}}</td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantity">
                                                    </td>
                                                    <td>
                                                        {{x.quantityAlreadyReserved}}
                                                    </td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantityReserved">
                                                    </td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantityTurnIn">

                                                    </td>
                                                    <td>
                                                        {{x.quantityAlreadyIssued}}
                                                    </td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantityIssued">
                                                    </td>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td>
                                                        {{x.reservedBy}}
                                                    </td>
                                                    <td>
                                                        {{x.reservedDate | date:'MM-dd-yyyy'}}
                                                    </td>
                                                    <td>
                                                        {{x.issuedBy}}
                                                    </td>
                                                    <td>
                                                        {{x.issuedDate | date:'MM-dd-yyyy'}}
                                                    </td>

                                                </tr>

                                            
                                                <tr [hidden]="alternatePartData.length === 0">

                                                    <th class="text-center">

                                                    </th>
                                                    <th class="text-center">PN </th>
                                                    <th class="text-center">Description</th>
                                                    <th class="text-center">Qty Requried</th>
                                                    <th class="text-center">Qty Already Reserved</th>
                                                    <th class="text-center">Qty Reserved</th>
                                                    <th class="text-center">Qty Turn IN </th>
                                                    <th class="text-center">Qty Already Issued</th>
                                                    <th class="text-center">Qty Issued</th>

                                                    <th class="text-center"> Qty ON Hand </th>
                                                    <th class="text-center"> Qty ON Available </th>
                                                    <th class="text-center"> Qty ON  ORDER  </th>




                                                    <th class="text-center">Reserved By</th>
                                                    <th class="text-center">Reserved Date</th>
                                                    <th class="text-center">Issued By</th>
                                                    <th class="text-center">Issed Date</th>


                                                </tr>
                                             
                                                <tr *ngFor="let x of alternatePartData; ">

                                                    <td>
                                                        <input type="checkbox" [(ngModel)]="x.isChildChecked" name="isChildChecked{{i}}">
                                                    </td>
                                                    <td>{{x.altPartNumber}}</td>
                                                    <td>{{x.altPartDescription}}</td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantity">
                                                    </td>
                                                    <td>{{x.quantityAlreadyReserved}}</td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantityReserved">
                                                    </td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantityTurnIn">

                                                    </td>
                                                    <td>{{x.quantityAlreadyReserved}}</td>
                                                    <td>
                                                        <input type="number" name="quantity{{i}}" [(ngModel)]="x.quantityIssued">

                                                    </td>

                                                    <td>
                                                        {{x.quantityOnHand}}
                                                        <!-- <input type="number" name="alterHand{{i}}" [(ngModel)]="x.quantityOnHand"> -->
                                                    </td>
                                                    <td>
                                                        {{x.quantityAvailable}}
                                                        <!-- <input type="number" name="alterAvailable{{i}}" [(ngModel)]="x.quantityAvailable"> -->
                                                    </td>
                                                    <td>
                                                        {{x.quantityOnOrder}}
                                                        <!-- <input type="number" name="alterOrder{{i}}" [(ngModel)]="x.quantityOnOrder"> -->
                                                    </td>
                                                    <td>
                                                        {{x.reservedBy}}
                                                    </td>
                                                    <td>
                                                        {{x.reservedDate | date:'MM-dd-yyyy'}}
                                                    </td>
                                                    <td>
                                                        {{x.issuedBy}}
                                                    </td>
                                                    <td>
                                                        {{x.issuedDate | date:'MM-dd-yyyy'}}
                                                    </td>
                                                </tr>
                                                


      
                                                                                   
                         
                                            </tbody>
                                        </table>
                                        <div style="float:right"> 
                                                <button  class="btn btn-primary btn-primary-cstm" data-dismiss="modal"  (click)="saveRIPart()" style="padding: 6px 12px !important;">Save </button>
                                            </div>  
                                        
      
                                    </div>
                                </div>

   
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>


