<div class="right_col" role="main">
  <div class="x_content">
    <div class="card">
      <div class="card-header">
        <nav aria-label="breadcrumb">
          <ol
            class="breadcrumb rpo-bcrumb"
            style="background-color: transparent;"
          >
            <li class="breadcrumb-item active" aria-current="page">
              Sales Order Quote
            </li>
            <li class="breadcrumb-item" aria-current="page">
              Create Quote
            </li>
          </ol>
        </nav>
      </div>
      <div class="card-body">
        <h4 class="po-head">Search Customer</h4>
        <div class="right_col" role="main">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-1">
              <div>
                <span>Customer Name</span>
              </div>
              <div class="ui-input-control">
                <input type="text" pInputText [(ngModel)]="query.Name" />
              </div>
            </div>
            <div class="ui-g-12 ui-md-1">
              <div>
                <span>Customer Code</span>
              </div>
              <div class="ui-input-control">
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="query.CustomerCode"
                />
              </div>
            </div>

            <div class="ui-g-12 ui-md-1">
              <div>
                <span>Customer Contact</span>
              </div>
              <div class="ui-input-control">
                <input type="text" pInputText [(ngModel)]="query.contact" />
              </div>
            </div>

            <div class="ui-g-12 ui-md-1">
              <div>
                <span>Customer Email</span>
              </div>
              <div class="ui-input-control">
                <input type="text" pInputText [(ngModel)]="query.Email" />
              </div>
            </div>

            <div class="ui-g-12 ui-md-1">
              <div>
                <span>Customer Phone</span>
              </div>
              <div class="ui-input-control">
                <input type="text" pInputText [(ngModel)]="query.Phone" />
              </div>
            </div>

            <div class="ui-g-12 ui-md-1">
              <div>
                <span>City</span>
              </div>
              <div class="ui-input-control">
                <input type="text" pInputText [(ngModel)]="query.City" />
              </div>
            </div>

            <div class="ui-g-12 ui-md-1">
              <div>
                <span>State</span>
              </div>
              <div class="ui-input-control">
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="query.StateOrProvince"
                />
              </div>
            </div>

            <div class="ui-g-12 ui-md-2">
              <div>
                <span>Primary Sales Person</span>
              </div>
              <div class="ui-input-control">
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="query.PrimarySalesPersonFirstName"
                />
              </div>
            </div>
            <div class="ui-g-12 ui-md-1">
              <div>
                &nbsp;
              </div>
              <button
                (click)="onSearch($event)"
                class="btn btn-primary"
                style="margin-bottom: -10px; border-radius: 5px;"
              >
                Search
              </button>
            </div>
          </div>
        </div>

        <div style="margin-top:15px;">
          <h4 class="po-head">Customer's List</h4>
          <p-table
            #dt
            class="rpo-table-cstm rro-table-cstm"
            [value]="customers"
            [rows]="10"
            [lazy]="true"
            [paginator]="showPaginator"
            [rowsPerPageOptions]="[10, 20, 30]"
            [totalRecords]="totalRecords"
            [pageLinks]="pageLinks"
            [columns]="selectedColumns"
            [resizableColumns]="true"
            [reorderableColumns]="false"
            [scrollable]="true"
            scrollHeight="450px"
            (onLazyLoad)="onPaging($event)"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Customer Code</th>
                <th>Full Name</th>
                <th>Customer Type</th>
                <th>Customer Contact</th>
                <th>Email</th>
                <th>Phone</th>
                <th>City</th>
                <th>State</th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
              <tr>
                <td>
                  {{ customer.customerCode }}
                </td>
                <td>
                  {{ customer.name }}
                </td>
                <td>
                  {{ customer.customerType }}
                </td>
                <td></td>
                <td>
                  {{ customer.email }}
                </td>
                <td>
                  {{ customer.customerPhone }}
                </td>
                <td>
                  {{ customer.city }}
                </td>
                <td>
                  {{ customer.stateOrProvince }}
                </td>
                <td>
                  <button
                    class="btn-add"
                    mat-icon-button
                    (click)="createQuote(customer)"
                    matTooltip="Create Quote"
                    style="font-weight: bold;"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary" id="footer">
              <label id="footer" class="footer-t-rec">No'of records:</label>
              <input
                style="width: 5%;"
                [(ngModel)]="totalRecords"
                [disabled]="true"
                pInputText
                type="text"
              />
              &nbsp;&nbsp;
              <label id="footer" class="footer-p-count">Pages Count:</label>
              <input
                style="width: 5%;"
                [(ngModel)]="totalPages"
                [disabled]="true"
                pInputText
                type="text"
              />
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
