<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <div class="card">
                    <div class="card-body">
                        <!--header-->
                        <div class="inline-block display-flex">
                            <!--Set Title-->
                            <h3 class="po-head lead">{{header}}</h3>
                            &nbsp;&nbsp;
                            <!--Step x: Customize the data-target-->
                            <a class="plusicon-cstm new-margin" matTooltip="Add {{rowName}}" matTooltipPosition="right" data-target="#editItem" data-toggle="modal" (click)="addNewItem()">
                                <i class="fa fa-plus-circle fa-lg"></i>
                            </a>
                        </div>
                        <!--Step x: Add/update table taking grid data (itemList) and selected columns -->
                        <!--(onLazyLoad)="changePage($event)"-->
                        <p-table #dt
                                 class="rpo-table-cstm rro-table-cstm"
                                 [value]="itemList"
                                 [first]="pageIndex"
                                 [rows]="pageSize"
                                 [paginator]="true"
                                 [pageLinks]="3"
                                 [rowsPerPageOptions]="[10,20,50,100]"
                                 [columns]="selectedColumns"
                                 selectionMode="multiple"
                                 [resizableColumns]="true"
                                 [reorderableColumns]="true"
                                 [scrollable]="true"
                                 [totalRecords]="totalRecords"
                                 scrollHeight="450px">
                            <!--caption-->
                            <ng-template pTemplate="caption">
                                <div style="text-align: right; margin-left: -6px !important;">
                                    <p-multiSelect [maxSelectedLabels]="2"
                                                   [options]="columnHeaders"
                                                   optionLabel="header"
                                                   [(ngModel)]="selectedColumns"
                                                   [style]="{minWidth: '200px'}" style="float:left"
                                                   selectedItemsLabel="{0} columns selected"
                                                   defaultLabel="Choose Columns">
                                    </p-multiSelect>
                                    <button type="button" class="btn btn-primary-cstm" matTooltip="Download Data" matTooltipPosition="above"
                                            pButton icon="fa-download" iconPos="left" label="Export All Data" (click)="dt.exportCSV()"></button>
                                    <button type="button" class="btn btn-primary-cstm" matTooltip="Download Selected Data" matTooltipPosition="above"
                                            pButton icon="fa-download" iconPos="left" label="Export Selected Data" (click)="dt.exportCSV({selectionOnly:true})"></button>
                                    <div class="excel-upload  excel-upload-cstm">
                                        <input type="file" name="upload[]" id="upload" (change)="customExcelUpload($event)" class="uploaddoc upload-file"
                                               accept=".xlsx, .xls, .csv">
                                        <label for="upload">
                                            <span matTooltip="Upload Data (Excel)" matTooltipPosition="above">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </label>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-primary-cstm" (click)="sampleExcelDownload()" matTooltip="Download Sample File" matTooltipPosition="above" >Sample File Download</button>
                                    </div>
                                </div>

                            </ng-template>
                            <!--header with search-->

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width:120px" *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                    <th style="width:200px;position: sticky" *ngIf="selectedColumns.length> 0">Actions</th>
                                </tr>
                                <tr>
                                    <th style="width:120px" *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field,'contains')">
                                    </th>
                                    <th style="width:200px;position: sticky"></th>
                                </tr>
                            </ng-template>

                            <!--body-->
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                <tr [pSelectableRow]="rowData" pReorderableRowHandle (dblclick)="viewItemDetailsClick(viewClick, rowData)">
                                    <td style="width:120px" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                        {{rowData[col.field]}}
                                    </td>
                                    <td style="width:200px" *ngIf="selectedColumns.length> 0">
                                        <p-inputSwitch [(ngModel)]="rowData['isActive']"
                                                       name="isActive{{rowIndex}}" (onChange)="toggleActiveStatus(rowData)"
                                                       [matTooltip]="rowData['isActive'] ? 'Active' : 'Inactive' ">
                                        </p-inputSwitch>
                                        <span data-toggle="modal" data-target="#view">
                                            <a class="btn btn-info boxed-float-btn nobg" (click)="viewItemDetails(rowData)" data-target="#view" data-toggle="modal" matTooltip="View">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                        <!--Step x: update the on-click event-->
                                        <button class="btn-edit" mat-icon-button (click)="showItemEdit(rowData)" matTooltip="Edit" data-target="#editItem" data-toggle="modal">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button class="btn-delete" mat-icon-button matTooltip="Delete" (click)="confirmItemDelete(rowData)" data-target="#delete" data-toggle="modal">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </button>

                                        <button class="btn-history" mat-icon-button matTooltip="History" (click)="showHistory(rowData)" data-target="#itemHistory" data-toggle="modal">
                                            <mat-icon color="green">history</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary" id="footer">
                                <label id="footer" class="footer">No. of records:</label>
                                <input style="width: 5%;" [(ngModel)]="totalRecords" [disabled]="true" pInputText type="text" /> &nbsp;&nbsp;
                                <label id="footer" class="footer1">Pages Count:</label>
                                <input style="width: 5%;" [(ngModel)]="totalPages" [disabled]="true" pInputText type="text" />
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--to-do:use same modal to view, add, update, and delete-->
    <!--Modal for view only-->

    <div #view *ngIf="itemDetails" class="modal fade" id="view" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">{{rowName}} Details</h4>
                </div>
                <div class="modal-body viewform">
                    <div class="col-sm-12">
                        <p>
                            <span class="label">
                                <b>Asset Class: </b>
                            </span>
                            <span class="value">{{itemDetails.assetTypeName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Name: </b>
                            </span>
                            <span class="value">{{itemDetails.assetAttributeTypeName}}</span>
                        </p>

                        <p>
                            <span class="label">
                                <b>Description: </b>
                            </span>
                            <span class="value">{{itemDetails.description}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Convention Type: </b>
                            </span>
                            <span class="value">{{itemDetails.conventionTypeName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Depreciation Method: </b>
                            </span>
                            <span class="value">{{itemDetails.depreciationMethodName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Residual Percentage: </b>
                            </span>
                            <span class="value">{{itemDetails.residualPercentage}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Asset Life: </b>
                            </span>
                            <span class="value">{{itemDetails.assetLife}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Depreciation Frequency: </b>
                            </span>
                            <span class="value">{{itemDetails.depreciationFrequencyName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Acquired GL Account: </b>
                            </span>
                            <span class="value">{{itemDetails.acquiredGLAccountName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Depr Expense GL Account: </b>
                            </span>
                            <span class="value">{{itemDetails.deprExpenseGLAccountName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Ad Deps GL Account: </b>
                            </span>
                            <span class="value">{{itemDetails.adDepsGLAccountName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Asset Sale: </b>
                            </span>
                            <span class="value">{{itemDetails.assetSaleName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Asset WriteOff: </b>
                            </span>
                            <span class="value">{{itemDetails.assetWriteOffName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Asset WriteDown: </b>
                            </span>
                            <span class="value">{{itemDetails.assetWriteDownName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Active: </b>
                            </span>
                            <span class="value">{{itemDetails.isActive ? 'true' : 'false'}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Legal Entity: </b>
                            </span>
                            <span class="value">{{itemDetails.selectedCompanyNames}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Created By: </b>
                            </span>
                            <span class="value">{{itemDetails.createdBy}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Created Date: </b>
                            </span>
                            <span class="value">{{itemDetails.createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Last Updated By: </b>
                            </span>
                            <span class="value">{{itemDetails.updatedBy}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Last Updated Date: </b>
                            </span>
                            <span class="value">{{itemDetails.updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger-cstm" data-dismiss="modal" >Close</button>
                </div>
            </div>

        </div>

    </div>

    <!--Step x: Modal for Edit-->
    <div #editItem id="editItem" class="modal fade assetattributetype" role="dialog" *ngIf="currentModeOfOperation === 2 || currentModeOfOperation === 3" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{currentModeOfOperation === 3 ? "Edit" : "Add"}} {{rowName}} </h4>
                </div>
                <div class="modal-body">
                    <form #AssetType="ngForm">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="assetTypeId" class="control-label">
                                        Asset Class
                                        <span class="clr-red">*</span>
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <!-- 
                                    <p-autoComplete field="assetTypeName" [(ngModel)]="currentRow.assetTypeId" name="assetTypeId"
                                                    [suggestions]="filteredAssetTypeList" (completeMethod)="filterAssetType($event)"
                                                    [forceSelection]="true" [size]="30" [minLength]="1" (onSelect)="selectedAssetType($event)"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" [required]="true">
                                    </p-autoComplete> 
                                    -->
                                    <select name="assetTypeId" [(ngModel)]="currentRow.assetTypeId" (ngModelChange)="selectedAssetType($event)" required>
                                        <option *ngFor="let allAssetType of allAssetTypes" [ngValue]="allAssetType">{{allAssetType.assetTypeName}}</option>
                                    </select>
                                    <div *ngIf="recordExists && currentRow.assetTypeId" class="clr-red">Already Exists</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="description" class="control-label">Description</label>
                                </div>
                                <div class="col-sm-5">
                                    <textarea class="text-item" #memo="ngModel" id="description" name="description"
                                              [(ngModel)]="currentRow.description" minlength="2" (onChange)="check"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="assetAttributeTypeName" class="control-label">Name <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="assetAttributeTypeName" class="form-control"
                                           [(ngModel)]="currentRow.assetAttributeTypeName" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="conventionType" class="control-label">Convention Type <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <select name="conventionType" [(ngModel)]="currentRow.conventionType" required>
                                        <option *ngFor="let convType of conventionTypeList" [ngValue]="convType">{{convType.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="depreciationMethod" class="control-label">Depreciation Method <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <!-- <p-autoComplete field="name" [(ngModel)]="currentRow.depreciationMethod" name="depreciationMethod"
                                                    [suggestions]="filteredDepriciationMethod" (completeMethod)="filterDepriciationMethod($event)"
                                                    [forceSelection]="true" [size]="30" [minLength]="1"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" required>
                                    </p-autoComplete> -->
                                    <select name="depreciationMethod" [(ngModel)]="currentRow.depreciationMethod" required>
                                        <option *ngFor="let depMethod of depriciationMethodList" [ngValue]="depMethod">{{depMethod.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="residualPercentage" class="control-label">Residual Percentage </label>
                                </div>
                                <div class="col-sm-5">
                                    <select name="residualPercentage" [(ngModel)]="currentRow.residualPercentage">
                                        <option value="">Select Percentage</option>
                                        <option *ngFor="let Percentlist of percentageList" [ngValue]="Percentlist">{{Percentlist.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="residualValue" class="control-label">Residual Value <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="residualValue" class="form-control"
                                           [(ngModel)]="currentRow.residualValue" min="1" required>
                                </div>
                            </div> -->
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="assetLife" class="control-label">Asset Life <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="assetLife" class="form-control"
                                           [(ngModel)]="currentRow.assetLife" min="1" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="depreciationFrequencyId" class="control-label">Depreciation Frequency <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <select name="depreciationFrequencyId" [(ngModel)]="currentRow.depreciationFrequencyId" required>
                                        <option *ngFor="let freq of depreciationFreq" [ngValue]="freq">{{freq.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="acquiredGLAccountId" class="control-label">Acquired GL Account <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <p-autoComplete field="accountName" [(ngModel)]="currentRow.acquiredGLAccountId" 
                                                    name="acquiredGLAccountId"
                                                    [suggestions]="filteredGLAccountList" 
                                                    (completeMethod)="filterGLAccount($event)"
                                                    [forceSelection]="true" [size]="30" [minLength]="1"
                                                    (ngModelChange)="onChangeSelectField($event, 'acquiredGLAccountId')"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" required>
                                    </p-autoComplete>
                                </div>

                            </div>

                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="deprExpenseGLAccountId" class="control-label">Depr Expense GL Account <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <p-autoComplete field="accountName" [(ngModel)]="currentRow.deprExpenseGLAccountId" name="deprExpenseGLAccountId"
                                                    [suggestions]="filteredGLAccountList" (completeMethod)="filterGLAccount($event)" [forceSelection]="true" [size]="30" [minLength]="1"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" required>

                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="adDepsGLAccountId" class="control-label">Ad Deps GL Account <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <p-autoComplete field="accountName" [(ngModel)]="currentRow.adDepsGLAccountId" name="adDepsGLAccountId"
                                                    [suggestions]="filteredGLAccountList" (completeMethod)="filterGLAccount($event)" [forceSelection]="true" [size]="30" [minLength]="1"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" required>

                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="assetSale" class="control-label">Asset Sale  GL Account<span class="clr-red"> *</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <p-autoComplete field="accountCode" [(ngModel)]="currentRow.assetSale" name="assetSale"
                                                    [suggestions]="filteredAssetSaleList" (completeMethod)="filterAssetSale($event)"
                                                    [forceSelection]="true" [size]="30" [minLength]="1"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" required>
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="assetWriteOff" class="control-label">Asset Write Off  GL Account<span class="clr-red"> *</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <p-autoComplete field="accountCode" [(ngModel)]="currentRow.assetWriteOff" name="assetWriteOff"
                                                    [suggestions]="filteredWriteOffList" (completeMethod)="filterAssetWriteOff($event)"
                                                    [forceSelection]="true" [size]="30" [minLength]="1"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" required>
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <label for="assetWriteDown" class="control-label">Asset Write Down  GL Account<span class="clr-red"> *</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <p-autoComplete field="accountCode" [(ngModel)]="currentRow.assetWriteDown" name="assetWriteDown"
                                                    [suggestions]="filteredAssetWriteDownList" (completeMethod)="filterAssetWriteDown($event)"
                                                    [forceSelection]="true" [size]="30" [minLength]="1"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" required>
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label for="managementStructure" class="control-label">Legal Entity <span class="clr-red">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                <div style="margin: 2px 0">
                                    <p-multiSelect [options]="companyListData"
                                                   [ngModelOptions]="{standalone: true}"
                                                   [(ngModel)]="selectedCompanyID" [panelStyle]="{minWidth:'12em'}"
                                                   (onChange)="companySelected()">
                                    </p-multiSelect>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <div class="checkbox-cstm">
                                    <label>
                                        <input type="checkbox" name="isActive" [(ngModel)]="currentRow.isActive">
                                        <span class="cr">
                                            <i class="cr-icon pi pi-check"></i>
                                        </span>
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary-cstm" data-dismiss="modal"
                            [disabled]="AssetType.invalid || disableSave || disableForMgmtStructure" (click)="currentModeOfOperation === 2 ? saveNewItem() : updateItem();">
                        {{currentModeOfOperation == 3 ? 'Update' : 'Save' }}
                    </button>
                    <button type="button" class="btn btn-danger-cstm" data-dismiss="modal" (click)="resetFromData()">Close</button>

                </div>
            </div>

        </div>
    </div>
    <!--Modal for delete only-->
    <div #delete *ngIf="currentModeOfOperation === 4" id="delete" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Deletion</h4>
                </div>
                <div class="modal-body">
                    <strong>
                        Are you sure you want to delete {{rowName}}?
                    </strong>
                    <span class="new-label"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-cstm" data-dismiss="modal" (click)="deleteItem()">Yes</button>
                    <button type="button" class="btn btn-danger-cstm" data-dismiss="modal" (click)="dismissModal()">No</button>
                </div>
            </div>

        </div>
    </div>


    <!--Step x: Audit modal-->
    <div #itemHistory *ngIf="currentModeOfOperation === 5" class="modal fade" id="itemHistory" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">History of {{rowName}}</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="dismissModal()">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <!--<tr *ngFor="let item of currentRow | keyvalue">
                                    <th>{{item.key | titlecase}}</th>-->
                                <tr>
                                    <th>Asset Class</th>
                                    <th>Description</th>
                                    <th>Name</th>
                                    <th>Convention Type</th>
                                    <th>Depreciation Method</th>
                                    <th>Residual Percentage</th>
                                    <th>Residual Value</th>
                                    <th>Asset Life</th>
                                    <th>Depreciation Frequency</th>
                                    <th>Acquired GL Account</th>
                                    <th>Depreciation Frequency</th>
                                    <th>Depr Expense GL Account</th>
                                    <th>Ad Deps GL Account</th>
                                    <th>Asset Sale</th>
                                    <th>Asset WriteOff</th>
                                    <th>Asset WriteDown</th>
                                    <th>Memo</th>
                                    <th>Active</th>
                                    <th>Last Updated By</th>
                                    <th>Last Updated Time</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let audit of auditHistory">
                                <td>{{audit.assetTypeId}}</td>
                                <td>{{audit.description}}</td>
                                <td>{{audit.assetAttributeTypeName}}</td>
                                <td>{{audit.conventionType}}</td>
                                <td>{{audit.residualPercentage}}</td>
                                <td>{{audit.assetLife}}</td>
                                <td>{{audit.depreciationFrequencyId}}</td>
                                <td>{{audit.acquiredGLAccountId}}</td>
                                <td>{{audit.deprExpenseGLAccountId}}</td>
                                <td>{{audit.adDepsGLAccountId}}</td>
                                <td>{{audit.assetSale}}</td>
                                <td>{{audit.assetWriteOff}}</td>
                                <td>{{audit.assetWriteDown}}</td>
                                <td>{{audit.memo}}</td>
                                <td>{{audit.isActive ? 'true' : 'false'}}</td>
                                <td>{{audit.updatedBy}}</td>
                                <td>{{audit.updatedDate| date: 'MM/dd/yyyy h:mm:ss a'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger-cstm" data-dismiss="modal" (click)="dismissModal()">Close</button>
                </div>
            </div>
        </div>
    </div>


    <ng-template #viewClick class="modal fade " id="viewClick" role="dialog">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="dismissModel()">×</button>
                <h4 class="modal-title">{{rowName}} Details</h4>
            </div>
            <div class="modal-body viewform">
                <div class="col-sm-12">
                    <p>
                        <span class="label">
                            <b>Asset Class: </b>
                        </span>
                        <span class="value">{{itemDetails.assetTypeName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Name: </b>
                        </span>
                        <span class="value">{{itemDetails.assetAttributeTypeName}}</span>
                    </p>

                    <p>
                        <span class="label">
                            <b>Description: </b>
                        </span>
                        <span class="value">{{itemDetails.description}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Convention Type: </b>
                        </span>
                        <span class="value">{{itemDetails.conventionTypeName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Depreciation Method: </b>
                        </span>
                        <span class="value">{{itemDetails.depreciationMethodName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Residual Percentage: </b>
                        </span>
                        <span class="value">{{itemDetails.residualPercentage}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Asset Life: </b>
                        </span>
                        <span class="value">{{itemDetails.assetLife}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Depreciation Frequency: </b>
                        </span>
                        <span class="value">{{itemDetails.depreciationFrequencyName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Acquired GL Account: </b>
                        </span>
                        <span class="value">{{itemDetails.acquiredGLAccountName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Depr Expense GL Account: </b>
                        </span>
                        <span class="value">{{itemDetails.deprExpenseGLAccountName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Ad Deps GL Account: </b>
                        </span>
                        <span class="value">{{itemDetails.adDepsGLAccountName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Asset Sale: </b>
                        </span>
                        <span class="value">{{itemDetails.assetSaleName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Asset WriteOff: </b>
                        </span>
                        <span class="value">{{itemDetails.assetWriteOffName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Asset WriteDown: </b>
                        </span>
                        <span class="value">{{itemDetails.assetWriteDownName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Legal Entity: </b>
                        </span>
                        <span class="value">{{itemDetails.selectedCompanyNames}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Active: </b>
                        </span>
                        <span class="value">{{itemDetails.isActive ? 'true' : 'false'}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Created By: </b>
                        </span>
                        <span class="value">{{itemDetails.createdBy}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Created Date: </b>
                        </span>
                        <span class="value">{{itemDetails.createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Last Updated By: </b>
                        </span>
                        <span class="value">{{itemDetails.updatedBy}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Last Updated Date: </b>
                        </span>
                        <span class="value">{{itemDetails.updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-cstm" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
            </div>
    </ng-template>
</div>