
<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <div class="card">
                    <div class="card-body">
                        <div class="inline-block display-flex">
                            <h3 class="po-head lead">Charges</h3>
                            &nbsp;&nbsp;
                            <a class="plusicon-cstm new-margin" pTooltip="Add Charge" tooltipPosition="right" (click)="resetChargeForm()" data-target="#addCharge" data-toggle="modal">
                                <i class="fa fa-plus-circle fa-lg"></i>
                            </a>
                        </div>
                        <p-table #dt class="rpo-table-cstm rro-table-cstm" [value]="chargeData" [first]="0" [rows]="pageSize" [paginator]="true" [pageLinks]="3"
                                 [rowsPerPageOptions]="[10,20,50,100]" [columns]="selectedColumns" selectionMode="multiple" (onPage)="changePage($event)"
                                 [resizableColumns]="true" [reorderableColumns]="true" [scrollable]="true" [totalRecords]="totalRecords" scrollHeight="450px">
                            <ng-template pTemplate="caption">
                                <div style="text-align: right;margin-left:-6px !important;">
                                    <p-multiSelect [maxSelectedLabels]="2" [options]="chargeHeaders" optionLabel="header" [(ngModel)]="selectedColumns"
                                                   [style]="{minWidth: '200px'}" style="float:left" (onChange)="columnsChanges()"></p-multiSelect>
                                    <button type="button" class="btn btn-primary " pTooltip="Download Selected" tooltipPosition="top" pButton icon="fa-download"
                                            iconPos="left" label="Export All Data" (click)="dt.exportCSV()"></button>
                                    <button type="button" class="btn btn-primary " pTooltip="Download All Data" tooltipPosition="top" pButton icon="fa-download"
                                            iconPos="left" label="Export Selection Only" (click)="dt.exportCSV({selectionOnly:true})"></button>
                                    <div class="excel-upload  excel-upload-cstm">

                                        <input type="file" name="upload[]" id="upload" (change)="customExcelUpload($event)" class="uploaddoc upload-file"
                                               accept=".xlsx, .xls, .csv">
                                        <label for="upload">
                                            <span matTooltip="Upload Data (Excel)">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </label>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-primary" (click)="sampleExcelDownload()">Sample File Download</button>
                                    </div>

                                </div>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width:120px" *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                    <th style="width:200px;position:sticky" *ngIf="selectedColumns.length> 0"> Actions</th>
                                </tr>
                                <tr>
                                    <th style="width:120px" *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field,'contains')">
                                    </th>
                                    <th style="width:200px;position:sticky"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" pReorderableRowHandle>
                                    <td style="width:120px" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle data-toggle="modal" data-target="#view" (dblclick)="viewSelectedRow(rowData)">
                                        {{
col.field == 'createdDate'? (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'updatedDate'?
                                        (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]
                                        }}
                                    </td>
                                    <td style="width:200px" *ngIf="selectedColumns.length> 0">
                                        <p-inputSwitch [(ngModel)]="rowData['isActive']" name="isActive{{rowIndex}}" (onChange)="changeStatus(rowData)"></p-inputSwitch>

                                        <span data-toggle="modal" data-target="#view">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="viewSelectedRow(rowData)" data-target="#view" data-toggle="modal">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                        <button class="btn-edit" mat-icon-button (click)="editCharge(rowData)" data-target="#addCharge" data-toggle="modal" matTooltip="Edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button class="btn-delete" mat-icon-button matTooltip="Delete" data-target="#delete" data-toggle="modal" (click)="delete(rowData)">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </button>
                                        <button class="btn-history" mat-icon-button matTooltip="History" data-target="#contentHist" data-toggle="modal" (click)="getAuditHistoryById(rowData)">
                                            <mat-icon color="green">history</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #auditContent let-c="close" let-d="dismiss">
                                <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
                                    <app-audit [Data]="AuditDetails" [Modal]="modal"></app-audit>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="summary" id="footer">
                                <label id="footer" class="footer">No'of records:</label>
                                <input style="width: 5%;" [(ngModel)]="totalRecords" [disabled]="true" pInputText type="text" /> &nbsp;&nbsp;
                                <label id="footer" class="footer1">Pages Count:</label>
                                <input style="width: 5%;" [(ngModel)]="totalPages" [disabled]="true" pInputText type="text" />
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="auditHistory" id="contentHist" #contentHist class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">History of Charge</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive rro-table-cstm">
                    <table class="table table-bordered" *ngIf="auditHistory.length> 0 else noDatavailable">
                        <thead>
                            <tr>
                                <!-- <th>UMID</th> -->
                                <th>Charge Name</th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>Currency</th>
                                <th>Cost</th>
                                <th>Mark Up( %) </th>
                                <th>Functional Currency </th>
                                <th>Purchase Order Number </th>
                                <th>Vendor Name </th>
                                <th>Integration Name </th>
                                <th>GL Account </th>
                                <th>Memo</th>
                                <th>Is Active</th>
                                <th>Updated By</th>
                                <th>Updated Time</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="auditHistory.length> 0">
                            <tr *ngFor="let audit of auditHistory; let i = index;">
                                <!-- auditHistory[i>0 ? i-1 : i] -->
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'chargeName', audit.chargeName)  ? 'black' : 'red'  }">{{audit.chargeName}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'quantity', audit.quantity)  ? 'black' : 'red'  }">{{audit.quantity}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'description', audit.description)  ? 'black' : 'red'  }">{{audit.description}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'currencySymbol', audit.currencySymbol)  ? 'black' : 'red'  }">{{audit.currencySymbol}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'cost', audit.cost)  ? 'black' : 'red'  }">{{audit.cost}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'markUpPercentage', audit.markUpPercentage)  ? 'black' : 'red'  }">{{audit.markUpPercentage}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'functionalCurrencySymbol', audit.functionalCurrencySymbol)  ? 'black' : 'red'  }">{{audit.functionalCurrencySymbol}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'purchaseOrderNumber', audit.purchaseOrderNumber)  ? 'black' : 'red'  }">{{audit.purchaseOrderNumber}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'vendorName', audit.vendorName)  ? 'black' : 'red'  }">{{audit.vendorName}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'integrationName', audit.integrationName)  ? 'black' : 'red'  }">{{audit.integrationName}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'glAccountName', audit.glAccountName)  ? 'black' : 'red'  }">{{audit.glAccountName}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'memo', audit.memo)  ? 'black' : 'red'  }">{{audit.memo}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'isActive', audit.isActive)  ? 'black' : 'red'  }">{{audit.isActive}}</td>
                                <td>{{audit.updatedBy}}</td>
                                <td>{{audit.updatedDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                            </tr>
                        </tbody>


                    </table>
                    <ng-template #noDatavailable>
                        <div class="text-center">
                            <img src="../../assets/images/binoculars.png" style="height: 100px; width: 100px;">
                            <h4 style="color: #ff5663;">No History Found </h4>
                        </div>

                    </ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<div *ngIf="viewRowData" #view class="modal fade " id="view" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="" name="" (click)="resetViewData()">×</button>
                <h4 class="modal-title">Charge Details</h4>
            </div>
            <div class="modal-body viewform ">
                <div class="col-sm-12">
                    <p>
                        <span class="label ">
                            <b class="view-Header">Charge: </b>
                        </span>
                        <span class="value">{{ viewRowData.chargeName}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">quantity: </b>
                        </span>
                        <span class="value">{{ viewRowData.quantity}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header"> Description: </b>
                        </span>
                        <span class="value">{{ viewRowData.description}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Currency: </b>
                        </span>
                        <span class="value">{{viewRowData.symbol}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Cost: </b>
                        </span>
                        <span class="value">{{viewRowData.cost}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Mark up (%): </b>
                        </span>
                        <span class="value">{{viewRowData.markUpPercentage}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Billable Amount: </b>
                        </span>
                        <span class="value">{{viewRowData.billableAmount}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Functional CUR: </b>
                        </span>
                        <span class="value">{{viewRowData.functionalCurrencySymbol}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Purchase Order Number: </b>
                        </span>
                        <span class="value">{{viewRowData.purchaseOrderNumber}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Vendor Name: </b>
                        </span>
                        <span class="value">{{viewRowData.vendorName}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Integration Name: </b>
                        </span>
                        <span class="value">{{viewRowData.integrationPortalDescription}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">GL Account Name: </b>
                        </span>
                        <span class="value">{{viewRowData.glAccountName}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Is Active</b>
                        </span>
                        <span class="value">{{viewRowData.isActive === true ? 'Yes' : 'No'}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Created By: </b>
                        </span>
                        <span class="value">{{viewRowData.createdBy }}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Created Date: </b>
                        </span>
                        <span class="value">{{viewRowData.createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Updated By: </b>
                        </span>
                        <span class="value">{{viewRowData.updatedBy}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Updated Date: </b>
                        </span>
                        <span class="value">{{viewRowData.updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="" name="" (click)="resetViewData()">Close</button>
            </div>
        </div>

    </div>

</div>

<div #addCharge id="addCharge" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{isEdit ? 'Edit' : 'Add' }} Charge  </h4>
            </div>
            <div class="modal-body">
                <form #charge="ngForm">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="description" class="control-label">
                                    Charge:
                                    <span class="clr-red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <p-autoComplete field="chargeName" [(ngModel)]="addNewCharge.chargeName" (onSelect)="selectedCharge($event)" (onKeyUp)="checkChargeExists('chargeName', $event.target.value)" name="uom"
                                                [suggestions]="filteredChargeList" (completeMethod)="filterCharge($event)" [size]="30" [minLength]="1"
                                                [dropdown]="true" class="p-autoComplete-ctsm" required>

                                </p-autoComplete>
                                <div *ngIf="disableSaveForCharge" class="clr-red">Already Exists</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="quantity" class="control-label">
                                    Quantity:
                                    <span class="clr-red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" name="quantity" class="form-control" [(ngModel)]="addNewCharge.quantity" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="description" class="control-label">
                                    Description:
                
                                </label>
                            </div>
                            <div class="col-sm-5">
                                    <input type="text" name="description" class="form-control"  [(ngModel)]="addNewCharge.description" required>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="currency" class="control-label">
                                    CUR:
                                    <span class="clr-red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <select name="currency"  [(ngModel)]="addNewCharge.currencyId" required>
                                    <option *ngFor="let cur of currencyList" [ngValue]="cur.currencyId">{{cur.symbol}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="cost" class="control-label">
                                        Cost:
                                        <span class="clr-red">*</span>
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="number" name="cost" class="form-control" #standard="ngModel" [(ngModel)]="addNewCharge.cost" required>
                                </div>
                            </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="markUp" class="control-label">
                                    Mark Up (%):
                                    <span class="clr-red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <select [(ngModel)]="addNewCharge.markUpPercentage" name="markUp" required >
                                            <option *ngFor="let per of percentageList" [ngValue]="per.percentValue">{{per.percentValue}}</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="billableAmount" class="control-label">
                                        Billable Amount:
                                        <span class="clr-red">*</span>
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                        <input type="number" name="billableAmount" class="form-control" #standard="ngModel" [(ngModel)]="addNewCharge.billableAmount" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="functionalCurrency" class="control-label">
                                            Functional CUR:
                                            <span class="clr-red">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-5">
                                        <select name="functionalCurrency"  [(ngModel)]="addNewCharge.functionalCurrencyId" required>
                                            <option *ngFor="let cur of currencyList" [ngValue]="cur.currencyId">{{cur.symbol}}</option>
                                        </select>
                                    </div>
                                </div>
                        <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="purchaseOrderId" class="control-label">
                                        Purchase order number:
                                       
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                        <p-autoComplete field="purchaseOrderNumber" [(ngModel)]="addNewCharge.purchaseOrderId" 
                                        name="purchaseOrderId"
                                        [suggestions]="filteredPurchaseOrderList" (completeMethod)="filterPurchaseOrder($event)" [forceSelection]="true" 
                                        [size]="30" [minLength]="1"
                                        [dropdown]="true" class="p-autoComplete-ctsm" >

                                        </p-autoComplete>
                                </div>
                         </div>
                         <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="vendorId" class="control-label">
                                        Vendor Name:
                                     </label>
                                </div>
                                <div class="col-sm-5">
                                        <p-autoComplete field="vendorName" [(ngModel)]="addNewCharge.vendorId"  
                                        name="vendorId"
                                        [suggestions]="filteredVendorList" (completeMethod)="filterVendor($event)"  [forceSelection]="true" 
                                         [size]="30" [minLength]="1"
                                        [dropdown]="true" class="p-autoComplete-ctsm" >

                                        </p-autoComplete>
                                </div>
                         </div>
                         <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="integrationPortalId" class="control-label">
                                        Integration Name:
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                        <p-autoComplete field="description" [(ngModel)]="addNewCharge.integrationPortalId" 
                                         name="integrationPortalId"
                                        [suggestions]="filteredIntegrationList" (completeMethod)="filterIntegration($event)" [forceSelection]="true" 
                                         [size]="30" [minLength]="1"
                                        [dropdown]="true" class="p-autoComplete-ctsm" >

                                        </p-autoComplete>
                                </div>
                         </div>
                         <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="glAccountId" class="control-label">
                                        GL Account:
                                        <span class="clr-red">*</span>
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                        <p-autoComplete field="accountName" [(ngModel)]="addNewCharge.glAccountId"   name="glAccountId"          
                                        [suggestions]="filteredGLAccountList" (completeMethod)="filterGLAccount($event)" [forceSelection]="true"  [size]="30" [minLength]="1"
                                        [dropdown]="true" class="p-autoComplete-ctsm" required>

                                        </p-autoComplete>
                                </div>
                         </div>
                         <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="quantity" class="control-label">
                                       Company 
                                        <span class="clr-red">*</span>
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <select name="primaryCompany"
                                    (change)="companyselected()" [(ngModel)]="selectedCompanyID"   required>
                                        <option value="0">Select Company</option>
                                          <option *ngFor="let name of companyList" [ngValue]="name.managementStructureId" >{{name.code}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="quantity" class="control-label">
                                        BU 
                                       
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <select  name="primaryBU"  class="form-control" [(ngModel)]="selectedBUId" (change)="buselected()" >
                                        <option value="0">Select BU</option>
                                        <option *ngFor="let name of buList" [ngValue]="name.managementStructureId">{{name.code}}</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="quantity" class="control-label">
                                        Division 
                                       
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control"  name="primaryDivision" (change)="divisionselected()"  [(ngModel)]="selectedDivisionID" >
                                        <option value="0">Select Division</option>
                                        <option *ngFor="let name of divisionList" [ngValue]="name.managementStructureId">{{name.code}}</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="quantity" class="control-label">
                                        Department 
                                       
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control" name="primaryDept" [(ngModel)]="selectedDeptID" (change)="departmentselected()"  >
                                        <option value="0">Select Dept</option>
                                        <option *ngFor="let name of departmentList" [ngValue]="name.managementStructureId">{{name.code}}</option>
                                    </select>
                                </div>
                            </div>  
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="memo" class="control-label">Memo</label>
                            </div>
                            <div class="col-sm-5">
                                <textarea class="text-item" #memo="ngModel" id="memo" name="memodescription" [(ngModel)]="addNewCharge.memo" minlength="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="checkbox-cstm">
                                <label>
                                    <input type="checkbox" name="isActive" [(ngModel)]="addNewCharge.isActive">
                                    <span class="cr">
                                        <i class="cr-icon pi pi-check"></i>
                                    </span>
                                    Active
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" [disabled]="charge.invalid || disableSaveForCharge ||disableForMgmtStructure" (click)="saveCharge();"> {{isEdit ? 'Update' : 'Save' }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetChargeForm()">Close</button>

            </div>
        </div>

    </div>
</div>

<div *ngIf="selectedRowforDelete" #delete id="delete" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You Sure Want to Delete ?</h4>
            </div>
            <div class="modal-body">
                <strong>
                    Charge:
                    <span class="new-label">{{selectedRowforDelete.chargeName}}</span>
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteConfirmation('Yes')">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteConfirmation('No')">No</button>
            </div>
        </div>

    </div>
</div>



































