<div class="right_col" role="main" style="padding: 2px 6px;">
  <div style="">
    <div class="x_content">
      <div class="col-md-12 shadow-box-cstm">
        <div class="col-md-4">
          <p class="fs12">
            <label class="control-label labels-font-header" style="width: auto;"
              >Customer Name:
            </label>
            <span class="span-header-red" style="text-transform: capitalize">
              {{ customerName }}
            </span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="fs12">
            <label class="control-label labels-font-header" style="width: auto;"
              >Customer Code:
            </label>
            <span class="span-header-red" style="text-transform: capitalize">
              {{ customerCode }}
            </span>
          </p>
        </div>
      </div>

      <!-- <div class="clear"></div> -->
      <div class="card" style="padding: 10px;">
        <div class="col-md-12">
          <h4 class="po-head-sm">
            <!--class="float-right"-->
            Customer Sales Information
          </h4>
        </div>
        <div class="clear"></div>
        <hr />

        <form #salesPersonForm="ngForm" class="form-horizontal">
          <div class="col-md-12">
            <div class="form-row">
              <div class="col-md-3">
                <div class="form-group">
                  <label
                    >Primary Sales Person <span class="clr-red">*</span></label
                  >

                  <p-autoComplete
                    class="autocomp-customer-cstm"
                    name="primarySalesPersonFirstName"
                    [(ngModel)]="salesInfo.primarySalesPersonId"
                    [suggestions]="primarySPList"
                    [forceSelection]="true"
                    emptyMessage="No Match Found"
                    field="name"
                    (completeMethod)="filterPrimary($event)"
                    [size]="30"
                    [minLength]="1"
                    [dropdown]="true"
                    required
                  >
                  </p-autoComplete>
                  <!-- <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="sourceCustomer.primarySalesPersonFirstName" name="primarySalesPersonFirstName" [size]="30" [minLength]="1" [dropdown]="true" required>
                                          <ng-template let-primarySalesPerson pTemplate="item">
                                              <div class="ui-helper-clearfix">{{primarySalesPerson}}</div>
                                          </ng-template>
                                      </p-autoComplete> -->
                </div>
                <!--<div class="form-group">
                                      <label>Primary Sales Person Id <span class="clr-red">*</span></label>
                                      <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="sourceCustomer.primarySalesPersonId" name="primarySalesPersonId" [size]="30" [minLength]="1" [dropdown]="true" required>
                                          <ng-template let-primarySalesPersonId pTemplate="item">
                                              <div class="ui-helper-clearfix">{{primarySalesPersonId}}</div>
                                          </ng-template>
                                      </p-autoComplete>
                                  </div>-->
                <div class="form-group">
                  <label>Secondary Sales Person</label>
                  <!-- <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="sourceCustomer.secondarySalesPersonName" name="secondarySalesPersonName" [size]="30" [minLength]="1" [dropdown]="true">
                                          <ng-template let-secondarySalesPerson pTemplate="item">
                                              <div class="ui-helper-clearfix">{{secondarySalesPerson}}</div>
                                          </ng-template>
                                      </p-autoComplete> -->

                  <p-autoComplete
                    class="autocomp-customer-cstm"
                    name="secondarySalesPersonName"
                    [forceSelection]="true"
                    emptyMessage="No Match Found"
                    [(ngModel)]="salesInfo.secondarySalesPersonId"
                    [suggestions]="secondarySPList"
                    field="name"
                    (completeMethod)="filterSecondary($event)"
                    [size]="30"
                    [minLength]="1"
                    [dropdown]="true"
                  >
                  </p-autoComplete>
                </div>
                <!--<div class="form-group">
                                      <label>Secondary Sales Person Id</label>
                                      <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="sourceCustomer.secondarySalesPersonId" name="secondarySalesPersonId" [size]="30" [minLength]="1" [dropdown]="true">
                                          <ng-template let-secondarySalesPersonId pTemplate="item">
                                              <div class="ui-helper-clearfix">{{secondarySalesPersonId}}</div>
                                          </ng-template>
                                      </p-autoComplete>
                                  </div>-->
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Customer Service Rep Name</label>

                  <p-autoComplete
                    class="autocomp-customer-cstm"
                    name="name"
                    [(ngModel)]="salesInfo.csrId"
                    [suggestions]="csrList"
                    [forceSelection]="true"
                    emptyMessage="No Match Found"
                    field="name"
                    (completeMethod)="filterCSR($event)"
                    [size]="30"
                    [minLength]="1"
                    [dropdown]="true"
                  >
                  </p-autoComplete>
                  <!-- <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="sourceCustomer.csrName" name="csrName" [size]="30" [minLength]="1" [dropdown]="true">
                                          <ng-template let-csrName pTemplate="item">
                                              <div class="ui-helper-clearfix">{{csrName}}</div>
                                          </ng-template>
                                      </p-autoComplete> -->
                </div>
                <div class="form-group">
                  <label>Agent</label>
                  <p-autoComplete
                    class="autocomp-customer-cstm"
                    name="agentName"
                    [(ngModel)]="salesInfo.saId"
                    [suggestions]="agentList"
                    field="name"
                    [forceSelection]="true"
                    emptyMessage="No Match Found"
                    (completeMethod)="filterAgents($event)"
                    [size]="30"
                    [minLength]="1"
                    [dropdown]="true"
                  >
                  </p-autoComplete>
                  <!-- <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="sourceCustomer.agentName" name="agentName" [size]="30" [minLength]="1" [dropdown]="true">
                                          <ng-template let-agentName pTemplate="item">
                                              <div class="ui-helper-clearfix">{{agentName}}</div>
                                          </ng-template>
                                      </p-autoComplete> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label
                    >Annual Revenue Potential
                    <span style="margin-left:3px;cursor:pointer;"
                      ><a
                        href="#"
                        class="fa fa-info-circle fa-lg"
                        matTooltip="Format: {{ globalSettings.numberFormat }}"
                      ></a
                    ></span>
                  </label>
                  <input
                    class="form-control"
                    id="cspostal"
                    type="text"
                    name="annualRevenuePotential"
                    pInputText
                    pKeyFilter="num"
                    [(ngModel)]="salesInfo.annualRevenuePotential"
                    (blur)="formatannualRevenuePotential($event.target.value)"
                  />
                </div>
                <div class="form-group">
                  <label
                    >Annual Quota
                    <span style="margin-left:3px;cursor:pointer;"
                      ><a
                        href="#"
                        class="fa fa-info-circle fa-lg"
                        matTooltip="Format: {{ globalSettings.numberFormat }}"
                      ></a
                    ></span>
                  </label>
                  <input
                    class="form-control"
                    id="cspostal"
                    type="text"
                    name="annualQuota"
                    pInputText
                    pKeyFilter="num"
                    [(ngModel)]="salesInfo.annualQuota"
                    (blur)="formatannualQuota($event.target.value)"
                  />
                </div>
              </div>
            </div>
            <!--<div class="form-row pull-left" style="margin-left: 0;">
                              <button type="submit" class="btn btn-primary pull-right submit-btn" (click)="editItemAndCloseModel()">Save</button>
                          </div>-->
          </div>
          <div class="margin-top: 10px">
            <button
              type="submit"
              class="btn btn-primary pull-right"
              [disabled]="!salesPersonForm.valid"
              (click)="saveSalesInformation()"
            >
              Save & Next
            </button>
            <button
              (click)="backClick()"
              type="button"
              class="btn btn-primary pull-right submit-btn"
            >
              Previous
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade success-msg" id="success-popup" role="dialog">
		<div class="modal-dialog modal-sm popup-timeout">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4> <i class="fa fa-check"></i>&nbsp; You Added Successfully !</h4>
				</div>
			</div>
		</div>
	</div> -->
