// hide tabs data dynamically
.hideTab {
  display: none !important;
}
.labels-font-header {
  font-size: 16px !important;
  font-weight: normal !important;
}
.span-header-red {
  color: red;
  font-weight: bold;
}
