<div class="md-stepper-horizontal orange">
  <div
    class="md-step "
    [ngClass]="{ active: activeMenuItem >= 1 ,  editable : activeMenuItem === 1 }"
    (click)="changeOfTab('General')"
  >
    <div class="md-step-circle"><span>1</span></div>
    <div class="md-step-title">General Information</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div
  class="md-step"
  [ngClass]="{ active: activeMenuItem >= 2 ,  editable : activeMenuItem === 2 }"
   id="step2"  

   [class.isDisabled]="!isDisabledSteps"
   (click)="changeOfTab('PnMap')"

>
  <div class="md-step-circle"><span>2</span></div>
  <div class="md-step-title">PN Mapping</div>

  <div class="md-step-bar-left"></div>
  <div class="md-step-bar-right"></div>
</div>
  <div
    class="md-step"
    [ngClass]="{ active: activeMenuItem >= 3 ,   editable : activeMenuItem === 3 }"
    (click)="changeOfTab('Aircraft')"
    [class.isDisabled]="!isDisabledSteps"

  >
    <div class="md-step-circle"><span>3</span></div>
    <div class="md-step-title">Aircraft Information</div>

    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div
    class="md-step "
    [ngClass]="{ active: activeMenuItem >= 4 ,  editable : activeMenuItem === 4 }"
    (click)="changeOfTab('Atachapter')"
    [class.isDisabled]="!isDisabledSteps"
  >
    <div class="md-step-circle"><span>4</span></div>
    <div class="md-step-title">ATA Chapter</div>

    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>
<div class="card">
  <div [ngClass]="{hideTab : currentTab !== 'General'}">
    <div class="card-header header-text ">
      General Information
    </div>
  <div class="card-body">
      <div class="form-row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="workflowid">Entry Date</label>
            <p-calendar [showIcon]="true" [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="sourcePublication.entryDate" dateFormat="dd/mm/yy"></p-calendar>
          </div>
          <div class="form-group">
            <label for="publicationid">Publication ID</label>
            <input class="form-control" #pubID="ngModel" type="text" [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="sourcePublication.PublicationId" />
          </div>

          <div class="form-group">
            <label for="PublicationDescription">Publication Description</label>
            <textarea pInputTextarea class="form-control" #pubDescription="ngModel" type="text"
              [ngModelOptions]="{ standalone: true }" [(ngModel)]="sourcePublication.description"></textarea>
          </div>

          <div class="form-group">
            <label for="Publicationtype">Publication Type</label>
            <p-dropdown class="pub-type-select" #pubType="ngModel"
            [options]="publicationTypes"
              [(ngModel)]="sourcePublication.pubType"></p-dropdown>
          </div>


          <div class="form-group">
            <label for="asd">Author/Source/Directive</label>
            <input class="form-control" #pubID="ngModel" type="text" [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="sourcePublication.ASD" />
          </div>

          <div class="form-group">
            <label for="sequence">Sequence</label>
            <input class="form-control" #pubID="ngModel" type="text" [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="sourcePublication.sequence" />
          </div>
          <div class="form-group">
            <label for="Publicationby">Published By</label>
            <input class="form-control" #pubID="ngModel" type="text" [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="sourcePublication.publishby" />
          </div>


        </div>

        <div class="col-md-3">

          <div class="form-group">
            <label for="Publicationby">Location</label>
            <input class="form-control" #pubID="ngModel" type="text" [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="sourcePublication.location" />
          </div>
          <div class="form-group">
            <label for="workflowid">Revision Date</label>
            <p-calendar [showIcon]="true" [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="sourcePublication.revisionDate" dateFormat="dd/mm/yy"></p-calendar>
          </div>


          <div class="form-group">
            <label for="workflowid">Expiration Date</label>
            <p-calendar [showIcon]="true" [(ngModel)]="sourcePublication.expirationDate" dateFormat="dd/mm/yy"></p-calendar>
          </div>

          <div class="form-group">
            <label for="workflowid">Next Review Date</label>
            <p-calendar [showIcon]="true" [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="sourcePublication.nextreviewDate" dateFormat="dd/mm/yy"></p-calendar>
          </div>

          <div class="form-group">
            <label for="workflowid">Employee</label>
            <p-dropdown [options]="employeeList" class="pub-type-select" [(ngModel)]="sourcePublication.employee"  #pubID="ngModel"     ></p-dropdown>

          </div>
          <div class="form-group">
            <label for="workflowid">Verified By</label>
            <input pInputText type="text" [(ngModel)]="sourcePublication.verifiedby" />
          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group">
            <label for="workflowid">File Upload </label>
            <p-fileUpload name="myfile[]"    multiple="multiple"
              [showCancelButton]="false"></p-fileUpload>
          </div>


        </div>

      </div>

  
      <div class="pull-right">
          <button class="btn btn-primary-cstm  button-save" type="submit" (click)="editItemCloseModel(); ">
            Save & Next
          </button>
        </div>               




      
  
   
  </div>
  </div>
     <div  [ngClass]="{hideTab : currentTab !== 'PnMap'}">
      <div class="card-header header-text ">
        PN Mapping
      </div>
      <div class="card-body">
        <div class="col-md-12">

            <div class="col-md-12 shadow-Box">
                
                <div class="col-md-4" >
                  <p class="fs12">
                    <label class="control-label labels-font-header" style="width: auto; ">Publication ID:  </label>
               <span class="span-header-red"> {{this.generalInformationDetails.PublicationId }} </span> </p>
                </div>
                <div class="col-md-4">
                  <p class="fs12">
                    <label class="control-label labels-font-header" style="width: auto; ">Publication Description:  </label>
                    <span class="span-header-red"> {{this.generalInformationDetails.description }} </span> </p>
                </div>  
                <div  class="col-md-4">
                  <p class="fs12">
                    <label class="control-label labels-font-header" style="width: auto; ">Publication Type</label>
                    <span class="span-header-red"> {{this.generalInformationDetails.pubType}} </span></p>
                </div>                              
              </div>
          <div class="col-md-12">
            <div class="shadow-Box">
              <div class="col-md-3">
                <div class="form-group ">
                  <label class="fs12"
                    >Part Number
                  </label>
                  <p-multiSelect
                    [options]="partNumberList"
                    [(ngModel)]="selectedPartNumbers"
                    class="pub-multi align-x"
                  ></p-multiSelect>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <button class="btn btn-primary mtop20" (click)="savePNMapping()">
                    Add
                  </button>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="shadow-Box">
              <p-table
                [columns]="headersforPNMapping"
                [value]="pnMappingList"
                [paginator]="true"
                [rows]="10"
                [first]="first"
              >
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>Sl.No</th>
                    <th *ngFor="let col of columns">
                      {{ col.header }}
                    </th>
                    <th>Actions</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-rowData
                  let-columns="columns"
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td *ngFor="let col of columns">
                      {{ rowData[col.field] }}
                    </td>
                    <td>
                      <!-- <a class="btn btn-primary nobg">
                        <i class="fa fa-edit"></i>
                      </a> -->
                      <a class="btn btn-danger nobg">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="col-md-12">
            <button
              class="btn btn-primary-cstm pull-left button-save"
              type="submit"
              (click)="changeOfTab('General')"
            >
              Previous
            </button>

            <button
              class="btn btn-primary-cstm pull-right button-save"
              type="submit"
              (click)="changeOfTab('Aircraft'); "
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div> 


    <!-- Aircraft Information  -->

    <div  [ngClass]="{hideTab : currentTab !== 'Aircraft'}">
      <div class="card-header header-text ">
        Aircraft Information
      </div>
      <div class="card-body">
        <div class="col-md-12">

          <div class="col-md-12 ">
            <div class="shadow-Box">
              <h4>Search Dash Numbers</h4>
              <div class="col-md-3">
                <div class="form-group ">
                  <label class="fs12">Aircraft </label>
                  <p-multiSelect
                    [options]="airCraftTypesList"
                    [(ngModel)]="selectAircraftManfacturer"
                    (onChange)="getAircraftModelByManfacturerType()"
                    class="pub-multi"
                  ></p-multiSelect>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="fs12">
                    Aircraft Model
                  </label>
                  <p-multiSelect
                    [options]="aircraftModelList"
                    [(ngModel)]="selectedAircraftModel"
                    [selectionLimit]="30"
                    (onChange)="getDashNumberByManfacturerandModel(); multiSelectMaxLengthAlert();"
                    class="pub-multi"
                  ></p-multiSelect>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group ">
                    <label class="fs12">DashNumber </label>
                    <p-multiSelect
                      [options]="dashNumberList"
                      [selectionLimit]="30"
                      [(ngModel)]="selectedDashNumbers"
                      (onChange)="multiSelectMaxLengthAlert();"
                      class="pub-multi"
                    ></p-multiSelect>
                  </div>
                </div>

              <div class="col-md-3">
                <div class="form-group">
                  <button class="btn btn-primary mtop20" (click)="searchAircraftInformation()">
                    <i class="pi pi-search pi-search" ></i>
                  </button>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="shadow-Box">
              <p-table
                [columns]="aircraftInformationCols"
                [value]="aircraftList"
                [paginator]="true"
                [rows]="10"
                [first]="first"
              >
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>ID</th>
                    <th *ngFor="let col of columns">
                      {{ col.header }}
                    </th>
                    <th>Actions</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-rowData
                  let-columns="columns"
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td *ngFor="let col of columns">
                      {{ rowData[col.field] }}
                    </td>
                    <td>
                      <a class="btn btn-primary nobg">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a class="btn btn-danger nobg">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="col-md-12">
            <button
              class="btn btn-primary-cstm pull-left button-save"
              type="submit"
              (click)="changeOfTab('PnMap')"
            >
              Previous
            </button>

            <button
              class="btn btn-primary-cstm pull-right button-save"
              type="submit"
              (click)="changeOfTab('Atachapter')"
            >
             Next
            </button>
          </div>
        </div>
      </div>
    </div>

    <div [ngClass]="{hideTab : currentTab !== 'Atachapter'}" >
      <div class="card-header header-text ">
        ATA Information
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="shadow-Box">
              <h4>Search ATA Chapters</h4>
              <div class="col-md-4">
                <div class="form-group ">
                  <label class="fs12">ATA Chapter</label>
                  <p-multiSelect
                    [options]="ataChapterList"
                    [(ngModel)]="selectedATAchapter"
                    (onChange)="getSubChapterByATAChapter()"
                    class="pub-multi"
                  ></p-multiSelect>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="fs12">ATA SubChapter</label>
                  <p-multiSelect
                    [options]="ataSubChapterList"
                    [(ngModel)]="selectedATASubChapter"
                    class="pub-multi"
                  ></p-multiSelect>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <button class="btn btn-primary mtop20" (click)="searchATA()">
                    <i class="pi pi-search pi-search"></i>
                  </button>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="shadow-Box">
              <p-table
                [columns]="atacols"  
                [value]="ataList"             
                [paginator]="true"
                [rows]="10"
                [first]="first"
              >
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>ID</th>
                    <th *ngFor="let col of columns">
                      {{ col.header }}
                    </th>
                    <th>Actions</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-rowData
                  let-columns="columns"
                  let-rowIndex="rowIndex"
                >
                  <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td *ngFor="let col of columns">
                      {{ rowData[col.field] }}
                    </td>
                    <td>
                      <a class="btn btn-primary nobg">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a class="btn btn-danger nobg">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button
            class="btn btn-primary-cstm pull-left button-save"
            type="submit"
            (click)="changeOfTab('Aircraft')"
          >
            Previous
          </button>

          <!-- <button
            class="btn btn-primary-cstm pull-right button-save"
            type="submit"
            (click)="changeOfTab('Atachapter')"
          >
            Save
          </button> -->
        </div>
      </div>
    </div>
 <!-- Add DashNumber Popup -->
 <div id="addDashNumber" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dash Numbers</h4>
      </div>
      <div class="modal-body">
              <form method="post" id="" name="">
                  <div class="col-sm-12">
                    <div class="form-group marginr50" style="display: inline-block;">
                      <p class="fs10">
                        <label class="control-label" style="width: auto;">PN</label>
                        PN123 </p>
                    </div>
                    <div class="form-group marginr50" style="display: inline-block;">
                      <p class="fs10">
                        <label class="control-label" style="width: auto;">Aircraft</label>
                        Airbus </p>
                    </div>  
                    <div class="form-group marginr50" style="display: inline-block;">
                      <p class="fs10">
                        <label class="control-label" style="width: auto;">Model</label>
                        A767, A768</p>
                    </div>                                 
                  </div>
                <div id="" class="table-responsive default-bg clear">
                  <table class="table table-bordered table-striped table-sorting dashnumbers-table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Aircraft</th>
                        <th>Model</th>
                        <th>Dash Number</th>
                        <th>Memo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="checkbox" class="form-control"></td>
                        <td>Airbus</td>
                        <td>A767</td>
                        <td>333</td>
                        <td><textarea class="form-control"></textarea></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" class="form-control"></td>
                        <td>Airbus</td>
                        <td>A767</td>
                        <td>444</td>
                        <td><textarea class="form-control"></textarea></td>
                      </tr> 
                      <tr>
                        <td><input type="checkbox" class="form-control"></td>
                        <td>Airbus</td>
                        <td>A767</td>
                        <td>555</td>
                        <td><textarea class="form-control" disabled=""></textarea></td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" class="form-control"></td>
                        <td>Airbus</td>
                        <td>A320</td>
                        <td>222</td>
                        <td><textarea class="form-control" disabled=""></textarea></td>
                      </tr>                 
                                     
                    </tbody>
                  </table>
                  <div class="clear"></div>
                  <br>
                </div>
              </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
