// hide tabs data dynamically
.hideTab {
  display: none !important;
}
.labels-font-header {
  font-size: 16px !important;
  font-weight: normal !important;
}
.span-header-red {
  color: red;
  font-weight: bold;
}
label {
  font-size: 12px !important;
  text-align: left;
  width: 140px;
  margin-right: 0;
  font-weight: normal;
}
input[type='text'],
input[type='number'],
select,
textarea {
  height: 24px !important;
  border-radius: 5px !important;
}
.isDisabled {
  pointer-events: none;
}
