<div>
  <button data-target="#addNewFreight" data-toggle="modal" (click)="createNew()" class="btn btn-primary btn-primary"
    style="padding: 6px 12px !important;">
    Add Freight
  </button>
</div>

<div>
  <p-table [columns]="cols" [value]="workOrderFreightList" [lazy]="false" [paginator]="true" [rows]="10"
    [paginator]="true">
    <ng-template pTemplate="header" let-columns>
      <tr *ngIf="isQuote">
        <th colspan="9">
          &nbsp;
        </th>
        <th colspan="4">
          <div class="form-group" style="text-align: center; display: flex;">
            <p-radioButton class="p-radiobutton-label-horizontal p-radio-custom" name="costPlusType"
              label="T&M - Mark Up" value="1" [(ngModel)]="costPlusType" [disabled]="isView" (click)="tmchange()">
            </p-radioButton>
            <div>
              <select class="form-group" (change)="markupChanged({}, 'all')" [(ngModel)]="overAllMarkup"
                [disabled]="isView || costPlusType != '1'" style="margin-top: 10px;">
                <option value="">Select</option>
                <option *ngFor="let markUp of markupList" [value]="markUp.value">{{markUp.label}}</option>
              </select>
            </div>
          </div>
          <div style="float: left;">
            <p-radioButton class="p-radiobutton-label-horizontal col-width p-radio-custom" name="costPlusType" value="2"
              label="Actual" [(ngModel)]="costPlusType" [disabled]="isView" (click)="tmchange()"></p-radioButton>
          </div>
          <!-- <div class="form-group" style="text-align: center;">
              <p-radioButton
                class="p-radiobutton-label-horizontal p-radio-custom"
                name="costPlusType"
                label="T&M"
                value="Mark Up"
                [(ngModel)]="costPlusType"
                [disabled]="isView"
              ></p-radioButton>
              <div style="display: flex;">
                <label style="color: #ffffff; font-size: 12px !important;
                font-weight: normal;
                margin-right: 25px;">Mat Mark Up %</label>
                <select class="form-control wf-pub-id" (change)="markupChanged({}, 'all')" [(ngModel)]="overAllMarkup" [disabled]="isView || costPlusType != 'Mark Up'">
                  <option value="">Select</option>
                  <option *ngFor="let markUp of markupList" [value]="markUp.value">{{markUp.label}}</option>
                </select>
              </div>
            </div> -->
        </th>
        <!-- <th colspan="2">
          <div>
            <p-radioButton
              class="p-radiobutton-label-horizontal col-width p-radio-custom"
              name="costPlusType"
              value="Fixed Mat Price"
              label="Fixed Mat Price"
              [(ngModel)]="costPlusType"
              [disabled]="isView"
            ></p-radioButton>
          </div>
        </th> -->
      </tr>
      <tr>
        <th>Task</th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <ng-container *ngIf="isQuote">
          <th>Billing Method</th>
          <th>Mark Up</th>
          <!-- <th tooltip="Time & Materials">Billing Rate</th> -->
          <th>Billing Amount</th>
          <!-- <th tooltip="Time & Materials">T&M Amount</th>
          <th>Fixed Amount</th> -->
        </ng-container>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr *ngIf="!rowData['isDeleted']">
        <td>
          <select class="form-control select-read-only" [(ngModel)]="rowData.taskId" disabled>
            <option value="">Select</option>
            <option *ngFor="let task of taskList" [value]="task.taskId">{{task.description}}</option>
          </select>
        </td>
        <ng-container *ngFor="let col of columns">
          <td *ngIf="col.field != 'shipVia' && col.field != 'carrierName'">
            {{rowData[col.field]}}
          </td>
          <td *ngIf="col.field == 'carrierName'">
            <select class="form-control select-read-only" [(ngModel)]="rowData.carrierId" disabled>
              <option value="">Select</option>
              <option *ngFor="let cl of carrierList" [value]="cl.value">{{cl.label}}</option>
            </select>
          </td>
          <td *ngIf="col.field == 'shipVia'">
            <select class="form-control select-read-only" [(ngModel)]="rowData.shipViaId" disabled>
              <option value="">Select</option>
              <option *ngFor="let sv of shipViaList" [value]="sv.value">{{sv.label}}</option>
            </select>
          </td>
        </ng-container>
        <!-- <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td> -->
        <ng-container *ngIf="isQuote">
          <td>
            <select class="form-control" [(ngModel)]="rowData.billingMethodId" [disabled]="isView">
              <option value="">Select</option>
              <option *ngFor="let bm of [{'label': 'T&M', 'value': '1'}, {'label': 'Actual', 'value': '2'}]"
                [value]="bm.value">{{bm.label}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" (change)="markupChanged(rowData, 'row')"
              [(ngModel)]="rowData.markupPercentageId" [disabled]="isView || rowData.billingMethodId != '1'">
              <option value="">Select</option>
              <option *ngFor="let markUp of markupList" [value]="markUp.value">{{ markUp.label }}</option>
            </select>
          </td>
          <!-- <td>
              {{ rowData.freightCostPlus }}
            </td>
            <td>
              <input type="number" [(ngModel)]="rowData.fixedAmount" [disabled]="costPlusType != 'Fixed Mat Price'"/>
            </td> -->
          <td>
            <input type="number" [(ngModel)]="rowData.billingAmount"
              [disabled]="isView || rowData.billingMethodId != '2'" />
          </td>
          <!-- <td>{{ rowData.billingAmount }}</td> -->
        </ng-container>
        <td class="btn-spaces">
          <button class="btn-edit ptable-wo-btns" mat-icon-button data-target="#addNewFreight" data-toggle="modal"
            (click)="edit(rowData, rowIndex)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="btn-delete ptable-wo-btns" mat-icon-button matTooltip="Delete" (click)="delete(rowData)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" *ngIf="isQuote">
      <tr>
        <td>Total</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>{{getTotalAmount()}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <!-- <td>{{getTotalBillingRate()}}</td> -->
        <td>{{getTotalBillingAmount()}}</td>
        <td>&nbsp;</td>
      </tr>
    </ng-template>
  </p-table>
  <button class="btn btn-primary pull-right" (click)="createFreightsQuote()" *ngIf="!isView && isQuote">
    Save Freights
  </button>
</div>

<div id="addNewFreight" class="modal fade" role="dialog" *ngIf="!view">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Add Freight</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="!isEdit">
          <span class="cat-heading cat4 ng-star-inserted">
            Add Freight
            <i class="fa fa-plus" (click)="addNewRow()"></i>
          </span>
        </div>
        <div class="tab-content">
          <div class="table-responsive table-overflow" style="height: 300px;">
            <form #frieghtsCreateForm="ngForm">
              <table class="table table-bordered ">
                <thead>
                  <tr>
                    <th>Task</th>
                    <!-- <th>Carrier *</th> -->
                    <th>Ship Via *</th>
                    <th>Dimensions *</th>
                    <th>Weight</th>
                    <th>Memo</th>
                    <th>Amount*</th>
                    <th>Fixed Freight</th>
                    <th *ngIf="!isQuote">Fixed Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let f of freightForm; let i = index">
                    <td>
                      <select class="form-control" [(ngModel)]="f.taskId" [disabled]="isView" name="task_{{i}}">
                        <option value="">Select</option>
                        <option *ngFor="let task of taskList" [value]="task.taskId">{{task.description}}</option>
                      </select>
                    </td>
                    <!-- <td>
                      <p-dropdown placeholder="Select Carrier" name="carrier{{ i }}" #carrier="ngModel"
                        [options]="carrierList" class="p-dropdown-custom-md" [(ngModel)]="f.carrierId" required>
                      </p-dropdown>
                    </td> -->
                    <td>
                      <p-dropdown placeholder="Select Site Name" name="shipVia{{ i }}" #shipVia="ngModel"
                        [options]="shipViaList" class="p-dropdown-custom-md" [(ngModel)]="f.shipViaId" required>
                      </p-dropdown>
                    </td>
                    <td>
                      <input type="text" name="length{{ i }}" [(ngModel)]="f.length" #length="ngModel"
                        class="form-control w50" required />
                      L -
                      <input type="text" name="width{{ i }}" #width="ngModel" [(ngModel)]="f.width"
                        class="form-control w50" required />
                      W -
                      <input type="text" name="height{{ i }}" #height="ngModel" [(ngModel)]="f.height"
                        class="form-control w50" required />H
                    </td>
                    <td>
                      <input type="text" name="weight{{ i }}" #weight="ngModel" [(ngModel)]="f.weight"
                        class="form-control w50" />
                    </td>
                    <td>
                      <textarea name="memo{{ i }}" cols="30" rows="4" [(ngModel)]="f.memo"></textarea>
                    </td>
                    <td>
                      <input type="number" name="amount{{ i }}" #amount="ngModel" [(ngModel)]="f.amount"
                        class="form-control w50" required />
                    </td>
                    <td>
                      <input type="checkbox" name="fixed{{ i }}" #fixed="ngModel" [(ngModel)]="f.isFixedFreight" />
                    </td>
                    <td *ngIf="!isQuote">
                      <input type="number" name="fixedAmount{{ i }}" #fixedAmount="ngModel" [(ngModel)]="f.fixedAmount"
                        class="form-control w50" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary pull-right" (click)="saveFreightList()" [disabled]="!frieghtsCreateForm.valid">
          {{ isEdit ? 'Update' : (isQuote)?'Save Freights':'Save' }}
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="equipment-tab-content" >
    <div class="x_panel" *ngIf="workOrderExclusionsList">
                                                   <div class="tab-content">
                                                       <div class="table-responsive table-overflow" id="workflow-attributes-block">
                                                           <table class="table table-bordered ">
                                                               <thead>
                                                                   <tr>
                                                                       <th class="text-center">EPN</th>
                                                                       <th class="text-center">EPN Description</th>
                                                                       <th class="text-center">Quantity</th>
                                                                       <th class="text-center">Unit Cost</th>
                                                                       <th class="text-center">Extended Cost</th>
                                                                       <th class="text-center">Memo</th>
                                                                       <th colspan="4" class="text-center"></th>
                                                                   </tr> 
                                                               </thead>
                                                           
                                                               <tbody>
                                                                 <ng-container *ngFor="let w  of workOrderExclusionsList; let i=index;">
                                                                   <tr *ngIf="!w['isDeleted']">
                                                                     <td>{{w.epn}}</td>
                                                                     <td>{{w.epnDescription}}</td>
                                                                     <td>{{w.quantity}}</td>
                                                                     <td>{{w.unitCost}}</td>
                                                                     <td>{{w.extendedCost}}</td>
                                                                     <td>{{w.memo}}</td>

                                                                     <td>
                                                                       <button
                                                                         class="btn-edit ptable-wo-btns"
                                                                         mat-icon-button
                                                                         data-target="#addNewExclusions"
                                                                         data-toggle="modal"
                                                                         (click)="edit(w, i)"
                                                                         matTooltip="Edit"
                                                                       >
                                                                         <mat-icon>edit</mat-icon>
                                                                       </button>
                                                                     </td>
                                                                     <td>
                                                                       <button
                                                                         class="btn-delete ptable-wo-btns"
                                                                         mat-icon-button
                                                                         matTooltip="Delete"
                                                                         (click)="delete(w, i)"
                                                                       >
                                                                         <mat-icon color="warn">delete</mat-icon>
                                                                       </button>
                                                                     </td>

                                                                   </tr> 
                                                                 </ng-container>
                                                               </tbody>
                                                           </table>
                                                           <button
                                                             class="btn btn-primary pull-right"
                                                             (click)="saveQuotation()"
                                                             *ngIf = "isQuote"
                                                           >
                                                             Save
                                                           </button>
                                                       </div>
                                                   </div>
                                                   <div class="clear"></div>
                                                   <br />
                                                   <br />
                                                   <br />
                                                   <br />
                                               </div>
</div> -->