.btn-spaces > button {
  margin-right: 13px !important;
}
.ui-radiobutton-label{
  color: #ffffff !important;
}
.select-read-only{
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  box-shadow: none !important;
}