<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <h4 class="page-heading clr-green">Asset List</h4>
                <span class="help-icon" data-original-title="Help" data-toggle="tooltip"><i class="fa fa-info" data-toggle="modal" data-target="#help-popup"></i></span>
                <p-table #dt [value]="allAssetInfo" [metaKeySelection]="true" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [columns]="selectedColumns" selectionMode="multiple" [(selection)]="selectedColumn" [resizableColumns]="true" [reorderableColumns]="true">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                           selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
                            <div class="inner-addon right-addon w200 inline-block">
                                <i class="fa fa-search"></i>
                                <input type="text" pInputText size="50" class="form-control ui-autocomplete-input" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Filter">
                            </div>
                            <button type="button" pButton icon="fa-download" iconPos="left" label="Export All Data" (click)="dt.exportCSV()"></button>
                            <button type="button" pButton icon="fa-download" iconPos="left" label="Export Selection Only" *ngIf="selectedColumn" (click)="dt.exportCSV({selectionOnly:true})"></button>
                            <a matTooltip="Add Asset" class="btn btn-success nobg" (click)="navigateTogeneralInfo()"><span><i class="fa fa-plus"></i></span></a>
                            <div class="excel-upload">
                                <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                <label for="upload">
                                    <span matTooltip="Upload Data (Excel)"><i class="fa fa-upload"></i></span>
                                </label>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-asset>
                        <tr [pSelectableRow]="rowData" (dblclick)="openAssetToEdit(rowData)">

                            <td>{{asset.assetId}}</td>
                            <td>{{asset.alternateAssetId}}</td>
                            <td>{{asset.name}}</td>
                            <td>{{asset.manufacturer?.name}}</td>
                            <td>{{asset.currency?.symbol}}</td>

                            <td style="width:150px">

                                <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>

                                <span data-toggle="modal" data-target="#view"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openView(view,rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span>
                                <button class="btn-edit" mat-icon-button (click)="openAssetToEdit(rowData)" matTooltip="edit">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button class="btn-delete" mat-icon-button matTooltip="Delete" (click)="openDelete(content,rowData)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>
            </div>
        </div>
    </div>

            <ng-template #view class="modal fade " id="view" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" (click)="dismissModel()">×</button>
                        <h4 class="modal-title">Details of Asset {{assetViewList.assetId}}</h4>
                    </div>
                    <div class="modal-body viewform">
                        <div id="adminsearchlocationajax" class="table-responsive default-bg clear">
                            <hr>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a data-toggle="collapse" href="#step1" aria-expanded="true" aria-controls="receive">General Information</a> </h4>
                                    </div>
                                    <div id="step1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="col-sm-6">
                                                <p><span class="label"><b>Asset ID: </b></span><span class="value">{{assetViewList.assetId}}</span></p>
                                                <p><span class="label"><b>Alt Asset ID: </b></span><span class="value">{{assetViewList.alternateAssetId}}</span></p>
                                                <p><span class="label"><b>Asset Name: </b></span><span class="value">{{assetViewList.name}} </span></p>
                                                <p><span class="label"><b>Calibration Required: </b></span><input type="checkbox" [disabled]="true" [checked]="assetViewList.calibrationRequired" /></p>
                                                <p><span class="label"><b>Certification Required: </b></span><input type="checkbox" [disabled]="true" [checked]="assetViewList.certificationRequired" /></p>
                                                <p><span class="label"><b>Inspection Required: </b></span><input type="checkbox" [disabled]="true" [checked]="assetViewList.inspectionRequired" /></p>
                                                <p><span class="label"><b>Verification Required: </b></span><input type="checkbox" [disabled]="true" [checked]="assetViewList.verificationRequired" /></p>
                                                <!--<p><span class="label"><b>Intangible/Depreciable: </b></span><span class="value">{{assetViewList.description}}</span></p>-->
                                                <p><span class="label"><b>Acquisition Type: </b></span><span class="value">{{assetViewList.assetAcquisitionTypeId}}</span></p>
                                                <p><span class="label"><b>Manufacturer: </b></span><span class="value">{{manufacturerId}} </span></p>
                                                <p><span class="label"><b>Manufactured Date: </b></span><span class="value">{{assetViewList.manufacturedDate}}</span></p>
                                                <p><span class="label"><b>Model: </b></span><span class="value">{{assetViewList.model}}</span></p>
                                                <p><span class="label"><b>Serialized?: </b></span><input type="checkbox" [disabled]="true" [checked]="assetViewList.isSerialized" /></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p><span class="label"><b>UOM: </b></span><span class="value">{{unitOfMeasureId}}</span></p>
                                                <p><span class="label"><b>Currency: </b></span><span class="value">{{currencyId}}</span></p>
                                                <p><span class="label"><b>Unit Cost: </b></span><span class="value">{{assetViewList.unitCost}}</span></p>
                                                <p><span class="label"><b>Expiration Date: </b></span><span class="value">{{assetViewList.expirationDate}}</span></p>
                                                <p><span class="label"><b>Asset Location: </b></span><span class="value">{{assetViewList.asset_Location}}</span></p>
                                                <p><span class="label"><b>Memo: </b></span><span class="value">{{assetViewList.memo}} </span></p>
                                                <p><span class="label"><b>Asset Parent: </b></span><span class="value">{{assetViewList.assetParentId}}</span></p>
                                                <p><span class="label"><b>Asset Type: </b></span><span class="value">{{assetTypeId}}</span></p>
                                                <!--<p><span class="label"><b>Depreciation Method: </b></span><span class="value">{{assetViewList.description}}</span></p>
                                                <p><span class="label"><b>Residual %: </b></span><span class="value">{{assetViewList.description}}</span></p>
                                                <p><span class="label"><b>Asset Life: </b></span><span class="value"> {{assetViewList.description}}</span></p>
                                                <p><span class="label"><b>Depr Frequency: </b></span><span class="value">{{assetViewList.description}}</span></p>-->
                                                <!--<p><span class="label"><b>Acquired GL: </b></span><span class="value">12345(Description)</span></p>
                                                <p><span class="label"><b>Depr Expense GL: </b></span><span class="value">12345(Description)</span></p>
                                                <p><span class="label"><b>AD Depr GL: </b></span><span class="value">12345(Description)</span></p>
                                                <p><span class="label"><b>Sale GL: </b></span><span class="value">12345(Description)</span></p>
                                                <p><span class="label"><b>Write Off GL: </b></span><span class="value">12345(Description)</span></p>
                                                <p><span class="label"><b>Write Down GL: </b></span><span class="value">12345(Description)</span></p>-->


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step2">Capes</a> </h4>
                                    </div>
                                    <div id="step2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-sm-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>S.no</th>
                                                                <th>PN</th>
                                                                <th>PN Description</th>
                                                                <th>Capability type</th>
                                                                <th>Aircraft maufacturer</th>
                                                                <th>Models</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>PN123</td>
                                                                <td>Engine toll</td>
                                                                <td>MFG</td>
                                                                <td>Airbus</td>
                                                                <td>AB123</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>PN123</td>
                                                                <td>Engine toll</td>
                                                                <td>Overhaul</td>
                                                                <td>Boeing</td>
                                                                <td>AB125</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>PN123</td>
                                                                <td>Engine toll</td>
                                                                <td>Exchange</td>
                                                                <td>Airbus</td>
                                                                <td>AB124</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="clr-red">no. of rows in the table are all the possible combinations of PN, Capability type, Aircraft maufacturer, Models selected</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step3">Calibiration</a> </h4>
                                    </div>
                                    <div id="step3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-sm-6">
                                                <p><span class="label"><b>Inspection Frequency: </b></span><span class="value">{{assetViewList.inspectionFrequencyMonths}}Months{{assetViewList.inspectionFrequencyDays}}Days</span></p>
                                                <p><span class="label"><b>Default Vendor: </b></span><span class="value">{{assetViewList.inspectionDefaultVendorId}} </span></p>
                                                <p><span class="label"><b>Dafault Cost: </b></span><span class="value">{{assetViewList.inspectionDefaultCost}}</span></p>
                                                <p><span class="label"><b>GL Account: </b></span><span class="value">{{assetViewList.inspectionGlaAccountId}}</span></p>
                                                <p><span class="label"><b>Inspection Memo: </b></span><span class="value">{{assetViewList.inspectionMemo}}</span></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group col-sm-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th colspan="2">Tolerance</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Min</td>
                                                                    <td><span class="value">{{assetViewList.assetCalibrationMin}}</span></td>
                                                                    <td><span class="value">{{assetViewList.assetCalibrationMinTolerance}}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Max</td>
                                                                    <td><span class="value">{{assetViewList.assetCalibratonMax}}</span></td>
                                                                    <td><span class="value">{{assetViewList.assetCalibrationMaxTolerance}}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Expected</td>
                                                                    <td><span class="value">{{assetViewList.assetCalibrationExpected}}</span> </td>
                                                                    <td><span class="value">{{assetViewList.assetCalibrationExpectedTolerance}}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td colspan="2"><span class="value">{{assetViewList.assetCalibrationMemo}}</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step4">Maintanance &amp; Warranty</a> </h4>
                                    </div>
                                    <div id="step4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-sm-6">
                                                <p><span class="label"><b>Maintenance Required: </b></span><input type="checkbox" [disabled]="true" [checked]="assetViewList.assetIsMaintenanceReqd" /></p>
                                                <p><span class="label"><b>Maintenance Contract: </b></span><input type="checkbox" [disabled]="true" [checked]="assetViewList.assetMaintenanceIsContract" /></p>
                                                <!--<p><span class="label"><b>Contract Document:</b></span><span class="value"><a href="sample.docx" class="clr-red">View</a></span></p>-->
                                                <p><span class="label"><b>Maintenance Frequency: </b></span><span class="value">{{assetViewList.maintenanceFrequencyMonths}}Months</span></p>
                                                <p><span class="label"><b>Default Vendor: </b></span><span class="value">{{assetViewList.defaultVendorId}}</span></p>
                                                <p><span class="label"><b>GL Account: </b></span><span class="value">{{glAccountId}}</span></p>
                                                <p><span class="label"><b>Maintenance Memo: </b></span><span class="value">{{assetViewList.maintenanceMemo}}</span></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p><span class="label"><b>Warranty Required: </b></span><input type="checkbox" [disabled]="true" [checked]="assetViewList.isWarrantyRequired" /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="dismissModel()">Close</button>
                    </div>
                </div>
            </ng-template>

            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Are You Sure Want to Delete?</h4>
                    <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="removeAsset()">Yes</button>
                    <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
                </div>

            </ng-template>
