.modal {
    .modal-body.editModal label {
        font-weight: normal !important;
        width: 100% !important;
        text-align: left;
        margin-top: 0;
    }

    .modal-body.editModal .form-group {
        margin-bottom: 10px;
    }
}

.ui-button.ui-button-text-icon-left.btn-primary-cstm .ui-button-text, .ui-button.ui-button-text-icon-left {
    font-family: 'Open Sans', sans-serif !important;
}

.ui-button.ui-button-text-icon-left .ui-button-icon-left {
    font-family: FontAwesome !important
}
