control-label {
    margin-top: 10px;
    text-align: left;
    font-size: 12px !important;
    width: 100% !important;
    font-weight: 500;
}

.modal.editModal {
    .modal-body div.form-group label, label {
        font-weight: normal;
        width: 100%;
        text-align: left;
    }
}

/*
.ui-button.ui-button-text-icon-left.btn-primary-cstm .ui-button-text, .ui-button.ui-button-text-icon-left {
    font-family: 'Open Sans', sans-serif !important;
}

.ui-button.ui-button-text-icon-left .ui-button-icon-left {
    font-family: FontAwesome !important
}
*/