﻿
<div class="x_content">
    <div class="card">
        <div class="card-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb rpo-bcrumb" style="background-color: transparent;">
                    <li class="breadcrumb-item active" aria-current="page">{{isEditMode ? 'Edit' : 'Create'}} Stock Line</li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <!-- <h4 class="po-head">Stock Line Setup</h4> {{isEditMode ? 'Edit' : 'Create'}}-->
            <form #stockLineSetupForm="ngForm">
                <div class="form-row">                            
                    <div class="col-md-3">
                        <div class="card" style="margin-top: 20px;margin-bottom: 10px;">
                            <div class="card-header" style="padding: 10px 12px;">
                                <h5 style="margin-bottom: 0; font-size: 12px;">Management Structure <span class="clr-red">*</span></h5>
                            </div>
                            <div class="card-body" style="padding: 12px 12px 4px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="form-control" name="company" [(ngModel)]="managementStructure.companyId" 
                                        (change)="selectedLegalEntity(managementStructure.companyId);" #companyName="ngModel" required>
                                            <option value="0">Select Legal Entity</option>
                                            <option *ngFor="let name of legalEntityList" [ngValue]="name.value">{{name.label}}</option>
                                        </select>
                                        <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)" class="alert alert-danger alert-danger-cstm">
                                                <div *ngIf="companyName.errors.required">
                                                    <small> Legal Entity Name is required </small>
                                                </div>
                                        </div>        
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" [(ngModel)]="managementStructure.buId" name="buId" (change)="selectedBusinessUnit(managementStructure.buId)">
                                            <option value="0">-- Select --</option>
                                            <option *ngFor="let name of businessUnitList" [ngValue]="name.value">{{name.label}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" [(ngModel)]="managementStructure.divisionId" name="divisionId" (change)="selectedDivision(managementStructure.divisionId)">
                                            <option value="0">-- Select --</option>
                                            <option *ngFor="let name of divisionList" [ngValue]="name.value">{{name.label}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" [(ngModel)]="managementStructure.departmentId" name="departmentId" (change)="selectedDepartment(managementStructure.departmentId)">
                                            <option value="0">-- Select --</option>
                                            <option *ngFor="let name of departmentList" [ngValue]="name.value">{{name.label}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>PN <span class="clr-red">*</span>
                                <span style="margin-left:3px;cursor:pointer;"><a class="fa fa-plus-circle fa-lg" matTooltip="Add Part Number" matTooltipPosition="above" target="_blank" [routerLink]="['/itemmastersmodule/itemmasterpages/app-item-master-stock']"></a></span>
                            </label>
                            <div class="inner-addon right-addon inline-block">
                                <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="stockLineForm.itemMasterId" name="partNumber" [suggestions]="partNumbersCollection" (completeMethod)="filterPartNumbers($event)" [size]="30" [minLength]="1" [dropdown]="true" (onSelect)="onPartNumberSelected($event.value);" #partNum="ngModel" errorMessage="Records not found" [forceSelection]="true" required></p-autoComplete>
                                <div *ngIf="partNum.invalid && (partNum.dirty || partNum.touched)" class="alert alert-danger alert-danger-cstm">
                                        <div *ngIf="partNum.errors.required">
                                            <small> Part Number is required </small>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>PN Description</label>
                            <input class="form-control" type="text" name="pnDescription" [(ngModel)]="stockLineForm.partDescription" disabled>
                        </div>
                        <div class="form-group">
                            <label>Stock Line Num</label>
                            <input class="form-control" type="text" name="stockLineNumber" [(ngModel)]="stockLineForm.stockLineNumber" disabled>
                        </div>
                        <div class="form-group">
                            <label>Control Num</label>
                            <input class="form-control" type="text" name="controlNumber" [(ngModel)]="stockLineForm.controlNumber" disabled>
                        </div>
                        <div class="form-group">
                            <label>Id Number</label>
                            <input class="form-control" type="text" name="idNumber" [(ngModel)]="stockLineForm.idNumber" disabled>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-cstm" style="margin-top: 10px;">
                                <label>
                                    <input type="checkbox" name="isSerialized" [(ngModel)]="stockLineForm.isSerialized" disabled>
                                    <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                    Is Serialized
                                </label>
                            </div> <!--(change)="triggerSomeEvent()"-->
                        </div>
                        <div class="form-group">
                            <label>Qty On Hand <span class="clr-red">*</span></label>
                            <input class="form-control" type="number" name="QuantityOnHand" (keyup)="calculateQtyAvailable()" [(ngModel)]="stockLineForm.quantityOnHand" #quantityOnHand="ngModel" required>
                            <div *ngIf="quantityOnHand.invalid && (quantityOnHand.dirty || quantityOnHand.touched)" class="alert alert-danger alert-danger-cstm">
                                <div *ngIf="quantityOnHand.errors.required">
                                    <small> Qty On Hand is required </small>
                                </div>
                            </div>   
                        </div>
                        <div class="form-group">
                            <label>Qty Reserved</label>
                            <input class="form-control" type="number" name="QuantityReserved" (keyup)="calculateQtyAvailable()" [(ngModel)]="stockLineForm.quantityReserved">
                        </div>
                        <div class="form-group">
                            <label>Qty Issued</label>
                            <input class="form-control" type="number" name="QuantityIssued" (keyup)="calculateQtyAvailable()" [(ngModel)]="stockLineForm.quantityIssued">
                        </div>
                        <div class="form-group">
                            <label>Qty Available</label>
                            <input class="form-control" type="number" name="quantityAvailable" (keyup)="calculateQtyAvailable()" [(ngModel)]="stockLineForm.quantityAvailable" disabled>
                        </div>
                        <div class="form-group">
                            <label>Cond Type <span class="clr-red">*</span></label>
                            <select name="conditionId" [(ngModel)]="stockLineForm.conditionId" (change)="onSelectConditionType(stockLineForm.conditionId)" required>
                                <option value="0">-- Select --</option>
                                <option *ngFor="let condition of allConditionInfo" [ngValue]="condition.conditionId">{{condition.description}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="!hideSerialNumber">
                            <label>Serial Num <span class="clr-red">*</span></label>
                            <input class="form-control" type="text" name="serialNumber" #serialNumber="ngModel" [(ngModel)]="stockLineForm.serialNumber">
                            <div *ngIf="serialNumber.invalid && (serialNumber.dirty || serialNumber.touched)" class="alert alert-danger alert-danger-cstm">
                                <div *ngIf="serialNumber.errors.required">
                                    <small> Serial Num is required </small>
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="checkbox-cstm" style="margin-top: 10px;">
                                <label>
                                    <input type="checkbox" name="isSerialized" [(ngModel)]="stockLineForm.shelfLife" disabled>
                                    <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                    Shelf Life
                                </label>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="stockLineForm.shelfLife == 1">
                            <label>Shelf Life Exp Date</label>
                            <p-calendar class="workflow-clder" name="shelfLifeExpirationDate" [showIcon]="true" [minDate]="minDateValue" [(ngModel)]="stockLineForm.shelfLifeExpirationDate"></p-calendar>
                        </div>                                                                        
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Site <span class="clr-red">*</span></label>
                            <select [(ngModel)]="stockLineForm.siteId" name="siteId" (change)="getWareHouseList(stockLineForm.siteId)">
                                <option value="0">-- Select --</option>
                                <option *ngFor="let site of allSites" [ngValue]="site.siteId">{{site.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Warehouse</label>
                            <select [(ngModel)]="stockLineForm.warehouseId" name="warehouseId" (change)="getLocationList(stockLineForm.warehouseId)">
                                <option value="0">-- Select --</option>
                                <option *ngFor="let site of allWareHouses" [ngValue]="site.warehouseId">{{site.warehouseName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <select [(ngModel)]="stockLineForm.locationId" name="locationId" (change)="getShelfList(stockLineForm.locationId)">
                                <option value="0">-- Select --</option>
                                <option *ngFor="let site of allLocations" [ngValue]="site.locationId">{{site.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Shelf</label>
                            <select [(ngModel)]="stockLineForm.shelfId" name="shelfId" (change)="getBinList(stockLineForm.shelfId)">
                                <option value="0">-- Select --</option>
                                <option *ngFor="let site of allShelfs" [ngValue]="site.shelfId">{{site.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Bin</label>
                            <select [(ngModel)]="stockLineForm.binId" name="binId">
                                <option value="0">-- Select --</option>
                                <option *ngFor="let site of allBins" [ngValue]="site.binId">{{site.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                                <label>Obtain From</label>
                                <select [(ngModel)]="stockLineForm.obtainFromType" name="obtainFromType" (change)="onSelectObrainFrom()">
                                    <option value="0">-- Select --</option>
                                    <option value="1">Customer</option>
                                    <option value="2">Vendor</option>
                                    <option value="3">Company</option>
                                    <option value="4">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-row" *ngIf="stockLineForm.obtainFromType == 1">
                                    <div class="col-sm-11">
                                        <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="stockLineForm.obtainFrom" name="obtainFromCustomer" [suggestions]="customerNames" (completeMethod)="filterCustomerNames($event)" [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true"></p-autoComplete>                                    
                                    </div>
                                    <div class="col-sm-1">
                                        <div style="cursor:pointer; font-size:14px; margin:2px -7px;"><a class="fa fa-plus-circle fa-lg" target="_blank" matTooltip="Add Customer" matTooltipPosition="above" [routerLink]="['/customersmodule/customerpages/app-customer-create']"></a></div>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.obtainFromType == 2">
                                    <div class="col-sm-11">
                                        <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="stockLineForm.obtainFrom" name="obtainFromVendor" [suggestions]="vendorNames" (completeMethod)="filterVendorNames($event)" [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true">
                                        </p-autoComplete>
                                    </div>
                                    <div class="col-sm-1">
                                        <div style="cursor:pointer; font-size:14px; margin:2px -7px;"><a class="fa fa-plus-circle fa-lg" target="_blank" matTooltip="Add Vendor" matTooltipPosition="above" [routerLink]="['/vendorsmodule/vendorpages/app-vendor-general-information']"></a></div>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.obtainFromType == 3">
                                    <div class="col-sm-12">
                                        <p-autoComplete field="label" class="pautocomp-cstm"
                                            [(ngModel)]="stockLineForm.obtainFrom" name="obtainFromCompany" 
                                            [suggestions]="companyNames" 
                                            (completeMethod)="filterCompanyNames($event)" 
                                            [size]="30" 
                                            [minLength]="1"
                                            [dropdown]="true"
                                            errorMessage="Records not found" 
                                            [forceSelection]="true">
                                        </p-autoComplete>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.obtainFromType == 4">
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text" name="obtainFromOther" [(ngModel)]="stockLineForm.obtainFrom">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Owner</label>
                                <select [(ngModel)]="stockLineForm.ownerType" name="ownerType" (change)="onSelectOwner()">
                                    <option value="0">-- Select --</option>
                                    <option value="1">Customer</option>
                                    <option value="2">Vendor</option>
                                    <option value="3">Company</option>
                                    <option value="4">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-row" *ngIf="stockLineForm.ownerType == 1">
                                    <div class="col-sm-11">
                                        <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="stockLineForm.owner" name="ownerCustomer" [suggestions]="customerNames" (completeMethod)="filterCustomerNames($event)" [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true"></p-autoComplete>                                    
                                    </div>
                                    <div class="col-sm-1">
                                        <div style="cursor:pointer; font-size:14px; margin:2px -7px;"><a class="fa fa-plus-circle fa-lg" target="_blank" matTooltip="Add Customer" matTooltipPosition="above" [routerLink]="['/customersmodule/customerpages/app-customer-create']"></a></div>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.ownerType == 2">
                                    <div class="col-sm-11">
                                        <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="stockLineForm.owner" name="ownerVendor" [suggestions]="vendorNames" (completeMethod)="filterVendorNames($event)" [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true">
                                        </p-autoComplete>
                                    </div>
                                    <div class="col-sm-1">
                                        <div style="cursor:pointer; font-size:14px; margin:2px -7px;"><a class="fa fa-plus-circle fa-lg" target="_blank" matTooltip="Add Vendor" matTooltipPosition="above" [routerLink]="['/vendorsmodule/vendorpages/app-vendor-general-information']"></a></div>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.ownerType == 3">
                                    <div class="col-sm-12">
                                        <p-autoComplete field="label" class="pautocomp-cstm"
                                            [(ngModel)]="stockLineForm.owner" name="ownerCompany" 
                                            [suggestions]="companyNames" 
                                            (completeMethod)="filterCompanyNames($event)" 
                                            [size]="30" 
                                            [minLength]="1"
                                            [dropdown]="true"
                                            errorMessage="Records not found" 
                                            [forceSelection]="true">
                                        </p-autoComplete>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.ownerType == 4">
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text" name="ownerOther" [(ngModel)]="stockLineForm.owner">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Traceble To</label>
                                <select [(ngModel)]="stockLineForm.traceableToType" name="traceableToType" (change)="onSelectTraceableTo()">
                                    <option value="0">-- Select --</option>
                                    <option value="1">Customer</option>
                                    <option value="2">Vendor</option>
                                    <option value="3">Company</option>
                                    <option value="4">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-row" *ngIf="stockLineForm.traceableToType == 1">
                                    <div class="col-sm-11">
                                        <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="stockLineForm.traceableTo" name="traceableToCustomer" [suggestions]="customerNames" (completeMethod)="filterCustomerNames($event)" [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true"></p-autoComplete>                                    
                                    </div>
                                    <div class="col-sm-1">
                                        <div style="cursor:pointer; font-size:14px; margin:2px -7px;"><a class="fa fa-plus-circle fa-lg" target="_blank" matTooltip="Add Customer" matTooltipPosition="above" [routerLink]="['/customersmodule/customerpages/app-customer-create']"></a></div>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.traceableToType == 2">
                                    <div class="col-sm-11">
                                        <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="stockLineForm.traceableTo" name="traceableToVendor" [suggestions]="vendorNames" (completeMethod)="filterVendorNames($event)" [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true">
                                        </p-autoComplete>
                                    </div>
                                    <div class="col-sm-1">
                                        <div style="cursor:pointer; font-size:14px; margin:2px -7px;"><a class="fa fa-plus-circle fa-lg" target="_blank" matTooltip="Add Vendor" matTooltipPosition="above" [routerLink]="['/vendorsmodule/vendorpages/app-vendor-general-information']"></a></div>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.traceableToType == 3">
                                    <div class="col-sm-12">
                                        <p-autoComplete field="label" class="pautocomp-cstm"
                                            [(ngModel)]="stockLineForm.traceableTo" name="traceableToCompany" 
                                            [suggestions]="companyNames" 
                                            (completeMethod)="filterCompanyNames($event)" 
                                            [size]="30" 
                                            [minLength]="1"
                                            [dropdown]="true"
                                            errorMessage="Records not found" 
                                            [forceSelection]="true">
                                        </p-autoComplete>
                                    </div>
                                </div>
                                <div class="form-row" *ngIf="stockLineForm.traceableToType == 4">
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text" name="traceableToOther" [(ngModel)]="stockLineForm.traceableTo">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mfg</label>
                                <select [(ngModel)]="stockLineForm.manufacturerId" name="manufacturerId">
                                    <option value="0">-- Select --</option>
                                    <option *ngFor="let manufacturer of allManufacturerInfo" [ngValue]="manufacturer.manufacturerId">{{manufacturer.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Mfg Lot Num</label>
                                <input class="form-control" type="text" name="manufacturerLotNumber" [(ngModel)]="stockLineForm.manufacturerLotNumber">
                            </div>
                            <div class="form-group">
                                <label>Mfg Date</label>
                                <p-calendar class="workflow-clder" [showIcon]="true" name="manufacturingDate" [(ngModel)]="stockLineForm.manufacturingDate"></p-calendar>
                            </div>
                            <div class="form-group">
                                <label>Mfg Batch Num</label>
                                <input class="form-control" type="text" name="manufacturingBatchNumber" [(ngModel)]="stockLineForm.manufacturingBatchNumber">
                            </div>
                            <div class="form-group">
                                <label matTooltip="Engine Serial Number" matTooltipPosition="right">ESN</label>
                                <input class="form-control" type="text" name="engineSerialNumber" [(ngModel)]="stockLineForm.engineSerialNumber">
                            </div>
                            <div class="form-group">
                                <label matTooltip="Export Control Classification Number" matTooltipPosition="right">ECCN</label>
                                <input class="form-control" type="text" name="ExportECCN" [(ngModel)]="stockLineForm.ExportECCN">
                            </div>
                            <div class="form-group">
                                <label matTooltip="International Traffic in Arms Regulations Number" matTooltipPosition="right">ITAR Num</label>
                                <input class="form-control" type="text" name="ITARNumber" [(ngModel)]="stockLineForm.ITARNumber">
                            </div>
                            <div class="form-group">
                                <label matTooltip="Next Higher Assembly" matTooltipPosition="right">NHA</label>
                                <input class="form-control" type="text" name="NHA" [(ngModel)]="stockLineForm.NHA">
                            </div>
                                                        
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label matTooltip="Top Level Assembly" matTooltipPosition="right">TLA</label>
                                <input class="form-control" type="text" name="tla" [(ngModel)]="stockLineForm.tla">
                            </div>
                            <div class="form-group">
                                <label matTooltip="National Stock Number" matTooltipPosition="right">NSN</label>
                                <input class="form-control" type="text" name="nationalStockNumber" [(ngModel)]="stockLineForm.nationalStockNumber">
                            </div>
                            <div class="form-group">
                                <label>Aircraft Tail Num</label>
                                <input class="form-control" type="text" name="aircraftTailNumber" [(ngModel)]="stockLineForm.aircraftTailNumber">
                            </div>
                            <div class="form-group">
                                <label>Part Cert Num</label>
                                <input class="form-control" type="text" name="partCertificationNumber" [(ngModel)]="stockLineForm.partCertificationNumber">
                            </div>
                            <div class="form-group">
                                <label>Certify By
                                    <span style="margin-left:3px;cursor:pointer;"><a class="fa fa-plus-circle fa-lg" matTooltip="Add Employee" matTooltipPosition="above" target="_blank" [routerLink]="['/employeesmodule/employeepages/app-employee-general-information']"></a></span>
                                </label>
                                <div class="inner-addon right-addon inline-block">
                                    <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="stockLineForm.certifiedBy" name="certifiedBy" [suggestions]="certifyByNames" (completeMethod)="filterEmployees($event)" [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true"></p-autoComplete>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Certified Date</label>
                                <p-calendar class="workflow-clder" [showIcon]="true" name="certifiedDate" [minDate]="minDateValue" [(ngModel)]="stockLineForm.certifiedDate"></p-calendar>
                            </div>
                            <div class="form-group">
                                <label>Tag Date</label>
                                <p-calendar class="workflow-clder" [showIcon]="true" name="tagDate" [minDate]="minDateValue" [(ngModel)]="stockLineForm.tagDate"></p-calendar>
                            </div>
                            <div class="form-group">
                                <label>Tag Type</label>
                                <select [(ngModel)]="stockLineForm.tagType" name="tagType">
                                    <option value="0">-- Select --</option>
                                    <option *ngFor="let tag of allTagTypes" [ngValue]="tag.tagTypeId">{{tag.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Certified Due Date</label>
                                <p-calendar class="workflow-clder" [showIcon]="true" name="certifiedDueDate" [(ngModel)]="stockLineForm.certifiedDueDate"></p-calendar>
                            </div>
                            <div class="form-group">
                                <label>Order Date</label>
                                <p-calendar class="workflow-clder" [showIcon]="true" name="orderDate" [(ngModel)]="stockLineForm.orderDate" ></p-calendar> <!--[disabled]="true"-->
                            </div>
                            <div class="form-group">
                                <label>Open Date</label>
                                <p-calendar class="workflow-clder" [showIcon]="true" name="openDate" [(ngModel)]="stockLineForm.openDate"></p-calendar> <!--[disabled]="true"-->
                            </div>
                            <div class="form-group">
                                <label>Days Since Received</label>
                                <input class="form-control" type="text" name="daysReceived" [(ngModel)]="stockLineForm.daysReceived" disabled>
                            </div> 
                            <div class="form-group">
                                <label>Days Since Mfg</label>
                                <input class="form-control" type="text" name="manufacturingDays" [(ngModel)]="stockLineForm.manufacturingDays" disabled>
                            </div>
                            <div class="form-group">
                                <label>Days Since Tagged</label>
                                <input class="form-control" type="text" name="tagDays" [(ngModel)]="stockLineForm.tagDays" disabled>
                            </div>
                            <div class="form-group">
                                <label>Days Since Open</label>
                                <input class="form-control" type="text" name="openDays" [(ngModel)]="stockLineForm.openDays" disabled>
                            </div>                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox-cstm" style="margin-top: 10px;">
                                    <label>
                                        <input type="checkbox" name="blackListed" [(ngModel)]="stockLineForm.blackListed">
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        Blacklisted
                                    </label>
                                </div>
                            </div>
                            <div class="form-group memo-popup-cstm" style="margin-top: 12px;" *ngIf="stockLineForm.blackListed == true">
                                <!-- <label>Memo</label> -->
                                <span matTooltip="{{stockLineForm.blackListedReason}}" matTooltipPosition="above"><input type="text" name="blackListedReason" pInputText class="form-control" value="{{stockLineForm.blackListedReason}}" disabled /></span>
                                <i class="fa fa-info-circle fa-lg" data-toggle="modal" data-target="#textarea-popup" matTooltip="{{stockLineForm.blackListedReason}}" matTooltipPosition="above" (click)="onAddTextAreaInfo('blackListedReason')"></i>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-cstm" style="margin-top: 10px;">
                                    <label>
                                        <input type="checkbox" name="incident" [(ngModel)]="stockLineForm.incident">
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        Incident
                                    </label>
                                </div>
                            </div>
                            <div class="form-group memo-popup-cstm" style="margin-top: 12px;" *ngIf="stockLineForm.incident == true">
                                <span matTooltip="{{stockLineForm.incidentReason}}" matTooltipPosition="above"><input type="text" name="incidentReason" pInputText class="form-control" value="{{stockLineForm.incidentReason}}" disabled /></span>
                                <i class="fa fa-info-circle fa-lg" data-toggle="modal" data-target="#textarea-popup" matTooltip="{{stockLineForm.incidentReason}}" matTooltipPosition="above" (click)="onAddTextAreaInfo('incidentReason')"></i>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-cstm" style="margin-top: 10px;">
                                    <label>
                                        <input type="checkbox" name="incident" [(ngModel)]="stockLineForm.accident">
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        Accident
                                    </label>
                                </div>
                            </div>
                            <div class="form-group memo-popup-cstm" style="margin-top: 12px;" *ngIf="stockLineForm.accident == true">
                                <span matTooltip="{{stockLineForm.accidentReason}}" matTooltipPosition="above"><input type="text" name="accidentReason" pInputText class="form-control" value="{{stockLineForm.accidentReason}}" disabled /></span>
                                <i class="fa fa-info-circle fa-lg" data-toggle="modal" data-target="#textarea-popup" matTooltip="{{stockLineForm.accidentReason}}" matTooltipPosition="above" (click)="onAddTextAreaInfo('accidentReason')"></i>
                            </div>
                            <div class="form-group">
                                <label>PO Num</label>
                                <select [(ngModel)]="stockLineForm.purchaseOrderId" name="purchaseOrderId" (change)="onChangePONum(stockLineForm.purchaseOrderId)">
                                    <option value="0">-- Select --</option>
                                    <option *ngFor="let po of allPolistInfo" [ngValue]="po.purchaseOrderId">{{po.purchaseOrderNumber}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>PO Unit Cost</label>
                                <input class="form-control" type="text" name="purchaseOrderUnitCost" [(ngModel)]="stockLineForm.purchaseOrderUnitCost" disabled>
                            </div>
                            <div class="form-group">
                                <label>RO Num</label>
                                <select [(ngModel)]="stockLineForm.repairOrderId" name="repairOrderId" (change)="onChangeRONum(stockLineForm.repairOrderId)">
                                    <option value="0">-- Select --</option>
                                    <option *ngFor="let manufacturer of allRolistInfo" [ngValue]="manufacturer.repairOrderId">{{manufacturer.repairOrderNumber}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>RO Unit Cost</label>
                                <input class="form-control" type="text" name="repairOrderUnitCost" [(ngModel)]="stockLineForm.repairOrderUnitCost" disabled>
                            </div>
                            <div class="form-group">
                                <label>Received Date <span class="clr-red">*</span></label>
                                <p-calendar class="workflow-clder" [showIcon]="true" name="receivedDate" [(ngModel)]="stockLineForm.receivedDate" #receivedDate="ngModel" required></p-calendar>
                                <div *ngIf="receivedDate.invalid && (receivedDate.dirty || receivedDate.touched)" class="alert alert-danger alert-danger-cstm">
                                    <div *ngIf="receivedDate.errors.required">
                                        <small> Received Date is required </small>
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <label>Received Num <span class="clr-red">*</span></label>
                                <input class="form-control" type="text" name="receiverNumber" [(ngModel)]="stockLineForm.receiverNumber" #receiverNumber="ngModel" required>
                                <div *ngIf="receiverNumber.invalid && (receiverNumber.dirty || receiverNumber.touched)" class="alert alert-danger alert-danger-cstm">
                                    <div *ngIf="receiverNumber.errors.required">
                                        <small> Received Num is required </small>
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <label>Reconciliation Num</label>
                                <input class="form-control" type="text" name="reconciliationNumber" [(ngModel)]="stockLineForm.reconciliationNumber">
                            </div>
                            <div class="form-group">
                                <label>Unit Sale Price</label>
                                <input class="form-control" type="number" name="unitSalesPrice" [(ngModel)]="stockLineForm.unitSalesPrice">
                            </div>
                            <div class="form-group">
                                <label>Core Unit Cost</label>
                                <input class="form-control" type="number" name="coreUnitCost" [(ngModel)]="stockLineForm.coreUnitCost">
                            </div>
                            <div class="form-group">
                                <label>Lot Cost</label>
                                <input class="form-control" type="number" name="lotCost" [(ngModel)]="stockLineForm.lotCost">
                            </div>
                            <div class="form-group">
                                <label>GL Account</label>
                                <input class="form-control" type="text" name="glAccountName" [(ngModel)]="stockLineForm.glAccountName" disabled>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-cstm" style="margin-top: 10px;">
                                    <label>
                                        <input type="checkbox" name="isPMA" [(ngModel)]="stockLineForm.isPMA">
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        PMA
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-cstm" style="margin-top: 10px;">
                                    <label>
                                        <input type="checkbox" name="isDER" [(ngModel)]="stockLineForm.isDER">
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        DER
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-cstm" style="margin-top: 10px;">
                                    <label>
                                        <input type="checkbox" name="oem" [(ngModel)]="stockLineForm.oem">
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        OEM
                                    </label>
                                </div>
                            </div>
                            <div class="form-group memo-popup-cstm" style="margin-top: 12px;">
                                <label>Memo</label>
                                <span matTooltip="{{stockLineForm.memo}}" matTooltipPosition="above"><input type="text" name="memo" pInputText class="form-control" value="{{stockLineForm.memo}}" disabled /></span>
                                <i class="fa fa-info-circle fa-lg" data-toggle="modal" data-target="#textarea-popup" matTooltip="{{stockLineForm.memo}}" matTooltipPosition="above" (click)="onAddTextAreaInfo('memo')"></i>
                            </div>
                        </div>
                        <div class="col-md-12 integrationWith">
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-12 input-icon1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr align="center">
                                                    <th>Services</th>
                                                    <th>Listed</th>
                                                    <th>Integrate With</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let col of allIntegrationInfo; let i = index;">            
                                                    <td>{{col.description}}</td>
                                                    <td>
                                                        <div class="checkbox-cstm">
                                                            <label>
                                                                <input type="checkbox" name="listedCheckbox{{i}}" [(ngModel)]="col.listedCheckbox"> <!--(click)="getSelectedItem(col,i)"-->
                                                                <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox-cstm">
                                                            <label>
                                                                <input type="checkbox" name="integratedCheckbox{{i}}" [(ngModel)]="col.integratedCheckbox"> <!--(click)="saveSelectedModel(col,$event)"-->
                                                                <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row" *ngIf="sourceTimeLife.timeLife || (timeLifeCyclesId != null  && timeLifeCyclesId != 0)">  
                    <div class="table-responsive form-group" style="padding: 0 5px;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="15" class="text-center"><strong>Time Life Info</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th class="text-center">Cycles</th>
                                    <th class="text-center">Time</th>
                                    <th class="text-center">Last</th>
                                </tr>
                                <tr>
                                    <td>Remaining</td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="cyclesRemaining" [(ngModel)]="sourceTimeLife.cyclesRemaining"></td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="timeRemaining" [(ngModel)]="sourceTimeLife.timeRemaining"></td>
                                    <td></td>
    
                                </tr>
                                <tr>
                                    <td>Since New</td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="cyclesSinceNew" [(ngModel)]="sourceTimeLife.cyclesSinceNew"></td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="timeSinceNew" [(ngModel)]="sourceTimeLife.timeSinceNew"></td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="lastSinceNew" [(ngModel)]="sourceTimeLife.lastSinceNew"></td>
    
                                </tr>
                                <tr>
                                    <td>Since Ovh</td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="cyclesSinceOVH" [(ngModel)]="sourceTimeLife.cyclesSinceOVH"></td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="timeSinceOVH" [(ngModel)]="sourceTimeLife.timeSinceOVH"></td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="lastSinceOVH" [(ngModel)]="sourceTimeLife.lastSinceOVH"></td>
    
                                </tr>
                                <tr>
                                    <td>Since Insp</td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="cyclesSinceInspection" [(ngModel)]="sourceTimeLife.cyclesSinceInspection"></td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="timeSinceInspection" [(ngModel)]="sourceTimeLife.timeSinceInspection"></td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="lastSinceInspection" [(ngModel)]="sourceTimeLife.lastSinceInspection"></td>
                                </tr>
                                <tr>
                                    <td>Since Repair</td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="cyclesSinceRepair" [(ngModel)]="sourceTimeLife.cyclesSinceRepair"></td>
                                    <td class="clr2 text-center"><input type="number" class="w60 form-control" placeholder="hours" name="timeSinceRepair" [(ngModel)]="sourceTimeLife.timeSinceRepair"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="form-row pull-right">
                    <button type="submit" class="btn btn-primary" (click)="onSaveStockLine()" [disabled]="!stockLineSetupForm.valid || disableMagmtStruct || disableCondition || disableSiteName">{{isEditMode ? 'Update' : 'Save'}}</button> <!-- -->
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="textarea-popup" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" style="max-width: 400px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit {{textAreaLabel}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{textAreaLabel}}</label>
                        <textarea class="form-control" name="textAreaInfo" [(ngModel)]="textAreaInfo" value={{textAreaInfo}}></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSaveTextAreaInfo()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>  
