
<div class="card general1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">General Ledger</li>
            <li class="breadcrumb-item active" aria-current="page">{{accountTitle}}</li>
        </ol>
    </nav>
    <div class="col-xs-12 x_content">
        <h4 class="page-heading">{{accountTitle}}</h4>
        <form [formGroup]="accountListCreateForm" (ngSubmit)="onSubmitAccountForm()" id="add-customerwork" class="form-horizontal add-glaccount">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                  <div class="col-sm-4" style="margin-left: 15px">
                    <div class="form-group">
                        <label class="">Ledger Name <span class="clr-red">*</span></label>
                        <div class="inner-addon right-addon inline-block">
                           <p-autoComplete  class="autocomp-customer-cstm" 
                            name="name"                            
                             [(ngModel)]="glAccountObj.ledgername" [suggestions]="ledgerNameObject" formControlName="ledgerName" 
                             field="name" emptyMessage="No results"
                             (completeMethod)="loadLedgerNames($event)" [size]="30"
                                            [minLength]="1" [dropdown]="true" required>
                                
                            </p-autoComplete>
                           
                        </div>
                        <div *ngIf="submittedForm && formdata.ledgerName.errors" class="col-sm-12 invalid-feedback">
                            <div *ngIf="formdata.ledgerName.errors">Ledger Name is required</div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12" *ngIf="editMode">
                      <label class="">Old Account Code</label>
                     <div class="">
                          <input type="text" formControlName="oldAccountCode" >
                      </div>
                    </div>
                    <div class="form-group col-sm-12">
                      <label class="">Account Code <span class="clr-red">*</span></label>

                      <div class="inner-addon right-addon inline-block">
                           <p-autoComplete  class="autocomp-customer-cstm" 
                            name="name"
                            (onKeyUp)="checkAccountCodeExists('name',$event.target.value)"
                            (onSelect)="selectedAccountCode()" 
                             [(ngModel)]="glAccountObj.accountCodeId" [suggestions]="accountCodeObject" formControlName="accountCode" 
                             field="name" emptyMessage="No results"
                             (completeMethod)="loadAccountCode($event)" [size]="30"
                                            [minLength]="1" [dropdown]="true" required>
                                
                            </p-autoComplete>
                            <div *ngIf="isAccountCodeExists" class="clr-red">Entry Already Exists</div>
                      </div>
                      <div *ngIf="submittedForm && formdata.accountCode.errors" class="col-sm-12 invalid-feedback">
                            <div *ngIf="formdata.accountCode.errors">Account Code is required</div>
                      </div>
                    </div>

                    <div class="form-group col-sm-12">
                      <label class="">Account Name <span class="clr-red">*</span></label>
                      <div class="inner-addon right-addon inline-block">
                           <p-autoComplete  class="autocomp-customer-cstm" 
                            name="name"
                            (onKeyUp)="checkAccountNameExists('name',$event.target.value)"
                            (onSelect)="selectedAccountName()" 
                             [(ngModel)]="glAccountObj.accountCodeName" [suggestions]="accountNameObject" formControlName="accountName" 
                             field="name" emptyMessage="No results"
                             (completeMethod)="loadAccountName($event)" [size]="30"
                                            [minLength]="1" [dropdown]="true" required>
                                
                            </p-autoComplete>
                            <div *ngIf="isAccountNameExists" class="clr-red">Entry Already Exists</div>
                        </div>
                        <div *ngIf="submittedForm && formdata.accountName.errors" class="col-sm-12 invalid-feedback">
                            <div *ngIf="formdata.accountName.errors">Account Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="">Account Type <span class="clr-red">*</span></label>
                        <div class="">
                          <select formControlName="glAccountTypeId" [(ngModel)]="glAccountObj.accountTypeId">
                           <option *ngFor="let accountType of accountTypeObject" [ngValue]="accountType.id">  {{accountType.name}}</option>
                          </select> 
                        </div>

                         <div *ngIf="submittedForm && formdata.glAccountTypeId.errors" class="col-sm-12 invalid-feedback">
                                <div *ngIf="formdata.glAccountTypeId.errors">Account Type is required</div>
                         </div>                       
                    </div>

                    <div class="form-group col-sm-12">
                      <label class="">Account Description</label>
                      <input formControlName="accountDescription" class="form-control" type="text">
                    </div>
                      <div class="form-group col-sm-12">
                      <label class="">Active <span class="clr-red">*</span></label>
                       <input formControlName="activeFlag" type="checkbox">
                    </div> 
                    
                    <div class="form-group col-sm-12">
                      <label class="">Leaf Node Name</label>
                      <div class="">       
                      
                        <select formControlName="leafNodeName" [(ngModel)]="glAccountObj.leafNodeName">
                          <option *ngFor="let leafNodeName of leafNodeNameObj" [ngValue]="leafNodeName.glAccountNodeId">  {{leafNodeName.nodeName}}</option>
                        </select> 
                      </div>


                    </div>  
                      <div class="form-group col-sm-12">
                      <label for="interCompany" class="">InterCompany</label>
                     <input formControlName="interCompany" type="checkbox">
                    </div>                
                  </div>
                  <div class="col-sm-5" style="margin-left: 15px">
                      <div class="form-group col-sm-12">
                          <label class="">Balance Type <span class="clr-red">*</span></label>
                          <div class="">  
                                <ng-container *ngFor="let checkbox of balanceTypeCheckBox; let i = index" formArrayName="balanceTypeCheckBox">
                                  <input type="checkbox" [formControlName]="i" />{{checkbox.name}}
                                  
                                </ng-container>                               
                          </div>
                          <div *ngIf="submittedForm && balanceTypeCheckBoxReq" class="col-sm-12 invalid-feedback">
                                <div *ngIf="balanceTypeCheckBoxReq">Atleast One Balance Type Should be checked</div>
                         </div> 
                      </div> 

                      <div class="form-group col-sm-12">
                        <label class="">1099 Category</label>
                        <div class="">
                          <select formControlName="category" [(ngModel)]="glAccountObj.categoryId">
                                  <option *ngFor="let miscCategory of miscData" [ngValue]="miscCategory.glClassFlowClassificationId">  {{miscCategory.glClassFlowClassificationName}}</option>
                              </select>
                        </div>
                      </div>
                      <div class="form-group col-sm-12">
                      <label class="">Share with Entities</label>
                      <div class="">                     

                       <p-multiSelect [options]="entitiesObj" formControlName="entities" [(ngModel)]="glAccountObj.entityId"  name="entities" required>
                      </p-multiSelect>

                      </div>
                    </div>
                      <div class="form-group col-sm-12 allow-manual-je-block">
                      <label class="">Allow Manual JE </label>
                      <input formControlName="allowManualJE" type="checkbox">
                    </div>
                                           
                      
                      <div class="form-group col-sm-12">
                          <label class="">Cash Flows Classification <span class="clr-red">*</span></label>
                          <div class="">
                             <select formControlName="classification" [(ngModel)]="glAccountObj.classificationId">                                 
                                  <option *ngFor="let classType of allGLCashFlowClassInfo" [ngValue]="classType.glClassFlowClassificationId">  {{classType.glClassFlowClassificationName}}</option>
                              </select>                              
                              <div *ngIf="submittedForm && formdata.classification.errors" class="col-sm-12 invalid-feedback">
                                <div *ngIf="formdata.classification.errors">Cash Flows Classification is required</div>
                          </div>
                          </div>                      
                      </div>                         
                      
                      <div class="form-group col-sm-12">
                      <label class="">PO Category</label>
                       <div class="">
                        <select formControlName="poroCategory" [(ngModel)]="glAccountObj.poroCategoryId" >   <option *ngFor="let poCategory of poroCategoryList" [ngValue]="poCategory.poroCategoryId">  {{poCategory.categoryName}}</option>
                          </select>
                          <div *ngIf="submittedForm && poroCategoryReq" class="col-sm-12 invalid-feedback">
                                <div *ngIf="poroCategoryReq">PO Category is required</div>
                          </div>
                      </div>
                    </div>
                    <div class="form-group col-sm-12">
                      <label class="">Created By <span class="clr-red">*</span></label>
                      <input formControlName="createdBy" class="form-control" type="text" disabled>
                      <div class="">
                        
                      </div>
                    </div>
                    <div class="form-group col-sm-12">
                      <label class="">Created Date <span class="clr-red">*</span></label>
                      <input formControlName="createdDate" class="form-control" type="text" disabled>
                      <div class="">
                        
                      </div>
                    </div>                    
                  </div>
                  <div class="clear"></div>
                  <hr>
                  <button class="btn btn-success pull-right" [disabled]="!accountListCreateForm.valid">Save</button>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>        
    </div>
</div>