<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">Asset Management</li>
                        <li class="breadcrumb-item" aria-current="page">Asset Management Maintanance</li>
                        <li class="breadcrumb-item active" aria-current="page">Depreciation Method</li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <h3 class="po-head lead">Depreciation Method</h3>
                        <div class="form-row col-row col-row1">
                            <div class="col-md-2">
                                <label class="control-label">Code</label>
                                <div class="inline-block display-flex">
                                    <input type="text" [(ngModel)]="currentDepriciationmethod.assetDepreciationId" class="form-control ui-autocomplete-input" id="cmname" name="" autocomplete="off" />
                                    <button type="submit" class="btn btn-primary btn-cstm btn-line"><i class="fa fa-search"></i></button>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Name <strong class="clr-red">*</strong></label>
                                <div class="inline-block display-flex">
                                    <input type="text" [(ngModel)]="currentDepriciationmethod.assetDepreciationMethodName" class="form-control ui-autocomplete-input" id="cmname" name="" autocomplete="off">
                                    <button type="submit" class="btn btn-primary btn-cstm btn-line"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">
                                    Depreciation Basis<strong class="clr-red">*</strong>&nbsp;
                                    <i class="fa memo fa-info-circle fa-lg" pTooltip="{{memoNotes}}" tooltipPosition="top" data-toggle="modal" data-target="#rro-memo" NTE></i>
                                </label>
                                <span pTooltip="{{memoNotes}}" tooltipPosition="top">
                                    <input type="text"  [disabled]="true"  [(ngModel)]="currentDepriciationmethod.assetDepreciationBasis"  placeholder="{{memoNotes}}" class="form-control" id="cmname" name="" autocomplete="off">
                                </span>

                            </div>
                            <div class="col-md-2">
                                <label class="control-label">
                                    Memo<strong class="clr-red">*</strong>&nbsp;
                                    <i class="fa memo fa-info-circle fa-lg" pTooltip="{{memoNotes}}" tooltipPosition="top"data-toggle="modal" data-target="#rro-memo" NTE></i>
                                </label>
                                <span pTooltip="{{memoNotes}}" tooltipPosition="top">
                                    <input type="text" [disabled]="true" [(ngModel)]="currentDepriciationmethod.assetDepreciationMemo" class="form-control" id="cmname" name="" placeholder="{{memoNotes}}" autocomplete="off">
                                </span>

                            </div>
                            <div class="col-md-4 display-flex inline-block" style="margin-top: 25px;">
                                <div>
                                    <button type="button" id="btnFilterdepriciationMethod" name="" class="btn btn-warning nobg  btn-cstm" data-toggle="tooltip" data-original-title="Filter"><i class="fa fa-search"></i></button>
                                    <button type="button" id="btnAdddepriciationMethod" data-toggle="tooltip" title="Add" *ngIf="!this.updateMode" (click)="adddepriciationmethod()" name="" class="btn btn-success nobg btn-cstm" data-original-title="Add"><i class="fa fa-plus"></i></button>
                                    <button type="button" id="btnUpdatedepriciationMethod" *ngIf="this.updateMode" (click)="updatedepriciationmethod()" name="" class="btn btn-success nobg btn-cstm" data-toggle="tooltip" data-original-title="Update"><i class="fa fa-edit"></i></button>
                                    <button type="button" id="btnResetdepriciationMethod" *ngIf="this.updateMode" (click)="resetdepriciationmethod()" name="" class="btn btn-default nobg btn-cstm" data-toggle="tooltip" data-original-title="Reset"><i class="fa fa-edit"></i></button>
                                </div>                               
                                <div class="excel-upload excel-upload-cstm">
                                    <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                    <label for="upload">
                                        <span matTooltip="Upload Data (Excel)"><i class="fa fa-upload"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <p-table #dt class="rpo-table-cstm rro-table-cstm" [value]="depriciationMethodList" [rows]="10"
                                 [paginator]="true"
                                 [rowsPerPageOptions]="[10,20,30]" 
                                  [columns]="selectedColumns" selectionMode="multiple" [(selection)]="selectedColumns"
                                 [resizableColumns]="true" [reorderableColumns]="true" [scrollable]="true" scrollHeight="450px">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                        {{col.header}}
                                    </th>
                                    <th style="width:150px;position:sticky">Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" pReorderableRowHandle (dblclick)="openEdits(rowData)">
                                    <td *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                        {{col.field == 'createdDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'updatedDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]}}
                                    </td>
                                    <td style="width:150px">
                                        <p-inputSwitch *ngIf="depriciationMethod['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(depriciationMethod,$event)" [(ngModel)]="depriciationMethod['isActive']"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="depriciationMethod['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(depriciationMethod,$event)" [(ngModel)]="depriciationMethod['isActive']"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="depriciationMethod['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(depriciationMethod,$event)" [(ngModel)]="depriciationMethod['isActive']"></p-inputSwitch>

                                        <span (click)="setdepriciationmethodToUpdate(editAssetTypes,depriciationMethod.assetDepreciationMethodId)" data-toggle="modal" data-target="#edit">
                                            <a data-toggle="tooltip" title="" class="btn btn-primary nobg" data-original-title="" edit="">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </span>
                                        <span data-toggle="modal" data-target="#history">
                                            <a data-toggle="tooltip" (click)="showAuditPopup(auditContent,depriciationMethod.assetDepreciationMethodId)" title="" class="btn btn-success nobg" data-original-title="History">
                                                <i class="fa fa-history"></i>
                                            </a>
                                        </span>
                                        <span (click)="openDelete(content,depriciationMethod)" data-toggle="modal" data-target="#data">
                                            <a class="btn btn-danger nobg" data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary" id="footer">
                                <label id="footer" class="footer">No'of records:</label> <input style="width: 5%;" [(ngModel)]="totalRecords" [disabled]="true" pInputText type="text" />
                                &nbsp;&nbsp;
                                <label id="footer" class="footer1">Pages Count:</label> <input style="width: 5%;" [(ngModel)]="totelPages" [disabled]="true" pInputText type="text" />
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rro-memo" role="dialog">
    <div class="modal-dialog modal-sm" style="max-width: 400px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Memo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Memo</label>
                    <textarea class="form-control" [(ngModel)]="memoPopupText">{{memoNotes}}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success-cstm" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger-cstm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="removedepriciationmethod()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>

<ng-template #auditContent let-c="close" let-d="dismiss">
    <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
        <app-audit [Data]="AuditDetails" [Modal]="modal" title='Asset Depreciation Method Audit Details'></app-audit>
    </div>
</ng-template>

<ng-template #editAssetTypes let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" (click)="dismissModel()" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title"> Edit {{depriciationToUpdate.assetDepreciationId}} Depriciation </h4>
        </div>
        <div class="modal-body">
            <p>
                <span class="col-sm-3"><b>ID: <span style="color:red">*</span> </b></span> <span class="col-sm-6">
                    <input type="text" [(ngModel)]="depriciationToUpdate.assetDepreciationId" class="form-control">
                </span>
            </p>
            <hr>
            <p>
                <span class="col-sm-3"><b>Name: <span style="color:red">*</span> </b></span> <span class="col-sm-6">
                    <input type="text" [(ngModel)]="depriciationToUpdate.assetDepreciationMethodName" class="form-control">
                </span>
            </p>
            <hr>
            <p>
                <span class="col-sm-3"><b>Basis: <span style="color:red">*</span> </b></span> <span class="col-sm-6">
                    <input type="text" [(ngModel)]="depriciationToUpdate.assetDepreciationBasis" class="form-control">
                </span>
            </p>
            <hr>
            <p>
                <span class="col-sm-3"><b>Memo: <span style="color:red">*</span> </b></span> <span class="col-sm-6">
                    <textarea [(ngModel)]="depriciationToUpdate.assetDepreciationMemo" class="form-control"></textarea>
                </span>
            </p>

        </div>
        <div class="modal-footer">
            <button type="button" (click)="updatedepriciationmethod()" class="btn btn-success" data-dismiss="modal">Update</button>
            <button type="button" class="btn btn-danger" (click)="dismissModel()" data-dismiss="modal">Close</button>
        </div>
    </div>

</ng-template>

<p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
          [width]="350" [minWidth]="200" [responsive]="true"
          [minY]="1050" [baseZIndex]="1100000">
    <h5 [ngStyle]="{'color':'red'}">
        Please Enter (*) Mandatory Fields
    </h5>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
    </p-footer>

</p-dialog>