<div class="card" style="margin-top: 20px;">
    <div class="card-header" style="padding: 10px 12px;">
        <h5 style="margin-bottom: 0; font-size: 12px;">Management Structure <span class="clr-red">*</span></h5>
    </div>
    <div class="card-body" style="padding: 12px 12px 4px;">
        <div class="form-group">
            <select class="form-control" name="primaryCompany"
            (change)="getBUList()" [(ngModel)]="selectedCompanyID"  #mCompanyName required>
                <option value="0">Select Company</option>
                  <option *ngFor="let name of companyList" [ngValue]="name.managementStructureId" >{{name.code}}</option>
            </select>
            <div *ngIf="mCompanyName.invalid && (mCompanyName.dirty || mCompanyName.touched)" class="alert alert-danger alert-danger-cstm">
                    <div *ngIf="mCompanyName.errors.required">
                        <small> Company Name is required </small>
                    </div>
            </div>

        </div>
        <div class="form-group">
            <select  name="primaryBU"  class="form-control" [(ngModel)]="selectedBUId" (change)="getDivisionList()" >
                <option value="0">Select BU</option>
                <option *ngFor="let name of buList" [ngValue]="name.managementStructureId">{{name.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control"  name="primaryDivision" (change)="getDeptList()"  [(ngModel)]="selectedDivisionID" >
                <option value="0">Select Division</option>
                <option *ngFor="let name of divisionList" [ngValue]="name.managementStructureId">{{name.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="primaryDept" [(ngModel)]="selectedDeptID" (change)="setstructureId()"  >
                <option value="0">Select Dept</option>
                <option *ngFor="let name of departmentList" [ngValue]="name.managementStructureId">{{name.code}}</option>
            </select>
        </div>
    </div>
</div>