<div class="row">
  <div class=" col-md-12 sub-header-title">
    Approvers List
  </div>
</div>

<div class="row" *ngFor="let approver of approvers; let i = index">
  <div class="col-md-1">
    <label>Approver {{ i+1 }}</label>
  </div>
  <div class="col-md-2">
    <select [(ngModel)]="approver.employeeId" name="shipToSiteName" (change)="onApproverSelect(approver,i)" required>
        <option>--Select</option>
        <option *ngFor="let employee of employeeList[i]" [ngValue]="employee.employeeId">
          {{employee.firstName}}
          </option>
      </select>
  </div> 
  <div class="col-md-8">
    <div class="sales-quote-approver-info" *ngIf="approver.employeeId">
      <p><span class="label">Name: </span><span>{{approver.firstName}}</span></p>
      <p><span class="label">Code: </span><span>{{approver.employeeCode}}</span></p>
      <p><span class="label">Email: </span><span>{{approver.email}}</span></p>
    </div>
  </div>
</div>


