
<div [@fadeInOut] class="page-content">
    <div class="col-xs-12">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div><div class="dataTables_scroll">
                <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                    <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 1138px; padding-right: 0px;">
                        <table class="table table-bordered table-striped table-sorting dataTable no-footer" role="grid" style="margin-left: 0px; width: 1138px;">
                            <thead>
                                <tr role="row">
                                    <th>Asset Type Name</th>
                                    <th>Description</th>
                                    <th>Asset Sale</th>
                                    <th>Asset Write Off</th>
                                    <th>Asset Write Down</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let assetTypeObj of assetTypeCollection">
                                    <td>{{assetTypeObj.assetTypeName}}</td>
                                    <td>{{assetTypeObj.description}}</td>
                                    <td>{{assetTypeObj.assetSale}}</td>
                                    <td>{{assetTypeObj.assetWriteOff}}</td>
                                    <!--<td>Accounts Payable</td>-->
                                    <td>{{assetTypeObj.assetWriteDown}}</td>
                                    <td>

                                        <p-inputSwitch *ngIf="assetTypeObj['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(assetTypeObj,$event)" [(ngModel)]="assetTypeObj['isActive']"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="assetTypeObj['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(assetTypeObj,$event)" [(ngModel)]="assetTypeObj['isActive']"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="assetTypeObj['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(assetTypeObj,$event)" [(ngModel)]="assetTypeObj['isActive']"></p-inputSwitch>
                                        <!--<span data-toggle="modal" data-target="#view"> <a href="#" class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="View"><i class="fa fa-eye"></i></a> </span>-->
                                        <a data-toggle="tooltip" title="" class="btn btn-primary boxed-float-btn nobg" data-original-title="Edit"><i class="fa fa-edit" (click)="assetTypeObjEdit(assetTypeObj)"></i></a>
                                        <span data-toggle="modal"><a class="btn btn-success nobg" data-toggle="tooltip" title="" data-original-title="History"><i class="fa fa-history"></i></a></span>
                                        <span data-toggle="modal"> <a class="btn btn-danger boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="Delete" (click)="confirmDelete(content,assetTypeObj.assetTypeId)"><i class="fa fa-trash"></i></a> </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div>
        </div>
    </div>
</div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to delete Asset Type</h4>
            <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="removeAssetType()">Yes</button>
            <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
        </div>

    </ng-template>
