.nonstock-form label {
    text-align: left;
}
.control-label {
    margin-top: 10px;
    text-align: left;
    font-size: 12px !important;
    width: 150px !important;
    font-weight: 500;
}


.radio-value {
    margin-top: 10px;
    margin-left: -69px;
}
.spacing-label {
    margin-left: 6px;
}
.new-checkbox {
    margin-top: 10px !important;
    margin-left: -39px;
}
.checkbox-cstm label {
    width: 135px !important;
}