
    <div class="right_col" role="main">
        <div >
            <div class="x_content">
                <div class="form-group col-sm-4 Customer-details-heading" style="display: inline-block;margin: 10px 5px 0 5px;">
                    <p class="fs10">
                        <label class="control-label w100">Customer Name:</label>
                        {{customerName}}
                    </p>
                </div>
                <div class="form-group col-sm-4 Customer-details-heading" style="display: inline-block;margin: 10px 5px 0 5px;">
                    <p class="fs10">
                        <label class="control-label w100">Customer Code:</label>
                        {{customerCode}}
                    </p>
                </div>

                <div class="table-responsive">
                    <div>
                        <div class="col-md-12" style="margin-bottom: -10px;">
                            <h4 class="float-right">
                                    Add Contact
                                    <a
                                      class="plusicon-cstm"
                                      href="#"
                                      data-toggle="modal"
                                      data-target="#addContactDetails" 
                                      ><i class="fa fa-plus-circle fa-lg" (click)="onAddContactInfo()"></i
                                    ></a>
                                  </h4>
                        </div>
                        <div class="clear"></div>
                        <hr />
                    </div>
                    <!-- class="rpo-table-cstm rro-table-cstm" -->
                    <p-table #dt  class="rro-table-cstm" [value]="customerContacts" [metaKeySelection]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,50,100]" [columns]="selectedColumns" selectionMode="multiple" [resizableColumns]="true" [reorderableColumns]="true">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <p-multiSelect [options]="customerContactsColumns" [(ngModel)]="selectedColumns" [ngModelOptions]="{standalone: true}" optionLabel="header"
                                               selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
                                <div class="inner-addon right-addon w200 inline-block g-filter-search-cstm">
                                    <i class="fa fa-search"></i>
                                    <input type="text" pInputText size="50" class="form-control ui-autocomplete-input" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Filter" style="height: 28px !important;">
                                </div>
                                <button type="button" class="btn btn-primary-cstm" pButton icon="fa-download" iconPos="left" label="Export All Data" (click)="dt.exportCSV()" style="padding: 5px 10px !important;"></button>
                                <button type="button" class="btn btn-primary-cstm" pButton icon="fa-download" iconPos="left" label="Export Selection Only" *ngIf="selectedColumn" (click)="dt.exportCSV({selectionOnly:true})" style="padding: 5px 10px !important;"></button>
                                <div class="excel-upload excel-upload-cstm">
                                    <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                    <label for="upload">
                                        <span matTooltip="Upload Data (Excel)"><i class="fa fa-upload"></i></span>
                                    </label>
                                </div>
                            </div>


                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>

                                <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>

                                <th style="width: 130px;"></th>

                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                            <tr [pSelectableRow]="rowData"  data-toggle="modal" data-target="#view" (dblclick)="viewSelectedRow(rowData)"  [ngStyle]="{'background-color' : rowData.isDefaultContact === true ? '#79ffe3'  : 'white'  }" >


                                <td *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                    {{col.field == 'createdDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'updatedDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]}}
                                </td>

                                <td>
                                    <p-inputSwitch  name="isActive{{i}}" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                    <!-- <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch> -->
                                    <span data-toggle="modal" data-target="#view"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="viewSelectedRow(rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span>

                                    <button class="btn-edit" mat-icon-button (click)="editCustomerContact(rowData)" matTooltip="edit"  data-toggle="modal" data-target="#addContactDetails">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button class="btn-delete" mat-icon-button matTooltip="delete" (click)="openDelete(deleteContent,rowData.contactId)">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </button>

                                    <button class="btn-history" mat-icon-button matTooltip="ATAChapters" data-target="#ATAADD" data-toggle="modal" (click)="addATAChapter(rowData)">
                                        <i class="material-icons">
                                            add
                                            </i>
                                        </button>
                                    <button class="btn-history" mat-icon-button matTooltip="history" data-toggle="modal" data-target="#contentHist" (click)="getAuditHistoryById(rowData)">
                                        <mat-icon color="green">history</mat-icon>
                                    </button>


                                </td>

                            </tr>
                        </ng-template>



                    </p-table>
                    <!-- <div  style="text-align:center;border:1px solid">
                        No Records
                    </div> -->
                </div>

                <!-- <form #userForm="ngForm" class="form-horizontal add-custustomer">
                    <div class="col-xs-12">
                        <div class="tab-content">
                            <div class="">                               
                                    <p-dialog class="p-dialog-cstm" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
                                              [width]="350" [minWidth]="200" [responsive]="true"
                                              [minY]="1050" [baseZIndex]="1100000">
                                        <h5 [ngStyle]="{'color':'red'}">
                                            Please Enter (*) Mandatory Fields
                                        </h5>
                                        <p-footer>
                                            <button type="button" class="btn btn-primary-cstm" pButton icon="pi pi-check" (click)="display=false" label="Close" style="padding: 0!important;"></button>
                                        </p-footer>
                                    </p-dialog>

                                </div>
                                </div>
                            </div>
                </form> -->
                <button type="button" class="btn btn-primary-cstm pull-right submit-btn" (click)="nextClick()">Next</button>
                <button type="button" class="btn btn-primary-cstm pull-right submit-btn" (click)="backClick()">Previous</button>
            </div>
        </div>

    </div>



    <div *ngIf="auditHistory" id="contentHist" #contentHist class="modal fade" role="dialog" >
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">History of Customer Contact</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive rro-table-cstm">
                    <table class="table table-bordered" *ngIf="auditHistory.length> 0 else noDatavailable" >
                        <thead>
                            <tr>

                  
                                <th>Tag</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Contact Title</th>
                                <th>Email</th>
                                <th>Work Phone</th>
                                <th>Mobile Phone</th>
                                <th>Fax</th>
                                <th>Primary Contact</th>
                                <th>Memo</th>
                                <th>Status</th>
                                <th>Updated By</th>
                                <th>Updated Date</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="auditHistory.length> 0" >
                                <tr *ngFor="let audit of auditHistory; let i = index;">
                                    <!-- auditHistory[i>0 ? i-1 : i] -->          
                                        <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'tag', audit.tag)  ? 'black' : 'red'  }">{{audit.tag}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'firstName', audit.firstName)  ? 'black' : 'red'  }">{{audit.firstName}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'lastName', audit.lastName)  ? 'black' : 'red'  }">{{audit.lastName}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'contactTitle', audit.contactTitle)  ? 'black' : 'red'  }">{{audit.contactTitle}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'email', audit.email)  ? 'black' : 'red'  }">{{audit.email}}</td>

                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'workPhone', audit.workPhone)  ? 'black' : 'red'  }">{{audit.workPhone}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'mobilePhone', audit.mobilePhone)  ? 'black' : 'red'  }">{{audit.mobilePhone}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'fax', audit.fax)  ? 'black' : 'red'  }">{{audit.fax}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'isDefaultContact', audit.isDefaultContact)  ? 'black' : 'red'  }">{{audit.isDefaultContact}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'notes', audit.notes)  ? 'black' : 'red'  }">{{audit.notes}}</td>
                                         <td [ngStyle]="{'color': getColorCodeForHistory(i, 'isActive', audit.isActive)  ? 'black' : 'red'  }">{{audit.isActive}}</td>
                                        <td >{{audit.updatedBy}}</td>
                                        <td>{{audit.updatedDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                                    </tr>
                        </tbody>
                        

                    </table>
                    <ng-template #noDatavailable>
                        <div class="text-center"> 
                                <!-- <img src="../../assets/images/binoculars.png" style="height: 100px; width: 100px;"> -->
                                <h4 style="color: #ff5663;">No History Found </h4>
                        </div>

                    </ng-template>  
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger-cstm" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>

<!-- <ng-template #contentHist let-c="close" let-d="dismiss" style="width:auto">
	<div class="modal-header">

		<h4 class="modal-title">History of Action</h4>
		<button type="button" class="close" aria-label="Close" (click)="dismissModel()">
			<span aria-hidden="true">&times;</span>
		</button>


	</div>
	<div class="modal-body">

		<div class="table-responsive">
			<table class="table table-bordered cus-contact-table">
				<thead>
					<tr>
						<th>AID</th>
						<th>Colum Name</th>
						<th>Previous Value</th>
						<th>New Value</th>
						<th>Last Updated By</th>
						<th>Last Updated Time</th>
					</tr>
				</thead>
				<tr *ngFor="let audit of auditHisory">
					<td>{{audit.auditHistoryId}}</td>
					<td>{{audit.columnName}}</td>
					<td>{{audit.previousValue}}</td>
					<td>{{audit.newValue}}</td>
					<td>{{audit.updatedBy}}</td>
					<td>{{audit.updatedDate | date: 'MM/dd/yyyy'}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger-cstm" (click)="dismissModel()">Close</button>
	</div>
</ng-template> -->

<div class="modal"   #addContactDetails class="modal fade" id="addContactDetails" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Contact Details</h4>
            </div>
            <form #addContactForm="ngForm" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tag">Tag <span class="clr-red">*</span></label>
                                <input type="text" class="form-control" [(ngModel)]="contactInformation.tag"  name="tag" required>

                            </div>
                            <div class="form-group">
                                <label>Prefix</label>
                                <select name="preifx" [(ngModel)]="contactInformation.prefix">
                                    <option value="None selected">None selected</option>
                                    <option value="Dr.">Dr.</option>
                                    <option value="Mr.">Mr.</option>
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Ms.">Ms.</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>First Name <span class="clr-red">*</span></label>
                                <div class="inner-addon right-addon inline-block" style="width: 100%">
                                    <input type="text" class="form-control" [(ngModel)]="contactInformation.firstName"  name="firstName" required>
                                    <!-- <p-autoComplete class="autocomp-customer-cstm" 
                                                    [(ngModel)]="contactInformation.firstName"  name="firstName" field="firstName" [suggestions]="firstNamesList" (completeMethod)="filterFirstNames($event)" [size]="30"
                                                    [minLength]="1" [dropdown]="true" [inputStyle]="{'width': '100%'}" required>


                                    </p-autoComplete> -->
                                </div>
                                <!-- <div *ngIf="disableSaveFirstName" class="clr-red">Entry Already Exists</div> -->
                                <!-- <div class="form-group col-sm-12 Customer-details-heading" *ngIf="showFirstName">
                                    <p class="fs10">
                                        Please Enter Required fields
                                    </p>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label>Middle Name</label>
                                <div class="inner-addon right-addon inline-block" style="width: 100%">
                                    <input type="text" class="form-control" [(ngModel)]="contactInformation.middleName"  name="middleName">
                                    <!-- <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="contactInformation.middleName" 
                                                    name="middleName"  [suggestions]="middleNamesList" field="middleName" (completeMethod)="filterMiddleNames($event)" [size]="30"
                                                    [minLength]="1" [dropdown]="true" [inputStyle]="{'width': '100%'}">

                                    </p-autoComplete> -->
                                </div>

                                <!-- <div *ngIf="disableSaveMiddleName" class="clr-red">Entry Already Exists</div> -->
                            </div>
                            <div class="form-group">
                                <label>Last Name <span class="clr-red">*</span></label>
                                <div class="inner-addon right-addon inline-block" style="width: 100%">
                                    <input type="text" class="form-control" [(ngModel)]="contactInformation.lastName"  name="lastName" required>
                                    <!-- <p-autoComplete class="autocomp-customer-cstm"  [(ngModel)]="contactInformation.lastName"
                                     name="lastName" [suggestions]="lastNamesList" field="lastName" (completeMethod)="filterLastNames($event)"
                                                          
                                                    [size]="30" [minLength]="1" [dropdown]="true" [inputStyle]="{'width': '100%'}" required>

                                    </p-autoComplete> -->
                                    <!-- <div *ngIf="disableSaveLastName" class="clr-red">Entry Already Exists</div> -->
                                </div>
                                <!-- <div class="form-group col-sm-12 Customer-details-heading" *ngIf="showLastName">
                                    <p class="fs10">
                                        Please Enter Required fields
                                    </p>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label>Suffix</label>
                                <select name="suffix" [(ngModel)]="contactInformation.suffix">
                                  <option value="">None selected</option>
                                    <option value="II">II</option>
                                    <option value="III">III</option>
                                    <option value="Jr.">Jr.</option>
                                    <option value="Sr.">Sr.</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" type="text" name="contactTitle" [(ngModel)]="contactInformation.contactTitle">
                            </div>
                            <div class="form-group">
                                <label>Work Phone <span class="clr-red">*</span></label>
                                <div>
                                    <input class="form-control" type="number" pKeyFilter="pnum" name="workPhone" [(ngModel)]="contactInformation.workPhone" style="width: calc(100% - 63px) !important;" required>
                                    -
                                    <input class="form-control w50" type="text"  name="workPhoneExtn" [(ngModel)]="contactInformation.workPhoneExtn">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group" style="margin-top: 15px; margin-bottom: 20px;">
                                    <div class="label-cstm" style="margin-right: 10px;">Primary Contact</div>
                                    <span class="checkbox-cstm">
                                        <label style="width: 20px;">
                                            <input type="checkbox" name="isDefaultContact" [(ngModel)]="contactInformation.isDefaultContact">
                                            <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Web Site</label>
                                <input class="form-control" type="text" name="websiteURL" #url="ngModel"  [(ngModel)]="contactInformation.websiteURL">
                                <div *ngIf="url.errors" [ngClass]="'error'">
                                    <div *ngIf="url.errors.pattern">
                                        <span style="color:red">URL not valid</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mobile Phone</label>
                                <input class="form-control" pKeyFilter="pint" type="text" name="mobilePhone" [(ngModel)]="contactInformation.mobilePhone">
                            </div>
                            <div class="form-group">
                                <label>Alternate Phone</label>
                                <input class="form-control" pKeyFilter="pint" type="text" name="alternatePhone" [(ngModel)]="contactInformation.alternatePhone">
                            </div>
                            <div class="form-group">
                                <label>Fax</label>
                                <input class="form-control" pKeyFilter="pint" type="text" name="fax" [(ngModel)]="contactInformation.fax">
                            </div>
                            <div class="form-group">
                                <label>Memo</label>
                                <!--<input class="form-control" type="text" name="notes" [(ngModel)]="contactInformation.notes">-->
                                <textarea class="form-control" name="notes" [(ngModel)]="contactInformation.notes" placeholder="Tool Bar"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Email <span class="clr-red">*</span></label>
                                <input class="form-control" email type="text" name="email" [pattern]="emailPattern" #contactEmail="ngModel" [(ngModel)]="contactInformation.email" required>
                                <div *ngIf="contactEmail.errors" [ngClass]="'error'">
                                    <div *ngIf="contactEmail.errors.pattern">
                                        <span style="color:red">Contact Email  not valid</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  *ngIf="!isEditButton" class="btn btn-primary-cstm pull-right submit-btn" style="text-align:center" [disabled]="!addContactForm.valid ||contactEmail.errors" (click)="saveContactInformation()" data-dismiss="modal">Save</button>
                    <button type="button"  *ngIf="isEditButton" class="btn btn-primary-cstm pull-right submit-btn" style="text-align:center" (click)="updateCustomerContact()" [disabled]="!addContactForm.valid ||contactEmail.errors" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-danger-cstm" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div  id="view" #view class="modal fade" role="dialog" *ngIf="sourceViewforContact">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Details of Customer Contact</h4>
            </div>
            <div class="modal-body">
                    <div class="col-sm-12">
                            <p><span class="label"><b>Tag: </b></span><span class="value">{{sourceViewforContact.tag}}</span></p>
                            <p><span class="label"><b>Prefix: </b></span><span class="value">{{sourceViewforContact.prefix}}</span></p>
                            <p><span class="label"><b>First Name: </b></span><span class="value">{{sourceViewforContact.firstName}}</span></p>
                            <p><span class="label"><b>Middle Name: </b></span><span class="value">{{sourceViewforContact.middleName}}</span></p>
                            <p><span class="label"><b>Last Name: </b></span><span class="value">{{sourceViewforContact.lastName}}</span></p>
                            <p><span class="label"><b>Suffix: </b></span><span class="value">{{sourceViewforContact.suffix}}</span></p>
                            <p><span class="label"><b>Title: </b></span><span class="value">{{sourceViewforContact.contactTitle}}</span></p>
                            <p><span class="label"><b>Work Phone: </b></span><span class="value">{{sourceViewforContact.workPhone}}</span></p>
                            <p><span class="label"><b>Primary Contact </b></span><span class="value">{{sourceViewforContact.isDefaultContact}}</span></p>
        
                            <p><span class="label"><b>Email: </b></span><span class="value">{{sourceViewforContact.email}}</span></p>
                            <p><span class="label"><b>WebSite: </b></span><span class="value">{{sourceViewforContact.websiteURL}}</span></p>
                            <p><span class="label"><b>Mobile Phone: </b></span><span class="value">{{sourceViewforContact.mobilePhone}}</span></p>
                            <p><span class="label"><b>Alternate Phone:</b></span><span class="value">{{sourceViewforContact.alternatePhone}}</span></p>
        
                            <p><span class="label"><b>Fax: </b></span><span class="value">{{sourceViewforContact.fax}}</span></p>
                            <p><span class="label"><b>Memo: </b></span><span class="value">{{sourceViewforContact.notes}}</span></p>
                            <div class="clear"></div>
                        </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger-cstm"  data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
</div>



<div id="ATAADD" class="modal fade custom-popup" role="dialog" #ATAADD>
    <div class="modal-dialog modal-full">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Add ATA Information</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="popup-plusicon-cstm"
                    >ATA Chapter
                    <a
                      data-dismiss="modal"
                      [routerLink]="['/singlepages/singlepages/app-ata-main']"
                      ><i class="fa fa-plus-circle fa-lg"></i
                    ></a>
                  </label>
                  <p-dropdown
                    name="ataPopUp"
                    placeholder="Select ATA Chapter"
                    class="p-dropdown-custom-md"
                    [(ngModel)]="add_SelectedId"
                    (onChange)="getATASubChapterByATAChapter()"
                    [options]="add_ataChapterList"
                  ></p-dropdown>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="form-group">
                  <label
                    class="popup-plusicon-cstm"
                    style="width: 170px !important;"
                    >ATA SubChapters
                    <a
                      data-dismiss="modal"
                      [routerLink]="[
                        '/singlepages/singlepages/app-ata-sub-chapter1'
                      ]"
                      ><i class="fa fa-plus-circle fa-lg"></i></a
                  ></label>
                  <p-multiSelect
                    class="imstock-pmselect"
                    [options]="add_ataSubChapterList"
                    [(ngModel)]="add_SelectedModels"
                    name="popUpATASubchapter"
                    [panelStyle]="{ minWidth: '12em' }"
                  ></p-multiSelect>
                </div>
              </div>
  
              <div class="col-md-2">
                <button
                  style="margin-top: 20px;"
                  type="button"
                  class="btn btn-primary-cstm"
                  (click)="addATAMapping()"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
          <p-table
          [rows]="6"
          [value]="ataListDataValues"
          [scrollable]="true"
          [style]="{ width: '100%' }"
          [paginator]="true"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <!-- <th>Id</th> -->
              <th *ngFor="let col of ataHeaders">
                {{ col.header }}
              </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-i="rowIndex"
            let-rowData
            let-columns="columns"
          >
            <tr>
              <!-- <td>{{ i + 1 }}</td> -->
              <td *ngFor="let col of ataHeaders">
                {{ rowData[col.field] }}
              </td>
              <td>
                <button
                  class="btn btn-danger nobg"
                  (click)="deleteATAMapped(rowData)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger-cstm" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
<ng-template #deleteContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteItemAndCloseModel()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>
<!-- <ng-template #view class="modal fade" role="dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body viewform viewform-cstm">

                <div class="col-sm-12">
                    <p><span class="label"><b>Prefix: </b></span><span class="value">{{sourceViewforContact.prefix}}</span></p>
                    <p><span class="label"><b>First Name: </b></span><span class="value">{{sourceViewforContact.firstName}}</span></p>
                    <p><span class="label"><b>Middle Name: </b></span><span class="value">{{sourceViewforContact.middleName}}</span></p>
                    <p><span class="label"><b>Last Name: </b></span><span class="value">{{sourceViewforContact.lastName}}</span></p>
                    <p><span class="label"><b>Suffix: </b></span><span class="value">{{sourceViewforContact.suffix}}</span></p>
                    <p><span class="label"><b>Title: </b></span><span class="value">{{sourceViewforContact.contactTitle}}</span></p>
                    <p><span class="label"><b>Work Phone: </b></span><span class="value">{{sourceViewforContact.workPhone}}</span></p>

                    <p><span class="label"><b>Email: </b></span><span class="value">{{sourceViewforContact.email}}</span></p>
                    <p><span class="label"><b>WebSite: </b></span><span class="value">{{sourceViewforContact.websiteURL}}</span></p>
                    <p><span class="label"><b>Mobile Phone: </b></span><span class="value">{{sourceViewforContact.mobilePhone}}</span></p>
                    <p><span class="label"><b>Alternate Phone:</b></span><span class="value">{{sourceViewforContact.alternatePhone}}</span></p>

                    <p><span class="label"><b>Fax: </b></span><span class="value">{{sourceViewforContact.fax}}</span></p>
                    <p><span class="label"><b>Memo: </b></span><span class="value">{{sourceViewforContact.notes}}</span></p>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-cstm" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
            </div>
        </div>

    </ng-template> -->