.x_panel {
    padding: 0 10px;
    background-color: #fff;
}
/*label {
    font-size: 12px !important;
    text-align: left;
    width: auto;
    margin-right: 0;
    font-weight: normal;
}*/
.form-control:disabled {
    background-color: #e9ecef !important;
}
input[type="text"], input[type="number"], input[type="email"], select {
    height: 24px !important;
    border-radius: 5px !important;
}
textarea {
    border-radius: 5px !important;
}
a.fa.fa-plus-circle {
    color: green !important;
}