<div class="card">
  <div class="card-body">
    <p-table
      class="rpo-table-cstm rro-table-cstm"
      [columns]="roListColumns"
      [value]="workOrderRoList"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
          <th>
            Actions
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td>
            <button
              class="btn-edit ptable-wo-btns"
              mat-icon-button
              (click)="edit(rowData)"
              matTooltip="Edit"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
