<div class="card">
  <div class="card-body" *ngIf="subWorkOrderHeader">
    <div class="row labels-ctsm-align">
      <div class="col-md-3">
        <label class="fs12">WorkOrderNumber : </label>
        <span>{{ subWorkOrderHeader.workOrderNum }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">MCPN: </label>
        <span>{{ subWorkOrderHeader.mcpn }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">Revised MCPN : </label>
        <span>{{ subWorkOrderHeader.revisedMCPN }}</span>
      </div>

      <div class="col-md-3">
        <label class="fs12">MCPN Description :</label>
        <span>{{ subWorkOrderHeader.mcpnDescription }}</span>
      </div>
    </div>

    <div class="row labels-ctsm-align">
      <div class="col-md-3">
        <label class="fs12" style="text-align: left">MC SerialNum : </label>
        <span>{{ subWorkOrderHeader.mcSerialNum }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">Cust Name :</label>
        <span>{{ subWorkOrderHeader.custName }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">workScope : </label>
        <span>{{ subWorkOrderHeader.workScope }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">stockline : </label>
        <span>{{ subWorkOrderHeader.stockline }}</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="workOrderDetails">
  <div class="card">
    <div class="card-body" *ngIf="subWorkOrderGeneralInformation">
      <form #subWoHeader="ngForm">
        <div class="form-row">
          <div class="col-md-3">
            <div class="form-group ">
              <label> SubWO Num </label> <span class="clr-red">*</span>
              <input
                class="form-control"
                data-toggle="tooltip"
                type="text"
                name="workOrderNumber"
                #workOrderNumber="ngModel"
                disabled
                required
                [(ngModel)]="subWorkOrderGeneralInformation.subWorkOrderNo"
              />
            </div>

            <div class="form-group">
              <label for="opendate">Sub WO Open Date </label>
              <span class="clr-red">*</span>
              <p-calendar
                [showIcon]="true"
                class="calender-cstm"
                name="openDate"
                #openDate="ngModel"
                required
                [(ngModel)]="subWorkOrderGeneralInformation.openDate"
              ></p-calendar>
            </div>
            <div class="form-group">
              <label for="needData">Sub WO Need Date </label>
              <span class="clr-red">*</span>
              <p-calendar
                [showIcon]="true"
                class="calender-cstm"
                name="needDate"
                #needDate="ngModel"
                required
                [(ngModel)]="subWorkOrderGeneralInformation.needDate"
              ></p-calendar>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group ">
              <label> Sub WO EST. COMP DATE </label>
              <span class="clr-red">*</span>
              <p-calendar
                [showIcon]="true"
                class="calender-cstm"
                name="estimatedCompletionDate"
                #estimatedCompletionDate="ngModel"
                required
                [(ngModel)]="
                  subWorkOrderGeneralInformation.estimatedCompletionDate
                "
              ></p-calendar>
            </div>

            <div class="form-group">
              <label for="opendate">Sub WO Stage </label>
              <span class="clr-red">*</span>
              <!-- <input
              class="form-control"
              data-toggle="tooltip"
              type="text"
              name="stage"
              #stage="ngModel"
              disabled
              [(ngModel)]="subWorkOrderGeneralInformation.workOrderStage"
            /> -->
              <p-dropdown
                [options]="workOrderStagesList"
                name="stage"
                #stage="ngModel"
                placeholder="Select Stage"
                class="p-dropdown-custom-md-Header"
                required
                [(ngModel)]="subWorkOrderGeneralInformation.stageId"
              >
              </p-dropdown>
            </div>
            <div class="form-group">
              <label for="opendate">Sub WO Status </label>
              <span class="clr-red">*</span>
              <p-dropdown
                [options]="workOrderStatusList"
                placeholder="Select Status"
                name="status"
                #status="ngModel"
                class="p-dropdown-custom-md-Header"
                required
                [(ngModel)]="subWorkOrderGeneralInformation.statusId"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group ">
              <label> Sub WO CMM </label>
              <p-dropdown
                placeholder="Select CMM"
                name="cmm"
                #cmm="ngModel"
                [options]="cmmList"
                class="p-dropdown-custom-md-Header"
                [(ngModel)]="subWorkOrderGeneralInformation.cmmId"
              >
              </p-dropdown>
            </div>

            <div class="form-group">
              <label for="opendate">Sub WO WorkFlow ID </label>
              <!-- <input
              class="form-control"
              data-toggle="tooltip"
              type="text"
              name="workflowNo"
              #workflowNo="ngModel"
              disabled
              [(ngModel)]="subWorkOrderGeneralInformation.workFlowNo"
            /> -->
              <p-dropdown
                [options]="workFlowList"
                name="workFlowId"
                #workFlowId="ngModel"
                placeholder="Select workflow"
                class="p-dropdown-custom-md-Header"
                [(ngModel)]="subWorkOrderGeneralInformation.workFlowId"
              >
              </p-dropdown>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <div class="checkbox-cstm">
                <label>
                  <input
                    type="checkbox"
                    name="isPMA"
                    #isPMA="ngModel"
                    [(ngModel)]="subWorkOrderGeneralInformation.isPMA"
                  />
                  <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                  PMA
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="checkbox-cstm">
                <label>
                  <input
                    type="checkbox"
                    name="isDER"
                    #isDER="ngModel"
                    [(ngModel)]="subWorkOrderGeneralInformation.isDER"
                  />
                  <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                  DER
                </label>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button
            class="btn btn-primary pull-right"
            *ngIf="!isEdit"
            type="button"
            [disabled]="!subWoHeader.valid"
            (click)="saveSubWorkOrder()"
          >
            Save
          </button>
          <button
            class="btn btn-primary pull-right"
            *ngIf="isEdit"
            type="button"
            [disabled]="!subWoHeader.valid"
            (click)="saveSubWorkOrder()"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="subWorkOrderGeneralInformation && subWorkOrderId && workOrderId">
    <app-work-order-smart
      [isSubWorkOrder]="issubWorkOrderState"
      [paramsData]="workOrderDetails"
      [showTabsGrid]="showTabsGrid"
      [showGridMenu]="showGridMenu"
      [subWorkOrderId]="subWorkOrderId"
      [workFlowWorkOrderId]="workFlowWorkOrderId"
    ></app-work-order-smart>
  </div>
</div>
