<div class="card">
  <div class="card-body" *ngIf="subWorkOrderHeader">
    <div class="row labels-ctsm-align">
      <div class="col-md-3">
        <label class="fs12">WorkOrderNumber : </label>
        <span>{{ subWorkOrderHeader.workOrderNum }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">MCPN: </label>
        <span>{{ subWorkOrderHeader.mcpn }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">Revised MCPN : </label>
        <span>{{ subWorkOrderHeader.revisedMCPN }}</span>
      </div>

      <div class="col-md-3">
        <label class="fs12">MCPN Description :</label>
        <span>{{ subWorkOrderHeader.mcpnDescription }}</span>
      </div>
    </div>

    <div class="row labels-ctsm-align">
      <div class="col-md-3">
        <label class="fs12" style="text-align: left">MC SerialNum : </label>
        <span>{{ subWorkOrderHeader.mcSerialNum }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">Cust Name :</label>
        <span>{{ subWorkOrderHeader.custName }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">workScope : </label>
        <span>{{ subWorkOrderHeader.workScope }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">stockline : </label>
        <span>{{ subWorkOrderHeader.stockline }}</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="workOrderDetails">
  <app-work-order-smart
    [isSubWorkOrder]="issubWorkOrderState"
    [paramsData]="workOrderDetails"
  ></app-work-order-smart>
</div>
