<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <div class="card">
                    <div class="card-body">
                        <div class="inline-block display-flex">
                            <h3 class="po-head lead">Aircraft Model</h3>
                            &nbsp;&nbsp;
                            <a class="plusicon-cstm new-margin" pTooltip="Add Aircraft Model" tooltipPosition="right" (click)="open(aircraftModel)"><i class="fa fa-plus-circle fa-lg"></i></a>
                        </div>
                        <p-table #dt class="rpo-table-cstm rro-table-cstm" [value]="aircraftModelsPagination" [lazy]="true" (onLazyLoad)="loadAircraftModels($event)" [paginator]="true"
                                 [rows]="10" [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords"
                                 [metaKeySelection]="true" [pageLinks]="3" [columns]="cols" selectionMode="multiple"
                                 [(selection)]="cols" [resizableColumns]="true" [reorderableColumns]="true">
                            <ng-template pTemplate="caption">
                                <div style="text-align: right">
                                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                                   selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
                                    <!-- <div class="inner-addon right-addon w200 inline-block g-filter-search-cstm">
                                        <i class="fa fa-search"></i>
                                        <input type="text" pInputText size="50" class="form-control ui-autocomplete-input" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Filter">
                                    </div> -->
                                    <button type="button" class="btn btn-primary-cstm " pButton icon="fa-download" iconPos="left" label="Export All Data" (click)="dt.exportCSV()"></button>
                                    <button type="button" class="btn btn-primary-cstm " pButton icon="fa-download" iconPos="left" label="Export Selection Only" (click)="dt.exportCSV({selectionOnly:true})"></button>
                                    <div class="excel-upload  excel-upload-cstm">
                                        <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                        <label for="upload">
                                            <span matTooltip="Upload Data (Excel)"><i class="fa fa-upload"></i></span>
                                        </label>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                    <th style="width:150px"></th>
                                </tr>
                                <tr>
                                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                    </th>
                                    <th style="width:150px"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" ngFor let-model [ngForOf]="aircraftModelsPagination">
                                <tr>
                                    <td>{{model.aircraftModelId}}</td>
                                    <td>{{model.aircraftType.description}}</td>
                                    <td>{{model.modelName}}</td>
                                    <td>{{model.memo}}</td>
                                    <td>
                                        <p-inputSwitch *ngIf="model.isActive == true || model.isActive == null" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(model,$event)" [(ngModel)]="model.isActive"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="model.isActive == false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(model,$event)" [(ngModel)]="model.isActive"></p-inputSwitch>
                                        <span data-toggle="modal" data-target="#view">
                                                <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openView(viewData,model.aircraftModelId)" title="View">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </span>
                                        <button class="btn-edit" mat-icon-button (click)="setAircraftModelToUpdate(editAircraftModel,model.aircraftModelId)" matTooltip="edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                       
                                        <span (click)="showAuditPopup(auditContent,model.aircraftModelId)" matTooltip="History" data-toggle="modal" data-target="#history">
                                            <a data-toggle="tooltip" title="" class="btn btn-success nobg" data-original-title="History">
                                                <i class="fa fa-history"></i>
                                            </a>
                                        </span>
                                        <span (click)="confirmDelete(content,model.aircraftModelId)" data-toggle="modal" data-target="#data">
                                            <a class="btn btn-danger nobg" data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary" id="footer">
                                <label id="footer" class="footer">No'of records:</label> <input style="width: 5%;" [(ngModel)]="totalRecords" [disabled]="true" pInputText type="text" />
                                &nbsp;&nbsp;
                                <label id="footer" class="footer1">Pages Count:</label> <input style="width: 5%;" [(ngModel)]="totelPages" [disabled]="true" pInputText type="text" />
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                      

                                <ng-template #auditContent let-c="close" let-d="dismiss">
                                    <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
                                        <app-audit [Data]="AuditDetails" [Modal]="modal"></app-audit>
                                    </div>
                                </ng-template>
                                <ng-template #viewData class="modal fade" id="view" role="dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
                                                <h4 class="modal-title">Aircraft Model Details</h4>
                                            </div>
                                            <div class="modal-body viewform">
                                                 <p>
                                                    <span class="label">
                                                        <b>Aircraft Model Id: </b>
                                                    </span>
                                                    <span class="value">{{aircraftModelTypeToView.aircraftModelId}}</span>
                                                </p>
                                                <p>
                                                    <span class="label">
                                                        <b>Manufacutrer Name: </b>
                                                    </span>
                                                    <span class="value">{{aircraftModelTypeToView.aircraftType.description}}</span>
                                                </p>
                                                
                                                <p>
                                                    <span class="label">
                                                        <b>Memo: </b>
                                                    </span>
                                                    <span class="value">{{aircraftModelTypeToView.memo}}</span>
                                                </p>
                                                <p>
                                                    <span class="label">
                                                        <b>Created By: </b>
                                                    </span>
                                                    <span class="value">{{aircraftModelTypeToView.createdBy}}</span>
                                                </p>
                                                <p>
                                                    <span class="label">
                                                        <b>Created Date: </b>
                                                    </span>
                                                    <span class="value">{{aircraftModelTypeToView.createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                                                </p>
                                                <p>
                                                    <span class="label">
                                                        <b>Updated By: </b>
                                                    </span>
                                                    <span class="value">{{aircraftModelTypeToView.updatedBy}}</span>
                                                </p>
                                                <p>
                                                    <span class="label">
                                                        <b>Updated Date: </b>
                                                    </span>
                                                    <span class="value">{{aircraftModelTypeToView.updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                                                </p>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger-cstm" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
                                            </div>
                                        </div>
                                    
                                    </ng-template>
                        

                                <ng-template #content let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Are you sure you want to delete Aircraft Model ?</h4>
                                        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                     <div class="modal-body">
                                         <strong>Aircraft Model Name:
                                                <span class="new-label">"{{aircraftModelTypeToRemove.modelName}}"</span>
                                         </strong>                                     
                                     </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary-cstm" (click)="removeAircraftModel()">Yes</button>
                                        <button type="button" class="btn btn-danger-cstm" (click)="dismissModel()">No</button>
                                    </div>
                                </ng-template>

                                <ng-template #editAircraftModel let-c="close" let-d="dismiss">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" (click)="dismissModel()" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">Edit Aircraft Model</h4>
                                        </div>
                                        <div class="modal-body">
                                                <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="updateAircraftModel()">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Aircraft Manufacturer:</label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select [(ngModel)]="aircraftModelTypeToUpdate.aircraftTypeId" name="aircraftid" required>
                                                            <option *ngFor="let manufacturer of aircraftManufacturerList" [ngValue]="manufacturer.aircraftTypeId">{{manufacturer.description}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                       <label class="control-label">Model Name: </label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <p-autoComplete [(ngModel)]="aircraftModelTypeToUpdate.modelName" (onSelect)="model($event)" (onKeyUp)=eventHandler($event) name="description"  [suggestions]="localCollection" (completeMethod)="filterModelName($event)" [size]="30"
                                                        [dropdown]="true" class="p-autoComplete-ctsm" required>
                                                        <ng-template let-modelname pTemplate="item">
                                                            <div class="ui-helper-clearfix">{{modelname}}</div>
                                                        </ng-template>
                                                    </p-autoComplete>
                                                    <div *ngIf="disableSave" class="clr-red">Already Exists</div>
                                                    <div class="clear"></div>  
                                                    </div>
                                                </div>                                               
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Memo: </label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <textarea class="text-item" name="memo" [(ngModel)]="aircraftModelTypeToUpdate.memo"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <div class="checkbox-cstm">
                                                        <label>
                                                            <input type="checkbox" name="isActive" #isActive="ngModel" checked id="isActive" [(ngModel)]="aircraftModelTypeToUpdate.isActive">
                                                            <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                            Active
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>  
                                            </form>                                        
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" (click)="updateAircraftModel()" [disabled]="!userForm.valid || disableSave" class="btn btn-primary-cstm" data-dismiss="modal">Save</button>
                                            <button type="button" class="btn btn-danger-cstm" (click)="dismissModel()" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </ng-template>

                                <p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
                                          [width]="350" [minWidth]="200" [responsive]="true"
                                          [minY]="1050" [baseZIndex]="1100000">
                                    <h5 [ngStyle]="{'color':'red'}">
                                        Please Enter (*) Mandatory Fields
                                    </h5>
                                    <p-footer>
                                        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
                                    </p-footer>
                                </p-dialog>

                                <!--Paginator added-->
                                <!--<p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)" pageLinkSize="8"></p-paginator>-->

                                <ng-template #aircraftModel let-c="close" let-d="dismiss">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" (click)="dismissModel()" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title"> Add Aircraft Model</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="addAircraftModel()">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Aircraft Manufacturer:</label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select [(ngModel)]="currentAircraftModelType.aircraftTypeId" name="typeid" required>
                                                            <option *ngFor="let manufacturer of aircraftManufacturerList" [ngValue]="manufacturer.aircraftTypeId">{{manufacturer.description}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Model Name: </label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                            <p-autoComplete [(ngModel)]="currentAircraftModelType.modelName" (onSelect)="model($event)" (onKeyUp)=eventHandler($event) name="description"  [suggestions]="localCollection" (completeMethod)="filterModelName($event)" [size]="30"
                                                            [dropdown]="true" class="p-autoComplete-ctsm" required>
                                                            <ng-template let-modelname pTemplate="item">
                                                                <div class="ui-helper-clearfix">{{modelname}}</div>
                                                            </ng-template>
                                                        </p-autoComplete>
                                                        <div *ngIf="disableSave" class="clr-red">Already Exists</div>
                                                        <div class="clear"></div>  
                                                        </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Memo: </label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <textarea class="text-item"  name="memo" [(ngModel)]="currentAircraftModelType.memo"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <div class="checkbox-cstm">
                                                        <label>
                                                            <input type="checkbox" name="isActive" #isActive="ngModel" checked id="isActive" [(ngModel)]="currentAircraftModelType.isActive">
                                                            <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                            Active
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div>                                      
                                        <div class="modal-footer">
                                            <button type="button" (click)="addAircraftModel()" [disabled]="!userForm.valid || disableSave" class="btn btn-primary-cstm" data-dismiss="modal">Save</button>
                                            <button type="button" class="btn btn-danger-cstm" (click)="dismissModel()" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </ng-template>
