<div class="card">
  <div class="col-sm-12 font-padding">
    <div class="col-sm-2">
      Customer Name: <span style="color:red">{{ customerName }}</span>
    </div>
    <div class="col-sm-3">
      Customer Code: <span style="color:red">{{ customerCode }}</span>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-12 ">
      <div class="shadow-Box">
        <div class="col-sm-12">
          <h4 class="float-left">Search ATA chapters</h4>
          <h4 class="float-right">
            Add ATA Information
            <a class="plusicon-cstm" data-toggle="modal" data-target="#ATAADD"
              ><i class="fa fa-plus-circle fa-lg"></i
            ></a>
          </h4>
        </div>
        <div class="col-md-3">
          <div class="form-group ">
            <label class="fs12">ATA Chapter</label>
            <p-multiSelect
              [options]="add_ataChapterList"
              name="atasearch"
              [(ngModel)]="search_SelectedATA"
              (onChange)="getSubChapterByATAChapter()"
              [panelStyle]="{ minWidth: '12em' }"
              class="pub-multi"
            ></p-multiSelect>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="fs12">
              ATA Subchapter
            </label>
            <p-multiSelect
              [(ngModel)]="search_SelectedATASubChapter"
              [options]="search_ataSubChapterList"
              name="ataSubchapter"
              [panelStyle]="{ minWidth: '12em' }"
              class="pub-multi"
            ></p-multiSelect>
          </div>
        </div>
        <div class="col-md-1 add-new-align">
          <div class="form-group">
            <button class="btn btn-primary mtop20" (click)="searchATA()">
              <i class="pi pi-search pi-search"></i>
            </button>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <br />
</div>
<div class="col-sm-12">
  <p-table
    [rows]="6"
    [value]="ataListDataValues"
    [scrollable]="true"
    [style]="{ width: '100%' }"
    [paginator]="true"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Id</th>
        <th *ngFor="let col of ataHeaders">
          {{ col.header }}
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-i="rowIndex"
      let-rowData
      let-columns="columns"
    >
      <tr>
        <td>{{ i + 1 }}</td>
        <td *ngFor="let col of ataHeaders">
          {{ rowData[col.field] }}
        </td>
        <td>
          <button
            class="btn btn-danger nobg"
            (click)="deleteATAMapping(rowData.customerATAMappingId)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br />
</div>

<div>
  <button
    type="button"
    class="btn btn-primary-cstm pull-right submit-btn"
    (click)="nextClick()"
  >
    Next
  </button>
  <button
    type="button"
    class="btn btn-primary-cstm pull-right submit-btn"
    (click)="backClick()"
  >
    Previous
  </button>
</div>
<!-- <div class="col-sm-12 mt8">
            <button class="btn btn-primary-cstm float-left" pButton type="button" (click)="moveAircraftInformation(); changeOfTab('AircraftInfo');" icon="pi pi-angle-left" iconPos="left" label="Prev" style="padding: 0 !important;"></button>
            <button class="btn btn-primary-cstm float-right" pButton (click)="movePurchaseInformation(); changeOfTab('PurchaseSales');" type="button" icon="pi pi-angle-right" iconPos="right" label="Save & Go to Next Step" style="padding: 0 !important;"></button>
        </div> -->
<div id="ATAADD" class="modal fade custom-popup" role="dialog">
  <div class="modal-dialog modal-full">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Add ATA Information</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="popup-plusicon-cstm"
                  >ATA Chapter
                  <a
                    data-dismiss="modal"
                    [routerLink]="['/singlepages/singlepages/app-ata-main']"
                    ><i class="fa fa-plus-circle fa-lg"></i
                  ></a>
                </label>
                <p-dropdown
                  name="ataPopUp"
                  class="p-dropdown-custom-md"
                  [(ngModel)]="add_SelectedId"
                  (onChange)="getATASubChapterByATAChapter()"
                  [options]="ataChapterList"
                ></p-dropdown>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label
                  class="popup-plusicon-cstm"
                  style="width: 170px !important;"
                  >ATA SubChapters
                  <a
                    data-dismiss="modal"
                    [routerLink]="[
                      '/singlepages/singlepages/app-ata-sub-chapter1'
                    ]"
                    ><i class="fa fa-plus-circle fa-lg"></i></a
                ></label>
                <p-multiSelect
                  class="imstock-pmselect"
                  [options]="add_ataSubChapterList"
                  [(ngModel)]="add_SelectedModels"
                  name="popUpATASubchapter"
                  [panelStyle]="{ minWidth: '12em' }"
                ></p-multiSelect>
              </div>
            </div>

            <div class="col-md-2">
              <button
                style="margin-top: 20px;"
                type="button"
                class="btn btn-primary-cstm"
                data-dismiss="modal"
                (click)="addATAMapping()"
              >
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-cstm" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
