<div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; left: 0px; top: 0px;" dir="ltr">
    <fieldset class="calibration-tab sf-step-el">
        <div class="col-sm-12">
            <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
                <p class="fs10">
                    <label class="control-label" style="width: auto;">Asset ID</label>
                    {{local?.assetId}}
                </p>
            </div>
            <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
                <p class="fs10">
                    <label class="control-label" style="width: auto;">Alt Asset ID</label>
                    {{local?.alternateAssetId}}
                </p>
            </div>
            <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
                <p class="fs10">
                    <label class="control-label" style="width: auto;">Asset Name</label>
                    {{local?.name}}
                </p>
            </div>
            <div class="form-group" style="display: inline-block;">
                <p class="fs10">
                    <label class="control-label" style="width: auto;">Asset Type</label>
                    {{local?.assetTypeSingleScreenId}}
                </p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <hr class="hr-light-grey">
        <div class="col-sm-6 w400 calibration-blocks" style="display: block;">
            <div *ngIf="currentCalibration.calibrationRequired" class="calibration-block" style="display: block;">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Calibration Frequency</label>
                    <div class="col-sm-7">
                        <div class="col-sm-4">
                            <span class="bold">Mths<input type="number" min="0" max="12"></span>

                        </div>
                        <div class="col-sm-4">
                            <span class="bold">-Days<input type="number" min="0" max="12"></span>

                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Default Vendor</label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentCalibration.calibrationDefaultVendorId">
                            <option>--Select--</option>
                            <option class="form-control" *ngFor="let vendors of allVendorInfo" [ngValue]="vendors.vendorId">
                                {{vendors.vendorName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Dafault Cost</label>
                    <div class="col-sm-7">
                        <input class="form-control w70 amount" type="text">
                        <select class="w70 form-control">
                            <option>-- Select --</option>
                            <option value="inr">₹</option>
                            <option value="usd" selected="1">$</option>
                            <option value="pound">£</option>
                            <option value="euro">€</option>
                            <option value="yen">¥</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">GL Account</label>
                    <div class="col-sm-7">
                        <select class="autosuggest">
                            <option>12345 (Description)</option>
                            <option>23456 (Description)</option>
                            <option>34567 (Description)</option>
                            <option>45678 (Description)</option>
                            <option>56789 (Description)</option>
                            <option>98765 (Description)</option>
                            <option>87654 (Description)</option>
                            <option>76543 (Description)</option>
                            <option>65432 (Description)</option>
                            <option>54321 (Description)</option>
                            <option>43210 (Description)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Calibration Memo</label>
                    <div class="col-sm-7">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="certification-block" style="display: block;">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Certification Frequency</label>
                    <div class="col-sm-7">
                        <div class="col-sm-4">
                            <span class="bold">Mths<input type="number" min="0" max="12"></span>
                        </div>
                        <div class="col-sm-4">
                            <span class="bold">-Days<input type="number" min="0" max="12"></span>
                        </div>
                        </div>
                    </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Default Vendor</label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentCalibration.certificationDefaultVendorId">
                            <option>--Select--</option>
                            <option class="form-control" *ngFor="let vendors of allVendorInfo" [ngValue]="vendors.vendorId">
                                {{vendors.vendorName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Dafault Cost</label>
                    <div class="col-sm-7">
                        <input class="form-control w70 amount" type="text">
                        <select class="w70 form-control">
                            <option>-- Select --</option>
                            <option value="inr">₹</option>
                            <option value="usd" selected="1">$</option>
                            <option value="pound">£</option>
                            <option value="euro">€</option>
                            <option value="yen">¥</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">GL Account</label>
                    <div class="col-sm-7">
                        <select class="autosuggest">
                            <option>12345 (Description)</option>
                            <option>23456 (Description)</option>
                            <option>34567 (Description)</option>
                            <option>45678 (Description)</option>
                            <option>56789 (Description)</option>
                            <option>98765 (Description)</option>
                            <option>87654 (Description)</option>
                            <option>76543 (Description)</option>
                            <option>65432 (Description)</option>
                            <option>54321 (Description)</option>
                            <option>43210 (Description)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Certification Memo</label>
                    <div class="col-sm-7">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="inspection-block" style="display: block;">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Inspection Frequency</label>
                    <div class="col-sm-7">
                        <div class="col-sm-4">
                            <span class="bold">Mths<input type="number" min="0" max="12"></span>
                        </div>
                        <div class="col-sm-4">
                            <span class="bold">-Days<input type="number" min="0" max="12"></span></div>
                        </div>
                    </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Default Vendor</label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentCalibration.inspectionDefaultVendorId">
                            <option>--Select--</option>
                            <option class="form-control" *ngFor="let vendors of allVendorInfo" [ngValue]="vendors.vendorId">
                                {{vendors.vendorName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Dafault Cost</label>
                    <div class="col-sm-7">
                        <input class="form-control w70 amount" type="text">
                        <select class="w70 form-control">
                            <option>-- Select --</option>
                            <option value="inr">₹</option>
                            <option value="usd" selected="1">$</option>
                            <option value="pound">£</option>
                            <option value="euro">€</option>
                            <option value="yen">¥</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">GL Account</label>
                    <div class="col-sm-7">
                        <select class="autosuggest">
                            <option>12345 (Description)</option>
                            <option>23456 (Description)</option>
                            <option>34567 (Description)</option>
                            <option>45678 (Description)</option>
                            <option>56789 (Description)</option>
                            <option>98765 (Description)</option>
                            <option>87654 (Description)</option>
                            <option>76543 (Description)</option>
                            <option>65432 (Description)</option>
                            <option>54321 (Description)</option>
                            <option>43210 (Description)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Inspection Memo</label>
                    <div class="col-sm-7">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="verification-block" style="display: block;">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Verification Frequency</label>
                    <div class="col-sm-7">
                        <div class="col-sm-4">
                            <span class="bold">Mths<input type="number" min="0" max="12"></span>
                        </div>
                        <div class="col-sm-4">
                            <span class="bold">-Days<input type="number" min="0" max="12"></span>
                            </div>
                        </div>
                    </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Default Vendor</label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentCalibration.verificationDefaultVendorId">
                            <option>--Select--</option>
                            <option class="form-control" *ngFor="let vendors of allVendorInfo" [ngValue]="vendors.vendorId">
                                {{vendors.vendorName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Dafault Cost</label>
                    <div class="col-sm-7">
                        <input class="form-control w70 amount" type="text">
                        <select class="w70 form-control">
                            <option>-- Select --</option>
                            <option value="inr">₹</option>
                            <option value="usd" selected="1">$</option>
                            <option value="pound">£</option>
                            <option value="euro">€</option>
                            <option value="yen">¥</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">GL Account</label>
                    <div class="col-sm-7">
                        <select class="autosuggest">
                            <option>12345 (Description)</option>
                            <option>23456 (Description)</option>
                            <option>34567 (Description)</option>
                            <option>45678 (Description)</option>
                            <option>56789 (Description)</option>
                            <option>98765 (Description)</option>
                            <option>87654 (Description)</option>
                            <option>76543 (Description)</option>
                            <option>65432 (Description)</option>
                            <option>54321 (Description)</option>
                            <option>43210 (Description)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Verification Memo</label>
                    <div class="col-sm-7">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-sm-6 w400">
            <div class="form-group col-sm-12 calibration-block" style="display: block;">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="2">Tolerance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Min</td>
                                <td><input type="text" class="form-control mauto"></td>
                                <td><input type="text" class="form-control mauto"></td>
                            </tr>
                            <tr>
                                <td>Max</td>
                                <td><input type="text" class="form-control mauto"></td>
                                <td><input type="text" class="form-control mauto"></td>
                            </tr>
                            <tr>
                                <td>Expected</td>
                                <td><input type="text" class="form-control mauto"></td>
                                <td><input type="text" class="form-control mauto"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2"><textarea class="form-control"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </fieldset>
</div>
<button type="submit" class="btn btn-success pull-right submit-btn" (click)="saveCalibration()">Save</button>