<div class="card">
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-12">
        <div class="col-md-8">
          <div class="col-md-4">
            <!-- <div class="form-group" *ngIf="!isQuote">
              <label for="woID">WO ID </label>
              <p-autoComplete
                [(ngModel)]="laborForm.workFlowWorkOrderId"
                field="label" 
                name="workOrderWorkFlow"
                errorMessage="Records not found" 
                [forceSelection]="true"
                [dropdown]="true"
                [suggestions]="workOrderWorkFlowList" 
                (completeMethod)="filterWorkFlowNumbers($event)"
                [size]="30" [minLength]="1"
                class="p-autoComplete-ctsm"
                [disabled]="isView"
              >
              </p-autoComplete>
            </div> -->
            <div class="form-group">
              <label for="dataentered">Data Entered By </label>
              <p-autoComplete
              class="p-autoComplete-ctsm"
              field="label" 
              name="dataEnteredBy"
              [dropdown]="true"
              errorMessage="Records not found" 
              [forceSelection]="true"
              [suggestions]="dataEnteredByList" 
              (completeMethod)="filterDataEnteredBy($event)"
              [size]="30" [minLength]="1"
                [(ngModel)]="laborForm.dataEnteredBy"
                [disabled]="isView"
              >
              </p-autoComplete>
            </div>
            <div class="form-group" *ngIf="!isQuote">
              <label for="expertise">Expertise </label>
              <p-dropdown
              placeholder="Select Expertise Type"
                [options]="expertiseTypeList"
                class="p-dropdown-custom"
                [(ngModel)]="laborForm.expertiseId"
                [disabled]="isView"
              ></p-dropdown>
            </div>
            <div class="form-group" *ngIf="!isQuote">
              <label for="employee">Employee </label>
              <p-autoComplete
                class="p-autoComplete-ctsm"
                field="label" 
                name="dataEnteredBy"
                [dropdown]="true"
                errorMessage="Records not found" 
                [forceSelection]="true"
                [suggestions]="employeeList" 
                (completeMethod)="filterEmployee($event)"
                [size]="30" [minLength]="1"
                [(ngModel)]="laborForm.employeeId"
                [disabled]="isView"
              >
              </p-autoComplete>
            </div>
          </div>

          <div class="col-md-4 col-offset-3" *ngIf="!isQuote">
            <div class="form-group">
              <p-checkbox
                class="p-checkbox-label"
                name="task"
                binary="false"
                label="Task completed By one Tech/Mech"
                [(ngModel)]="laborForm.isTaskCompletedByOne"
                [disabled]="isView"
              ></p-checkbox>
            </div>

            <div class="form-group" *ngIf="!isQuote">
              <p-radioButton
                class="p-radiobutton-label-vertical"
                name="WorkFloworSpecificTaskorWorkOrder"
                label="Use target hours from workflow"
                value="workFlow"
                [(ngModel)]="laborForm.workFloworSpecificTaskorWorkOrder"
                [disabled]="savedWorkOrderData.workFlowWorkOrderId == 0 || isView"
              ></p-radioButton>
              <p-radioButton
                class="p-radiobutton-label-vertical"
                name="WorkFloworSpecificTaskorWorkOrder"
                label="Assign hours by specific tasks"
                value="specificTasks"
                [(ngModel)]="laborForm.workFloworSpecificTaskorWorkOrder"
                [disabled]="isView"
              ></p-radioButton>
              <p-radioButton
                class="p-radiobutton-label-vertical"
                name="WorkFloworSpecificTaskorWorkOrder"
                label="Assign total hours to workorder "
                value="workOrder"
                [(ngModel)]="laborForm.workFloworSpecificTaskorWorkOrder"
                [disabled]="isView"
              ></p-radioButton>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="!isQuote">
      <div class="form-group">
        <p-radioButton
          class="p-radiobutton-label-horizontal"
          name="HoursorClockorScan"
          label="Labour hours"
          [value]=1
          [(ngModel)]="laborForm.hoursorClockorScan"
          [disabled]="isView"
        ></p-radioButton>
        <p-radioButton
          class="p-radiobutton-label-horizontal col-width"
          name="HoursorClockorScan"
          [value]=2
          label="Labour Clock In/Out"
          [(ngModel)]="laborForm.hoursorClockorScan"
          [disabled]="isView"
        ></p-radioButton>

        <p-radioButton
          class="p-radiobutton-label-horizontal"
          name="HoursorClockorScan"
          [value]=3
          label="Scan"
          [(ngModel)]="laborForm.hoursorClockorScan"
          [disabled]="isView"
        ></p-radioButton>
      </div>
    </div>
  </div>
  <div
    class="table-responsive pas-table-cstm"
  
  >
    <table class="table table-bordered  table-sorting mpn-list-table">
      <thead>
        <tr *ngIf="isQuote">
          <td colspan="4" *ngIf="!laborForm.hoursorClockorScan || laborForm.hoursorClockorScan == 1">
            &nbsp;
          </td>
          <td colspan="7" *ngIf="laborForm.hoursorClockorScan == 2">
            &nbsp;
          </td>
          <td colspan="6" *ngIf="laborForm.hoursorClockorScan == 3">
            &nbsp;
          </td>
          <td colspan="4">
            &nbsp;
          </td>
          <td colspan="3">
              <div class="form-group" style="text-align: center; display: flex;">
                <p-radioButton
                  class="p-radiobutton-label-horizontal p-radio-custom"
                  name="costPlusType"
                  label="T&M - Mark Up"
                  value=1
                  [(ngModel)]="laborForm.costPlusType"
                  [disabled]="isView"
                  (click)="tmchange()"
                ></p-radioButton>
                <div>
                  <select class="form-control" (change)="markupChanged({}, 'all')" [(ngModel)]="overAllMarkup" [disabled]="isView || laborForm.costPlusType != 1" style="margin-top: 10px;">
                    <option value="">Select</option>
                    <option *ngFor="let markUp of markupList" [value]="markUp.value">{{markUp.label}}</option>
                  </select>
                </div>
              </div>
              <div>
                <p-radioButton
                  class="p-radiobutton-label-horizontal col-width p-radio-custom"
                  name="costPlusType"
                  value=2
                  label="Actual"
                  [(ngModel)]="laborForm.costPlusType"
                  [disabled]="isView"
                  (click)="tmchange()"
                ></p-radioButton>
              </div>
              <!-- <div class="form-group" style="color: #fff;">
                <p-radioButton
                  class="p-radiobutton-label-horizontal"
                  name="costPlusType"
                  label="Mark Up"
                  value="Mark Up"
                  [(ngModel)]="laborForm.costPlusType"
                  [disabled]="isView"
                ></p-radioButton>
                <p-radioButton
                  class="p-radiobutton-label-horizontal col-width"
                  name="costPlusType"
                  value="Cost Plus"
                  label="Cost Plus"
                  [(ngModel)]="laborForm.costPlusType"
                  [disabled]="isView"
                ></p-radioButton>
              </div> -->
          </td>
          <td></td>
          <ng-container *ngIf="isQuote">
            <td></td>
          </ng-container>
        </tr>
        <tr>
          <th class="text-center padding-td">Tasks</th>
          <th class="text-center">Expertise</th>
          <th class="text-center" style="padding: 8px 64px !important;" *ngIf="!isQuote">
            Employee
          </th>
          <th class="text-center">Billable /NonBillable</th>
          <th
            class="text-center"
            *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1 && laborForm.hoursorClockorScan !== 3"
          >
            Start/Stop
          </th>
          <th
            class="text-center"
            style="width: 100px;"
            *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1"
          >
            Start Date and Time
          </th>
          <th
            class="text-center"
            *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1"
          >
            End Date and Time
          </th>
          <th class="text-center">Hours/Mins</th>
          <ng-container *ngIf="!isQuote">
              <th class="text-center">Adjustments</th>
              <th class="text-center">Adjusted Hours</th>
          </ng-container>
          <ng-container *ngIf="isQuote">
            <th>
              Direct Labor OH Cost
            </th>
            <th>
              Burden Rate Amount
            </th>
            <th>
              Cost/Hour
            </th>
            <th>
              Total Cost
            </th>
            <th>
              Billing Method
            </th>
            <th>Mark Up</th>
            <th>
              Billing Rate
            </th>
            <th>
              Billing Amount
            </th>
          </ng-container>
          <th class="text-center" style="padding: 7px 53px !important;" *ngIf="!isQuote">
            Memo
          </th>
          <th *ngIf="!isView"></th>
        </tr>
      </thead>
      <tbody>
        <!-- Receive -->
        <ng-container *ngFor="let task of taskList; let taskIndex = index">
          <!-- <ng-container *ngIf="isAllowedTask(task.taskId)"> -->
          <tr *ngIf="laborForm.workOrderLaborList[0][task.description | lowercase].length == 0 && !isView">
            <td>
                {{task.description}}
                <i
                  class="float-right float-right fa fa-plus-circle fa-lg"
                  (click)="addNewTask(task.description.toLowerCase())"
                ></i>
            </td>
            <td></td>
            <td>
                
            </td>
            <td></td>
            <td
              *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1 && laborForm.hoursorClockorScan !== 3"
            >
            </td>
            <td
              *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1"
            >
            </td>
            <td
              *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1"
            >
            </td>
            <td>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <ng-container *ngIf="isQuote">
              <td></td>
              <td></td>
              <td></td>
            </ng-container>
            <td *ngIf="!isView">
            </td>
          </tr>
          <ng-container *ngFor="let rec of laborForm.workOrderLaborList[0][task.description | lowercase]; let i = index">
            <tr *ngIf="!rec['isDeleted']">
                <td *ngIf="i < 1">
                  {{task.description}}
                  <i
                    *ngIf="!laborForm.isTaskCompletedByOne && !isView"
                    class="float-right float-right fa fa-plus-circle fa-lg"
                    (click)="addNewTask(task.description.toLowerCase())"
                  ></i>
                </td>
                <td *ngIf="i >= 1">&nbsp;</td>
                <td>
                    <!-- <p-dropdown
                    placeholder="Select Expertise Type"
                      [options]="getExpertise(expertiseTypeList, task.taskId)"
                      class="p-dropdown-custom-2"
                      [(ngModel)]="rec.expertiseId"
                    ></p-dropdown> -->

                    <select [(ngModel)]="rec.expertiseId" style="width: 130px;" [disabled]="isView">
                      <option>Select</option>
                      <ng-container *ngFor="let exp of expertiseTypeList">
                        <option [value]="exp.value">{{exp.label}}</option> 
                      </ng-container>
                    </select>
                </td>
                <td class="emp-labour-cstm" *ngIf="!isQuote">

                    <!-- <p-autoComplete
                    class="p-autocomplete-ctsm-1 "
                    field="label" 
                    name="employeeId"
                    [dropdown]="true"
                    errorMessage="Records not found" 
                    [forceSelection]="true"
                    [suggestions]="employeeList" 
                    (completeMethod)="filterEmployee($event)"
                    [size]="30" [minLength]="1"
                    [(ngModel)]="rec.employeeId"
                    #employeeId="ngModel"
                    required
                  >
                  </p-autoComplete> -->

                  <p-autoComplete field="label" [(ngModel)]="rec.employeeId"
                                                              
                  name="employeeId"
                  #salesPerson="ngModel"
                  errorMessage="Records not found" 
                  [forceSelection]="true"
                  [dropdown]="true"
                  [suggestions]="employeeList" 
                  (completeMethod)="filterEmployee($event)"
                  [size]="30" [minLength]="1"
                  [dropdown]="true" class="p-autoComplete-ctsm"  required  [disabled]="isView"></p-autoComplete>

                  <i
                    *ngIf="!laborForm.isTaskCompletedByOne"
                    class="float-right float-right fa fa-plus-circle fa-lg margintop"
                  ></i>
                </td>
                <td>
                    <p-dropdown
                    placeholder="Select Billing Type"
                      [options]="billableList"
                      class="p-dropdown-custom-2"
                      name="billable-rec"
                      [(ngModel)]="rec.billableId"
                      [disabled]="isView"
                    ></p-dropdown>
                </td>
                <td *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1 && laborForm.hoursorClockorScan !== 3">
                  <button
                    class="btn btn-primary start-btn"
                    (click)="startandStop(rec)"
                    [disabled]="(rec.startDate && rec.endDate) !== null || !isView"
                  >
                    Start/Stop
                  </button>
                </td>
                <td *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1">
                  <p-calendar
                    [(ngModel)]="rec.startDate"
                    [disabled]="!rec.startDateandTimeIsEdit"
                    [showIcon]="true"
                    showTime="true"
                    hourFormat="24"
                    [minDate]="minDateValue"
                    (onSelect)="resetEndDateandTime(rec)"
                    (onClose)="calculateWorkingHoursandMins(rec)"
                    class="w150 pcalendar-wo-labor"
                    [disabled]="isView"
                  ></p-calendar>
                  <i class="fa fa-pencil" aria-hidden="true"  (click)="isEditTime(rec,'startDateandTimeIsEdit')"></i>
                </td>
                  <td *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1 ">
                
                  <p-calendar [(ngModel)]="rec.endDate" [disabled]="!rec.endDateandTimeIsEdit" [showIcon]="true" 
                  showTime="true" hourFormat="24" class="w150 pcalendar-wo-labor"  
                  [minDate]="rec.startDate"
                  (onClose)="calculateWorkingHoursandMins(rec)"
                  [disabled]="isView"
                  ></p-calendar>
                <i class="fa fa-pencil" aria-hidden="true"  (click)="isEditTime(rec,'endDateandTimeIsEdit')" *ngIf="!isView"></i>            
                </td>
                <td *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1 ">
                  {{ rec.hours }}
                </td>
                <td *ngIf="!laborForm.hoursorClockorScan || laborForm.hoursorClockorScan === 1"> 
                  <input type="number" (blur)="calculateHoursDifference(rec); calculateTaskHours(task); calculateTotalCost(rec); markupChanged(rec, 'row')" [(ngModel)]="rec.hours" name="hours" [disabled]="checkDisability(rec, task.taskId) || isView"> 
                </td>
                <ng-container *ngIf="!isQuote">
                  <td>
                    <input type="number" (blur)="calculateHoursDifference(rec)" [(ngModel)]="rec.adjustments" [disabled]="laborForm.workFloworSpecificTaskorWorkOrder == 'workOrder' || isView"/>
                  </td>
                  <td>
                    {{ rec.adjustedHours }}
                  </td>
                </ng-container>
                <ng-container *ngIf="isQuote">
                  <td>
                    <input type="number" (blur)="calculateTotalCost(rec);markupChanged(rec, 'row')" [(ngModel)]="rec.directLaborOHCost" [disabled]="isView"/>
                  </td>
                  <td>
                    <input type="number" (blur)="calculateTotalCost(rec);markupChanged(rec, 'row')" [(ngModel)]="rec.burdenRateAmount" [disabled]="isView"/>
                  </td>
                  <td>
                    {{ rec.totalCostPerHour }}
                  </td>
                  <td>
                    {{ rec.totalCost }}
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="rec.billingMethodId" style="width: 130px;">
                      <option value="">Select</option>
                      <option *ngFor="let bm of [{'label': 'T&M', 'value': 1}, {'label': 'Actual', 'value': 2}]" [value]="bm.value">{{bm.label}}</option>
                    </select>
                  </td>
                  <td>
                      <!-- <input [(ngModel)]="matQuotation.markup" /> -->
                    <select class="form-control" (change)="markupChanged(rec, 'row')" [(ngModel)]="rec.markupPercentageId" style="width: 130px;" [disabled]="isView || rec.billingMethodId != 1">
                      <option value="">Select</option>
                      <option *ngFor="let markUp of markupList" [value]="markUp.value">{{markUp.label}}</option>
                    </select>
                  </td>
                  <td>
                      <input type="number" [(ngModel)]="rec.billingRate" [disabled]="isView || rec.billingMethodId != 2"/>
                  </td>
                  <td>{{ rec.billingAmount }}</td>
                </ng-container>
                <td *ngIf="!isQuote">
                  <input type="text" [(ngModel)]="rec.memo" [disabled]="isView"/>
                </td>
                <td *ngIf="!isView">
                    <button
                    class="btn-delete ptable-wo-btns"
                    mat-icon-button
                    matTooltip="Delete"
                    (click)="deleteLabor(task.description, i)"
                  >
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </td>
            </tr>
          </ng-container>
          <tr *ngIf="laborForm.workOrderLaborList[0][task.description | lowercase].length != 0 && isQuote">

            <td>Total</td>
            <td></td>
            <td>
                
            </td>
            
            <td
              *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1 && laborForm.hoursorClockorScan !== 3"
            >
            </td>
            <td
              *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1"
            >
            </td>
            <td
              *ngIf="laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1"
            >
            </td>
            <td>
                <input type="number" [(ngModel)]="task.totalWorkHours" (change)="calculateTotalHours()" [disabled]="laborForm.workFloworSpecificTaskorWorkOrder == 'specificTasks'"/>
            </td>
            <td>{{getTotalLaborOHCost(laborForm.workOrderLaborList[0][task.description | lowercase])}}</td>
            <td>{{getTotalLaborBurdenRate(laborForm.workOrderLaborList[0][task.description | lowercase])}}</td>
            <td>{{getTotalCostPerHour(laborForm.workOrderLaborList[0][task.description | lowercase])}}</td>
            <td>{{getTotalCost(laborForm.workOrderLaborList[0][task.description | lowercase])}}</td>
            <td></td>
            <td></td>
            <td>{{getTotalBillingRate(laborForm.workOrderLaborList[0][task.description | lowercase])}}</td>
            <td>{{getTotalBillingAmount(laborForm.workOrderLaborList[0][task.description | lowercase])}}</td>
            <!-- <td></td> -->
            <td *ngIf="!isView">
            </td>
          </tr>
          <!-- </ng-container> -->
          </ng-container>
      </tbody>
    </table>
  </div>
</div>

<button (click)="saveLabor()" class="btn btn-primary pull-right" *ngIf="!isView">
  Save Labor
</button>
