
#footer {
    display: inline-flex;
    font-size: 11px !important;
}

.footer {
    margin-left: 65%;
}
.text-item {
    width: 100%;
    border-radius: 5px !important;
    margin-left: 0px;
}
.footer1 {
    margin-right: 0px;
}
.new-label {
    color: cadetblue;
}