<div class="ro-view-receiving">
        <div class="x_panel">
            <div>
                <div>
                    <div id="adminsearchlocationajax">
                        <div class="">
                            <table class="table table-bordered table-wrap">
                                <thead>
                                    <tr class="po-table-tr">
                                        <th></th>
                                        <th>Line no</th>
                                        <th>PN</th>
                                        <th>Qty Ordered</th>
                                        <th>Qty Received</th>
                                        <th>Qty Rejected</th>
                                        <th>Qty Backordered</th>
                                        <th>Status</th>
                                        <th colspan="3"></th>
                                        <th colspan="4">Management Structure</th>
                                        <th>Is Serialized</th>
                                        <th>Is TimeLife</th>
                                        <th>Quantity Receive</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr class="basic-info">
                                            <td class="details-control eachcol" style="padding: 4px 6px;">
                                                <i class="fa fa-{{ toggleIcon ? 'minus':'plus'}} btn btn-success btn-cstm btn-xs margin0" (click)="toggleExpandIcon()"></i>
                                            </td>
                                            <td>1</td>
                                            <td>12345</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td colspan="3"></td>
                                            <td colspan="4"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr class="basic-info splitshipment po-sub-tr" *ngIf="toggleIcon">
                                            <th></th>
                                            <th></th>
                                            <th>PN</th>
                                            <th>Qty Ordered</th>
                                            <th>Qty Received</th>
                                            <th>Qty Rejected</th>
                                            <th>Qty Backordered</th>
                                            <th>Status</th>
                                            <th>User Type</th>
                                            <th>User Name</th>
                                            <th>Address</th>
                                            <th colspan="5">Management Structure</th>
                                            <th>Receive Quantity</th>
                                            <th></th>
                                            <th></th>
                                        </tr>

                                        <tr class="basic-info splitshipment" *ngIf="toggleIcon">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>{{'NA'}}</td>
                                            <td>{{'NA'}}</td>
                                            <td>{{'NA'}}</td>
                                            <td> </td>
                                            <td>{{'NA'}}</td>
                                            <td></td>
                                            <td colspan="5"></td>
                                            <td></td>
                                            <td style="padding: 3px;"><a class="btn btn-primary-cstm btn-po-details" (click)="addStockLine()">{{ toggleAddDetails ? 'Close' : 'Show Details'}}</a></td>
                                            <td></td>
                                        </tr>

                                        <tr class="more-info" *ngIf="toggleAddDetails">
                                            <td colspan="19">
                                                <div class="label-value-row">
                                                    <div class="col-sm-3">
                                                        <p><span class="label"><b>PN: </b></span><span class="value">-</span></p>
                                                        <p><span class="label"><b>Qty Actually Received: </b></span><span class="value">-</span></p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p><span class="label"><b>PN Description: </b></span><span class="value">-</span></p>
                                                        <p><span class="label"><b>Qty Rejected: </b></span><span class="value">-</span></p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p><span class="label"><b>Cond: </b></span><span class="value">-</span></p>
                                                        <p><span class="label"><b>GL Account: </b></span><span class="value">-</span></p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p><span class="label"><b>Qty To Receive: </b></span><span class="value">-</span></p>
                                                    </div>
                                                </div>

                                                <div style="margin-left: 6px;clear: both !important;">
                                                    <h3 class="add-details-heading" style="padding-top: 10px;">Receiving Qty-1 of part PN1234</h3>
                                                    <div class="pull-right" style="margin-top: -37px;margin-right: 85px;">
                                                        <i class="fa fa-chevron-left btn btn-primary-cstm btn-ad-icons"></i>
                                                        <input type="text" pInputText pKeyFilter="pnum" class="form-control" style="width: 50px;border-radius: 0 !important;" />
                                                        <i class="fa fa-chevron-right btn btn-primary-cstm btn-ad-icons"></i>
                                                    </div>

                                                    <section class="receiving-stockline-view">
                                                        <div class="label-value-row">
                                                            <div class="col-sm-3" style="margin-right: 20px;width: 210px !important;">
                                                                <div class="card" style="margin-top: 13px;">
                                                                    <div class="card-header" style="padding: 0 10px;">
                                                                        <h5 style="margin-bottom: 0; font-size: 12px;">Management Structure</h5>
                                                                    </div>
                                                                    <div class="card-body" style="padding: 0 12px 12px;">
                                                                        <p><span class="label"><b>Company: </b></span><span class="value">-</span></p>
                                                                        <p><span class="label"><b>BU: </b></span><span class="value">-</span></p>
                                                                        <p><span class="label"><b>Division: </b></span><span class="value">-</span></p>
                                                                        <p><span class="label"><b>Dept: </b></span><span class="value">-</span></p>
                                                                    </div>
                                                                </div>
                                                               
                                                                <p><span class="label"><b>Site: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Warehouse: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Location: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Shelf: </b></span><span class="value">-</span></p>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p><span class="label"><b>Bin: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Obtain From: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Owner: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Traceable To: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>MFG: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>MFG Lot Num: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>MFG Date: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>MFG Trace: </b></span><span class="value">-</span></p>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p><span class="label"><b>MFG Batch Num: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Expiration Date: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Unit Cost: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Extended Cost: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Parts Cert Num: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Cert By: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Certified Date: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Certified Due Date: </b></span><span class="value">-</span></p>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p><span class="label"><b>Tag Type: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Tag Date: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>ESN: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Aircraft Tail Num: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Ship Via: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Shipping Ref: </b></span><span class="value">-</span></p>
                                                                <p><span class="label"><b>Shipping Account: </b></span><span class="value">-</span></p>
                                                            </div>
                                                        </div>
                                                    </section>

                                                    <section style="clear: both;">
                                                        <h3 class="add-details-heading" style="text-align: left;padding-top: 30px;">Serialized</h3>
                                                        <div class="form-row">
                                                            <div class="col-md-3">
                                                                <p><span class="label"><b>Serial Num: </b></span><span class="value">-</span></p>
                                                            </div>
                                                        </div>
                                                    </section>

                                                    <section>
                                                        <h3 class="add-details-heading" style="text-align: left;">Time Life</h3>
                                                        <div class="time-remaining">
                                                            <table class="table table-bordered timelife-table">
                                                                <thead>
                                                                    <tr class="po-table-tr">
                                                                        <th colspan="2" class="text-center">Cycles</th>
                                                                        <th colspan="2" class="text-center">Time (in hours)</th>
                                                                        <th colspan="2" class="text-center">Last (in hours)</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Remaining</td>
                                                                        <td>-</td>
                                                                        <td>Remaining</td>
                                                                        <td>-</td>
                                                                        <td>Since New</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Since New</td>
                                                                        <td>-</td>
                                                                        <td>Since New</td>
                                                                        <td>-</td>
                                                                        <td>Since Ovh</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Since Ovh</td>
                                                                        <td>-</td>
                                                                        <td>Since Ovh</td>
                                                                        <td>-</td>
                                                                        <td>Since Insp</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Since Insp</td>
                                                                        <td>-</td>
                                                                        <td>Since Insp</td>
                                                                        <td>-</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Since Repair</td>
                                                                        <td>-</td>
                                                                        <td>Since Repair</td>
                                                                        <td>-</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </section>

                                                    <section>
                                                        <h3 class="add-details-heading" style="text-align: left;">Calibrated Equipment</h3>
                                                        <div class="form-row">
                                                            <div class="col-md-3">
                                                                <p><span class="label"><b>Inspection Date: </b></span><span class="value">-</span></p>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <p><span class="label"><b>Frequency: </b></span><span class="value">-</span></p>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>