





<div>
    <button
      
      data-target="#addNewExclusions"
      data-toggle="modal"
      class="btn btn-primary btn-primary-cstm"
      style="padding: 6px 12px !important;"
    >
      Add Exclusions
    </button>
  </div>
  
  
  
  
  <div id="addNewExclusions" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Exclusions</h4>
        </div>
        <div class="modal-body">
          <grd-exclusions [workFlow]='workFlowObject' [isWorkOrder]="isWorkOrder" (saveExclusionsListForWO)="saveExclusionsList($event)"></grd-exclusions>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>




<div class="equipment-tab-content" >
                                                <div class="x_panel" *ngIf="workOrderExclusionsList">
                                                    <div class="tab-content">
                                                        <div class="table-responsive table-overflow" id="workflow-attributes-block">
                                                            <table class="table table-bordered ">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center">EPN</th>
                                                                        <th class="text-center">EPN Description</th>
                                                                        <th class="text-center">Quantity</th>
                                                                        <th class="text-center">Unit Cost</th>
                                                                        <th class="text-center">Extended Cost</th>
                                                                        <th class="text-center">Memo</th>
                                                                    </tr> 
                                                                </thead>
                                                            
                                                                <tbody>
                                                                  <tr *ngFor="let w  of workOrderExclusionsList; let i=index;">
                                                                        <td>{{w.epn}}</td>
                                                                        <td>{{w.epnDescription}}</td>
                                                                        <td>{{w.quantity}}</td>
                                                                        <td>{{w.unitCost}}</td>
                                                                        <td>{{w.extendedCost}}</td>
                                                                        <td>{{w.memo}}</td>
                               
                                                                    </tr> 
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                </div>
</div>