<div class="col-xs-12">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
        <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div><div class="dataTables_scroll">
            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 1138px; padding-right: 0px;">
                    <table class="table table-bordered table-striped table-sorting dataTable no-footer" role="grid" style="margin-left: 0px; width: 1138px;">
                        <thead>
                            <tr role="row">
                                <th>Intangible Type Name</th>
                                <th>Amortization Method</th>
                                <th>Intangible Life</th>
                                <th>Amortization Frequency</th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let intangibleTypeObj of intangibleTypeList">
                                <td>{{intangibleTypeObj.intangibleTypeName}}</td>
                                <td>{{intangibleTypeObj.amortizationMethod}}</td>
                                <td>{{intangibleTypeObj.intangibleLife}}</td>
                                <td>{{intangibleTypeObj.amortizationFrequency}}</td>
                                <!--<td>Accounts Payable</td>-->
                               
                                <td>
                                    <!--<span data-toggle="tooltip" class="status" title="" data-placement="right" data-original-title="Active">
        <div class="toggle btn btn-success" data-toggle="toggle" style="width: 30px; height: 19px;">
            <input type="checkbox" checked="" data-toggle="toggle" data-width="30" id="toggle-one" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="success" data-offstyle="danger">
            <div class="toggle-group">
                <label class="btn btn-success toggle-on"><i class="fa fa-check"></i></label>
                <label class="btn btn-danger active toggle-off"><i class="fa fa-times"></i></label>
                <span class="toggle-handle btn btn-default"></span>
            </div>
        </div>
    </span>-->
                                    <p-inputSwitch *ngIf="intangibleTypeObj['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(intangibleTypeObj,$event)" [(ngModel)]="intangibleTypeObj['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="intangibleTypeObj['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(intangibleTypeObj,$event)" [(ngModel)]="intangibleTypeObj['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="intangibleTypeObj['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(intangibleTypeObj,$event)" [(ngModel)]="intangibleTypeObj['isActive']"></p-inputSwitch>
                                    <span data-toggle="modal" data-target="#view"> <a href="#" class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="View"><i class="fa fa-eye"></i></a> </span>
                                    <a data-toggle="tooltip" title="" class="btn btn-primary boxed-float-btn nobg" data-original-title="Edit"><i class="fa fa-edit" (click)="intangibleTypeEdit(intangibleTypeObj)"></i></a>
                                    <span data-toggle="modal"><a class="btn btn-success nobg" data-toggle="tooltip" title="" data-original-title="History"><i class="fa fa-history"></i></a></span>
                                    <span data-toggle="modal"> <a class="btn btn-danger boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="Delete" (click)="confirmDelete(content,intangibleTypeObj.assetIntangibleTypeId)"><i class="fa fa-trash"></i></a> </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete Intangible Type</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="removeIntangibleType()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>

</ng-template>