.ui-radiobutton-label{
  color: white;
}

select:disabled{
  background-color: #e9ecef !important;
}
.select-read-only{
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  box-shadow: none !important;
}