<div>
  <button
    data-target="#addNewCharges"
    data-toggle="modal"
    (click)="createNew()"
    class="btn btn-primary btn-primary-cstm"
    style="padding: 6px 12px !important;"
  >
    Add Charges
  </button>
</div>

<div id="addNewCharges" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Charges</h4>
      </div>
      <div class="modal-body">
        <grd-charges
          *ngIf="!isEdit"
          [workFlow]="workFlowObject"
          [isWorkOrder]="isWorkOrder"
          (saveChargesListForWO)="saveChargesList($event)"
        ></grd-charges>

        <grd-charges
          *ngIf="isEdit && editData"
          [isEdit]="isEdit"
          [editData]="editData"
          [workFlow]="workFlowObject"
          [isWorkOrder]="isWorkOrder"
          (updateChargesListForWO)="updateChargesList($event)"
        ></grd-charges>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-cstm" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="equipment-tab-content">
  <div class="x_panel" *ngIf="workOrderChargesList">
    <div class="tab-content">
      <div
        class="table-responsive table-overflow"
        id="workflow-attributes-block"
      >
        <table class="table table-bordered ">
          <thead>
            <tr>
              <th class="text-center">Charge Type</th>
              <th class="text-center">Description</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Unit Cost</th>
              <th class="text-center">Extented Cost</th>
              <th class="text-center">Unit Price</th>
              <th class="text-center">Extended Price</th>
              <th class="text-center">vendorName</th>
              <ng-container *ngIf="isQuote">
                <th>Cost plus amount</th>
                <th>Fixed Amount</th>
              </ng-container>
              <th colspan="4" class="text-center"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let w of workOrderChargesList; let i = index">
              <td>{{ w.chargeType }}</td>
              <td>{{ w.description }}</td>
              <td>{{ w.quantity }}</td>
              <td>{{ w.unitCost }}</td>
              <td>{{ w.extendedCost }}</td>
              <td>{{ w.unitPrice }}</td>
              <td>{{ w.extendedPrice }}</td>
              <td>{{ w.vendorName }}</td>
              <ng-container *ngIf="isQuote">
                  <th>{{w.quantity*w.unitPrice}}</th>
                  <th><input [(ngModel)]="w.fixedAmount" /></th>
              </ng-container>
              <td>
                <button
                  class="btn-edit ptable-wo-btns"
                  mat-icon-button
                  data-target="#addNewCharges"
                  data-toggle="modal"
                  (click)="edit(w)"
                  matTooltip="Edit"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
              <td>
                <button
                  class="btn-delete ptable-wo-btns"
                  mat-icon-button
                  matTooltip="Delete"
                  (click)="delete(w)"
                >
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary-cstm pull-right" (click)="createChargeQuote()">Save</button>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
