<div class="right_col" role="main">
        <div class="x_content">
          <div class="card">
            <div class="card-header">
              <nav aria-label="breadcrumb">
                <ol
                  class="breadcrumb rpo-bcrumb"
                  style="background-color: transparent;"
                >
                  <li class="breadcrumb-item active" aria-current="page">
                    Sales Order Quote
                  </li>
                  <li class="breadcrumb-item" aria-current="page">
                    Quote List
                  </li>
                </ol>
              </nav>
            </div>
            <div class="card-body">
              <h4 class="po-head">Search Quote</h4>
              <div class="right_col" role="main">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Customer Name</span>
                    </div>
                    <div class="ui-input-control">
                      <input type="text" pInputText [(ngModel)]="searchParameters.customerName" />
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Quote Number</span>
                    </div>
                    <div class="ui-input-control">
                      <input
                        type="text"
                        pInputText
                        [(ngModel)]="searchParameters.salesQuoteNumber"
                      />
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Status</span>
                    </div>
                    <div class="ui-input-control">
                        <select required [(ngModel)]="searchParameters.status">
                            <option>--Select--</option>
                            <option>Open</option>
                            <option>Close</option>
                        </select>
                      
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Start Date</span>
                    </div>
                    <div class="ui-input-control">
                      <p-calendar [(ngModel)]="searchParameters.startDate" [showIcon]="true">
                        </p-calendar>
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>End Date</span>
                    </div>
                    <div class="ui-input-control">
                      <p-calendar [(ngModel)]="searchParameters.endDate" [showIcon]="true">
                        </p-calendar>
                    </div>
                  </div>
      
                
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      &nbsp;
                    </div>
                    <button
                      (click)="onSearch($event)"
                      class="btn btn-primary"
                      style="margin-bottom: -10px; border-radius: 5px;"
                    >
                      Search
                    </button>
                  </div>
                </div>
              </div>
      
              <div style="margin-top:15px;">
                <h4 class="po-head">Quote List</h4>
                <p-table
                    #dt
                    class="rpo-table-cstm rro-table-cstm"
                    [value]="salesQuoteList"
                    [rows]="10"
                    [lazy]="true"
                    [paginator]="showPaginator"
                    [rowsPerPageOptions]="[10, 20, 30]"
                    [totalRecords]="totalRecords"
                    [pageLinks]="pageLinks"
                    [columns]="selectedColumns"
                    [resizableColumns]="true"
                    [reorderableColumns]="false"
                    [scrollable]="true"
                    scrollHeight="450px"
                    (onLazyLoad)="onPaging($event)"
                >

            <ng-template pTemplate="header">
              <tr>
                <th>Quote number</th>
                <th>Quote Date</th>
                <th>Version Number</th>
                <th>Customer Name</th>
                <th>Customer Code</th>
                <th>Status</th>
                <th>Sales Price</th>
                <th>Cost</th>
                <th>numberOfItems</th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-quote>
              <tr>
                <td>
                    {{ quote.salesQuoteId }}
                </td>
                <td>
                    {{ quote.quoteDate }}
                </td>
                <td>
                    {{ quote.versionNumber }}
                </td>
                <td>
                    {{ quote.customerName }}
                </td>
                <td>
                    {{ quote.customerCode }}
                </td>
                <td>
                    {{ quote.status }}
                </td>
                <td>
                    {{ quote.salesPrice }}
                </td>
                <td>
                    {{ quote.cost }}
                </td>
                <td>
                    {{ quote.numberOfItems }}
                </td>
                <td>
                    <span>
                        <a class="btn btn-info boxed-float-btn nobg"
                           data-toggle="tooltip"
                           (click)="viewSelectedRow(quote)"
                           
                           matTooltip="View">
                            <i class="fa fa-eye"></i>
                        </a>
                    </span>
                 
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary" id="footer">
              <label id="footer" class="footer-t-rec">No'of records:</label>
              <input
                style="width: 5%;"
                [(ngModel)]="totalRecords"
                [disabled]="true"
                pInputText
                type="text"
              />
              &nbsp;&nbsp;
              <label id="footer" class="footer-p-count">Pages Count:</label>
              <input
                style="width: 5%;"
                [(ngModel)]="totalPages"
                [disabled]="true"
                pInputText
                type="text"
              />
            </ng-template>
          </p-table>
      
              </div>
            </div>
          </div>
        </div>
      </div>
      