<div class="right_col" role="main">
        <div class="x_content">
          <div class="card">
            <div class="card-header">
              <nav aria-label="breadcrumb">
                <ol
                  class="breadcrumb rpo-bcrumb"
                  style="background-color: transparent;"
                >
                  <li class="breadcrumb-item active" aria-current="page">
                    Sales Order Quote
                  </li>
                  <li class="breadcrumb-item" aria-current="page">
                    Quote List
                  </li>
                </ol>
              </nav>
            </div>
            <div class="card-body">
              <h4 class="po-head">Search Quote</h4>
              <div class="right_col" role="main">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Customer Name</span>
                    </div>
                    <div class="ui-input-control">
                      <input type="text" pInputText [(ngModel)]="searchParameters.customerName" />
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Quote Number</span>
                    </div>
                    <div class="ui-input-control">
                      <input
                        type="text"
                        pInputText
                        [(ngModel)]="searchParameters.salesQuoteNumber"
                      />
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Status</span>
                    </div>
                    <div class="ui-input-control">
                        <select required [(ngModel)]="searchParameters.status">
                            <option>--Select--</option>
                            <option>Open</option>
                            <option>Close</option>
                        </select>
                      
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Start Date</span>
                    </div>
                    <div class="ui-input-control">
                      <p-calendar [(ngModel)]="searchParameters.startDate" [showIcon]="true">
                        </p-calendar>
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>End Date</span>
                    </div>
                    <div class="ui-input-control">
                      <p-calendar [(ngModel)]="searchParameters.endDate" [showIcon]="true">
                        </p-calendar>
                    </div>
                  </div>
      
                
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      &nbsp;
                    </div>
                    <button
                      (click)="onSearch()"
                      class="btn btn-primary"
                      style="margin-bottom: -10px; border-radius: 5px;"
                    >
                      Search
                    </button>
                  </div>
                </div>
              </div>
      
              <div style="margin-top:15px;">
                <h4 class="po-head">Quote List</h4>
                <p-table [value]="sales">
            <ng-template pTemplate="header">
              <tr>
                <th>Quote number</th>
                <th>Quote Date</th>
                <th>Version Number</th>
                <th>Customer Name</th>
                <th>Customer Code</th>
                <th>Status</th>
                <th>Sales Price</th>
                <th>Cost</th>
                <th>numberOfItems</th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale>
              <tr>
                <td>
                    {{ sale.salesQuoteId }}
                </td>
                <td>
                    {{ sale.quoteDate }}
                </td>
                <td>
                    {{ sale.versionNumber }}
                </td>
                <td>
                    {{ sale.customerName }}
                </td>
                <td>
                    {{ sale.customerCode }}
                </td>
                <td>
                    {{ sale.status }}
                </td>
                <td>
                    {{ sale.salesPrice }}
                </td>
                <td>
                    {{ sale.cost }}
                </td>
                <td>
                    {{ sale.numberOfItems }}
                </td>
                <td>
                    <span>
                        <a class="btn btn-info boxed-float-btn nobg"
                           data-toggle="tooltip"
                           (click)="viewSelectedRow(sale)"
                           
                           matTooltip="View">
                            <i class="fa fa-eye"></i>
                        </a>
                    </span>
                    <button class="btn-edit" mat-icon-button (click)="openQuoteToEdit(sale)"
                         matTooltip="edit">
                    <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn-delete" mat-icon-button matTooltip="Delete"
                    (click)="openDelete(content,sale)">
                    <mat-icon color="warn">delete</mat-icon>
                    </button>
                 
                </td>
              </tr>
            </ng-template>
           
          </p-table>
      
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Are You Sure Want to Delete?</h4>
            <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="deleteQuote()">Yes</button>
            <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
        </div>
    
    </ng-template>
      