<div class="right_col" role="main">
        <div class="x_content">
          <div class="card">
            <div class="card-header">
              <nav aria-label="breadcrumb">
                <ol
                  class="breadcrumb rpo-bcrumb"
                  style="background-color: transparent;"
                >
                  <li class="breadcrumb-item active" aria-current="page">
                    Sales Order Quote
                  </li>
                  <li class="breadcrumb-item" aria-current="page">
                    Quote List
                  </li>
                </ol>
              </nav>
            </div>
            <div class="card-body">
              <h4 class="po-head">SO Quote List</h4>
              <!--
              <div class="right_col" role="main">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Customer Name</span>
                    </div>
                    <div class="ui-input-control">
                      <input type="text" pInputText [(ngModel)]="searchParameters.customerName" />
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Quote Number</span>
                    </div>
                    <div class="ui-input-control">
                      <input
                        type="text"
                        pInputText
                        [(ngModel)]="searchParameters.salesQuoteNumber"
                      />
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Status</span>
                    </div>
                    <div class="ui-input-control">
                        <select required [(ngModel)]="searchParameters.status">
                            <option>--Select--</option>
                            <option>Open</option>
                            <option>Close</option>
                        </select>
                      
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>Start Date</span>
                    </div>
                    <div class="ui-input-control">
                      <p-calendar [(ngModel)]="searchParameters.startDate" [showIcon]="true">
                        </p-calendar>
                    </div>
                  </div>
      
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      <span>End Date</span>
                    </div>
                    <div class="ui-input-control">
                      <p-calendar [(ngModel)]="searchParameters.endDate" [showIcon]="true">
                        </p-calendar>
                    </div>
                  </div>

      
                
                  <div class="ui-g-12 ui-md-2">
                    <div>
                      &nbsp;
                    </div>
                    <button
                      (click)="onSearch()"
                      class="btn btn-primary"
                      style="border-radius: 5px;"
                    >
                      Search
                    </button>
                  </div>
                </div>
              </div>
            -->
      
              <div style="margin-top:15px;">
              <p-table #dt [value]="sales" class="rpo-table-cstm rro-table-cstm"
                    [first]="0"
                    [rows]="pageSize"
                    [paginator]="showPaginator"
                    [pageLinks]="3"
                    [rowsPerPageOptions]="[10, 20, 50, 100]"
                    [columns]="selectedColumns"
                    selectionMode="multiple" [(selection)]="selectedColumn"
                    [lazy]="true"
                    (onLazyLoad)="loadData($event)"
                    [resizableColumns]="true"
                    [reorderableColumns]="true"
                    [totalRecords]="totalRecords"
                    [scrollable]="true"  [style]="{ width: '100%' }">

                    <ng-template pTemplate="caption">

                        <div style="text-align: right; min-height: 30px;">
                            <p-multiSelect [options]="headers" [(ngModel)]="selectedColumns" optionLabel="header"
                                           selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                                           defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
        
        
                            <div class="inner-addon right-addon w200 inline-block g-filter-search-cstm">
                                <i class="fa fa-search"></i>
                                <input type="text" pInputText size="50" class="form-control ui-autocomplete-input "
                                       (input)="dt.filterGlobal($event.target.value, 'contains')"
                                       placeholder=" Filter">
                            </div>
        
        
                            <button type="button" matTooltip="Download Data" matTooltipPosition="above" tooltipPosition="top" pButton icon="fa-download " class="btn-primary" iconPos="left" label="Export Data"
                                    (click)="dt.exportCSV()" style="padding: 5px 12px !important;"></button>
                            <button type="button" matTooltip="Download Selected Data" matTooltipPosition="above" pButton icon="fa-download " class="btn-primary" iconPos="left" label="Export Selected Data"
                                    (click)="dt.exportCSV({selectionOnly:true})" style="padding: 5px 12px !important;"></button>
        
                            <!-- <div class="excel-upload excel-upload-cstm">
                                <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file"
                                       data-multiple-caption="{count} files selected"
                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                <label for="upload">
                                    <span matTooltip="Upload Data (Excel)" matTooltipPosition="above" ><i class="fa fa-upload"></i></span>
                                </label>
                            </div> -->
                        </div>
        
        
                    </ng-template>
                  <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                              <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}" />
                            </colgroup>
                  </ng-template> 
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th
                    *ngFor="let col of columns"
                    pResizableColumn
                    pReorderableColumn
                    [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <!--
                <th pResizableColumn>Quote number</th>
                <th pResizableColumn>Quote Date</th>
                <th pResizableColumn>Version Number</th>
                <th pResizableColumn>Customer Name</th>
                <th pResizableColumn>Customer Code</th>
                <th pResizableColumn>Status</th>
                <th pResizableColumn>Sales Price</th>
                <th pResizableColumn>Cost</th>
                <th pResizableColumn>numberOfItems</th>
                -->
                <th style="width:100px;">
                  &nbsp;
                </th>
              </tr>
              <tr>
                    <th [ngStyle]="{'width': col.width}" *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    </th>
                    <th style="width:100px;position:sticky"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale let-columns="columns">
              <tr [pSelectableRow]="sale" pReorderableRowHandle>
                <td  *ngFor="let col of columns" pReorderableRowHandle>
                    {{
                        col.field == 'quoteDate'
                          ? (sale[col.field] | date: 'MM/dd/yyyy')
                          : sale[col.field]
                                  }}
                </td>
                <!--
                <td>
                    {{ sale.quoteDate| date: 'MM/dd/yyyy' }}
                </td>
                <td>
                    {{ sale.versionNumber }}
                </td>
                <td>
                    {{ sale.customerName }}
                </td>
                <td>
                    {{ sale.customerCode }}
                </td>
                <td>
                    {{ sale.status }}
                </td>
                <td>
                    {{ sale.salesPrice }}
                </td>
                <td>
                    {{ sale.cost }}
                </td>
                <td>
                    {{ sale.numberOfItems }}
                </td>
            -->
                <td style="width: 100px">
                  <!--
 <span>
                        <a class="btn btn-info boxed-float-btn nobg"
                           data-toggle="tooltip"
                           (click)="viewSelectedRow(viewQuote,sale)"
                           
                           matTooltip="View">
                            <i class="fa fa-eye"></i>
                        </a>
                    </span>
                  -->
                   
                    <button class="btn-edit" mat-icon-button (click)="viewSelectedRow(viewQuote,sale)"
                         matTooltip="edit">
                         <i class="fa fa-eye"></i>
                    </button>
                    <button class="btn-edit" mat-icon-button (click)="openQuoteToEdit(sale)"
                         matTooltip="edit">
                    <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn-delete" mat-icon-button matTooltip="Delete"
                    (click)="openDelete(content,sale)">
                    <mat-icon color="warn">delete</mat-icon>
                    </button>
                 
                </td>
              </tr>
            </ng-template>
           
          </p-table>
      
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Are You Sure Want to Delete?</h4>
            <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="deleteQuote()">Yes</button>
            <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
        </div>
    
    </ng-template>

    <ng-template #viewQuote let-c="close" let-d="dismiss">
      <div class="modal-header">
        <button type="button" class="close"  (click)="dismissModel()">
            &times;
        </button>
        <h4 class="modal-title">Details of Quote</h4>
      </div>

      <div class="modal-body" *ngIf="salesQuote">
            <div class="card">
                    <div class="card-body">
                        <div class="table-responsive default-bg clear">
                            <div class="col-sm-4">
                                <p><span class="label"><b>Quote Num: </b></span><span class="value">{{salesQuote.salesQuoteId ? salesQuote.salesQuoteId : '-'}}</span></p>
                                <p><span class="label"><b>Open Date: </b></span><span class="value">{{salesQuote.openDate | date: 'MM/dd/yyyy'}}</span></p>
                                <p><span class="label"><b>Cust Request Date: </b></span><span class="value">{{salesQuote.customerRequestDate | date: 'MM/dd/yyyy'}}</span></p>
                                <p><span class="label"><b>Promised Date: </b></span><span class="value">{{salesQuote.customerPromisedDate | date: 'MM/dd/yyyy'}}</span></p>
                                <p><span class="label"><b>Estimated Ship Date: </b></span><span class="value">{{salesQuote.estimatedShipDate | date: 'MM/dd/yyyy'}}</span></p>
                                <p><span class="label"><b>Valid For (Days): </b></span><span class="value">{{salesQuote.validForDays ? salesQuote.validForDays : '-'}}</span></p>                                
                                <p><span class="label"><b>Quote Exp Date: </b></span><span class="value">{{salesQuote.quoteExpiryDate | date: 'MM/dd/yyyy'}}</span></p>
                                <p> <span class="label"><b>Priority : </b></span><span class="value">
                                        <select name="priority" [(ngModel)]="salesQuote.priorityId" disabled>
                                            <option *ngFor="let p of salesQuote.priorities" [ngValue]="p.priorityId">{{ p.description }}</option>
                                          </select>
                                    </span></p>
                               
                                
                            </div>
                            <div class="col-sm-4">
                                    <p>
                                            <span class="label"><b>Account Type : </b></span><span class="value">
                                                <select name="quoteType" required [(ngModel)]="salesQuote.accountTypeId" disabled>
                                                    <option *ngFor="let accountType of accountTypes" [ngValue]="accountType.customerTypeId">{{ accountType.description }}</option>
                                                </select>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="label"><b>Customer Name: </b></span><span class="value">
                                                {{
                  salesQuote.customerName
                                                }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="label"><b>Customer Code: </b></span><span class="value">
                                                {{
                  salesQuote.customerCode
                                                }}
                                            </span>
                                        </p>
    
    
                                        <p>
                                            <span class="label"><b>Customer Reference : </b></span><span class="value">
                                                {{
                  salesQuote.customerReferenceName
                                                }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="label"><b>Contract Reference : </b></span><span class="value">
                                                {{
                  salesQuote.contractReferenceName
                                                }}
                                            </span>
                                        </p>
                                        <p>
                                            <span class="label"><b>Probibility : </b></span><span class="value">
                                                <select name="probability" [(ngModel)]="salesQuote.probabilityId" disabled>
                                                    <option *ngFor="let p of percents" [ngValue]="p.value">{{ p.label }}</option> 
                                                  </select>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="label"><b>Lead Source : </b></span><span class="value">
                                                <select name="leadSource" [(ngModel)]="salesQuote.leadSourceId" disabled>
                                                    <option *ngFor="let ls of salesQuote.leadSources" [ngValue]="ls.id">{{ ls.name }}</option>
                                                </select>
                                            </span>
                                        </p>
                            </div>
                            <div class="col-sm-4">
                                    <p>
                                            <span class="label"><b>Credit Limit &amp; terms: </b></span><span class="value">
                                                <div class="col-md-5">
                                                    <input type="text" pInputText name="creditLimit" [(ngModel)]="salesQuote.creditLimit" disabled/>
                                                  </div>
                                                  <div class="col-md-7">
                                                    <select name="quoteType" [(ngModel)]="salesQuote.creditLimitTermsId" disabled>
                                                      <option *ngFor="let ct of creditTerms" [ngValue]="ct.value">{{ ct.label }}</option>
                                                    </select>
                                                  </div>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="label"><b>Restrict PMA: </b></span><span class="value">
                                                {{
                  salesQuote.restrictPMA
                                                }}
                                            </span>
                                        </p>
                                        <p>
                                          <span class="label"><b>Restrict DER: </b></span><span class="value">
                                              {{
                salesQuote.restrictDER
                                              }}
                                          </span>
                                      </p>
                                      <p><span class="label"><b>Open Date: </b></span><span class="value">{{salesQuote.approvedDate | date: 'MM/dd/yyyy'}}</span></p>
                                        
                                        <p>
                                            <span class="label"><b>Currency: </b></span><span class="value">
                                                <select name="quoteType" required [(ngModel)]="salesQuote.currencyId" disabled>
                                                    <option *ngFor="let currencyName of allCurrencyInfo" [ngValue]="currencyName.currencyId" disabled>
                                                      {{currencyName.symbol}}
                                                      </option>
                                                  </select>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="label"><b>Warnings: </b></span><span class="value">
                                                <select name="quoteType" required [(ngModel)]="salesQuote.warningId" disabled>
                                                    <option *ngFor="let customerWarning of customerWarningData" [ngValue]="customerWarning.customerWarningId">
                                                      {{customerWarning.warningMessage}}
                                                      </option>
                                                  </select>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="label"><b>memo: </b></span><span class="value">
                                                {{
                  salesQuote.memo
                                                }}
                                            </span>
                                        </p>
                                        <p>
                                          <span class="label"><b>Notes: </b></span><span class="value">
                                              {{
                salesQuote.notes
                                              }}
                                          </span>
                                      </p>
                            </div>
                       
                        </div>
                    </div>
            </div>
            <p-tabView class="pas-tabview">
                    <p-tabPanel header="Parts List">
                            <p-table [value]="selectedParts" class="rpo-table-cstm rro-table-cstm" [columns]="partColumns" [scrollable]="true" [style]="{ width: '100%' }">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                          <col *ngFor="let col of partColumns" [ngStyle]="{'width': col.width}" />
                                          <col style="width:50px;" />
                                        </colgroup>
                                      </ng-template>  
                                    <ng-template pTemplate="header">
                                        <tr>
                            
                                          <th>PartNumber</th>
                                          <th>Description</th>
                                          <th>Stock Line Number</th>
                                          <th>Method</th>
                                          <th>Serial Number</th>
                                          <th>STOCK LINE NUM</th>
                                          <th>ID NUM</th>             
                                          <th>OEM/PMA/DER</th>
                                          <th>COND TYPE</th>
                                          <th>Currency</th>
                                          <th>fx Rate</th>             
                                          <th>QTY QUOTED</th>
                                          <th>UNIT SALE PRICE</th>
                                          <th>MARK UP %</th>
                                          <th>MARK UP AMOUNT</th>           
                                          <th>DISCOUNT %</th>
                                          <th>DISC AMOUNT</th>
                                          <th>NET SALES</th>
                                          <th>UNIT COST</th>
                                          <th>EXTENDED COST</th>
                                          <th>MARGIN ($)</th>
                                          <th>MARGIN (%)</th>
                                          <th></th>
                                        </tr>
                                      </ng-template>
                                    
                                   
                                    
                                      <ng-template pTemplate="body" let-part>
                                        <tr>
                                          <td>
                                              {{ part.partNumber }}
                                          </td>
                                          <td>
                                              {{ part.description }}
                                          </td>
                                          <td>
                                            {{ part.stockLineNumber }}
                                          </td>
                                          <td>
                                            {{ part.method }}
                                            </td>
                                         
                                          <td>
                                              {{ part.serialNumber }}
                                          </td>
                                          <td>
                                              {{ part.stockLineId }}
                                          </td>
                                          <td>
                                              {{ part.idNumber }}
                                          </td>
                                          <td>
                                              {{ part.pmaStatus }}
                                          </td>
                            
                                          <td>
                                            {{ part.conditionDescription }}
                                        </td>
                                        <td>
                                            {{ part.currencyDescription }}
                                        </td>
                                          <td>
                                              {{ part.fixRate }}
                                          </td>
                                          <td>
                                              {{ part.quantityFromThis }}
                                          </td>
                                         
                                          <td>
                                              {{ part.salesPricePerUnit }}
                                          </td>
                                          <td>
                                              {{ part.markUpPercentage }}
                                          </td>
                                          <td>
                                            {{ part.markupExtended }}
                                        </td>
                                          <td>
                                              {{ part.salesDiscount }}
                                          </td>
                                          <td>
                                              {{ part.salesDiscountPerUnit }}
                                          </td>
                                          <td>
                                              {{ part.netSalesPriceExtended }}
                                          </td>
                                          <td>
                                              {{ part.unitCostPerUnit }}
                                          </td>
                                          <td>
                                              {{ part.unitCostExtended }}
                                          </td>
                                          <td>
                                              {{ part.marginAmountExtended }}
                                          </td>
                                          <td>
                                              {{ part.marginPercentageExtended }}
                                          </td>
                                          <td> 
                                            <span>
                                            <a *ngIf="part.methodType=='S'" class="btn btn-info boxed-float-btn nobg"
                                               data-toggle="tooltip"
                                               (click)="viewSelectedStockLine(part)"
                                               
                                               matTooltip="View">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                           
                                        </span>
                                      </td>
                                        </tr>
                                      </ng-template>
                                     
                                    </p-table>	
                        </p-tabPanel>
                        <p-tabPanel header="Approve">
                                <div class="approver-tab-cstm">
                                    <h5 class="po-head">Approvers List</h5>
                                    <div class="form-row" *ngFor="let approver of approvers" style="margin-top: 15px;">
                                        <div class="col-md-3">
                                            <label>Approver {{approver.level}}</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="approver-details-cstm">
                                                <p><b>Name: </b> <select [(ngModel)]="approver.employeeId" name="shipToSiteName" disabled>
                                                        <option *ngFor="let employee of allEmployeeinfo" [ngValue]="employee.employeeId">
                                                          {{employee.firstName}}
                                                          </option>
                                                      </select></p>
                                                <p><b>Code: </b> <select [(ngModel)]="approver.employeeId" name="shipToSiteName" disabled>
                                                        <option *ngFor="let employee of allEmployeeinfo" [ngValue]="employee.employeeId">
                                                          {{employee.employeeCode}}
                                                          </option>
                                                      </select></p>
                                                <p><b>Email: </b> <select [(ngModel)]="approver.employeeId" name="shipToSiteName" disabled>
                                                        <option *ngFor="let employee of allEmployeeinfo" [ngValue]="employee.employeeId">
                                                          {{employee.email}}
                                                          </option>
                                                      </select></p>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                        </p-tabPanel>
                        <p-tabPanel header="Address">
                                <div class="table-responsive default-bg clear">
                                    <div class="col-sm-4">
                                        <h5 class="po-head">Ship To</h5>
                                        <p><span class="label"><b>User Type: </b></span><span class="value">{{salesOrderQuote.shipToUserType ? salesOrderQuote.shipToUserType : '-'}}</span></p>
                                        <p><span class="label"><b>User: </b></span><span class="value">{{salesOrderQuote.shipToUser ? salesOrderQuote.shipToUser : '-'}}</span></p>
                                        <p><span class="label"><b>Site Name: </b></span><span class="value">{{salesOrderQuote.shipToSiteName ? salesOrderQuote.shipToSiteName : '-'}}</span></p>
                                        <p><span class="label"><b>Address1: </b></span><span class="value">{{salesOrderQuote.shipToAddress1 ? salesOrderQuote.shipToAddress1 : '-'}}</span></p>
                                        <p><span class="label"><b>Address2: </b></span><span class="value">{{salesOrderQuote.shipToAddress2 ? salesOrderQuote.shipToAddress2 : '-'}}</span></p>
                                        <p><span class="label"><b>Address3: </b></span><span class="value">{{salesOrderQuote.shipToAddress3 ? salesOrderQuote.shipToAddress3 : '-'}}</span></p>
                                        <p><span class="label"><b>City: </b></span><span class="value">{{salesOrderQuote.shipToCity ? salesOrderQuote.shipToCity : '-'}}</span></p>
                                        <p><span class="label"><b>Primary State/Province: </b></span><span class="value">{{salesOrderQuote.shipToState ? salesOrderQuote.shipToState : '-'}}</span></p>
                                        <p><span class="label"><b>Postal: </b></span><span class="value">{{salesOrderQuote.shipToPostalCode ? salesOrderQuote.shipToPostalCode : '-'}}</span></p>
                                        <p><span class="label"><b>Country: </b></span><span class="value">{{salesOrderQuote.shipToCountry ? salesOrderQuote.shipToCountry : '-'}}</span></p>
                                        <p><span class="label"><b>Contact Name: </b></span><span class="value">{{salesOrderQuote.shipToContact ? salesOrderQuote.shipToContact : '-'}}</span></p>
                                        <p><span class="label"><b>Memo: </b></span><span class="value">{{salesOrderQuote.shipToMemo ? salesOrderQuote.shipToMemo : '-'}}</span></p>
                                        <p><span class="label"><b>Ship Via: </b></span><span class="value">{{salesOrderQuote.shipVia ? salesOrderQuote.shipVia : '-'}}</span></p>
                                        <p><span class="label"><b>Shipping Cost: </b></span><span class="value">{{salesOrderQuote.shippingCost ? salesOrderQuote.shippingCost : '-'}}</span></p>
                                        <p><span class="label"><b>Handling Cost: </b></span><span class="value">{{salesOrderQuote.handlingCost ? salesOrderQuote.handlingCost : '-'}}</span></p>
                                        <p><span class="label"><b>Shipping Acct Num: </b></span><span class="value">{{salesOrderQuote.shippingAccountNo ? salesOrderQuote.shippingAccountNo : '-'}}</span></p>
                                        <p><span class="label"><b>Shipping Id (AWB): </b></span><span class="value">{{salesOrderQuote.shippingId ? salesOrderQuote.shippingId : '-'}}</span></p>
                                        <p><span class="label"><b>URL: </b></span><span class="value">{{salesOrderQuote.shippingURL ? salesOrderQuote.shippingURL : '-'}}</span></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <h5 class="po-head">Bill To</h5>
                                        <p><span class="label"><b>User Type: </b></span><span class="value">{{salesOrderQuote.billToToUserType ? salesOrderQuote.billToToUserType : '-'}}</span></p>
                                        <p><span class="label"><b>User: </b></span><span class="value">{{salesOrderQuote.billToUser ? salesOrderQuote.billToUser : '-'}}</span></p>
                                        <p><span class="label"><b>Site Name: </b></span><span class="value">{{salesOrderQuote.billToSiteName ? salesOrderQuote.billToSiteName : '-'}}</span></p>
                                        <p><span class="label"><b>Address1: </b></span><span class="value">{{salesOrderQuote.billToAddress1 ? salesOrderQuote.billToAddress1 : '-'}}</span></p>
                                        <p><span class="label"><b>Address2: </b></span><span class="value">{{salesOrderQuote.billToAddress2 ? salesOrderQuote.billToAddress2 : '-'}}</span></p>
                                        <p><span class="label"><b>Address3: </b></span><span class="value">{{salesOrderQuote.billToAddress3 ? salesOrderQuote.billToAddress3 : '-'}}</span></p>
                                        <p><span class="label"><b>City: </b></span><span class="value">{{salesOrderQuote.billToCity ? salesOrderQuote.billToCity : '-'}}</span></p>
                                        <p><span class="label"><b>Primary State/Province: </b></span><span class="value">{{salesOrderQuote.billToState ? salesOrderQuote.billToState : '-'}}</span></p>
                                        <p><span class="label"><b>Postal: </b></span><span class="value">{{salesOrderQuote.billToPostalCode ? salesOrderQuote.billToPostalCode : '-'}}</span></p>
                                        <p><span class="label"><b>Country: </b></span><span class="value">{{salesOrderQuote.billToCountry ? salesOrderQuote.billToCountry : '-'}}</span></p>
                                        <p><span class="label"><b>Contact Name: </b></span><span class="value">{{salesOrderQuote.billToContact ? salesOrderQuote.billToContact : '-'}}</span></p>
                                        <p><span class="label"><b>Memo: </b></span><span class="value">{{salesOrderQuote.billToMemo ? salesOrderQuote.billToMemo : '-'}}</span></p>
                                    </div>
                                </div>
                            </p-tabPanel>
            </p-tabView>
  
      </div>
      
  
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="dismissModel()">Okay</button>
      </div>
  
  </ng-template>
      