<div [@fadeInOut] class="page-content">

    <div class="right_col" role="main">
        <div class="x_content">
            <div class="right_col" role="main">
                <p-table #dt [value]="workflowList" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]" [columns]="selectedGridColumns" [metaKeySelection]="true" selectionMode="multiple" [(selection)]="selectedGridColumn" [resizableColumns]="true" [reorderableColumns]="true">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <p-multiSelect [options]="gridColumns" [(ngModel)]="selectedGridColumns" optionLabel="header"
                                           selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px', paddingRight: '30px'}" defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
                            <div class="inner-addon right-addon w200 inline-block">
                                <i class="fa fa-search"></i>
                                <input type="text" pInputText size="50" class="form-control ui-autocomplete-input" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Filter">
                            </div>
                            <button type="button" pButton icon="fa-download" iconPos="left" label="Export All Data" (click)="dt.exportCSV()"></button>
                            <button type="button" pButton icon="fa-download" iconPos="left" label="Export Selected" *ngIf="selectedColumn" (click)="dt.exportCSV({selectionOnly:true})"></button>

                            <a  (click)="AddPage()" pTooltip="Create New Workflow" tooltipPosition="top" class="btn btn-success nobg"><span><i  class="fa fa-plus"></i></span></a>
                            <div class="excel-upload">
                                <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                <label for="upload">
                                    <span  pTooltip="Upload Data (Excel)" tooltipPosition="top" ><i class="fa fa-upload"></i></span>
                                </label>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData" pReorderableRowHandle (dblclick)="openEdit(rowData)">
                            <td *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                {{col.field == 'createdDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'updatedDate'?  (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]}}
                            </td>

                            <td>
                                <p-inputSwitch *ngIf="rowData.workflow.isActive" pTooltip="Active" tooltipPosition="bottom" onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData.workflow.isActive"></p-inputSwitch>
                                <p-inputSwitch *ngIf="rowData.workflow.isActive == false"  pTooltip="In Active" tooltipPosition="bottom"  onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData.workflow.isActive"></p-inputSwitch>
                                <p-inputSwitch *ngIf="rowData.workflow.isActive == null" pTooltip="Active" tooltipPosition="bottom"  onLabel="on" offLabel="off" (onChange)="toggleIsActive(rowData,$event)" [(ngModel)]="rowData.workflow.isActive"></p-inputSwitch>

                                <span (click)="openEdit(rowData)" data-toggle="modal" data-target="#edit">
                                    <a data-toggle="tooltip" pTooltip="Edit" tooltipPosition="bottom"  title="" class="btn btn-primary nobg" data-original-title="" edit="">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </span>
                                <span data-toggle="modal" data-target="#history">
                                    <a data-toggle="tooltip"  pTooltip="History" tooltipPosition="bottom"  title="" class="btn btn-success nobg" data-original-title="History">
                                        <i class="fa fa-history"></i>
                                    </a>
                                </span>
                                <span (click)="confirmDelete(deleteConfirm,rowData)" data-toggle="modal" data-target="#data">
                                    <a class="btn btn-danger nobg"  pTooltip="Delete" tooltipPosition="bottom" data-toggle="tooltip" title="" data-original-title="Delete">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteConfirm let-c="close" let-d="dismiss">
    <div class="modal-title">
       <h4>Confirm workflow delete</h4>
    </div>
    <div>
        <p> Are you sure you want to delete Worklflow ACC{{currentWorkflow.workOrderNumber}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="removeWorkFlow()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>
