<div class="card">
    <div class="col-sm-12 font-padding">
        <div class="col-sm-2">
            PN: <span style="color:red">{{itemMasterData["partNumber"]}}</span>
        </div>
        <div class="col-sm-3">
            PN Description: <span style="color:red">{{itemMasterData["partDescription"]}}</span>
        </div>
        <!-- <div class="col-sm-3">
            Alternate PN: <span style="color:red">{{alternatePn}}</span>
        </div> -->
        <div class="col-sm-3">
            Manufacturer: <span style="color:red">{{itemMasterData["manufacturerName"]}}</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 ">
            <div class="shadow-Box">
                <div class="col-sm-12">
                    <h4 class="float-left">Alternate</h4>
                    <h4 class="float-right">
                        Add New
                        <a class="plusicon-cstm" href="#" data-toggle="modal" data-target="#ModalDashNumber"><i class="fa fa-plus-circle fa-lg"></i></a>
                    </h4>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <label class="fs12">PN </label>
                        <p-multiSelect [options]="manufacturerData" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectAircraftManfacturer" (onChange)="getAircraftModelByManfacturerType()"
                                        class="pub-multi"></p-multiSelect>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fs12">
                            PN DESCRIPTION
                        </label>
                        <p-multiSelect [maxSelectedLabels]="2" [options]="aircraftModelList" [(ngModel)]="selectedAircraftModel" [ngModelOptions]="{standalone: true}"
                                        class="pub-multi" (onChange)="getDashNumberByManfacturerandModel()" [selectionLimit]="30"></p-multiSelect>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="fs12">MANUFCTURER </label>
                        <p-multiSelect [maxSelectedLabels]="2" [options]="dashNumberList" [(ngModel)]="selectedDashNumbers" [ngModelOptions]="{standalone: true}"
                                        class="pub-multi" [selectionLimit]="30"></p-multiSelect>
                    </div>
                </div>
                
                <div class="col-md-1 add-new-align">
                    <div class="form-group">
                        <button class="btn btn-primary mtop20" (click)="searchAircraftInformation()">
                            <i class="pi pi-search pi-search"></i>
                        </button>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>