    <div class="card" style="padding: 10px;">
        <div class="col-md-12 ">
            <h4 class="po-head-sm">{{selectedTab}} <a class="plusicon-cstm" href="#" data-toggle="modal" data-target="#alternateModalPopup" matTooltip="Add {{selectedTab}}" tooltipPosition="top" matTooltipPosition="above"><i class="fa fa-plus-circle fa-lg"></i></a>
            </h4>
                <hr />
        </div>
                <!-- <div class="col-sm-12">
            <h4 class="float-left">{{selectedTab}}</h4>
            <h4 class="float-right">
                Add New
                <a class="plusicon-cstm" href="#" data-toggle="modal" data-target="#alternateModalPopup"><i class="fa fa-plus-circle fa-lg"></i></a>
            </h4>
        </div> -->

        <p-table #ntaeDataTable class="rpo-table-cstm"  [value]="ntaeData" [rows]="ntaeDataTableTablePageSize" [columns]="ntaeTableColumns" [scrollable]="true" [style]="{width:'100%'}" [paginator]="true">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" pResizableColumn
                    pReorderableColumn
                    [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th *ngIf="selectedTab == 'Equivalency'">Download</th>
                    <th>Action</th>
                </tr>
                <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input style="width:100%;" pInputText type="text" (input)="ntaeDataTable.filter($event.target.value, col.field, col.filterMatchMode)">

                        </th>
                        <th *ngIf="selectedTab == 'Equivalency'"></th>
                        <th></th>
                    </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>

                    <td  *ngIf="selectedTab == 'Equivalency'">
                        <a class="btn btn-primary" (click)="downloadFileUpload(rowData)" target="_blank" download>{{rowData["fileName"]}}</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger nobg" (click)="deleteNTAERow(rowData.itemMappingId)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="emptymessage"
                let-columns
                *ngIf="ntaeData?.length == 0"
                >
                <tr>
                    <td [attr.colspan]="6" class="no-records-cstm">
                    No records found
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" id="footer">
                <label id="footer" class="footer">No'of records:</label>
                <input
                    style="width: 5%;"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="ntaeDataTable._totalRecords"
                    [disabled]="true"
                    pInputText
                    type="text"
                />
                &nbsp;&nbsp;
                <label id="footer" class="footer1">Pages Count:</label>
                <input
                    style="width: 5%;"
                    [ngModelOptions]="{standalone: true}"
                    [ngModel]="getPageCount(ntaeDataTable._totalRecords, ntaeDataTableTablePageSize)"
                    [disabled]="true"
                    pInputText
                    type="text"
                />
                <!-- <input style="width: 5%;" value="{{totalPages}}" [disabled]="true" pInputText type="text" /> -->
            </ng-template>
        </p-table>
    </div>

<!--New code for dialogue-->
<div id="alternateModalPopup" class="modal fade custom-popup" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-full">
        <!-- Modal content-->
        <div class="modal-content">
                <form #saveNtaeTabForm="ngForm"  (submit)="saveAlternate(saveNtaeTabForm)"  id="add-customerwork" name="" class="form-horizontal add-custustomer">
                        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">×</button>
                <h4 class="modal-title">Add {{selectedTab}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="popup-plusicon-cstm">PN <strong class="clr-red">*</strong> </label>
                            <p-dropdown class="imstock-pddowm" [options]="pnData" filter="true"  [(ngModel)]="alternateData.MappingItemMasterId" name="MappingItemMasterId" id="MappingItemMasterId" title="Part Number" required (onChange)="bindPartDataInPopup($event)" placeholder="Select Part Number" [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="popup-plusicon-cstm">
                                Description</label> 
                                <input type="text"  class="form-control" disabled name="description" [(ngModel)]="alternateData.Description" > 
                            

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="popup-plusicon-cstm">
                                Manufacturer        </label>              
                                <input type="text" class="form-control" disabled name="manufacturer"  [(ngModel)]="alternateData.manufacturer"  > 
                            
                        </div>
                    </div>
                </div>
                <div class="form-row" *ngIf="selectedTab == 'Equivalency'">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="popup-plusicon-cstm">
                                Item Classification        </label>
                                <input type="text" class="form-control" disabled name="itemClassificationId"  [(ngModel)]="alternateData.itemClassificationId"  >                                 
                                <!-- <input type="text" class="ui-inputtext" disabled name="manufacturer"  [(ngModel)]="alternateData.manufacturer"  >  -->
                            
                        </div>
                    </div>
                </div>
                <div class="form-row" *ngIf="selectedTab == 'Equivalency'">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label  class="popup-plusicon-cstm">
                                Document      <strong class="clr-red">*</strong>    </label>
                                <input type="file" name="gFileupload" id="gFileupload" required  title="Document" (change)="fileUploadNtae($event)"   class="uploaddoc upload-file"  />
               
                                <!-- <p-fileUpload name="gFileupload"  [showCancelButton]="false" [showUploadButton]="false" customUpload="true" (change)="fileUploadNtae($event)"></p-fileUpload>  -->
                                <!-- <input type="text" class="ui-inputtext" disabled name="manufacturer"  [(ngModel)]="alternateData.manufacturer"  >  -->
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  (click)="saveAlternate(saveNtaeTabForm)">Save</button>
                <button #closeAddPopup type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

<p-dialog header="Alert" [(visible)]="displayNtae" [modal]="true" [dismissableMask]="true" maximizedLeft="140px"
          maximizedTop="140px" [width]="350" [minWidth]="200" [responsive]="true" [minY]="1050" [baseZIndex]="1100000">


    <h5 [ngStyle]="{'color':'red'}">
        Please Enter (*) Mandatory Fields
        <!-- <pre>{{listOfErrors | json}}</pre> -->
        
    </h5>
    <ul  [ngStyle]="{'color':'red'}">
        <li *ngFor="let error of listOfErrors">{{error}}</li>
    </ul>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayNtae=false" label="Close"></button>
    </p-footer>

</p-dialog>
