<div class="card">
  <div class="card-body">
    <button class="btn btn-success pull-right" (click)="addNewDoc()">
      Add Document
    </button>
    <div class="table-responsive pas-table-cstm ng-star-inserted">
      <table class="table table-bordered documents-table">
        <thead>
          <tr>
            <th>Comp</th>
            <th>BU</th>
            <th>Div</th>
            <th>Dep</th>
            <th>Document Code</th>
            <th>Description</th>
            <th>Link to Doc</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mpn-row" *ngFor="let d of documentForm; let i = index">
            <td>
              <select [(ngModel)]="d.Comp" name="comp">
                <option value="">Select</option>
                <option value="Condax">Condax</option>
                <option value="Golddex">Golddex</option>
                <option value="Goodsilron">Goodsilron</option>
                <option value="Openlane">Openlane</option>
                <option value="Opentech">Opentech</option>
                <option value="Yearin">Yearin</option>
                <option value="year-job">year-job"</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="d.BU" name="bu">
                <option value="">Select</option>
                <option value="Condax">Condax</option>
                <option value="Golddex">Golddex</option>
                <option value="Goodsilron">Goodsilron</option>
                <option value="Openlane">Openlane</option>
                <option value="Opentech">Opentech</option>
                <option value="Yearin">Yearin</option>
                <option value="year-job">year-job"</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="d.Div" name="div">
                <option value="">Select </option>
                <option value="Accountant">Accountant</option>
                <option value="Controller">Controller</option>
                <option value="CSR">CSR</option>
                <option value="Engineer">Engineer</option>
                <option value="General Manager">General Manager</option>
                <option value="Janitor">Janitor</option>
                <option value="Mech">Mech</option>
                <option value="Purchasing Manager">Purchasing Manager</option>
                <option value="Purchasing">Purchasing</option>
                <option value="QC Manager">QC Manager</option>
                <option value="Receptionist">Receptionist</option>
                <option value="Sales">Sales</option>
                <option value="Sales manager">Sales manager</option>
                <option value="Shop Manager">Shop Manager</option>
                <option value="Supply Room Clerk">Supply Room Clerk</option>
                <option value="Tech">Tech</option>
                <option value="Warehouse man">Warehouse man</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="d.Dep" name="Dep">
                <option value="">Select </option>
                <option value="Accountant">Accountant</option>
                <option value="Controller">Controller</option>
                <option value="CSR">CSR</option>
                <option value="Engineer">Engineer</option>
                <option value="General Manager">General Manager</option>
                <option value="Janitor">Janitor</option>
                <option value="Mech">Mech</option>
                <option value="Purchasing Manager">Purchasing Manager</option>
                <option value="Purchasing">Purchasing</option>
                <option value="QC Manager">QC Manager</option>
                <option value="Receptionist">Receptionist</option>
                <option value="Sales">Sales</option>
                <option value="Sales manager">Sales manager</option>
                <option value="Shop Manager">Shop Manager</option>
                <option value="Supply Room Clerk">Supply Room Clerk</option>
                <option value="Tech">Tech</option>
                <option value="Warehouse man">Warehouse man</option>
              </select>
            </td>
            <td>
              <select [(ngModel)]="d.DocumentCode" name="documentCode">
                <option value="8130">8130</option>
                <option value="APO">APO</option>
                <option value="ASO">ASO</option>
                <option value="CERT">CERT</option>
                <option value="CON">CON</option>
                <option value="Figure">FIGURE</option>
                <option value="PL">PL</option>
                <option value="VA">VA</option>
              </select>
            </td>
            <td>{{ d.Description }}</td>
            <td>
              <input
                type="text"
                class="form-control w200"
                [(ngModel)]="d.DocLink"
              />
            </td>
            <td>
              <p-inputSwitch
                [(ngModel)]="d.IsActive"
                title="Active/Inactive"
              ></p-inputSwitch>
              <a title="Edit" class="btn btn-primary boxed-float-btn nobg"
                ><i class="fa fa-edit"></i
              ></a>

              <a
                title="Delete"
                class="btn btn-success boxed-float-btn nobg delete-row-btn"
                ><i class="fa fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
