<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="col-md-12">
            <div class="x_panel" style="">
                <div class="x_content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item"><a routerLink="wo-main.html">WO Setup</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Documents</li>
                        </ol>
                    </nav>
                    <div class="pheading">
                        <h4 class="page-heading clr-green">WO Setup - Documents</h4>
                        <div class="clear mtop10"></div>
                    </div>
                    <div class="cdetails-top">
                        <div class="col-sm-12">
                            <label>Company</label>
                            <span>Silverxis</span>
                        </div>
                        <div class="col-sm-12">
                            <label>BU</label>
                            <span>Adso</span>
                        </div>
                        <div class="col-sm-12">
                            <label>Division</label>
                            <span>Development</span>
                        </div>
                        <div class="col-sm-12">
                            <label>Dept</label>
                            <span>Java</span>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-12 po-ro-setup">
            <div class="x_panel">
                <div class="tab-content">
                    <div class="table-responsive default-bg clear ro-grid-table">

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="5">Documents &nbsp; &nbsp;<i class="fa fa-plus plus-icon"></i></th>
                                </tr>
                                <tr>
                                    <th>Document Code</th>
                                    <th>Description</th>
                                    <th>WO</th>
                                    <th>Link to Doc</th>
                                    <th class="w100"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select>
                                            <option>8130</option>
                                            <option>APO</option>
                                            <option>ASO</option>
                                            <option>CERT</option>
                                            <option selected>CON</option>
                                            <option>FIGURE</option>
                                            <option>PL</option>
                                            <option>VA</option>
                                        </select>
                                    </td>
                                    <td>Contract</td>
                                    <td>WO12345</td>
                                    <td><input type="text" class="form-control w200" value="http://google.co.in/" /></td>
                                    <td>
                                        <a data-toggle="tooltip" title="View" class="btn btn-success boxed-float-btn nobg"><i class="fa fa-eye"></i></a>
                                        <a data-toggle="tooltip" title="Edit" class="btn btn-primary boxed-float-btn nobg"><i class="fa fa-edit"></i></a>
                                        <a data-toggle="tooltip" title="Delete" class="btn btn-success boxed-float-btn nobg"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clear"></div>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>