<div style="border: 1px solid red">edit-po Component</div>
<div class="x_panel" style="">
	<div class="x_content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">Receiving</li>
				<li class="breadcrumb-item" aria-current="page">PO-RO</li>
				<li class="breadcrumb-item active" aria-current="page">Receiving PO Grid</li>
			</ol>
		</nav>
		<h4 class="page-heading">Receiving - PO Grid <span class="clr-red">(Single PO )</span> </h4>
		<div class="clear"></div>
		<form id="" class="form-horizontal ro-grid-form" name="" action="#" method="post" onsubmit="return false;">
			<div class="col-sm-5">
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Status</label>
					<div class="col-sm-7">
						<label class="wauto">
							<input type="checkbox" name="open" value="open" class="hauto" disabled="" checked="">
							Open
						</label>
						<label class="wauto">
							<input type="checkbox" name="close" value="close" class="hauto" disabled="">
							Closed
						</label>
						<label class="wauto">
							<input type="checkbox" name="close" value="close" class="hauto" disabled="">
							Pending
						</label>
						<label class="wauto">
							<input type="checkbox" name="close" value="close" class="hauto" disabled="">
							Fulfilling
						</label>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<hr>
			<div class="col-sm-3">
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">PO Number</label>
					<div class="col-sm-7">PO123</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Priority</label>
					<div class="col-sm-7">Critical</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Requisitioner</label>
					<div class="col-sm-7">Shabbir</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Date Requisitioned</label>
					<div class="col-sm-7">19-2-2018</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Approver</label>
					<div class="col-sm-7">Don</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Date Approved</label>
					<div class="col-sm-7">19-2-2018</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Vendor Code</label>
					<div class="col-sm-7">123</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Vendor Name</label>
					<div class="col-sm-7">Shabbir</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Vendor Contact</label>
					<div class="col-sm-7">456789456</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Contact Phone</label>
					<div class="col-sm-7">4256310052</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Terms</label>
					<div class="col-sm-7">Net 30</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Credit Limit</label>
					<div class="col-sm-7">30</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Currency</label>
					<div class="col-sm-7">Dollars</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Company</label>
					<div class="col-sm-7">Adso</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Business Unit</label>
					<div class="col-sm-7">Aerospace</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Division</label>
					<div class="col-sm-7">Cargo</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Department</label>
					<div class="col-sm-7">Engineer</div>
				</div>
				<div class="form-group col-sm-12">
					<label class="control-label col-sm-4">Memo</label>
					<div class="col-sm-7">Sample Memo</div>
				</div>
			</div>
			<div class="clear"></div>
			<hr>
			<!--<a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#createwo">Save</a>-->
		</form>
	</div>
</div>