
<div class="card padding-10">
<div class="x_content">
    <div class="col-sm-12">
        <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
            <p class="fs10">
                <label class="control-label" style="width: auto;">Asset ID :</label>
                {{currentAsset.assetId}}
            </p>
        </div>
        <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
            <p class="fs10">
                <label class="control-label" style="width: auto;">Alt Asset ID :</label>
                {{currentAsset.alternateAssetId}}
            </p>
        </div>
        <div class="form-group marginr50" style="display: inline-block;margin: 10px 5px 0 5px;">
            <p class="fs10">
                <label class="control-label" style="width: auto;">Asset Name :</label>
                {{currentAsset.name}}
            </p>
        </div>
    </div>
    <div class="clear"></div>

    <div action="#" method="post" id="" name="" class="form-horizontal ro-grid-form mtop10">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Add Capability</h4>
                <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="" class="table-responsive default-bg clear">
                <form [formGroup]="capabilitiesForm">
                    <table class="table table-bordered table-striped table-sorting">
                        <thead>
                            <tr>
                                <th>Capability Types</th>
                                <th>PN</th>
                                <th>Aircraft Manufacturer</th>
                                <th>Model</th>
                                <th>Dash Number</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let cap of capabilityTypeData;let a=index" [formArrayName]="cap.formArrayName">

                            <tr style="background: #a5a5a5;">
                                <td style="color: #fff; font-weight: bold;">{{cap.Description}}</td>
                                <td>
                                    <div class="input-group">
                                        <label for="customerName">
                                            PN <strong style="color:red">*</strong>
                                               <p-autoComplete [(ngModel)]="cap.selectedPartId" (onKeyUp)=partPNentHandler($event)
                                                               (onSelect)="partnmId($event)" [ngModelOptions]="{standalone: true}"
                                                               [suggestions]="partCollection" (completeMethod)="filterPNpartItems($event)" [size]="30"
                                                               [minLength]="1" [dropdown]="true">
                                                   <ng-template let-partName pTemplate="part">
                                                       <div class="ui-helper-clearfix">{{partName}}</div>
                                                   </ng-template>
                                               </p-autoComplete>

                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <p-multiSelect [options]="manufacturerData"
                                                       [ngModelOptions]="{standalone: true}"
                                                       [(ngModel)]="cap.selectedAircraftTypes" [panelStyle]="{minWidth:'12em'}"
                                                       (onChange)="manufacturerChange($event,cap)">
                                        </p-multiSelect>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <p-multiSelect [options]="cap.selectedAircraftDataModels"
                                                       [ngModelOptions]="{standalone: true}"
                                                       [(ngModel)]="cap.selectedAircraftModelTypes"
                                                       [panelStyle]="{minWidth:'12em'}" (click)="openModelPopups(cap)"
                                                       (onChange)="aircraftModalChange($event,cap)">
                                        </p-multiSelect>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <!--<p-multiSelect [maxSelectedLabels]="2"
                                                       [options]="search_AircraftDashNumberList"
                                                       [(ngModel)]="cap.selectedDashNumbers"
                                                       [ngModelOptions]="{ standalone: true }"
                                                       class="pub-multi"
                                                       [selectionLimit]="30"></p-multiSelect>-->

                                        <select [(ngModel)]="cap.selectedDashNumbers" [ngModelOptions]="{standalone: true}">
                                            <option>--Select--</option>
                                            <option *ngFor="let dashnumbers of search_AircraftDashNumberList" [ngValue]="dashnumbers.label">{{dashnumbers.label}}</option>
                                        </select>
                                    </div>
                                </td>
                                <td [matTooltip]="addBtnTitle(cap)">
                                    <button class="btn btn-warning"
                                            (click)="addModels(cap)">
                                        <!--[disabled]="disableAddButton(cap)"-->
                                        <i class="fa fa-plus clr-white"></i>
                                    </button>
                                </td>
                            </tr>
                            <!-- <tbody formArrayName="mfgForm"> -->
                            <!-- MfgForm Start -->
                            <ng-container *ngIf="cap.formArrayName == 'mfgForm'">
                                <ng-container *ngFor="let item of mfgFormArray.controls;let i=index"
                                              [formGroupName]="i">
                                    <tr *ngIf="mfgFormArray.controls[i].controls['isDelete'].value != true">
                                        <td></td>
                                        <td>
                                            <input type="text" formControlName="PartId" disabled="true" />
                                        </td>
                                        <td>
                                            <input type="text" formControlName="aircraftTypeName" disabled="true" />
                                        </td>
                                        <td>
                                            <input type="text" formControlName="aircraftModelName" disabled="true" />
                                        </td>
                                        <td>
                                            <input type="text" formControlName="DashNumber" disabled="true" /></td>
                                        <!--<td>
                                            <span data-toggle="tooltip" class="status" title="" data-placement="right"
                                                  data-original-title="Active">
                                                <div class="toggle btn btn-success" data-toggle="toggle"
                                                     style="width: 30px; height: 19px;">
                                                    <input type="checkbox"
                                                           formControlName="isActive" data-toggle="toggle" data-width="30"
                                                           id="toggle-one" data-on="<i class='fa fa-check'></i>"
                                                           data-off="<i class='fa fa-times'></i>" data-onstyle="success"
                                                           data-offstyle="danger">
                                                    <div class="toggle-group">
                                                        <label class="btn btn-success toggle-on">
                                                            <i class="fa fa-check"></i>
                                                        </label><label class="btn btn-danger active toggle-off">
                                                            <i class="fa fa-times"></i>
                                                        </label><span class="toggle-handle btn btn-default"></span>
                                                    </div>
                                                </div>
                                            </span> <span data-toggle="modal" data-target="#history">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="History">
                                                    <i class="fa fa-history"></i>
                                                </a>
                                            </span>
                                            <span data-toggle="modal" data-target="#delete">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                            </span>
                                        </td>-->
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <!-- MfgForm End -->
                            <!-- overhaulForm Start *ngIf="cap.formArrayName == 'overhaulForm'" -->
                            <ng-container *ngIf="cap.formArrayName == 'overhaulForm'">
                                <ng-container *ngFor="let item of overhaulFormArray.controls;let j=index" [formGroupName]="j">
                                    <tr *ngIf="overhaulFormArray.controls[j].controls['isDelete'].value != true">
                                        <td></td>
                                        <td>
                                            <input type="text" formControlName="PartId" disabled="true" />
                                        </td>
                                        <td><input type="text" formControlName="aircraftTypeName" disabled="true" /></td>
                                        <td><input type="text" formControlName="aircraftModelName" disabled="true" /></td>
                                        <td>
                                            <input type="text" formControlName="DashNumber" disabled="true" />
                                        </td>
                                        
                                        <!--<td>
                                            <span data-toggle="tooltip" class="status" title="" data-placement="right"
                                                  data-original-title="Active">
                                                <div class="toggle btn btn-success" data-toggle="toggle"
                                                     style="width: 30px; height: 19px;">
                                                    <input type="checkbox"
                                                           formControlName="isActive" data-toggle="toggle" data-width="30"
                                                           id="toggle-one" data-on="<i class='fa fa-check'></i>"
                                                           data-off="<i class='fa fa-times'></i>" data-onstyle="success"
                                                           data-offstyle="danger">
                                                    <div class="toggle-group">
                                                        <label class="btn btn-success toggle-on">
                                                            <i class="fa fa-check"></i>
                                                        </label><label class="btn btn-danger active toggle-off">
                                                            <i class="fa fa-times"></i>
                                                        </label><span class="toggle-handle btn btn-default"></span>
                                                    </div>
                                                </div>
                                            </span> <span data-toggle="modal" data-target="#history">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="History"><i class="fa fa-history"></i></a>
                                            </span>
                                            <span data-toggle="modal" data-target="#delete">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                            </span>
                                        </td>-->
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <!-- overhaulForm End -->
                            <!-- distributionForm Start *ngIf="cap.formArrayName == 'distributionForm'" -->
                            <ng-container *ngIf="cap.formArrayName == 'distributionForm'">
                                <ng-container *ngFor="let item of distributionFormArray.controls;let k=index" [formGroupName]="k">
                                    <tr *ngIf="distributionFormArray.controls[k].controls['isDelete'].value != true">
                                        <td></td>
                                        <td>
                                            <input type="text" formControlName="PartId" disabled="true" />
                                        </td>
                                        <td><input type="text" formControlName="aircraftTypeName" disabled="true" /></td>
                                        <td><input type="text" formControlName="aircraftModelName" disabled="true" /></td>
                                        <!--<td><input type="text" class="form-control w100" formControlName="memo"></td>-->
                                        <td>
                                            <input type="text" formControlName="DashNumber" disabled="true" />
                                        </td>
                                        <!--<td>
                                            <span data-toggle="tooltip" class="status" title="" data-placement="right"
                                                  data-original-title="Active">
                                                <div class="toggle btn btn-success" data-toggle="toggle"
                                                     style="width: 30px; height: 19px;">
                                                    <input type="checkbox"
                                                           formControlName="isActive" data-toggle="toggle" data-width="30"
                                                           id="toggle-one" data-on="<i class='fa fa-check'></i>"
                                                           data-off="<i class='fa fa-times'></i>" data-onstyle="success"
                                                           data-offstyle="danger">
                                                    <div class="toggle-group">
                                                        <label class="btn btn-success toggle-on">
                                                            <i class="fa fa-check"></i>
                                                        </label><label class="btn btn-danger active toggle-off">
                                                            <i class="fa fa-times"></i>
                                                        </label><span class="toggle-handle btn btn-default"></span>
                                                    </div>
                                                </div>
                                            </span> <span data-toggle="modal" data-target="#history">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="History"><i class="fa fa-history"></i></a>
                                            </span>
                                            <span data-toggle="modal" data-target="#delete">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                            </span>
                                        </td>-->
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <!-- distributionForm End -->
                            <!-- certificationForm Start *ngIf="cap.formArrayName == 'certificationForm'" -->
                            <ng-container *ngIf="cap.formArrayName == 'certificationForm'">
                                <ng-container *ngFor="let item of certificationFormArray.controls;let l=index"
                                              [formGroupName]="l">
                                    <tr *ngIf="certificationFormArray.controls[l].controls['isDelete'].value != true">
                                        <td></td>
                                        <td>
                                            <input type="text" formControlName="PartId" disabled="true" />
                                        </td>
                                        <td><input type="text" formControlName="aircraftTypeName" disabled="true" /></td>
                                        <td><input type="text" formControlName="aircraftModelName" disabled="true" /></td>
                                        <td>
                                            <input type="text" formControlName="DashNumber" disabled="true" />
                                        </td>
                                        <!--<td>
                                            <span data-toggle="tooltip" class="status" title="" data-placement="right"
                                                  data-original-title="Active">
                                                <div class="toggle btn btn-success" data-toggle="toggle"
                                                     style="width: 30px; height: 19px;">
                                                    <input type="checkbox"
                                                           formControlName="isActive" data-toggle="toggle" data-width="30"
                                                           id="toggle-one" data-on="<i class='fa fa-check'></i>"
                                                           data-off="<i class='fa fa-times'></i>" data-onstyle="success"
                                                           data-offstyle="danger">
                                                    <div class="toggle-group">
                                                        <label class="btn btn-success toggle-on">
                                                            <i class="fa fa-check"></i>
                                                        </label><label class="btn btn-danger active toggle-off">
                                                            <i class="fa fa-times"></i>
                                                        </label><span class="toggle-handle btn btn-default"></span>
                                                    </div>
                                                </div>
                                            </span> <span data-toggle="modal" data-target="#history">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="History"><i class="fa fa-history"></i></a>
                                            </span>
                                            <span data-toggle="modal" data-target="#delete">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                            </span>
                                        </td>-->
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <!-- certificationForm End -->
                            <!-- repairForm Start *ngIf="cap.formArrayName == 'repairForm'" -->
                            <ng-container *ngIf="cap.formArrayName == 'repairForm'">
                                <ng-container *ngFor="let item of repairFormArray.controls;let m=index" [formGroupName]="m">
                                    <tr *ngIf="repairFormArray.controls[m].controls['isDelete'].value != true">
                                        <td></td>
                                        <td>
                                            <input type="text" formControlName="PartId" disabled="true" />
                                        </td>
                                        <td><input type="text" formControlName="aircraftTypeName" disabled="true" /></td>
                                        <td><input type="text" formControlName="aircraftModelName" disabled="true" /></td>
                                        <td>
                                            <input type="text" formControlName="DashNumber" disabled="true" />
                                        </td>
                                        <!--<td>
                                            <span data-toggle="tooltip" class="status" title="" data-placement="right"
                                                  data-original-title="Active">
                                                <div class="toggle btn btn-success" data-toggle="toggle"
                                                     style="width: 30px; height: 19px;">
                                                    <input type="checkbox"
                                                           formControlName="isActive" data-toggle="toggle" data-width="30"
                                                           id="toggle-one" data-on="<i class='fa fa-check'></i>"
                                                           data-off="<i class='fa fa-times'></i>" data-onstyle="success"
                                                           data-offstyle="danger">
                                                    <div class="toggle-group">
                                                        <label class="btn btn-success toggle-on">
                                                            <i class="fa fa-check"></i>
                                                        </label><label class="btn btn-danger active toggle-off">
                                                            <i class="fa fa-times"></i>
                                                        </label><span class="toggle-handle btn btn-default"></span>
                                                    </div>
                                                </div>
                                            </span> <span data-toggle="modal" data-target="#history">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="History"><i class="fa fa-history"></i></a>
                                            </span>
                                            <span data-toggle="modal" data-target="#delete">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                            </span>
                                        </td>-->
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="cap.formArrayName == 'exchangeForm'">
                                <ng-container *ngFor="let item of exchangeFormArray.controls;let n=index" [formGroupName]="n">
                                    <tr *ngIf="exchangeFormArray.controls[n].controls['isDelete'].value != true">
                                        <td></td>
                                        <td>
                                            <input type="text" formControlName="PartId" disabled="true" />
                                        </td>
                                        <td><input type="text" formControlName="aircraftTypeName" disabled="true" /></td>
                                        <td><input type="text" formControlName="aircraftModelName" disabled="true" /></td>
                                        <td>
                                            <input type="text" formControlName="DashNumber" disabled="true" />
                                        </td>
                                        <!--<td>
                                            <span data-toggle="tooltip" class="status" title="" data-placement="right"
                                                  data-original-title="Active">
                                                <div class="toggle btn btn-success" data-toggle="toggle"
                                                     style="width: 30px; height: 19px;">
                                                    <input type="checkbox"
                                                           formControlName="isActive" data-toggle="toggle" data-width="30"
                                                           id="toggle-one" data-on="<i class='fa fa-check'></i>"
                                                           data-off="<i class='fa fa-times'></i>" data-onstyle="success"
                                                           data-offstyle="danger">
                                                    <div class="toggle-group">
                                                        <label class="btn btn-success toggle-on">
                                                            <i class="fa fa-check"></i>
                                                        </label><label class="btn btn-danger active toggle-off">
                                                            <i class="fa fa-times"></i>
                                                        </label><span class="toggle-handle btn btn-default"></span>
                                                    </div>
                                                </div>
                                            </span> <span data-toggle="modal" data-target="#history">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="History"><i class="fa fa-history"></i></a>
                                            </span>
                                            <span data-toggle="modal" data-target="#delete">
                                                <a href="#"
                                                   class="btn btn-success nobg" data-toggle="tooltip" title=""
                                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                            </span>
                                        </td>-->
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-success pull-right submit-btn" (click)="dismissModel()">
                        Close
                    </button>

                    <button type="submit" class="btn btn-success pull-right submit-btn" (click)="saveCapabilities()">
                        Save
                    </button>

                </form>
                <div class="clear"></div>
                <br>
            </div>
        </ng-template>

    </div>
    <div class="clear"></div>
    <hr>
</div>


<div class="table-responsive">
        <div>
            <div class="col-md-12" style="margin-bottom: -10px;">
                <h4 class="float-right">
                        Add Capability
                        <button
                          class="plusicon-cstm"
                          ><i class="fa fa-plus-circle fa-lg" (click)="openCapes(content)"></i
                        ></button>
                      </h4>
            </div>
            <div class="clear"></div>
            <hr />
        </div>

<p-table #dt [value]="allCapesInfo" [metaKeySelection]="true" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [columns]="selectedColumns" selectionMode="multiple" [(selection)]="selectedColumn" [resizableColumns]="true" [reorderableColumns]="true">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>PN</th>
            <th>PN Description</th>
            <th>Capability type</th>
            <th>Aircraft maufacturer</th>
            <th>Models</th>
            <th>Actions</th>
        </tr>
    </ng-template>


    <ng-template pTemplate="body" let-rowData let-assetCapes>
        <tr [pSelectableRow]="rowData" pReorderableRowHandle>
            <td *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                {{rowData[col.field]}}

            </td>
            <td>{{assetCapes.asset?.assetId}}</td>
            <td>{{assetCapes.asset?.description}}</td>
            <td>{{assetCapes.capabilityType?.description}}</td>
            <td>{{assetCapes.aircraftType?.description}}</td>
            <td>{{assetCapes.aircraftModel?.modelName}}</td>
            <td>
                <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="handleChangeforstock(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChangeforstock(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChangeforstock(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>

                <!--<span data-toggle="modal" data-target="#view"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openView(view,rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span>-->
                <button class="btn-edit" mat-icon-button (click)="opencapesToEdit(content,rowData)" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </button>


                <button class="btn-delete" mat-icon-button matTooltip="Delete">
                    <mat-icon color="warn">delete</mat-icon>
                </button>


                <!--<button class="btn-history" mat-icon-button matTooltip="History">
                    <mat-icon color="green">history</mat-icon>
                </button>-->
            </td>
        </tr>
    </ng-template>
</p-table>
</div>

<div class="modal-body">
    <!--<div class="form-group col-sm-12">
        <label for="customerName" class="control-label col-sm-4">
            PN <strong style="color:red">*</strong>
            <p-autoComplete [(ngModel)]="assetId" (onKeyUp)=partEventHandler($event)
                            (onSelect)="onAssetIdselection($event)" [ngModelOptions]="{standalone: true}"
                            [suggestions]="localCollection" (completeMethod)="filterpartItems($event)" [size]="30"
                            [minLength]="1" [dropdown]="true">
                <ng-template let-assetId pTemplate="part">
                    <div class="ui-helper-clearfix">{{assetId}}</div>
                </ng-template>
            </p-autoComplete>

        </label>
    </div>-->
</div>

<div>
        <button type="submit" class="btn btn-primary-cstm pull-right submit-btn" [disabled]="disableSave" (click)="saveCapes()">Save & Next</button>
        <!--<button type="button" class="btn btn-success pull-right submit-btn" (click)="nextClick()">Next</button>-->
        <button type="button" class="btn btn-primary-cstm pull-right submit-btn" (click)="backClick()">Previous</button>
</div>



