<div class="md-stepper-horizontal orange">
    <div class="md-step"
         [ngClass]="{ active: activeIndex >= 0 , editable : activeIndex === 0}" (click)="changeOfTab('General')">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">General Information</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step"
         [ngClass]="{ active: activeIndex >= 1, editable : activeIndex === 1 }"
         (click)="changeOfTab('Capes')">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">Capes</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step"
         [ngClass]="{ active: activeIndex >= 2 , editable : activeIndex === 2 }"
         (click)="changeOfTab('Calibration')">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">Calibration</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step"
         [ngClass]="{ active: activeIndex >= 3 , editable : activeIndex === 3 }"
         (click)="changeOfTab('Maintenance')">
        <div class="md-step-circle"><span>4</span></div>
        <div class="md-step-title">Maintenance & Warranty</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
</div>

<div class="card padding-10">
    <div class="card-body">
        <div class="col-md-4">
            <label class="fs12">Asset ID : </label>
            <span class="span-header-red"> {{local?.assetId}}</span>
        </div>
        <div class="col-md-4">
            <label class="fs12">Alt Asset ID : </label>
            <span class="span-header-red"> {{local?.alternateAssetId}}</span>
        </div>
        <div class="col-md-4">
            <label class="fs12">Asset Name : </label>
            <span class="span-header-red"> {{local?.name}}</span>

        </div>
        <div class="clear"></div>
        <hr />
        <div class="clear"></div>
    </div>
    <div class="x_content">


        <div action="#" method="post" id="" name="" class="form-horizontal ro-grid-form mtop10">

            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" (click)="dismissModel()">×</button>
                            <h4 class="modal-title">Add Capability</h4>

                        </div>
                        <div class="modal-body">
                            <form [formGroup]="capabilitiesForm">
                                <div formArrayName="mfgForm">
                                    <div class="form-row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="popup-plusicon-cstm-caps">Capability Types </label>
                                                <select [(ngModel)]="capabilityForm.CapabilityTypeId" (change)="onCapabilityTypeSelection(capabilityForm.CapabilityTypeId)" [ngModelOptions]="{standalone: true}">
                                                    <option>--NON Selected--</option>
                                                    <option *ngFor="let cap of capabilityTypeData" [ngValue]="cap.value">{{cap.label}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group pop-up-caps-autocomplete">
                                                <label class="popup-plusicon-cstm-caps">PN </label>
                                                <p-autoComplete [(ngModel)]="capabilityForm.selectedPartId" (onKeyUp)=partPNentHandler($event)
                                                                (onSelect)="partnmId($event)" [ngModelOptions]="{standalone: true}"
                                                                [suggestions]="partCollection" (completeMethod)="filterPNpartItems($event)" [size]="30"
                                                                [minLength]="1" [dropdown]="true">
                                                    <ng-template let-partName pTemplate="part">
                                                        <div class="ui-helper-clearfix">{{partName}}</div>
                                                    </ng-template>
                                                </p-autoComplete>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="popup-plusicon-cstm-caps text-left">Aircraft Manufacturer <a data-dismiss="modal" [routerLink]="['/singlepages/singlepages/app-aircraft-manufacturer']"><i class="fa fa-plus-circle fa-lg"></i></a></label>
                                                <!-- <p-multiSelect [options]="manufacturerData"
                                                               [ngModelOptions]="{standalone: true}"
                                                               [(ngModel)]="capabilityForm.selectedAircraftTypes"
                                                               (onChange)="manufacturerChange($event,capabilityForm)">
                                                </p-multiSelect> -->
                                                <select [(ngModel)]="capabilityForm.selectedAircraftTypes"
                                                        (change)="manufacturerChange($event,capabilityForm)"
                                                        [ngModelOptions]="{standalone: true}"
                                                        id="aircraftModelId"
                                                        style="width: 150px !important;">
                                                    <option>--NON Selected--</option>
                                                    <option *ngFor="let m of manufacturerData" [ngValue]="m.value">{{m.label}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="">
                                                <label class="popup-plusicon-cstm-caps text-left">
                                                    Model
                                                    <a data-dismiss="modal" [routerLink]="['/singlepages/singlepages/app-aircraft-model']">
                                                        <i class="fa fa-plus-circle fa-lg"></i>
                                                    </a>
                                                    <input type="checkbox"
                                                           [(ngModel)]="modelUnknown" [ngModelOptions]="{standalone: true}"
                                                           style="width: 20px !important;
                                                           margin-left: 7px; " (change)="resetAircraftModelsorDashNumbers()"> Unknown
                                                </label>
                                                <p-multiSelect *ngIf="!modelUnknown" [maxSelectedLabels]="2"
                                                               [disabled]="!selectedAircraftId" class="imstock-pmselect"
                                                               [options]="capabilityForm.selectedAircraftDataModels"
                                                               [ngModelOptions]="{standalone: true}"
                                                               [(ngModel)]="capabilityForm.selectedAircraftModelTypes"
                                                               [panelStyle]="{minWidth:'12em'}" (click)="openModelPopups(capabilityForm)"
                                                               (onChange)="aircraftModalChange($event,capabilityForm)">
                                                </p-multiSelect>
                                            </div>
                                        </div>
                                        <div class="col-md-3" *ngIf="!modelUnknown">
                                            <div class="">
                                                <label class="popup-plusicon-cstm-caps text-left">
                                                    Dash Number
                                                    <a data-dismiss="modal" [routerLink]="['/singlepages/singlepages/app-dashnumber']"><i class="fa fa-plus-circle fa-lg"></i></a>
                                                    <input type="checkbox" [(ngModel)]="dashNumberUnknown" style="width: 20px !important; margin-left: 7px; "
                                                           [ngModelOptions]="{standalone: true}"
                                                           (change)="resetAircraftModelsorDashNumbers()">
                                                    Unknown
                                                </label>

                                                <p-multiSelect *ngIf=" !modelUnknown && !dashNumberUnknown"
                                                               [disabled]="!selectedAircraftId"
                                                               [options]="search_AircraftDashNumberList"
                                                               [ngModelOptions]="{standalone: true}"
                                                               [(ngModel)]="capabilityForm.selectedDashNumbers"
                                                               [panelStyle]="{minWidth:'12em'}"
                                                               (onChange)="dashNumberChange($event,capabilityForm)">
                                                </p-multiSelect>
                                            </div>
                                        </div>


                                        <div class="col-md-1">
                                            <button style="margin-top: 20px;" type="button" class="btn btn-primary" (click)="mapAircraftInformation(capabilityForm)">Add</button>
                                        </div>
                                    </div>


                                    <!--<ng-container *ngFor="let item of mfgFormArray.controls;let i=index" [formGroupName]="i">

                                        <div class="form-row" *ngIf="mfgFormArray.controls[i].controls['isDelete'].value != true">
                                            <div class="col-md-2">
                                                 <input type="text" formControlName="capabilityTypeName" isabled="true" />
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" formControlName="PartId" disabled="true" />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" formControlName="aircraftTypeName" disabled="true" />
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" formControlName="aircraftModelName" disabled="true" />
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" formControlName="DashNumber" disabled="true" />
                                            </div>
                                        </div>
                                    </ng-container>-->

                                    <div class="card">
                                        <p-table class="p-table-cstm" [value]="aircraftData" [rows]="6" [columns]="colaircraft" [scrollable]="true" [style]="{width:'100%'}" [paginator]="true">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th *ngFor="let col of columns" style="width:200px">
                                                        {{col.header}}
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                                                <tr>
                                                    <td *ngFor="let col of columns">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>


                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveCapabilities()">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="dismissModel()">Close</button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #content2 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Are You Sure Want to Delete?</h4>
                    <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="removeAsset()">Yes</button>
                    <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
                </div>

            </ng-template>

        </div>


        <div class="clear"></div>
        <hr>
    </div>


    <div class="card">
        <div class="card-body">
            <div>
                <div class="col-md-12" style="margin-bottom: -10px;">
                    <h4 class="float-left">
                        Capabilities
                        <a class="plusicon-cstm new-margin" matTooltip="Add Capability" matTooltipPosition="right" (click)="openCapes(content)">
                            <i class="fa fa-plus-circle fa-lg"></i>
                        </a>
                    </h4>
                </div>
                <div class="clear"></div>
                <hr />
            </div>

            <p-table #dt class="rpo-table-cstm rro-table-cstm" [value]="allCapesInfo"
                     [metaKeySelection]="true"
                     [first]="pageIndex"
                     [rows]="pageSize"
                     [paginator]="true"
                     [pageLinks]="3"
                     [rowsPerPageOptions]="[10,20,50,100]"
                     [columns]="selectedColumns"
                     selectionMode="multiple"
                     [resizableColumns]="true"
                     [reorderableColumns]="true"
                     [scrollable]="true"
                     [totalRecords]="totalRecords"
                     scrollHeight="450px">
                <ng-template pTemplate="caption">
                    <div style="text-align: right; margin-left: -6px !important;">
                        <!--column names dropdown taking selectedColumns-->
                        <!--Step x: Update the dropdown with options-->
                        <!--(onChange)="reorderValues($event)"-->
                        <!--to-do:add (change)=>-->
                        <p-multiSelect [maxSelectedLabels]="2"
                                       [options]="cols"
                                       optionLabel="header"
                                       [(ngModel)]="selectedColumns"
                                       [style]="{minWidth: '200px'}" style="float:left"
                                       selectedItemsLabel="{0} columns selected"
                                       defaultLabel="Choose Columns">
                        </p-multiSelect>
                        <div class="inner-addon right-addon w50 inline-block  g-filter-search-cstm">
                            <i class="fa fa-search"></i>
                            <input type="text" pInputText size="50" class="form-control ui-autocomplete-input"
                                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                                   placeholder="Filter">
                        </div>
                        <button type="button" class="btn btn-primary" matTooltip="Download Data" matTooltipPosition="above"
                                pButton icon="fa-download" iconPos="left" label="Export All Data" (click)="dt.exportCSV()"></button>
                        <button type="button" class="btn btn-primary" matTooltip="Download Selected Data" pTooltip="Download Selected Data" matTooltipPosition="above"
                                pButton icon="fa-download" iconPos="left" label="Export Selected Data" (click)="dt.exportCSV({selectionOnly:true})"></button>
                    </div>
                    <div style="padding-bottom: 1%"><br></div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:140px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns style="padding-top: 1% !important">
                    <tr>
                        <th style="width:auto" *ngFor="let col of selectedColumns" pResizableColumn pReorderableColumn
                            [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th style="width:150px;position: sticky;">Actions</th>
                    </tr>
                    <tr>
                        <th style="width:auto" *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field,'contains')">
                        </th>
                        <th style="width:150px;position: sticky"></th>
                    </tr>
                </ng-template>


                <ng-template pTemplate="body" let-rowData let-columns="columns" let-assetCapes let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="rowData" pReorderableRowHandle>
                        <td style="width:120px" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                            {{rowData[col.field]}}
                        </td>

                        <td>
                            <!--
                <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="handleChangeforstock(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChangeforstock(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChangeforstock(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch> -->
                            <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on"
                                           offLabel="off" (onChange)="toggleActiveStatus(rowData)"
                                           [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                            <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on"
                                           offLabel="off" (onChange)="toggleActiveStatus(rowData)"
                                           [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                            <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on"
                                           offLabel="off" (onChange)="toggleActiveStatus(rowData)"
                                           [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                            <!--<span data-toggle="modal" data-target="#view"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openView(view,rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span>-->
                            <!--<button class="btn-edit" mat-icon-button (click)="opencapesToEdit(content,rowData)" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                -->

                            <button class="btn-delete" mat-icon-button matTooltip="Delete" (click)="openDelete(content2,rowData)">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>

                            <button class="btn-history" mat-icon-button matTooltip="History" data-target="#contentHist" data-toggle="modal" (click)="getAuditHistoryById(rowData)">
                                <mat-icon color="green">history</mat-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary" id="footer">
                    <div style="text-align: right;">
                        <label id="footer" class="footer">No. of records:</label>
                        <input style="width: 5% !important;" [(ngModel)]="totalRecords" [disabled]="true" pInputText type="text" /> &nbsp;&nbsp;
                        <label id="footer" class="footer1">Pages Count:</label>
                        <input style="width: 5% !important;" [(ngModel)]="totalPages" [disabled]="true" pInputText type="text" />
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="modal-body">

        <!--<div class="form-group col-sm-12">
            <label for="customerName" class="control-label col-sm-4">
                PN <strong style="color:red">*</strong>
                <p-autoComplete [(ngModel)]="assetId" (onKeyUp)=partEventHandler($event)
                                (onSelect)="onAssetIdselection($event)" [ngModelOptions]="{standalone: true}"
                                [suggestions]="localCollection" (completeMethod)="filterpartItems($event)" [size]="30"
                                [minLength]="1" [dropdown]="true">
                    <ng-template let-assetId pTemplate="part">
                        <div class="ui-helper-clearfix">{{assetId}}</div>
                    </ng-template>
                </p-autoComplete>

            </label>
        </div>-->
    </div>

    <div>
        <button type="submit" class="btn btn-primary pull-right submit-btn" [disabled]="disableSave" (click)="saveCapes()">Save & Next</button>
        <!--<button type="button" class="btn btn-success pull-right submit-btn" (click)="nextClick()">Next</button>-->
        <button type="button" class="btn btn-primary pull-right submit-btn" (click)="backClick()">Previous</button>
    </div>


    <div *ngIf="auditHistory" id="contentHist" #contentHist class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">History of Asset Capes</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive rro-table-cstm">
                        <table class="table table-bordered" *ngIf="auditHistory.length> 0 else noDatavailable">
                            <thead>
                                <tr>
                                    <th>Capability Type</th>
                                    <th>PN</th>
                                    <th>Aircraft Manufacturer</th>
                                    <th>Models</th>
                                    <th>Dash Number</th>
                                    <th>IsActive</th>
                                    <th>Updated By</th>
                                    <th>Updated Time</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="auditHistory.length> 0">
                                <tr *ngFor="let audit of auditHistory; let i = index;">
                                    <td [ngStyle]="{'color': getColorCodeForHistory(i, 'captypedescription', audit.captypedescription)  ? 'black' : 'red'  }">{{audit.captypedescription}}</td>
                                    <td [ngStyle]="{'color': getColorCodeForHistory(i, 'partNumber', audit.partNumber)  ? 'black' : 'red'  }">{{audit.partNumber}}</td>
                                    <td [ngStyle]="{'color': getColorCodeForHistory(i, 'manufacturer', audit.manufacturer)  ? 'black' : 'red'  }">{{audit.manufacturer}}</td>
                                    <td [ngStyle]="{'color': getColorCodeForHistory(i, 'modelname', audit.modelname)  ? 'black' : 'red'  }">{{audit.modelname}}</td>
                                    <td [ngStyle]="{'color': getColorCodeForHistory(i, 'dashNumber', audit.dashNumber)  ? 'black' : 'red'  }">{{audit.dashNumber}}</td>
                                    <td [ngStyle]="{'color': getColorCodeForHistory(i, 'isActive', audit.isActive)  ? 'black' : 'red'  }">{{audit.isActive}}</td>
                                    <td>{{audit.updatedBy}}</td>
                                    <td>{{audit.updatedDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                                </tr>
                            </tbody>


                        </table>
                        <ng-template #noDatavailable>
                            <div class="text-center">
                                <!--<img src="../../assets/images/binoculars.png" style="height: 100px; width: 100px;">-->
                                <h4 style="color: #ff5663;">No History Found </h4>
                            </div>

                        </ng-template>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
