<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">Asset Management</li>
                        <li class="breadcrumb-item" aria-current="page">Asset Management Maintanance</li>
                        <li class="breadcrumb-item active" aria-current="page">Asset Status</li>
                    </ol>
                </nav>
                <h4 class="page-heading">Asset Status</h4>
                <div class="col-sm-12 form-bg">
                    <div class="form-group add-inputs">
                        <!--<form id="" name="" method="post">-->
                        <div class="form-group col-sm-4 w250">
                            <label class="control-label col-sm-4">ID<span class="clr-red">*</span></label>
                            <div class="col-sm-7 cust-name">
                                <div class="inner-addon right-addon w200 inline-block">
                                    <i class="fa fa-search"></i>
                                    <input type="text" [(ngModel)]="currentAssetStatus.identification" class="form-control ui-autocomplete-input" id="cmname" name="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 w250">
                            <label class="control-label col-sm-4">Name<span class="clr-red">*</span></label>
                            <div class="col-sm-7 cust-name">
                                <div class="inner-addon right-addon w200 inline-block">
                                    <i class="fa fa-search"></i>
                                    <input type="text" [(ngModel)]="currentAssetStatus.name" class="form-control ui-autocomplete-input" id="cmname" name="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 w250">
                            <label class="control-label col-sm-4">Memo<span class="clr-red">*</span></label>
                            <div class="col-sm-7">
                                <textarea class="form-control" [(ngModel)]="currentAssetStatus.memo"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <button type="button" id="btnFilterAssetStatus" name="" class="btn btn-warning" data-toggle="tooltip" data-original-title="Filter"><i class="fa fa-search"></i></button>
                            <button type="button" id="btnAddAssetStatus" (click)="addAssetStatus()" name="" class="btn btn-success nobg" data-toggle="tooltip" data-original-title="Add"><i class="fa fa-plus"></i></button>

                        </div>
                        <div class="excel-upload mtop0">
                            <input type="file" name="upload[]" multiple="" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            <label for="upload"> <span data-toggle="tooltip" title="" data-original-title="Excel Upload (table rows)"><i class="fa fa-file-excel-o"></i></span> </label>
                        </div>
                        <!--</form>-->
                    </div>
                    <!--Add claffication End -->
                    <!--Uplad Doc-->
                    <!--End-->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Memo</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let assetStatus of assetStatusList">
                                    <td>{{assetStatus.identification}}</td>
                                    <td>{{assetStatus.name}}</td>
                                    <td>{{assetStatus.memo}}</td>
                                    <td>
                                        <!--<div (click)="toggleIsActive(assetStatus.id)" data-toggle="tooltip" class="status" title="" data-placement="right" data-original-title="Active">-->
                                        <!--<div class="toggle btn btn-success" data-toggle="toggle" style="width: 30px; height: 19px;">
                                                <input type="checkbox" checked="" data-toggle="toggle" data-width="30" id="toggle-one" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="success" data-offstyle="danger">
                                                <div class="toggle-group">
                                                    <label class="btn btn-success toggle-on">
                                                        <i class="fa fa-check"></i>
                                                    </label>
                                                    <label class="btn btn-danger active toggle-off">
                                                        <i class="fa fa-times"></i>
                                                    </label>
                                                    <span class="toggle-handle btn btn-default"></span>
                                                </div>
                                            </div>
                                        </div>-->
                                        <p-inputSwitch *ngIf="assetStatus.isActive" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(assetStatus,$event)" [(ngModel)]="assetStatus.isActive"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="assetStatus.isActive == false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(assetStatus,$event)" [(ngModel)]="assetStatus.isActive"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="assetStatus.isActive == null" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(assetStatus,$event)" [(ngModel)]="assetStatus.isActive"></p-inputSwitch>
                                        <span (click)="setAssetStatusToUpdate(editAssetStatus,assetStatus.id)" data-toggle="modal" data-target="#edit">
                                            <a data-toggle="tooltip" title="" class="btn btn-primary nobg" data-original-title="" edit="">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </span>
                                        <span (click)="showAuditPopup(auditContent,assetStatus.id)" data-toggle="modal" data-target="#history">
                                            <a data-toggle="tooltip" title="" class="btn btn-success nobg" data-original-title="History">
                                                <i class="fa fa-history"></i>
                                            </a>
                                        </span>
                                        <span (click)="confirmDelete(content,assetStatus.id)" data-toggle="modal" data-target="#data">
                                            <a class="btn btn-danger nobg" data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <br>
                    <!--<div class="padding5">
                        <ul class="pagination">
                            <li class="arrows disabled"><a href="#"> <i class="fa fa-angle-left"></i> </a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="arrows"><a href="#"> <i class="fa fa-angle-right"></i> </a></li>
                        </ul>
                        <div class="pull-right"> © <span class="currentyear">2019</span> <a href="#">PAS</a> </div>
                    </div>-->
                </div>

            </div>
        </div>
    </div>

</div>

<ng-template #auditContent let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal">×</button>
            <h4 class="modal-title"> History of Asset Status</h4>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:30%;">Last Updated By</th>
                            <th style="width:35%;">Last Updated Time</th>
                            <th style="width:35%;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let audit of AuditDetails">
                            <td colspan="3" style="width:100%">
                                <table class="table table-bordered">

                                    <tr>
                                        <td style="width:30%;">{{audit.LastUpdatedBy}}</td>
                                        <td style="width:35%;">{{audit.LastUpdatedTime}}</td>
                                        <td style="width:35%;">
                                            <span>
                                                <a (click)="ToggleChangedPropertiesSection(audit)" class="sd-history-btn btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="View">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </span>
                                        </td>

                                    </tr>
                                    <tbody [hidden]="!audit.Visible">
                                        <tr style="height:5px;"><td colspan="3"></td></tr>
                                        <tr style="background:#007bff;">
                                            <th style="width:30%;color:white">Field Name</th>
                                            <th style="width:35%;color:white">New Value</th>
                                            <th style="width:35%;color:white">Old Value</th>
                                        </tr>
                                        <tr *ngFor="let auditChange of audit.AuditChanges" style="background:#ececec;">
                                            <td>{{auditChange.FieldFriendlyname}}</td>
                                            <td>{{auditChange.NewValue}}</td>
                                            <td>{{auditChange.OldValue}}</td>
                                        </tr>
                                        <tr style="height:5px;"><td colspan="3"></td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="dismissModel()" data-dismiss="modal">Close</button>
        </div>
    </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete Asset Status {{assetStatusToRemove.identification}}?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="removeAssetStatus()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>

</ng-template>

<ng-template #editAssetStatus let-c="close" let-d="dismiss">


    <div class="modal-content">
        <div class="modal-header">
            <button type="button" (click)="dismissModel()" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title"> Edit {{assetStatusToUpdate.identification}} Asset Status</h4>
        </div>
        <div class="modal-body">
            <p>
                <span class="col-sm-3"><b>ID: </b></span> <span class="col-sm-6">
                    <input type="text" [(ngModel)]="assetStatusToUpdate.identification" class="form-control">
                </span>
            </p>
            <hr>
            <p>
                <span class="col-sm-3"><b>Name: </b></span> <span class="col-sm-6">
                    <input type="text" [(ngModel)]="assetStatusToUpdate.name" class="form-control">
                </span>
            </p>
            <hr>
            <p>
                <span class="col-sm-3"><b>Memo: </b></span> <span class="col-sm-6">
                    <textarea [(ngModel)]="assetStatusToUpdate.memo" class="form-control"></textarea>
                </span>
            </p>
            <hr>
            <p><span class="col-sm-3"><b>Created by: </b></span> <span class="col-sm-9">{{assetStatusToUpdate.createdBy}}</span></p>
            <hr>
            <p><span class="col-sm-3"><b>Last update by: </b></span> <span class="col-sm-9">{{assetStatusToUpdate.updatedBy}}</span></p>
            <hr>
            <p><span class="col-sm-3"><b>Created Time: </b></span> <span class="col-sm-9">{{assetStatusToUpdate.createdDate}}</span></p>
            <hr>
            <p><span class="col-sm-3"><b>Last Updated: </b></span> <span class="col-sm-9">{{assetStatusToUpdate.updatedDate}}</span></p>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="updateAssetStatus()" class="btn btn-success" data-dismiss="modal">Update</button>
            <button type="button" class="btn btn-danger" (click)="dismissModel()" data-dismiss="modal">Close</button>
        </div>
    </div>

</ng-template>

<p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
          [width]="350" [minWidth]="200" [responsive]="true"
          [minY]="1050" [baseZIndex]="1100000">
    <h5 [ngStyle]="{'color':'red'}">
        Please Enter (*) Mandatory Fields
    </h5>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
    </p-footer>

</p-dialog>