
<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">Accounting</li>
                        <li class="breadcrumb-item" aria-current="page">General Ledger</li>
                        <li class="breadcrumb-item active" aria-current="page">Nodes</li>
                    </ol>
                </nav>
                <h4 class="page-heading clr-green">Nodes</h4>
               
                <div class="table-responsive">
                    <br />
                    <a    class="btn btn-success pull-right" (click)="open(contentEdit)">Add Node</a>
                    <br />
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Ledgere Name</th>
                                <th>Share with the Other Entities</th>
                                <th>Node Code</th>
                                <th>Node Name</th>
                                <th>Description</th>
                                <th>Leaf Node</th>
                                <th>Node Type</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nodeSetup of nodeSetupListData">
                                <td>{{nodeSetup.ledgerName}}</td>
                                <td>{{nodeSetup.comapnycodes}}</td>
                                <td>{{nodeSetup.nodeCode}}</td>
                                <td>{{nodeSetup.nodeName}}</td>
                                <td>{{nodeSetup.description}}</td>
                                <td>{{nodeSetup.leafNodeCheck}}</td>
                                <td>{{nodeSetup.fsType}}</td>
                                <td>
                                    <p-inputSwitch *ngIf="nodeSetup['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(nodeSetup,$event)" [(ngModel)]="nodeSetup['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="nodeSetup['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(nodeSetup,$event)" [(ngModel)]="nodeSetup['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="nodeSetup['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(nodeSetup,$event)" [(ngModel)]="nodeSetup['isActive']"></p-inputSwitch>

                                    <span (click)="setNodeSetupToUpdate(nodeSetup.glAccountNodeId,contentEdit)" data-toggle="modal" data-target="#edit">
                                        <a data-toggle="tooltip" title="" class="btn btn-primary nobg" data-original-title="" edit="">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </span>
                                    <span data-toggle="modal" data-target="#history">
                                        <a data-toggle="tooltip" title="" class="btn btn-success nobg" data-original-title="History">
                                            <i class="fa fa-history"></i>
                                        </a>
                                    </span>
                                    <span (click)="removeNodeSetup(nodeSetup.glAccountNodeId)" data-toggle="modal" data-target="#data">
                                        <a class="btn btn-danger nobg" data-toggle="tooltip" title="" data-original-title="Delete">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete ?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteItemAndCloseModel()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>

<ng-template #contentEdit let-c="close" let-d="dismiss" style="width:auto">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isEditMode">Edit Nodes</h4>
        <h4 class="modal-title" *ngIf="!isEditMode">Add Nodes</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #userForm="ngForm" class="form-horizontal">
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Ledger Name</label>
                <div class="col-sm-7">
                    <select [(ngModel)]="currentNodeSetup.ledgerName" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let company of maincompanylist" [ngValue]="company.code">{{company.code}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Share with the Other Entities</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <p-multiSelect [options]="mainCompanylistMultiSelectData" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentNodeSetup.selectedCompanysData" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Node Code <span class="clr-red">*</span> </label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" [(ngModel)]="currentNodeSetup.nodeCode" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Node Name</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" [(ngModel)]="currentNodeSetup.nodeName" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Parent Node<span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <select [(ngModel)]="currentNodeSetup.parentNodeId" [ngModelOptions]="{standalone: true}">
                        <option value="totalRevenue">Total Revenue</option>
                        <option value="revenue">Revenue (Excl Interco)</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Leaf Node</label>
                <div class="col-sm-7">
                    <input class="form-control" type="checkbox" [(ngModel)]="currentNodeSetup.leafNodeCheck" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Node Type<span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <select [(ngModel)]="currentNodeSetup.glAccountTypeId" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let glAccountClass of allGLAccountClassData" [ngValue]="glAccountClass.glAccountClassId">{{glAccountClass.glAccountClassName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">F/S Type<span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <select [(ngModel)]="currentNodeSetup.fsType" [ngModelOptions]="{standalone: true}">
                        <option value="incomeStatement">Income Statement</option>
                        <option value="balanceSheet">Balance Sheet</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <label for="description" class="control-label">Node Description</label>
                </div>
                <div class="control-data">
                    <textarea style="width: 300px;height: 100px;" [(ngModel)]="currentNodeSetup.description" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success pull-right submit-btn" *ngIf="!this.updateMode" (click)="addNodeSetup()">Save</button>
                <button class="btn btn-success pull-right submit-btn" *ngIf="this.updateMode" (click)="updateNodeSetup()">Update</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #contentHist let-c="close" let-d="dismiss" style="width:auto">
    <div class="modal-header">
        <h4 class="modal-title">History of Action</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Field Name</th>
                        <th>Value After</th>
                        <th>Value Before</th>
                    </tr>
                </thead>
                <tr *ngFor="let audit of auditHisory">
                    <td>{{audit.columnName}}</td>
                    <td>{{audit.newValue}}</td>
                    <td>{{audit.previousValue}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dismissModel()">Close</button>
    </div>
</ng-template>


<ng-template #view class="modal fade " id="view" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
            <h4 class="modal-title">Action Details</h4>
        </div>
        <div class="modal-body viewform">
            <p><span class="label"><b>Action Name: </b></span><span class="value">{{action_name}}</span></p>
            <p><span class="label"><b>Memo: </b></span><span class="value">{{memo}}</span></p>
            <p><span class="label"><b>Created By: </b></span><span class="value">{{createdBy}}</span></p>
            <p><span class="label"><b>Created Date: </b></span><span class="value">{{createddate | date: 'MM/dd/yyyy'}}</span></p>
            <p><span class="label"><b>Updated By: </b></span><span class="value">{{updatedBy}}</span></p>
            <p><span class="label"><b>Updated Date: </b></span><span class="value">{{updatedDate | date: 'MM/dd/yyyy'}}</span></p>
            <div class="clear"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
        </div>
    </div>
</ng-template>

<p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
          [width]="350" [minWidth]="200" [responsive]="true"
          [minY]="1050" [baseZIndex]="1100000">
    <h5 [ngStyle]="{'color':'red'}">
        Please Enter (*) Mandatory Fields
    </h5>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
    </p-footer>

</p-dialog>


