<!-- Edit  -->
<div *ngIf="
    isEdit &&
    editWorkOrderGeneralInformation &&
    workOrderTypes &&
    workOrderStatusList &&
    creditTerms &&
    employeesOriginalData &&
    workScopesList &&
    workOrderStagesList &&
    priorityList &&
    partNumberOriginalData &&
    legalEntityList &&
    conditionList &&
    workOrderOriginalStageList && jobTitles   && salesPersonOriginalList && csrOriginalList
  ">
  <app-work-order-add [isSubWorkOrder]="isSubWorkOrder" [subWorkOrderDetails]="paramsData" [isEdit]="isEdit"
    [workOrderTypes]="workOrderTypes" [workOrderStatusList]="workOrderStatusList" [creditTerms]="creditTerms"
    [jobTitles]="jobTitles" [employeesOriginalData]="employeesOriginalData"
    [salesPersonOriginalList]="salesPersonOriginalList" [csrOriginalList]="csrOriginalList"
    [workScopesList]="workScopesList" [workOrderStagesList]="workOrderStagesList"
    [workOrderOriginalStageList]="workOrderOriginalStageList" [priorityList]="priorityList"
    [currencyList]="currencyList" [partNumberOriginalData]="partNumberOriginalData" [legalEntityList]="legalEntityList"
    [conditionList]="conditionList" [workOrderGeneralInformation]="editWorkOrderGeneralInformation">
  </app-work-order-add>
</div>
<div *ngIf="
    !(
      isEdit &&
      workOrderTypes &&
      workOrderStatusList &&
      creditTerms &&
      employeesOriginalData &&
      workScopesList &&
      workOrderStagesList &&
      workOrderOriginalStageList &&
      priorityList &&
      partNumberOriginalData &&
      legalEntityList &&
      conditionList && jobTitles && salesPersonOriginalList && csrOriginalList
    )
  ">
  <!-- using add form as subworkOrder also -->
  <app-work-order-add [isSubWorkOrder]="isSubWorkOrder" [subWorkOrderDetails]="paramsData"
    [workOrderId]="subWorkOrderId" [workFlowWorkOrderId]="workFlowWorkOrderId" [showTabsGrid]="showTabsGrid"
    [showGridMenu]="showGridMenu" [workOrderTypes]="workOrderTypes" [workOrderStatusList]="workOrderStatusList"
    [creditTerms]="creditTerms" [jobTitles]="jobTitles" [currencyList]="currencyList"
    [employeesOriginalData]="employeesOriginalData" [salesPersonOriginalList]="salesPersonOriginalList"
    [csrOriginalList]="csrOriginalList" [workScopesList]="workScopesList" [workOrderStagesList]="workOrderStagesList"
    [workOrderOriginalStageList]="workOrderOriginalStageList" [priorityList]="priorityList"
    [partNumberOriginalData]="partNumberOriginalData" [legalEntityList]="legalEntityList"
    [conditionList]="conditionList" [workOrderGeneralInformation]="workOrderGeneralInformation">
  </app-work-order-add>
</div>