<!-- Edit  -->
<div
  *ngIf="
    isEdit &&
    editWorkOrderGeneralInformation &&
    workOrderTypes &&
    workOrderStatusList &&
    creditTerms &&
    employeesOriginalData &&
    workScopesList &&
    workOrderStagesList &&
    priorityList &&
    partNumberOriginalData
  "
>
  <app-work-order-add
    [isSubWorkOrder]="isSubWorkOrder"
    [subWorkOrderDetails]="paramsData"
    [isEdit]="isEdit"
    [workOrderTypes]="workOrderTypes"
    [workOrderStatusList]="workOrderStatusList"
    [creditTerms]="creditTerms"
    [employeesOriginalData]="employeesOriginalData"
    [workScopesList]="workScopesList"
    [workOrderStagesList]="workOrderStagesList"
    [priorityList]="priorityList"
    [currencyList]="currencyList"
    [partNumberOriginalData]="partNumberOriginalData"
    [workOrderGeneralInformation]="editWorkOrderGeneralInformation"
  ></app-work-order-add>
</div>
<div
  *ngIf="
    !(
      isEdit &&
      workOrderTypes &&
      workOrderStatusList &&
      creditTerms &&
      employeesOriginalData &&
      workScopesList &&
      workOrderStagesList &&
      priorityList &&
      partNumberOriginalData
    )
  "
>
  <app-work-order-add
    [isSubWorkOrder]="isSubWorkOrder"
    [subWorkOrderDetails]="paramsData"
    [workOrderId]="subWorkOrderId"
    [showTabsGrid]="showTabsGrid"
    [workOrderTypes]="workOrderTypes"
    [workOrderStatusList]="workOrderStatusList"
    [creditTerms]="creditTerms"
    [currencyList]="currencyList"
    [employeesOriginalData]="employeesOriginalData"
    [workScopesList]="workScopesList"
    [workOrderStagesList]="workOrderStagesList"
    [priorityList]="priorityList"
    [partNumberOriginalData]="partNumberOriginalData"
    [workOrderGeneralInformation]="workOrderGeneralInformation"
  ></app-work-order-add>
</div>
