<!-- Edit  -->
<div *ngIf="
    isEdit &&
    editWorkOrderGeneralInformation &&
    workOrderTypes &&
    workOrderStatusList &&
    creditTerms &&
    employeesOriginalData &&
    workScopesList &&
    workOrderStagesList &&
    priorityList &&
    partNumberOriginalData &&
    legalEntityList &&
    conditionList &&
    workOrderOriginalStageList
  ">
    <app-work-order-add [isSubWorkOrder]="isSubWorkOrder"
                        [subWorkOrderDetails]="paramsData"
                        [isEdit]="isEdit"
                        [workOrderTypes]="workOrderTypes"
                        [workOrderStatusList]="workOrderStatusList"
                        [creditTerms]="creditTerms"
                        [employeesOriginalData]="employeesOriginalData"
                        [workScopesList]="workScopesList"
                        [workOrderStagesList]="workOrderStagesList"
                        [workOrderOriginalStageList]="workOrderOriginalStageList"
                        [priorityList]="priorityList"
                        [currencyList]="currencyList"
                        [partNumberOriginalData]="partNumberOriginalData"
                        [legalEntityList]="legalEntityList"
                        [conditionList]="conditionList"
                        [workOrderGeneralInformation]="editWorkOrderGeneralInformation"></app-work-order-add>
</div>
<div *ngIf="
    !(
      isEdit &&
      workOrderTypes &&
      workOrderStatusList &&
      creditTerms &&
      employeesOriginalData &&
      workScopesList &&
      workOrderStagesList &&
      workOrderOriginalStageList &&
      priorityList &&
      partNumberOriginalData &&
      legalEntityList &&
      conditionList
    )
  ">
    <!-- using add form as subworkOrder also -->
    <app-work-order-add [isSubWorkOrder]="isSubWorkOrder"
                        [subWorkOrderDetails]="paramsData"
                        [workOrderId]="subWorkOrderId"
                        [workFlowWorkOrderId]="workFlowWorkOrderId"
                        [showTabsGrid]="showTabsGrid"
                        [showGridMenu]="showGridMenu"
                        [workOrderTypes]="workOrderTypes"
                        [workOrderStatusList]="workOrderStatusList"
                        [creditTerms]="creditTerms"
                        [currencyList]="currencyList"
                        [employeesOriginalData]="employeesOriginalData"
                        [workScopesList]="workScopesList"
                        [workOrderStagesList]="workOrderStagesList"
                        [workOrderOriginalStageList]="workOrderOriginalStageList"
                        [priorityList]="priorityList"
                        [partNumberOriginalData]="partNumberOriginalData"
                        [legalEntityList]="legalEntityList"
                        [conditionList]="conditionList"
                        [workOrderGeneralInformation]="workOrderGeneralInformation"></app-work-order-add>
</div>



