label {
  text-align: left;
  width: 100%;
}

.form-controls {
  margin-top: 10px;
}
.column {
  margin-left: 10px;
}

.column-seperator {
  margin-left: 20px;
}

.checkbox-custom-label {
  margin-left: 15px;
  margin-top: 10px;
}

button {
  border-radius: 5px;
}

:host ::ng-deep .ui-autocomplete {
  padding: 0px !important;
}
:host ::ng-deep .ui-autocomplete > input {
  border-radius: 5px !important;
  // padding: 12px 15px !important;
  padding: 0px 15px 0px 2px !important;
}
.statusChangeDate input{
  background-color: #e9ecef !important;
}
body .ui-state-disabled, body .ui-widget:disabled {
  opacity: 1 !important;
  background-color: #e9ecef !important;
}
