<div class="right_col" role="main">
  <div class="x_content">
    <div class="card">
      <div class="card-header">
        <nav aria-label="breadcrumb">
          <ol
            class="breadcrumb rpo-bcrumb"
            style="background-color: transparent;"
          >
            <li class="breadcrumb-item active" aria-current="page">
              Sales Order Quote
            </li>
            <li class="breadcrumb-item" aria-current="page">
              Create New SO Quote
            </li>
          </ol>
        </nav>
      </div>
      <div class="form-controls">
        <form #newSalesQuoteForm="ngForm" class="form-horizontal">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="col-md-2 column">
              <div class="form-group">
                <label>Quote Type <span class="clr-red">*</span></label>
                <select
                  name="quoteType"
                  [(ngModel)]="salesQuote.quoteTypeId"
                  required
                >
                  <option
                    *ngFor="let type of salesQuote.salesQuoteTypes"
                    [value]="type.id"
                    >{{ type.name }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label>Open Date<span class="clr-red">*</span></label>
                <p-calendar
                  name="openDate"
                  [(ngModel)]="salesQuote.openDate"
                  [showIcon]="true"
                ></p-calendar>
              </div>
              <div class="form-group">
                <label>Cust Request Date<span class="clr-red">*</span></label>
                <p-calendar
                  name="customerRequestDate"
                  [(ngModel)]="salesQuote.customerRequestDate"
                  [showIcon]="true"
                ></p-calendar>
              </div>
              <div class="form-group">
                <label>Promised Date<span class="clr-red">*</span></label>
                <p-calendar
                  name="customerPromisedDate"
                  [(ngModel)]="salesQuote.customerPromisedDate"
                  [showIcon]="true"
                ></p-calendar>
              </div>
              <div class="form-group">
                <label>Estimated Ship Date<span class="clr-red">*</span></label>
                <p-calendar
                  name="estimatedShipDate"
                  [(ngModel)]="salesQuote.estimatedShipDate"
                  [showIcon]="true"
                ></p-calendar>
              </div>
              <div class="form-group">
                <label>Valid For (Days)<span class="clr-red">*</span></label>
                <input
                  type="text"
                  pInputText
                  name="validForDays"
                  [(ngModel)]="salesQuote.validForDays"
                />
              </div>
              <div class="form-group">
                <label>Quote Exp Date<span class="clr-red">*</span></label>
                <p-calendar
                  name="quoteExpiryDate"
                  [(ngModel)]="salesQuote.quoteExpiryDate"
                  [showIcon]="true"
                ></p-calendar>
              </div>
              <div class="form-group">
                <label>Priority<span class="clr-red">*</span></label>
                <select
                  name="priority"
                  [(ngModel)]="salesQuote.priorityId"
                  required
                >
                  <option
                    *ngFor="let p of salesQuote.priorities"
                    [value]="p.priorityId"
                    >{{ p.description }}</option
                  >
                </select>
              </div>
            </div>
            <div class="col-md-2 column-seperator">
              <div class="form-group">
                <label>Account Type <span class="clr-red">*</span></label>
                <select name="quoteType" required>
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <label>Customer Name<span class="clr-red">*</span></label>
                <input type="text" pInputText />
              </div>
              <div class="form-group">
                <label>Customer Code<span class="clr-red">*</span></label>
                <input type="text" pInputText />
              </div>
              <div class="form-group">
                <label>Customer Contact<span class="clr-red">*</span></label>
                <input type="text" pInputText />
              </div>
              <div class="form-group">
                <label>Customer Ref<span class="clr-red">*</span></label>
                <input type="text" pInputText />
              </div>
              <div class="form-group">
                <label>Contract Ref<span class="clr-red">*</span></label>
                <input type="text" pInputText />
              </div>
              <div class="form-group">
                <label>Sales Person<span class="clr-red">*</span></label>
                <input type="text" pInputText />
              </div>
              <div class="form-group">
                <label>Agent<span class="clr-red">*</span></label>
                <input type="text" pInputText />
              </div>
            </div>
            <div class="col-md-2 column column-seperator">
              <div class="form-group">
                <label
                  >Customer Service Rep <span class="clr-red">*</span></label
                >
                <input type="text" pInputText />
              </div>
              <div class="form-group">
                <label>Probibility <span class="clr-red">*</span></label>
                <select
                  name="probability"
                  [(ngModel)]="salesQuote.probabilityId"
                  required
                >
                  <option
                    *ngFor="let p of salesQuote.salesProbablity"
                    [value]="p.id"
                    >{{ p.value }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label>Lead Source <span class="clr-red">*</span></label>
                <select
                  name="leadSource"
                  [(ngModel)]="salesQuote.leadSourceId"
                  required
                >
                  <option
                    *ngFor="let ls of salesQuote.leadSources"
                    [value]="ls.id"
                    >{{ ls.name }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label
                  >Credit Limit &amp; terms<span class="clr-red">*</span></label
                >
                <div class="col-md-5">
                  <input type="text" pInputText />
                </div>
                <div class="col-md-7">
                  <select
                    name="quoteType"
                    [(ngModel)]="salesQuote.creditLimitTermsId"
                    required
                  >
                    <option
                      *ngFor="let ct of salesQuote.creditTerms"
                      [value]="ct.id"
                      >{{ ct.name }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group" style="margin-top: 5px;">
                <p-checkbox
                  name="restrictPMA"
                  [(ngModel)]="salesQuote.restrictPMA"
                  binary="true"
                  label="Restrit PMA"
                ></p-checkbox>
              </div>
              <div class="form-group" style="margin-top: 5px;">
                <p-checkbox
                  name="restrictDER"
                  [(ngModel)]="salesQuote.restrictDER"
                  binary="true"
                  label="Restrit DER"
                ></p-checkbox>
              </div>
            </div>
            <div class="col-md-2 column column-seperator">
              <div class="form-group">
                <label>Quote Approved By <span class="clr-red">*</span></label>
                <select name="quoteType" required>
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <label>Approved Date<span class="clr-red">*</span></label>
                <p-calendar
                  name="approvedDate"
                  [(ngModel)]="salesQuote.approvedDate"
                  [showIcon]="true"
                ></p-calendar>
              </div>
              <div class="form-group">
                <label>Currency <span class="clr-red">*</span></label>
                <select name="quoteType" required>
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <label>Warnings <span class="clr-red">*</span></label>
                <select name="quoteType" required>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer" style="text-align: right;">
        <button type="button" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</div>
