<div [@fadeInOut] class="page-content">
	<div class="right_col" role="main">
		<div class="x_panel">
			<div class="x_content">

				<h4 class="page-heading clr-green">Stockline Adjustment</h4>
				<span class="help-icon"  data-original-title="Help" data-toggle="tooltip"><i class="fa fa-info" data-toggle="modal" data-target="#help-popup"></i></span>
				<div class="tab-pane active" id="home">
					<span><b class="clr-red">PN:</b> {{sourceStockLineSetup.partNumber}}</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span><b class="clr-red">PN Description:</b> {{sourceStockLineSetup.partDescription}}</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span><b class="clr-red">SL#:</b> {{sourceStockLineSetup.stockLineNumber}}</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span><b class="clr-red">Is Serialized:</b>{{sourceStockLineSetup.isSerialized}}</span>
					<div class="table-responsive mtop10" id="smovement">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th></th>
									<th>FIELD NAME</th>
									<th>EXISTING VALUE</th>
									<th>CHANGED TO</th>
									<th>ADJUSTMENT REASON</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="5" class="text-center bg-blue"><strong>ORGANIZATION</strong></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="comapnyAllow" (change)="isCompanyEnable(comapnyAllow ?'A':'B')"></td>
									<td>Management Structure</td>
									<td>
										<select [(ngModel)]="sourceStockLineSetup.companyId" [disabled]=true [ngModelOptions]="{standalone: true}">
											<option *ngFor="let ataName of allManagemtninfo" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
										</select>
									</td>
									<td>
										<div *ngIf="showCompany" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.comId" [ngModelOptions]="{standalone: true}" (change)="getComtoBusList(22,sourceStockLineSetup.comId,sourceStockLineSetup.ManagementStructureReason)">
												<option *ngFor="let ataName of maincompanylist" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
											</select>
										</div>
										<div *ngIf="hideCompany" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>A4</option>
												<option>B4</option>
												<option>C4</option>
											</select>
										</div>
									</td>
									<td>
										<textarea *ngIf="showCompany" style="height: 80px; display: inline-block;" class="editable-field" [(ngModel)]="sourceStockLineSetup.ManagementStructureReason" (change)="getBUList(22,sourceStockLineSetup.managementStructureEntityId,sourceStockLineSetup.ManagementStructureReason)" [ngModelOptions]="{standalone: true}"></textarea>
										<textarea *ngIf="hideCompany" style="height: 80px; display: none;" class="editable-field"></textarea>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="businessAllow" (change)="isBusinessEnable(businessAllow ?'A':'B')"></td>
									<td></td>
									<td>
										<select [(ngModel)]="sourceStockLineSetup.businessUnitId" [disabled]=true [ngModelOptions]="{standalone: true}" >
											<option *ngFor="let ataName of allManagemtninfo" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
										</select>
									</td>
									<td>
										<div *ngIf="showBusiness" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.buId" [ngModelOptions]="{standalone: true}" (change)="getBustoDepList(22,sourceStockLineSetup.buId,sourceStockLineSetup.ManagementStructureReason)">
												<option *ngFor="let ataName of bulist" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
											</select>
										</div>
										<div *ngIf="hideBusiness" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>A4</option>
												<option>B4</option>
												<option>C4</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="departmentAllow" (change)="isDepartmentEnable(departmentAllow ?'A':'B')"></td>
									<td></td>
									<td>
										
											<select [(ngModel)]="sourceStockLineSetup.departmentId" [disabled]=true [ngModelOptions]="{standalone: true}">
												<option *ngFor="let ataName of allManagemtninfo " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
											</select>
										
									</td>
									<td>
										<div *ngIf="showDepartment" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.deId" [ngModelOptions]="{standalone: true}" (change)="getDepoDivList(22,sourceStockLineSetup.deId,sourceStockLineSetup.ManagementStructureReason)">
												<option *ngFor="let ataName of departmentList " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
											</select>
										</div>
										<div *ngIf="hideDepartment" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>A4</option>
												<option>B4</option>
												<option>C4</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="divisionAllow" (change)="isDivisionEnable(divisionAllow ?'A':'B')"></td>
									<td></td>
									<td>
										<select [(ngModel)]="sourceStockLineSetup.divisionId" [disabled]=true [ngModelOptions]="{standalone: true}" >
											<option *ngFor="let ataName of allManagemtninfo " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
										</select>
									</td>
									<td>
										<div *ngIf="showDivision" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.managementStructureEntityId" [ngModelOptions]="{standalone: true}" (change)="getDivFinalList(22,sourceStockLineSetup.managementStructureEntityId,sourceStockLineSetup.ManagementStructureReason)">
												<option *ngFor="let ataName of divisionlist " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
											</select>
										</div>
										<div *ngIf="hideDivision" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>A4</option>
												<option>B4</option>
												<option>C4</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="5">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="5" class="text-center bg-blue"><strong>INVENTORY</strong></td>
								</tr>

								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="siteAllow" (change)="isSiteEnable(siteAllow ?'A':'B')"></td>
									<td>Site</td>
									<td>{{sourceStockLineSetup.Beforesite}}</td>
									<td>
										<div *ngIf="showSite" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.AftersiteId" [ngModelOptions]="{standalone: true}" (change)="siteValueChange(10,sourceStockLineSetup.Beforesite,sourceStockLineSetup.AftersiteId,sourceStockLineSetup.siteAdjustmentReason)">
												<option *ngFor="let site of allSites" [ngValue]="site.siteId">{{site.name}}</option>
											</select>
											<a routerLink="/singlepages/singlepages/app-site" class="add-icon"><i class="fa fa-plus"></i></a>
										</div>
										<div *ngIf="hideSite" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>A4</option>
												<option>B4</option>
												<option>C4</option>
											</select>
										</div>
									</td>
									<td>
										<textarea *ngIf="showSite" style="height: 80px; display: inline-block;" class="editable-field" [(ngModel)]="sourceStockLineSetup.siteAdjustmentReason" [ngModelOptions]="{standalone: true}"></textarea>
										<textarea *ngIf="hideSite" style="height: 80px; display: none;" class="editable-field"></textarea>
									</td>
								</tr>
								<!-- WareHouse Start -->
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="warehouseAllow" (change)="iswarehouseEnable(warehouseAllow ?'A':'B')"></td>
									<td>Warehouse</td>
									<td>{{sourceStockLineSetup.Beforewarehouse}}</td>
									<td>
										<div *ngIf="showWarehouse" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.AfterwarehouseId" [ngModelOptions]="{standalone: true}" (change)="wareHouseValueChange(13,sourceStockLineSetup.Beforewarehouse,sourceStockLineSetup.AfterwarehouseId,sourceStockLineSetup.warehouseAdjustmentReason)">
												<option *ngFor="let site of allWareHouses" [ngValue]="site.warehouseId">{{site.warehouseName}}</option><!--(onchange)="siteValueChange(site.siteName)"-->

											</select>
											<a routerLink="/singlepages/singlepages/app-warehouse" class="add-icon"><i class="fa fa-plus"></i></a>
										</div>
										<div *ngIf="hideWarehouse" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>A4</option>
												<option>B4</option>
												<option>C4</option>
											</select>
										</div>
									</td>
								</tr>
								<!-- LOcation Start -->
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="locationAllow" (change)="isLocationEnable(locationAllow ?'A':'B')"></td>
									<td>Location</td>
									<td>{{sourceStockLineSetup.Beforelocation}}</td>
									<td>
										<div *ngIf="showLocation" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.afterlocationId" [ngModelOptions]="{standalone: true}" (change)="locationValueChange(17,sourceStockLineSetup.Beforelocation,sourceStockLineSetup.afterlocationId,sourceStockLineSetup.locationAdjustmentReason)">
												<option *ngFor="let site of allLocations" [ngValue]="site.locationId">{{site.name}}</option>
											</select>
											<a routerLink="/singlepages/singlepages/app-location" class="add-icon"><i class="fa fa-plus"></i></a>
										</div>
										<div *ngIf="hideLocation" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>A4</option>
												<option>B4</option>
												<option>C4</option>
											</select>
										</div>
									</td>
								</tr>
								<!-- Shelf Start -->
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="shelfAllow" (change)="isShelfEnable(shelfAllow ?'A':'B')"></td>
									<td>Shelf</td>
									<td>{{sourceStockLineSetup.Beforeshelf}}</td>
									<td>
										<div *ngIf="showShelf" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.aftershelfId" [ngModelOptions]="{standalone: true}" (change)="shelfValueChange(9,sourceStockLineSetup.Beforeshelf,sourceStockLineSetup.aftershelfId,sourceStockLineSetup.shelfAdjustmentReason)">
												<option *ngFor="let site of allShelfs" [ngValue]="site.shelfId">{{site.name}}</option><!--(onchange)="siteValueChange(site.siteName)"-->
											</select>
											<a routerLink="/singlepages/singlepages/app-shelf" class="add-icon"><i class="fa fa-plus"></i></a>
										</div>
										<div *ngIf="hideShelf" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>23145</option>
												<option>23146</option>
												<option>23147</option>
											</select>
										</div>
									</td>
								</tr>
								<!-- Bin Start -->
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="binAllow" (change)="isBinEnable(binAllow ?'A':'B')"></td>
									<td>Bin</td>
									<td>{{sourceStockLineSetup.Beforebin}}</td>
									<td>
										<div *ngIf="showBin" class="inner-addon col-sm-7 inline-block display-flex" style="display: table;">
											<select [(ngModel)]="sourceStockLineSetup.afterbinId" [ngModelOptions]="{standalone: true}" (change)="binValueSelect(16,sourceStockLineSetup.Beforebin,sourceStockLineSetup.afterbinId,sourceStockLineSetup.BinAdjustmentReason)">
												<option *ngFor="let site of allBins" [ngValue]="site.binId">{{site.name}}</option><!--(onchange)="siteValueChange(site.siteName)"-->
											</select>
											<a routerLink="/singlepages/singlepages/app-bin" class="add-icon"><i class="fa fa-plus"></i></a>
										</div>
										<div *ngIf="hideBin" class="input-group editable-field" style="display: none;">
											<select class="w100">
												<option>A4</option>
												<option>B4</option>
												<option>C4</option>
											</select>
										</div>
									</td>
								</tr>

								<!-- Category Start -->
								<tr>
									<td colspan="5">&nbsp;</td>
								</tr>

                                <tr>
                                    <td>Category</td>
                                    <td>Category</td>
                                    <td>
                                        <div *ngIf="sourceStockLineSetup.itemTypeId==0"></div>
                                        <div *ngIf="sourceStockLineSetup.itemTypeId==1">
                                            Stock
                                        </div>
                                        <div *ngIf="sourceStockLineSetup.itemTypeId==2">non-Stock</div>
                                        <div *ngIf="sourceStockLineSetup.itemTypeId==3">Equipment</div>
                                    </td>
                                    <td *ngIf="hideCategory"><textarea style="height: 80px; display: none;" class="editable-field"></textarea></td>
                                    <td *ngIf="showCategory">
                                        <select class="w100 editable-field" style="display: inline-block;" [(ngModel)]="sourceStockLineSetup.afterItemTypeId" (change)="categoryChange(18,sourceStockLineSetup.itemTypeId,sourceStockLineSetup.afterItemTypeId,sourceStockLineSetup.StockAdjustmentReason)" [ngModelOptions]="{standalone: true}">
                                            <option value="1">Stock</option>
                                            <option value="2">Non-Stock</option>
                                            <option value="3">Equipment</option>
                                            <option value="4">Exchange</option>
                                            <option value="5">Loan</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showCategory"><textarea style="height: 80px; display: inline-block;" class="editable-field" [(ngModel)]="sourceStockLineSetup.StockAdjustmentReason" (change)="categoryChange(18,sourceStockLineSetup.itemTypeId,sourceStockLineSetup.afterItemTypeId,sourceStockLineSetup.StockAdjustmentReason)" [ngModelOptions]="{standalone: true}"></textarea></td>
                                </tr>

								<!-- Part Number Start -->
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="partAllow" (change)="isPartEnable(partAllow ?'A':'B')"></td>
									<td>Part Number</td>
									<td>{{sourceStockLineSetup.BeforepartNumber}}</td>
									<td>
										<div *ngIf="hidePart" class="editable-field" style="display: none;">
											<div class="inner-addon right-addon autosuggesions-add " style="display: inline-block">
												<i class="fa fa-search"></i>
												<input type="text" class="form-control numberids ui-autocomplete-input" name="PN" placeholder="" autocomplete="off">
												<a routerLink="/itemmastersmodule/itemmasterpages/app-item-master-stock" class="add-icon"><i class="fa fa-plus"></i></a>
											</div>
										</div>
										<div *ngIf="showPart">
                                            <div class="col-sm-7">
                                                <div class="inner-addon right-addon inline-block">
                                                    <p-autoComplete [(ngModel)]="sourceStockLineSetup.AfterpartNumber" (onKeyUp)=eventHandler($event) (onSelect)="partnmId($event,5,sourceStockLineSetup.BeforepartNumber,sourceStockLineSetup.AfterpartNumber,sourceStockLineSetup.PartAdjustmentReason)" [ngModelOptions]="{standalone: true}" [suggestions]="partCollection" (completeMethod)="filterpartItems($event)" [size]="30"
                                                                    [minLength]="1" [dropdown]="true">
                                                        <ng-template let-partName pTemplate="part">
                                                            <div class="ui-helper-clearfix">{{partName}}</div>
                                                        </ng-template>
                                                    </p-autoComplete>
                                                    <div *ngIf="disableSavepartNumber" style="color:red">Please select From DropDown</div>
                                                </div>
                                            </div>
											</div>
                                    </td>
									<td>
										<textarea *ngIf="hidePart" style="height: 80px; display: none;" class="editable-field"></textarea>
										<textarea *ngIf="showPart" (change)="partValueSelect(5,sourceStockLineSetup.BeforepartNumber,sourceStockLineSetup.afterpartNumber,sourceStockLineSetup.PartAdjustmentReason)" [(ngModel)]="sourceStockLineSetup.PartAdjustmentReason" [ngModelOptions]="{standalone: true}" style="height: 80px; display: inline-block;" class="editable-field"></textarea>
									</td>

								</tr>

								<!-- Serial Number Start -->

								<tr *ngIf="!hideSerialNumber">
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="serialAllow" (change)="isSerialEnable(serialAllow ?'A':'B')"></td>
									<td>Serial Number</td>
									<td>{{sourceStockLineSetup.BeforeserialNumber}}</td>
									<td>
										<input *ngIf="hideSerial" type="text" class="w100 form-control editable-field" style="display: none;">
										<input *ngIf="showSerial" [(ngModel)]="sourceStockLineSetup.AfterserialNumber" (keyup)="serialNumberValuechange(8,sourceStockLineSetup.BeforeserialNumber,sourceStockLineSetup.AfterserialNumber,sourceStockLineSetup.SerialNumberAdjustmentReason)" [ngModelOptions]="{standalone: true}" type="text" class="w100 form-control editable-field" placeholder="" style="display: inline-block;">
									</td>
									<td>
										<textarea *ngIf="hideSerial" style="height: 80px; display: none;" class="editable-field"></textarea>
										<textarea *ngIf="showSerial" [(ngModel)]="sourceStockLineSetup.SerialNumberAdjustmentReason" (change)="serialNumberValuechange(8,sourceStockLineSetup.BeforeserialNumber,sourceStockLineSetup.AfterserialNumber,sourceStockLineSetup.SerialNumberAdjustmentReason)" [ngModelOptions]="{standalone: true}" style="height: 80px; display: inline-block;" class="editable-field"></textarea>
									</td>

								</tr>

								<!-- Quantity Start -->
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="quantityAllow" (change)="isQuantityEnable(quantityAllow ?'A':'B')"></td>
									<td>Qty On Hand</td>
									<td>{{sourceStockLineSetup.Beforequantity}}</td>
									<td  *ngIf="hideQuantity"></td>
									<td *ngIf="hideQuantity"></td>
									<td *ngIf="showQuantity">
									<input *ngIf="!showFreeQuantity" [(ngModel)]="sourceStockLineSetup.Afterquantity" (change)="QuantityNumberValuechange(6,sourceStockLineSetup.Beforequantity,sourceStockLineSetup.Afterquantity,sourceStockLineSetup.QuantityAdjustmentReason)" (keyup)="QuantityNumberValuechange(6,sourceStockLineSetup.Beforequantity,sourceStockLineSetup.Afterquantity,sourceStockLineSetup.QuantityAdjustmentReason)" [ngModelOptions]="{standalone: true}" type="number" class="w100 form-control editable-field" min="0" max="1" >
									<input *ngIf="showFreeQuantity" [(ngModel)]="sourceStockLineSetup.Afterquantity" (change)="QuantityNumberValuechange(6,sourceStockLineSetup.Beforequantity,sourceStockLineSetup.Afterquantity,sourceStockLineSetup.QuantityAdjustmentReason)" (keyup)="QuantityNumberValuechange(6,sourceStockLineSetup.Beforequantity,sourceStockLineSetup.Afterquantity,sourceStockLineSetup.QuantityAdjustmentReason)" [ngModelOptions]="{standalone: true}" type="number" class="w100 form-control editable-field" min="0" >

									</td>
									<td *ngIf="showQuantity"><textarea [(ngModel)]="sourceStockLineSetup.QuantityAdjustmentReason" (change)="QuantityNumberValuechange(6,sourceStockLineSetup.Beforequantity,sourceStockLineSetup.Afterquantity,sourceStockLineSetup.QuantityAdjustmentReason)" [ngModelOptions]="{standalone: true}" style="height: 80px;" class="editable-field"></textarea></td>
								</tr>
								<tr>
									<td colspan="5">&nbsp;</td>
								</tr>
								<!-- Unit Cost Start -->
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="unitAllow" (change)="isUnitEnable(unitAllow ?'A':'B')"></td>
									<td>Unit Cost</td>
									<td>{{sourceStockLineSetup.BeforecoreUnitCost}}</td>
									<td *ngIf="hideUnit"><input type="text" class="w100 form-control editable-field" style="display: none;"></td>
									<td *ngIf="hideUnit"><textarea style="height: 80px; display: none;" class="editable-field"></textarea></td>
									<td *ngIf="showUnit">
										<select [(ngModel)]="sourceStockLineSetup.unitCostAdjustmentReasonTypeId" [ngModelOptions]="{standalone: true}" (change)="unitCostAdjustmentType(sourceStockLineSetup.unitCostAdjustmentReasonTypeId)" [value]='select'>
											<option value='select'>Select</option>
											<option *ngFor="let adjustmentReason of allAdjustmentReasons" [ngValue]="adjustmentReason.adjustmentReasonId">{{adjustmentReason.description}}</option>
										</select>
										<a routerLink="/singlepages/singlepages/app-adjustment-reason" class="add-icon"><i class="fa fa-plus"></i></a>
										<input type="number" [(ngModel)]="sourceStockLineSetup.AfterUnitCost" (keyup)="UnitCostNumberValuechange(11,sourceStockLineSetup.BeforecoreUnitCost,sourceStockLineSetup.AfterUnitCost,sourceStockLineSetup.UnitCostAdjustmentReason)" [ngModelOptions]="{standalone: true}" class="w100 form-control editable-field" style="display: inline-block;">
									</td>
									<td *ngIf="showUnit">
										<textarea *ngIf="showUnitDiscountSalePrice" placeholder="Discount Saleprice *" [(ngModel)]="sourceStockLineSetup.UnitCostAdjustmentReason" (change)="UnitCostNumberValuechange1(11,sourceStockLineSetup.BeforecoreUnitCost,sourceStockLineSetup.AfterUnitCost,sourceStockLineSetup.UnitCostAdjustmentReason)" [ngModelOptions]="{standalone: true}" style="height: 80px; display: inline-block;" class="editable-field"></textarea>
										<textarea *ngIf="showUnitRevalueStockCost" placeholder="Revalue StockCost *" [(ngModel)]="sourceStockLineSetup.UnitCostAdjustmentReason" (change)="UnitCostNumberValuechange1(11,sourceStockLineSetup.BeforecoreUnitCost,sourceStockLineSetup.AfterUnitCost,sourceStockLineSetup.UnitCostAdjustmentReason)" [ngModelOptions]="{standalone: true}" style="height: 80px; display: inline-block;" class="editable-field"></textarea>
										<textarea *ngIf="showUnitOther" [(ngModel)]="sourceStockLineSetup.UnitCostAdjustmentReason" (change)="UnitCostNumberValuechange1(11,sourceStockLineSetup.BeforecoreUnitCost,sourceStockLineSetup.AfterUnitCost,sourceStockLineSetup.UnitCostAdjustmentReason)" [ngModelOptions]="{standalone: true}" style="height: 80px; display: inline-block;" class="editable-field"></textarea>
									</td>
								</tr>

								<!-- Unit Sales Price Start -->
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="unitSaleAllow" (change)="isUnitSaleEnable(unitSaleAllow ?'A':'B')"></td>
									<td>Unit Sales Price</td>
									<td>{{sourceStockLineSetup.BeforeunitSalesPrice}}</td>
									<td *ngIf="hideUnitSale"><input type="text" class="w100 form-control editable-field" style="display: none;"></td>
									<td *ngIf="hideUnitSale"><textarea style="height: 80px; display: none;" class="editable-field"></textarea></td>
									<td *ngIf="showUnitSale">
										<select [(ngModel)]="sourceStockLineSetup.unitSalePriceAdjustmentReasonTypeId" [ngModelOptions]="{standalone: true}" (change)="unitSalesAdjustmentType(sourceStockLineSetup.unitSalePriceAdjustmentReasonTypeId)">
											<option *ngFor="let adjustmentReason of allAdjustmentReasons" [ngValue]="adjustmentReason.adjustmentReasonId">{{adjustmentReason.description}}</option>
										</select>
										<a routerLink="/singlepages/singlepages/app-adjustment-reason" class="add-icon"><i class="fa fa-plus"></i></a>
										<input [(ngModel)]="sourceStockLineSetup.AfterunitSalesPrice" (keyup)="UnitSalePriceNumberValuechange(12,sourceStockLineSetup.BeforeunitSalesPrice,sourceStockLineSetup.AfterunitSalesPrice,sourceStockLineSetup.unitSalesPriceAdjustmentReason)" [ngModelOptions]="{standalone: true}" type="number" class="w100 form-control editable-field" style="display: inline-block;">
									</td>
									<td *ngIf="showUnitSale">
										<textarea *ngIf="showSalesDiscountSalePrice" placeholder="Discount Saleprice *" [(ngModel)]="sourceStockLineSetup.unitSalesPriceAdjustmentReason" (change)="UnitSalePriceNumberValuechange1(12,sourceStockLineSetup.BeforeunitSalesPrice,sourceStockLineSetup.AfterunitSalesPrice,sourceStockLineSetup.unitSalesPriceAdjustmentReason)" [ngModelOptions]="{standalone: true}" style="height: 80px; display: inline-block;" class="editable-field"></textarea>
										<textarea *ngIf="showSalesRevalueStockCost" placeholder="Revalue StockCost *" [(ngModel)]="sourceStockLineSetup.unitSalesPriceAdjustmentReason" (change)="UnitSalePriceNumberValuechange1(12,sourceStockLineSetup.BeforeunitSalesPrice,sourceStockLineSetup.AfterunitSalesPrice,sourceStockLineSetup.unitSalesPriceAdjustmentReason)" [ngModelOptions]="{standalone: true}" style="height: 80px; display: inline-block;" class="editable-field"></textarea>
										<textarea *ngIf="showSalesOther" [(ngModel)]="sourceStockLineSetup.unitSalesPriceAdjustmentReason" (change)="UnitSalePriceNumberValuechange1(12,sourceStockLineSetup.BeforeunitSalesPrice,sourceStockLineSetup.AfterunitSalesPrice,sourceStockLineSetup.unitSalesPriceAdjustmentReason)" [ngModelOptions]="{standalone: true}" style="height: 80px; display: inline-block;" class="editable-field"></textarea>
									</td>
								</tr>
								<tr>
									<td><input type="checkbox" class="check" [ngModelOptions]="{standalone: true}" [(ngModel)]="costAdjustmentAllow" (change)="isCostAdjustmentEnable(costAdjustmentAllow ?'A':'B')"></td>
									<td>Lot Cost</td>
									<td>10</td>
									<td *ngIf="hideCostAdjustments">
										<input type="text" class="w100 form-control editable-field" style="display: none;">
										Note: this will be a placeholder for now because we have not yet developed the functionality/HTML for Lot Management
									</td>
									<td *ngIf="hideCostAdjustments">
										<textarea style="height: 80px; display: none;" class="editable-field">
								Note: this will be a placeholder for now because we have not yet developed the functionality/HTML for Lot Management
							</textarea>
									</td>
									<td *ngIf="showCostAdjustments">
										<input type="text" [(ngModel)]="sourceStockLineSetup.AfterLotCostAdjustment" [ngModelOptions]="{standalone: true}" class="w100 form-control editable-field" style="display: inline-block;">
									</td>
									<td *ngIf="showCostAdjustments"><textarea style="height: 80px; display: inline-block;" class="editable-field"></textarea></td>
								</tr>
							</tbody>
					</table>
				</div>
					<div class="clear"></div>
					<br>
					<div class="col-sm-12">
						<div class="form-group col-sm-12" *ngIf="this.sourceTimeLife.timeLifeCyclesId">
							<div class="col-sm-12">
								<div class="table-responsive">
									<table class="table table-bordered table-striped timelife-table">
										<thead>
											<tr>
												<th colspan="15" class="text-center"><strong>TIME LIFE ADJUSTMENTS</strong></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>&nbsp;</td>
												<td colspan="4" class="text-center clr1"><strong>CYCLES</strong></td>
												<td colspan="4" class="text-center clr2"><strong>TIMES</strong></td>
												<td colspan="4" class="text-center clr3"><strong>LAST</strong></td>
											</tr>
											<tr>
												
												<td>Control Num</td>
												<td class="clr1">Since New</td>
												<td class="clr1">Since OVH</td>
												<td class="clr1">Since Insp</td>
												<td class="clr1">Since Repair</td>
												<td class="clr2">Since New</td>
												<td class="clr2">Since OVH</td>
												<td class="clr2">Since Insp</td>
												<td class="clr2">Since Repair</td>
												<td class="clr3">Since New</td>
												<td class="clr3">Since OVH</td>
												<td class="clr3">Since Insp</td>
											</tr>
											<tr>
												
												<td>{{sourceStockLineSetup.controlNumber}}</td>
												<td class="clr1"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.cyclesSinceNew"></td>
												<td class="clr1"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.cyclesSinceOVH"></td>
												<td class="clr1"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.cyclesSinceRepair"></td>
												<td class="clr1"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.cyclesSinceInspection"></td>
												<td class="clr2"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.timeSinceNew"></td>
												<td class="clr2"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.timeSinceOVH"></td>
												<td class="clr2"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.timeSinceRepair"></td>
												<td class="clr2"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.timeSinceInspection"></td>
												<td class="clr3"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.lastSinceNew"></td>
												<td class="clr3"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.lastSinceOVH"></td>
												<td class="clr3"><input type="number"  class="w60 form-control" placeholder="hours" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceTimeLife.lastSinceInspection"></td>
											</tr>


										</tbody>
									</table>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<br>
					<button href="#" [disabled]="disableSavepartNumber" class="btn btn-success pull-right" (click)="savestockLineadjustmentclose()">Save</button>
				</div>
				
			</div>
		</div>
	</div>
</div>

<p-dialog header="Error" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="40px"
		  [width]="350" [minWidth]="200" [responsive]="true"
		  [minY]="1050" [baseZIndex]="1100000">
	<p *ngIf="CategorryError" [ngStyle]="{'color':'red'}">Please Enter Category Fields</p>
	<p *ngIf="partError" [ngStyle]="{'color':'red'}">Please Enter Part Fields</p>
	<p *ngIf="serialError" [ngStyle]="{'color':'red'}">Please Enter Serial Fields</p>
	<p *ngIf="unitCostValuError" [ngStyle]="{'color':'red'}">Please Enter Unit Cost Fields</p>
	<p *ngIf="unitCostTypeError" [ngStyle]="{'color':'red'}">Please Enter Unit Type Fields</p>
	<p *ngIf="unitSaleValueError" [ngStyle]="{'color':'red'}">Please Enter UnitSale  Fields</p>
	<p *ngIf="unitSaleTypeError" [ngStyle]="{'color':'red'}">Please Enter UnitSale type  Fields</p>
	<p *ngIf="unitCostAdjustmentReasonError" [ngStyle]="{'color':'red'}">Please Enter UnitCost Adjustment Reason  Fields</p>
	<p *ngIf="unitSaleAdjustmentReasonError" [ngStyle]="{'color':'red'}">Please Enter UnitSale Adjustment Reason  Fields</p>
	<p *ngIf="partSerializedAdjustmentReasonError" [ngStyle]="{'color':'red'}">This Part is Not Serialized</p>

	<p-footer>
		<button (click)="closeDialoge()">OK</button>
	</p-footer>

</p-dialog>
