<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">Single Screen</li>
                        <li class="breadcrumb-item active" aria-current="page">Aircraft Manufacturer</li>
                    </ol>
                </nav>
                <h4 class="page-heading">Aircraft Manufacturer</h4>
                <div class="col-sm-12 form-bg">
                    <div class="form-group add-inputs">
                        <div class="form-group col-sm-4 w250">
                            <label class="control-label col-sm-4">Name<span class="clr-red">*</span></label>
                            <div class="col-sm-7 cust-name">
                                <div class="inner-addon right-addon w200 inline-block">
                                    <i class="fa fa-search"></i>
                                    <input type="text" class="form-control ui-autocomplete-input" id="cmname" name="" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <button type="button" id="btnFilterAssetStatus" matTooltip="search is pending" name="" class="btn btn-warning" data-toggle="tooltip" data-original-title="Filter"><i class="fa fa-search"></i></button>
                            <button type="button" id="btnAddAssetStatus" matTooltip="Add Aircraft Manufacturer" (click)="open(Manufacturer)" name="" class="btn btn-success nobg" data-toggle="tooltip" data-original-title="Add"><i class="fa fa-plus"></i></button>

                        </div>
                        <div class="form-group col-sm-2">
                            <div class="excel-upload mtop0">
                                <input type="file" name="upload[]" multiple="" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                <label for="upload"> <span data-toggle="tooltip" title="Upload Excel" data-original-title="Excel Upload (table rows)"><i class="fa fa-file-excel-o"></i></span> </label>
                            </div>                          
                        </div>
                        <!--<div class="excel-upload mtop0">
                           
                        </div>-->
                        <!--</form>-->
                    </div>
                    <!--<div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Aircraft Manufacturer Name</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let manufacturer of aircraftManufacturerList">
                                    <td>{{manufacturer.aircraftTypeId}}</td>
                                    <td>{{manufacturer.description}}</td>
                                    <td>
                                        <p-inputSwitch *ngIf="manufacturer.isActive == true || manufacturer.isActive == null" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(manufacturer,$event)" [(ngModel)]="manufacturer.isActive"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="manufacturer.isActive == false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(manufacturer,$event)" [(ngModel)]="manufacturer.isActive"></p-inputSwitch>

                                        <span (click)="setAircraftManufacturerToUpdate(editAircraftManufacturer,manufacturer.aircraftTypeId)" data-toggle="modal" data-target="#edit">
                                            <a data-toggle="tooltip" title="" class="btn btn-primary nobg" data-original-title="" edit="">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </span>
                                        <span (click)="confirmDelete(content,manufacturer.aircraftTypeId)" data-toggle="modal" data-target="#data">
                                            <a class="btn btn-danger nobg" data-toggle="tooltip" title="" data-original-title="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </span>
                                        <span (click)="showAuditPopup(auditContent,manufacturer.aircraftTypeId)" matTooltip="History" data-toggle="modal" data-target="#history">
                                            <a data-toggle="tooltip" title="" class="btn btn-success nobg" data-original-title="History">
                                                <i class="fa fa-history"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>-->
                    <br>
                </div>

            </div>
        </div>

        <ng-template #auditContent let-c="close" let-d="dismiss">
            <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
                <app-audit [Data]="AuditDetails" [Modal]="modal"></app-audit>
            </div>
        </ng-template>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete Aircraft manufacturer</h4>
                <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="removeAircraftManufacturer()">Yes</button>
                <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
            </div>

        </ng-template>

        <ng-template #editAircraftManufacturer let-c="close" let-d="dismiss">


            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" (click)="dismissModel()" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Edit</h4>
                </div>
                <div class="modal-body">

                    <p>
                        <span class="col-sm-3"><b>Name: </b><span class="clr-red">*</span></span> <span class="col-sm-6">
                            <input type="text" [(ngModel)]="aircraftManufacturerTypeToUpdate.description" class="form-control">
                        </span>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" (click)="updateAircraftManufacturer()" class="btn btn-success" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-danger" (click)="dismissModel()" data-dismiss="modal">Close</button>
                </div>
            </div>

        </ng-template>

        <p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
                  [width]="350" [minWidth]="200" [responsive]="true"
                  [minY]="1050" [baseZIndex]="1100000">
            <h5 [ngStyle]="{'color':'red'}">
                Please Enter (*) Mandatory Fields
            </h5>
            <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
            </p-footer>
        </p-dialog>


        <p-table #dt [columns]="cols" [value]="aircraftManufacturerPagination" [lazy]="true" (onLazyLoad)="loadAircraftManufacturer($event)" [paginator]="true"
                 [rows]="10" [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords" [loading]="loading">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input pInputText type="text" (input)="filterGrid($event.target.value, col.field, col.filterMatchMode)">

                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" ngFor let-model [ngForOf]="aircraftManufacturerPagination">
                <tr>
                    <td>{{model.aircraftTypeId}}</td>
                    <td>{{model.description}}</td>
                    <td>
                        <p-inputSwitch *ngIf="(model.isActive == true) || (model.isActive == null)" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(model,$event)" [(ngModel)]="model.isActive"></p-inputSwitch>
                        <p-inputSwitch *ngIf="model.isActive == false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(model,$event)" [(ngModel)]="model.isActive"></p-inputSwitch>

                        <span (click)="setAircraftManufacturerToUpdate(editAircraftManufacturer,model.aircraftTypeId)" data-toggle="modal" data-target="#edit">
                            <a data-toggle="tooltip" title="" class="btn btn-primary nobg" data-original-title="" edit="">
                                <i class="fa fa-edit"></i>
                            </a>
                        </span>
                        <span (click)="showAuditPopup(auditContent,model.aircraftTypeId)" matTooltip="History" data-toggle="modal" data-target="#history">
                            <a data-toggle="tooltip" title="" class="btn btn-success nobg" data-original-title="History">
                                <i class="fa fa-history"></i>
                            </a>
                        </span>
                        <span (click)="confirmDelete(content,model.aircraftTypeId)" data-toggle="modal" data-target="#data">
                            <a class="btn btn-danger nobg" data-toggle="tooltip" title="" data-original-title="Delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <ng-template #Manufacturer let-c="close" let-d="dismiss">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" (click)="dismissModel()" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title"> Add Aircraft Manufacturer</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <span class="col-sm-3"><b>Manufacturer Name: </b></span> <span class="col-sm-6">
                            <input type="text" [(ngModel)]="currentAircraftManufacturerType.description" class="form-control">
                        </span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="addAircraftManufacturer()" class="btn btn-success" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-danger" (click)="dismissModel()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </ng-template>