<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main" style="min-height: 629px;">
        <div class="col-md-12">
            <div class="x_panel" style="">
                <div class="x_content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item"><a routerLink="wo-main.html">WO Setup</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sub-WO</li>
                        </ol>
                    </nav>
                    <div class="pheading">
                        <h4 class="page-heading clr-green">WO Setup - Sub-WO</h4>
                        <div class="clear mtop10"></div>
                    </div>
                    <div class="cdetails-top">
                        <div class="col-sm-12">
                            <label>Company</label>
                            <span>Silverxis</span>
                        </div>
                        <div class="col-sm-12">
                            <label>BU</label>
                            <span>Adso</span>
                        </div>
                        <div class="col-sm-12">
                            <label>Division</label>
                            <span>Development</span>
                        </div>
                        <div class="col-sm-12">
                            <label>Dept</label>
                            <span>Java</span>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12 po-ro-setup">
            <div class="x_panel">
                <div class="x_content">
                    <div class="tab-content">
                        <div class="table-responsive default-bg clear ro-grid-table">

                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="8">Sub-WO &nbsp; &nbsp;<a routerLink="/app-work-order-sub-wo-add" target="_blank"><i class="fa fa-plus plus-icon"></i></a></th>
                                    </tr>
                                    <tr>
                                        <th>Sub-WO #</th>
                                        <th>Gate Code</th>
                                        <th>PN</th>
                                        <th>PN Des.</th>
                                        <th>Open Date</th>
                                        <th>Need By Date</th>
                                        <th>Work Scope</th>
                                        <th class="w100"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>45450-1</td>
                                        <td>Received</td>
                                        <td>1223454</td>
                                        <td>Actuator</td>
                                        <td>3/18/2018</td>
                                        <td>4/18/2018</td>
                                        <td>Repair</td>
                                        <td>
                                            <a data-toggle="tooltip" title="View" class="btn btn-success boxed-float-btn nobg"><i class="fa fa-eye"></i></a>
                                            <a data-toggle="tooltip" title="Edit" class="btn btn-primary boxed-float-btn nobg"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>