<ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Asset</li>
    <li class="breadcrumb-item active" aria-current="page">Create Asset</li>
</ol>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4"></label>
                <div class="col-sm-7">
                    <label>
                        <input type="radio" [value]="1" name="assetRadio" (change)="onDepreciable()" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.isDepreciable" [checked]="depreciable">
                        Depreciable
                    </label>
                    <label>
                        <input type="radio" [value]="2" name="assetRadio" (change)="onIntangible()" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.isIntangible" [checked]="intangible">
                        Intangible
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Asset ID <span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <div class="inner-addon right-addon inline-block">
                        <p-autoComplete sstyle="font-size: 1px" (onSelect)="onAssetIdselection($event)" (onKeyUp)=assetIdHandler($event) [(ngModel)]="currentAsset.assetId" [ngModelOptions]="{standalone: true}" [suggestions]="localCollection" (completeMethod)="filterAssetId($event)" [size]="30"
                                        [minLength]="1" [dropdown]="true">
                            <ng-template let-assetId pTemplate="item">
                                <div class="ui-helper-clearfix">{{assetId}}</div>
                            </ng-template>
                        </p-autoComplete>

                        <div *ngIf="disableSave" class="clr-red">Already Exists</div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Alt Asset ID<span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.alternateAssetId">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Asset Name <span class="clr-red">*</span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.name">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Asset Description</label>
                <div class="col-sm-7">
                    <textarea type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.description"></textarea>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Company</label>
                <div class="col-sm-7">
                    <select [(ngModel)]="currentAsset.companyId" [ngModelOptions]="{standalone: true}" (change)="getBUList(currentAsset.companyId)">
                        <option>--Select--</option>
                        <option *ngFor="let managementStructure of maincompanylist" [ngValue]="managementStructure.managementStructureId">{{managementStructure.code}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">BU</label>
                <div class="col-sm-7">
                    <select [(ngModel)]="currentAsset.businessUnitId" [ngModelOptions]="{standalone: true}" (change)="getDepartmentlist(currentAsset.businessUnitId)">
                        <option>--Select--</option>
                        <option *ngFor="let managementStructure of bulist" [ngValue]="managementStructure.managementStructureId">{{managementStructure.code}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Div</label>
                <div class="col-sm-7">
                    <select [(ngModel)]="currentAsset.departmentId" [ngModelOptions]="{standalone: true}" (change)="getDivisionlist(currentAsset.departmentId)">
                        <option>--Select--</option>
                        <option *ngFor="let managementStructure of departmentList " [ngValue]="managementStructure.managementStructureId">{{managementStructure.code}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-4">Dep</label>
                <div class="col-sm-7">
                    <div>
                        <select [(ngModel)]="currentAsset.divisionId" [ngModelOptions]="{standalone: true}" (change)="getDivisionChangeManagementCode(currentAsset.divisionId)">
                            <option>--Select--</option>
                            <option *ngFor="let managementStructure of divisionlist " [ngValue]="managementStructure.managementStructureId">{{managementStructure.code}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="depreciation-block">
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Acquisition Type <span class="clr-red">*</span></label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.assetAcquisitionTypeId">
                            <option [value]="1">Buy</option>
                            <option [value]="2">Make</option>
                            <option [value]="3">Capital Lease</option>
                            <option [value]="4">Operating Lease</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Manufacturer</label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.manufacturerId">
                            <option *ngFor="let name of allManufacturerInfo" [ngValue]="name.manufacturerId">{{name.name}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Manufactured Date</label>
                    <div class="col-sm-7">

                        <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.manufacturedDate"></p-calendar>
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Model</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.model">
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Serialized?</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.isSerialized">
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <div class="intangible-block" style="display: none;">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Intangible Type <span class="clr-red">*</span></label>
                    <div class="col-sm-7">
                        <select>
                            <option value="">Intangible Type 1</option>
                            <option value="">Intangible Type 2</option>
                            <option value="">Intangible Type 3</option>
                            <option value="">Intangible Type 4</option>
                        </select>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div *ngIf="intangible" class="intangible-block block-bg2" style="display: none;">
                <div class="form-group col-sm-12">
                    <p class="clr-red text-center col-sm-12">Fields autopopulate when intangable type is selected</p>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Amortization Method</label>
                    <div class="col-sm-7">
                        <select disabled="">
                            <option value="">Method 1</option>
                            <option value="">Method 2</option>
                            <option value="">Method 3</option>
                            <option value="">Method 4</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="intangible" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Intangible Life</label>
                    <div class="col-sm-7">
                        <input class="form-control amount" type="text" disabled="">
                    </div>
                </div>
                <div *ngIf="intangible" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Amort Frequency</label>
                    <div class="col-sm-7">
                        <select disabled="">
                            <option value="">Monthly</option>
                            <option value="">Yearly</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="intangible" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Intangible GL</label>
                    <div class="col-sm-7">
                        <select class="autosuggest" disabled="">
                            <option>12345 (Description)</option>
                            <option>23456 (Description)</option>
                            <option>34567 (Description)</option>
                            <option>45678 (Description)</option>
                            <option>56789 (Description)</option>
                            <option>98765 (Description)</option>
                            <option>87654 (Description)</option>
                            <option>76543 (Description)</option>
                            <option>65432 (Description)</option>
                            <option>54321 (Description)</option>
                            <option>43210 (Description)</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="intangible" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Amort Expense GL</label>
                    <div class="col-sm-7">
                        <select class="autosuggest" disabled="">
                            <option>12345 (Description)</option>
                            <option>23456 (Description)</option>
                            <option>34567 (Description)</option>
                            <option>45678 (Description)</option>
                            <option>56789 (Description)</option>
                            <option>98765 (Description)</option>
                            <option>87654 (Description)</option>
                            <option>76543 (Description)</option>
                            <option>65432 (Description)</option>
                            <option>54321 (Description)</option>
                            <option>43210 (Description)</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="intangible" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Acc Amort Depr GL</label>
                    <div class="col-sm-7">
                        <select class="autosuggest" disabled="">
                            <option>12345 (Description)</option>
                            <option>23456 (Description)</option>
                            <option>34567 (Description)</option>
                            <option>45678 (Description)</option>
                            <option>56789 (Description)</option>
                            <option>98765 (Description)</option>
                            <option>87654 (Description)</option>
                            <option>76543 (Description)</option>
                            <option>65432 (Description)</option>
                            <option>54321 (Description)</option>
                            <option>43210 (Description)</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="intangible" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Intangible Write Down GL</label>
                    <div class="col-sm-7">
                        <select class="autosuggest" disabled="">
                            <option>12345 (Description)</option>
                            <option>23456 (Description)</option>
                            <option>34567 (Description)</option>
                            <option>45678 (Description)</option>
                            <option>56789 (Description)</option>
                            <option>98765 (Description)</option>
                            <option>87654 (Description)</option>
                            <option>76543 (Description)</option>
                            <option>65432 (Description)</option>
                            <option>54321 (Description)</option>
                            <option>43210 (Description)</option>
                        </select>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="depreciation-block">
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">UOM <span class="clr-red">*</span></label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.unitOfMeasureId">
                            <option>--Select--</option>
                            <option *ngFor="let unitName of allUnitOfMeasureinfo" [ngValue]="unitName.unitOfMeasureId">{{unitName.shortName}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12 ">
                    <label class="control-label col-sm-4">Currency<span class="clr-red">*</span></label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.currencyId">
                            <option>--Select--</option>
                            <option class="form-control" *ngFor="let currencyName of allCurrencyInfo" [ngValue]="currencyName.currencyId">
                                {{currencyName.symbol}}
                            </option>
                        </select>
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Unit Cost</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.unitCost">
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Expiration Date</label>
                    <div class="col-sm-7">
                        <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.expirationDate"></p-calendar>
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Asset Location</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.asset_Location">
                    </div>
                </div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Memo</label>
                    <div class="col-sm-7">
                        <textarea class="h80" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.memo"></textarea>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="col-sm-4">

            <div>
                <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Asset Parent</label>
                    <div class="col-sm-7">
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.assetParentId">
                            <option>--Select--</option>
                            <option class="form-control" *ngFor="let asset of allAssetInfo" [ngValue]="asset.assetId">
                                {{asset.assetId}}
                            </option>
                        </select>
                        </div>
                    </div>
                    <div *ngIf="currentAsset.isDepreciable" class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Asset Type <span class="clr-red">*</span></label>
                        <div class="col-sm-7">
                            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.assetTypeSingleScreenId">
                                <option>--Select--</option>
                                <option class="form-control" *ngFor="let assetType of allAssetTypeInfo" [ngValue]="assetType.assetTypeSingleScreenId">
                                    {{assetType.assetTypeSingleId}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="depreciation-asset-block block-bg1" style="display: none;">
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Depreciation Method</label>
                            <div class="col-sm-7">
                                <select disabled="">
                                    <option value="">Method 1</option>
                                    <option value="">Method 2</option>
                                    <option value="">Method 3</option>
                                    <option value="">Method 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Residual %</label>
                            <div class="col-sm-7">
                                <select class="form-control" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.memo">
                                    <option>1%</option>
                                    <option>2%</option>
                                    <option>3%</option>
                                    <option>4%</option>
                                    <option>5%</option>
                                    <option>6%</option>
                                    <option>7%</option>
                                    <option>8%</option>
                                    <option>9%</option>
                                    <option>10%</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Asset Life</label>
                            <div class="col-sm-7">
                                <input class="form-control amount" type="text" disabled="">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Depr Frequency</label>
                            <div class="col-sm-7">
                                <select disabled="">
                                    <option value="">Monthly</option>
                                    <option value="">Yearly</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Acquired GL</label>
                            <div class="col-sm-7">
                                <select class="autosuggest" disabled="">
                                    <option>12345 (Description)</option>
                                    <option>23456 (Description)</option>
                                    <option>34567 (Description)</option>
                                    <option>45678 (Description)</option>
                                    <option>56789 (Description)</option>
                                    <option>98765 (Description)</option>
                                    <option>87654 (Description)</option>
                                    <option>76543 (Description)</option>
                                    <option>65432 (Description)</option>
                                    <option>54321 (Description)</option>
                                    <option>43210 (Description)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Depr Expense GL</label>
                            <div class="col-sm-7">
                                <select class="autosuggest" disabled="">
                                    <option>12345 (Description)</option>
                                    <option>23456 (Description)</option>
                                    <option>34567 (Description)</option>
                                    <option>45678 (Description)</option>
                                    <option>56789 (Description)</option>
                                    <option>98765 (Description)</option>
                                    <option>87654 (Description)</option>
                                    <option>76543 (Description)</option>
                                    <option>65432 (Description)</option>
                                    <option>54321 (Description)</option>
                                    <option>43210 (Description)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">AD Depr GL</label>
                            <div class="col-sm-7">
                                <select class="autosuggest" disabled="">
                                    <option>12345 (Description)</option>
                                    <option>23456 (Description)</option>
                                    <option>34567 (Description)</option>
                                    <option>45678 (Description)</option>
                                    <option>56789 (Description)</option>
                                    <option>98765 (Description)</option>
                                    <option>87654 (Description)</option>
                                    <option>76543 (Description)</option>
                                    <option>65432 (Description)</option>
                                    <option>54321 (Description)</option>
                                    <option>43210 (Description)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Sale GL</label>
                            <div class="col-sm-7">
                                <select class="autosuggest" disabled="">
                                    <option>12345 (Description)</option>
                                    <option>23456 (Description)</option>
                                    <option>34567 (Description)</option>
                                    <option>45678 (Description)</option>
                                    <option>56789 (Description)</option>
                                    <option>98765 (Description)</option>
                                    <option>87654 (Description)</option>
                                    <option>76543 (Description)</option>
                                    <option>65432 (Description)</option>
                                    <option>54321 (Description)</option>
                                    <option>43210 (Description)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Write Off GL</label>
                            <div class="col-sm-7">
                                <select class="autosuggest" disabled="">
                                    <option>12345 (Description)</option>
                                    <option>23456 (Description)</option>
                                    <option>34567 (Description)</option>
                                    <option>45678 (Description)</option>
                                    <option>56789 (Description)</option>
                                    <option>98765 (Description)</option>
                                    <option>87654 (Description)</option>
                                    <option>76543 (Description)</option>
                                    <option>65432 (Description)</option>
                                    <option>54321 (Description)</option>
                                    <option>43210 (Description)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-4">Write Down GL</label>
                            <div class="col-sm-7">
                                <select class="autosuggest" disabled="">
                                    <option>12345 (Description)</option>
                                    <option>23456 (Description)</option>
                                    <option>34567 (Description)</option>
                                    <option>45678 (Description)</option>
                                    <option>56789 (Description)</option>
                                    <option>98765 (Description)</option>
                                    <option>87654 (Description)</option>
                                    <option>76543 (Description)</option>
                                    <option>65432 (Description)</option>
                                    <option>54321 (Description)</option>
                                    <option>43210 (Description)</option>
                                </select>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            <div *ngIf="currentAsset.isDepreciable">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Calibration Required</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.calibrationRequired">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Certification Required</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.certificationRequired">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Inspection Required</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.inspectionRequired">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Verification Required</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.verificationRequired">
                    </div>
                </div>
            </div>

        </div>


        <div class="clear"></div>
    </div>

    <div class="clear"></div>
    <button type="submit" class="btn btn-success pull-right submit-btn" [disabled]="disableSave" (click)="saveAsset()">Save</button>
</div>

<p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
          [width]="350" [minWidth]="200" [responsive]="true"
          [minY]="1050" [baseZIndex]="1100000">
    <h5 [ngStyle]="{'color':'red'}">
        Please Enter (*) Mandatory Fields
    </h5>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
    </p-footer>

</p-dialog>