<div class="md-stepper-horizontal orange">
    <div class="md-step"
         [ngClass]="{ active: activeIndex >= 0 , editable : activeIndex === 0}" (click)="changeOfTab('General')">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">General Information</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step"
         [ngClass]="{ active: activeIndex >= 1, editable : activeIndex === 1 }"
         (click)="changeOfTab('Capes')">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">Capes</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step"
         [ngClass]="{ active: activeIndex >= 2 , editable : activeIndex === 2 }"
         (click)="changeOfTab('Calibration')">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">Calibration</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step"
         [ngClass]="{ active: activeIndex >= 3 , editable : activeIndex === 3 }"
         (click)="changeOfTab('Maintenance')">
        <div class="md-step-circle"><span>4</span></div>
        <div class="md-step-title">Maintenance & Warranty</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
</div>
<form #generalForm="ngForm" method="post" id="" name="" class="form-horizontal add-custustomer">
    <div class="form-row">
        <div class="col-md-12">

            <div class="card">
                <div>
                    <h4 class="page-heading clr-green"> General Information</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <!--
                        <p-radioButton name="assetRadio" value="2" label="Tangible" class="p-radiobutton-label-horizontal p-radiobutton-cstm"
                                                                                   [(ngModel)]="currentAsset.isDepreciable" (change)="onDepreciable()"></p-radioButton>
                                                                    <p-radioButton name="assetRadio" value="1" label="Intangible" class="p-radiobutton-label-horizontal p-radiobutton-cstm"
                                                                                   [(ngModel)]="currentAsset.isIntangible" (change)="onIntangible()"></p-radioButton>
                                                                -->

                        <label class="radio-inline">
                            <input type="radio" value="1" name="assetRadio" class="form-check-inline" [checked]="currentAsset.isDepreciable == true" (change)="onDepreciable()">
                            Tangible
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2" name="assetRadio" (change)="onIntangible()" [checked]="currentAsset.isIntangible == true">
                            Intangible
                        </label>

                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Entry Date</label>
                                    <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.entryDate"></p-calendar>
                                </div>
                                <div class="form-group">
                                    <label>Asset ID <span class="clr-red">*</span></label>
                                    <p-autoComplete class="pautocomp-cstm" sstyle="font-size: 1px" (onSelect)="onAssetIdselection($event)" (onKeyUp)=assetIdHandler($event) [(ngModel)]="currentAsset.assetId" [ngModelOptions]="{standalone: true}" [suggestions]="localCollection" (completeMethod)="filterAssetId($event)" [size]="30"
                                                    [minLength]="1" [dropdown]="true">
                                        <ng-template let-assetId pTemplate="item">
                                            <div class="ui-helper-clearfix">{{assetId}}</div>
                                        </ng-template>
                                    </p-autoComplete>

                                    <div *ngIf="disableSave" class="clr-red">Already Exists</div>
                                </div>
                                <div class="form-group">
                                    <label>Asset Name <span class="clr-red">*</span></label>
                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.name">
                                </div>
                                <div class="form-group">
                                    <label>Asset Description</label>
                                    <textarea class="text-item" style="height: 50px !important;" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Alternate Asset ID</label>
                                    <!-- <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.alternateAssetId"> -->
                                    <!--<select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.alternateAssetId">
                                        <option>--Select--</option>
                                        <option class="form-control" *ngFor="let asset of allAssetInfo" [ngValue]="asset.assetId">
                                            {{asset.assetId}}
                                        </option>
                                    </select>-->
                                    <p-autoComplete class="pautocomp-cstm" sstyle="font-size: 1px"
                                                    (onKeyUp)=assetIdHandler($event)
                                                    [(ngModel)]="currentAsset.alternateAssetId"
                                                    [ngModelOptions]="{standalone: true}"
                                                    [suggestions]="localCollectionExc"
                                                    (completeMethod)="filterExcAssetId($event)" [size]="30"
                                                    [minLength]="1" [dropdown]="true">
                                        <ng-template let-assetId pTemplate="item">
                                            <div class="ui-helper-clearfix">{{assetId}}</div>
                                        </ng-template>
                                    </p-autoComplete>
                                </div>
                                <div class="">
                                    <div class="card" style="margin-top: 20px;">
                                        <div class="card-header" style="padding: 10px 12px;">
                                            <h5 style="margin-bottom: 0; font-size: 12px;">Management Structure<span class="clr-red">*</span></h5>
                                        </div>
                                        <div class="card-body" style="padding: 12px 12px 4px;">
                                            <div class="form-group">
                                                <select [ngClass]="managementValidCheck ? 'select-validate-cstm' : ''" class="form-control" name="primaryCompany" [(ngModel)]="currentAsset.companyId"
                                                        (change)="getBUList(currentAsset.companyId); checkValidOnChange(currentAsset.companyId, 'companyId');" #mCompanyName required>
                                                    <option value="">--NON Selected--</option>
                                                    <option *ngFor="let managementStructure of maincompanylist" [ngValue]="managementStructure.managementStructureId">{{managementStructure.code}}</option>
                                                </select>
                                                <div *ngIf="mCompanyName.invalid && (mCompanyName.dirty || mCompanyName.touched)" class="alert alert-danger alert-danger-cstm">
                                                    <div *ngIf="mCompanyName.errors.required">
                                                        <small> Company Name is required </small>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <select [(ngModel)]="currentAsset.buisinessUnitId" name="primaryBU" (change)="getDepartmentlist(currentAsset.buisinessUnitId)" class="form-control">
                                                    <option value="">--NON Selected--</option>
                                                    <option *ngFor="let managementStructure of bulist" [ngValue]="managementStructure.managementStructureId">{{managementStructure.code}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="currentAsset.departmentId" name="primaryDivision" (change)="getDivisionlist(currentAsset.departmentId)">
                                                    <option value="">--NON Selected--</option>
                                                    <option *ngFor="let managementStructure of departmentList " [ngValue]="managementStructure.managementStructureId">{{managementStructure.code}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="currentAsset.divisionId" name="primaryDept" (change)="divisionChange(currentAsset.divisionId)">
                                                    <option value="">--NON Selected--</option>
                                                    <option *ngFor="let managementStructure of divisionlist " [ngValue]="managementStructure.managementStructureId">{{managementStructure.code}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div *ngIf="currentAsset.isDepreciable && !currentAsset.isIntangible" class="depreciation-block">
                                    <div class="form-group">
                                        <label>Acquisition Type <span class="clr-red">*</span></label>
                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.assetAcquisitionTypeId">
                                            <option ng-option value="">--NON Selected--</option>
                                            <option *ngFor="let acquisitionType of assetAcquisitionTypeList" [ngValue]="acquisitionType.value">{{acquisitionType.label}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Manufacturer</label>
                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.manufacturerId">
                                            <option ng-option value="">--NON Selected--</option>
                                            <option *ngFor="let name of allManufacturerInfo" [ngValue]="name.manufacturerId">{{name.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Manufactured Date</label>
                                        <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.manufacturedDate"></p-calendar>
                                    </div>
                                    <div class="form-group">
                                        <label>Model Num</label>
                                        <input class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.model">
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox-cstm" style="margin-left: 0;">
                                            <label>
                                                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.isSerialized">
                                                <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                Serialized?
                                            </label>
                                        </div>

                                    </div>

                                    <div class="clear"></div>
                                </div>
                                <div *ngIf="currentAsset.isIntangible">
                                    <div *ngIf="currentAsset.isIntangible" class="intangible-block">
                                        <div class="form-group">
                                            <label>Intangible Class <span class="clr-red">*</span></label>
                                            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.assetIntangibleTypeId" (change)="showItemEdit(currentAsset.assetIntangibleTypeId)">
                                                <option ng-option value="0">--NON Selected--</option>
                                                <option class="form-control" *ngFor="let assetIntangible of allIntangibleInfo" [ngValue]="assetIntangible.assetIntangibleTypeId">
                                                    {{assetIntangible.assetIntangibleName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div *ngIf="currentAsset.isIntangible" class="intangible-block block-bg2" style="padding-left: 15% !important">
                                        <div class="form-group">

                                        </div>
                                        <div class="form-group">
                                            <label>Depreciation Method</label>
                                            <input disabled class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.assetDepreciationMethodObj">
                                            <!--<select disabled="" class="form-control" [(ngModel)]="currentSelectedIntangibleAssetType.assetDepreciationMethodId" [ngModelOptions]="{standalone: true}">
                                                <option>--Select--</option>
                                                <option *ngFor="let depriciationMethod of depriciationMethodList" [ngValue]="depriciationMethod.assetDepreciationMethodId">  {{depriciationMethod.name}}</option>
                                            </select>-->
                                        </div>
                                        <div class="form-group">
                                            <label>Intangible Life</label>
                                            <input disabled class="form-control amount" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.intangibleLife">
                                        </div>
                                        <div class="form-group">
                                            <label>Amort Frequency</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.amortizationFrequency">
                                                <option>--Select--</option>
                                                <option *ngFor="let amortizationFrequency of amortizationFrequencyList" [ngValue]="amortizationFrequency.value">
                                                    {{amortizationFrequency.label}}
                                                </option>
                                            </select>-->

                                            <input disabled class="form-control" type="text" [(ngModel)]="currentSelectedIntangibleAssetType.amortizationFrequencyObj"
                                                   [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="form-group">
                                            <label>Amort Expense GL</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.amortExpenseGLAccountId">
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->
                                            <input disabled class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.amortExpenseGLAccountObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Acc Amort Depr GL</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.accAmortDeprGLAccountId">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->
                                            <input disabled class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.accAmortDeprGLAccountObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Intangible GL</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.intangibleGLAccountId">
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->

                                            <input disabled class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.intangibleGLAccountObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Intangible Write Down GL</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.intangibleWriteDownGLAccountId">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->
                                            <input disabled class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.intangibleWriteDownGLAccountObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Intangible Write Off GL</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.intangibleWriteDownGLAccountId">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->
                                            <input disabled class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedIntangibleAssetType.intangibleWriteOffGLAccountObj">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="depreciation-block" *ngIf="currentAsset.isDepreciable  && !currentAsset.isIntangible">
                                    <div class="form-group">
                                        <label>UOM <span class="clr-red">*</span></label>
                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.unitOfMeasureId">
                                            <option>--NON Selected--</option>
                                            <option *ngFor="let unitName of allUnitOfMeasureinfo" [ngValue]="unitName.unitOfMeasureId">{{unitName.shortName}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group ">
                                        <label>Currency<span class="clr-red">*</span></label>
                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.currencyId">
                                            <option>--NON Selected--</option>
                                            <option class="form-control" *ngFor="let currencyName of allCurrencyInfo" [ngValue]="currencyName.currencyId">
                                                {{currencyName.code}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Unit Cost</label>
                                        <input class="form-control" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.unitCost">
                                    </div>
                                    <div class="form-group">
                                        <label>Expiration Date</label>
                                        <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.expirationDate"></p-calendar>
                                    </div>
                                    <div class="form-group">
                                        <label>Asset Location</label>
                                        <select [ngModelOptions]="{standalone: true}" style="width:280px;" [(ngModel)]="currentAsset.asset_Location">
                                            <option *ngFor="let location of allAssetLocations" [ngValue]="location.assetLocationId">{{location.code+" - "+location.name}}</option>
                                        </select>
                                        <!--<a data-dismiss="modal" [routerLink]="['/singlepages/singlepages/asset-location']"><i class="fa fa-plus-circle fa-lg"></i></a>-->
                                        <span style="margin-left:3px;cursor:pointer;"><a class="fa fa-plus-circle fa-lg" data-toggle="modal" data-backdrop="static" data-target="#addCustomerClassification"></a></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Memo</label>
                                        <textarea class="text-item" style="height: 50px !important;" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.memo"></textarea>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                            </div>
                            <div *ngIf="currentAsset.isDepreciable  && !currentAsset.isIntangible" class="col-sm-3">

                                <div class="form-group">
                                    <label>Asset Parent</label>
                                    <!--<select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.assetParentId">
                                        <option>--Select--</option>
                                        <option class="form-control" *ngFor="let asset of allAssetInfo"  [ngValue]="asset.assetId">
                                            {{asset.assetId}}
                                        </option>
                                    </select>-->

                                    <p-autoComplete class="pautocomp-cstm" sstyle="font-size: 1px" (onKeyUp)=assetIdHandler($event)
                                                    [(ngModel)]="currentAsset.assetParentId" [ngModelOptions]="{standalone: true}"
                                                    [suggestions]="localCollectionExc" (completeMethod)="filterExcAssetId($event)" [size]="30"
                                                    [minLength]="1" [dropdown]="true">
                                        <ng-template let-assetId pTemplate="item">
                                            <div class="ui-helper-clearfix">{{assetId}}</div>
                                        </ng-template>
                                    </p-autoComplete>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label>Asset Class <span class="clr-red">*</span></label>
                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.assetTypeId" (change)="showItemEdit(currentAsset.assetTypeId)">
                                            <option>--NON Selected--</option>
                                            <option class="form-control" *ngFor="let assetType of allAssetTypeInfo" [ngValue]="assetType.assetTypeId">
                                                {{assetType.assetTypeName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="depreciation-asset-block block-bg1" style="padding-left: 15% !important">
                                        <div class="form-group">
                                            <label>Depreciation Method</label>
                                            <!--<select disabled="" class="form-control" [(ngModel)]="currentSelectedAssetAttributeType.depreciationMethod" [ngModelOptions]="{standalone: true}">
                                                <option>--Select--</option>
                                                <option *ngFor="let depriciationMethod of depriciationMethodList" [ngValue]="depriciationMethod.assetDepreciationMethodId">  {{depriciationMethod.name}}</option>
                                            </select>-->

                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.depreciationMethodObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Residual %</label>
                                            <!--<select class="form-control" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.residualPercentage">
                                                <option>--Select--</option>
                                                <option [ngValue]="currentSelectedAssetAttributeType.residualPercentage">{{currentSelectedAssetAttributeType.residualPercentage}}</option>
                                            </select>-->

                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.residualPercentage">
                                        </div>
                                        <div class="form-group">
                                            <label>Residual Value</label>
                                            <input class="form-control amount" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.residualValue">
                                        </div>

                                        <div class="form-group">
                                            <label>Asset Life</label>
                                            <input class="form-control amount" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.assetLife">
                                        </div>
                                        <div class="form-group">
                                            <label>Depr Frequency</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.depreciationFrequencyId">
                                                <option>--Select--</option>
                                                <option *ngFor="let depreciationFrequency of depreciationFrequencyList" [ngValue]="depreciationFrequency.value">
                                                    {{depreciationFrequency.label}}
                                                </option>
                                            </select>-->

                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.depreciationFrequencyObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Acquired GL</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.acquiredGLAccountId">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->

                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.acquiredGLAccountObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Depr Expense GL</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.deprExpenseGLAccountId">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->
                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.deprExpenseGLAccountObj">
                                        </div>
                                        <div class="form-group">
                                            <label>AD Depr GL</label>
                                            <!--<select disabled="" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.adDepsGLAccountId">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->

                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.adDepsGLAccountObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Sale GL</label>
                                            <!--<select disabled="" class="form-control" [(ngModel)]="currentSelectedAssetAttributeType.assetSale" [ngModelOptions]="{standalone: true}">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->

                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.assetSaleObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Write Off GL</label>
                                            <!--<select disabled="" class="form-control" [(ngModel)]="currentSelectedAssetAttributeType.assetWriteOff" [ngModelOptions]="{standalone: true}">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->

                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.assetWriteOffObj">
                                        </div>
                                        <div class="form-group">
                                            <label>Write Down GL</label>
                                            <!--<select disabled="" class="form-control" [(ngModel)]="currentSelectedAssetAttributeType.assetWriteDown" [ngModelOptions]="{standalone: true}">
                                                <option>--Select--</option>
                                                <option class="form-control" *ngFor="let glinfo of allGlInfo" [ngValue]="glinfo.glAccountId">
                                                    {{glinfo.accountName}}
                                                </option>
                                            </select>-->

                                            <input class="form-control" type="text" disabled="" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentSelectedAssetAttributeType.assetWriteDownObj">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                                <!-- <div *ngIf="currentAsset.isDepreciable && !currentAsset.isIntangible">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-4">Calibration Required</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.calibrationRequired">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-4">Certification Required</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.certificationRequired">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-4">Inspection Required</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.inspectionRequired">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-4">Verification Required</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentAsset.verificationRequired">
                                        </div>
                                    </div>
                                </div> -->

                            </div>




                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="margintop">
                            <button type="submit" class="btn btn-primary pull-right submit-btn" [disabled]="disableSave" (click)="saveAsset()">Save & Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</form>

<div id="addCustomerClassification" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Asset Location</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label for="name" class="control-label">
                                Asset Location Code
                                <span class="clr-red">*</span>
                            </label>
                        </div>
                        <div class="col-sm-5">
                            <p-autoComplete [(ngModel)]="codeName" name="codeName"
                                            (onSelect)="partnmId($event)" (onKeyUp)="eventHandler($event)" [suggestions]="localCollection" (completeMethod)="filterAssetLocation($event)" [size]="30"
                                            [minLength]="1" [dropdown]="true" class="p-autoComplete-ctsm" required>
                                <ng-template let-codeName pTemplate="item">
                                    <div class="ui-helper-clearfix">{{codeName}}</div>
                                </ng-template>

                            </p-autoComplete>
                            <!--<div *ngIf="recordExists && codeName" class="clr-red">Already Exists</div>-->
                            <div class="clear"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label class="control-label control-item">
                                    Asset Location
                                    <span class="clr-red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" name="name" class="form-control" minlength="2">
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label class="control-label">Memo</label>
                            </div>
                            <div class="col-sm-5">
                                <textarea class="text-item" id="memo"  minlength="2"></textarea>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary" [disabled]="!userForm.valid || disableSave" (click)="SaveandEditAssetLocation()">{{isEditMode == true ? 'Update' : 'Save' }}</button>-->
            </div>
        </div>
    </div>
</div>

<!--<button type="button" class="btn btn-success pull-right submit-btn" (click)="nextClick()">Next</button>-->

<p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
          [width]="350" [minWidth]="200" [responsive]="true"
          [minY]="1050" [baseZIndex]="1100000">
    <h5 [ngStyle]="{'color':'red'}">
        Please Enter (*) Mandatory Fields
    </h5>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
    </p-footer>

</p-dialog>