<div class="modal-header">
    <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
    <h4 class="modal-title">Stock List Details</h4>
</div>
<div class="modal-body viewform">
    <div class="row">
        <div class="col-sm-4">
            <p><span class="label"><b>Company: </b></span><span class="value">{{company}}</span></p>
            <p><span class="label"><b>BU: </b></span><span class="value">{{businessUnitName}}</span></p>
            <p><span class="label"><b>Division: </b></span><span class="value">{{division}}</span></p>
            <p><span class="label"><b>Department: </b></span><span class="value">{{departmentName}}</span></p>
            <p><span class="label"><b>PN: </b></span><span class="value">{{partNumber}}</span></p>
            <p><span class="label"><b>PN Description: </b></span><span class="value">{{partDescription}}</span></p>
            <p><span class="label"><b>Stock Line Num: </b></span><span class="value">{{stockLineNumber}}</span></p>
            <p><span class="label"><b>Control Num: </b></span><span class="value">{{controlNumber}}</span></p>
            <p><span class="label"><b>ID Num: </b></span><span class="value">{{idNumber}}</span></p>
            <p><span class="label"><b>Is Serialized: </b></span><input type="checkbox" [disabled]="true" [checked]="isSerialized" /></p>
            <p><span class="label"><b>Qty On Hand </b></span><span class="value">{{quantityOnHand}}</span></p>
            <p><span class="label"><b>Quantity Available </b></span><span class="value">{{quantityAvailable}}</span></p>
            <p><span class="label"><b>Condition: </b></span><span class="value">{{condition}}</span></p>
            <p><span class="label"><b>Serial Num: </b></span><span class="value">{{serialNumber}}</span></p>
            <!--<p><span class="label"><b>Shelf Life: </b></span><span class="value">{{shelfLife}}</span></p>-->
            <p><span class="label"><b>Shelf Life Exp Date: </b></span><span class="value">{{shelfLifeExpirationDate}}</span></p>
            <p><span class="label"><b>Site: </b></span><span class="value">{{site}}</span></p>
            <p><span class="label"><b>Warehouse: </b></span><span class="value">{{warehouse}}</span></p>
            <p><span class="label"><b>Location: </b></span><span class="value">{{location}}</span></p>
            <p><span class="label"><b>Shelf: </b></span><span class="value">{{shelf}}</span></p>
            <p><span class="label"><b>Bin: </b></span><span class="value">{{bin}}</span></p>
        </div>

        <div class="col-sm-4">
            <p><span class="label"><b>Obtain From: </b></span><span class="value">{{obtainFrom}}</span></p>
            <p><span class="label"><b>Owner: </b></span><span class="value">{{owner}}</span></p>
            <p><span class="label"><b>Tracable to: </b></span><span class="value">{{traceableTo}}</span></p>
            <p><span class="label"><b>MFG: </b></span><span class="value">{{manufacturerId}}</span></p>
            <p><span class="label"><b>MFG Lot Num: </b></span><span class="value">{{manufacturerLotNumber}}</span></p>
            <p><span class="label"><b>MFG Date: </b></span><span class="value">{{manufacturingDate}}</span></p>
            <p><span class="label"><b>MFG Batch Num: </b></span><span class="value">{{manufacturingBatchNumber}}</span></p>
            <p><span class="label"><b>Part Cert Num: </b></span><span class="value">{{partCertificationNumber}}</span></p>
            <p><span class="label"><b>Certify By: </b></span><span class="value">{{certifiedBy}}</span></p>
            <p><span class="label"><b>Cert Date: </b></span><span class="value">{{certifiedDate}}</span></p>
            <p><span class="label"><b>Tag Date: </b></span><span class="value">{{tagdate}}</span></p>
            <p><span class="label"><b>Tag Type: </b></span><span class="value">{{tagType}}</span></p>
            <p><span class="label"><b>Cert Due Date: </b></span><span class="value">{{certifiedDueDate}}</span></p>
            <p><span class="label"><b>Calibration Notes: </b></span><span class="value">{{calibrationMemo}}</span></p>
            <p><span class="label"><b>Order Date: </b></span><span class="value">{{orderDate}}</span></p>
            <p><span class="label"><b>PO Num: </b></span><span class="value">{{purchaseOrderNumber}}</span></p>
            <p><span class="label"><b>PO Unit Cost: </b></span><span class="value">{{purchaseOrderUnitCost}}</span></p>
            <p><span class="label"><b>RO Num: </b></span><span class="value">{{repairOrderNumber}}</span></p>
            <p><span class="label"><b>RO Unit Cost: </b></span><span class="value">{{repairOrderUnitCost}}</span></p>
        </div>

        <div class="col-sm-4">
            <p><span class="label"><b>Received Date: </b></span><span class="value">{{receivedDate}}</span></p>
            <p><span class="label"><b>Receiver Num: </b></span><span class="value">{{receiverNumber}}</span></p>
            <p><span class="label"><b>Reconiliation Num: </b></span><span class="value">{{reconciliationNumber}}</span></p>
            <p><span class="label"><b>Unit Sale Price: </b></span><span class="value">{{unitSalesPrice}}</span></p>
            <p><span class="label"><b>Core Unit Cost: </b></span><span class="value">{{coreUnitCost}}</span></p>
            <p><span class="label"><b>PMA: </b></span><input type="checkbox" [disabled]="true" [checked]="isPMA" /></p>
            <p><span class="label"><b>DER: </b></span><input type="checkbox" [disabled]="true" [checked]="isDER" /></p>
            <p><span class="label"><b>OEM: </b></span><input type="checkbox" [disabled]="true" [checked]="oem" /></p>
            <p><span class="label"><b>Memo: </b></span><span class="value">{{memo}}</span></p>

        </div>
        <div class="col-sm-4">
            <h5>Cycles</h5>
            <p><span class="label"><b>Remaining: </b></span><span class="value">{{cyclesRemaining}}</span></p>
            <p><span class="label"><b>Since New: </b></span><span class="value">{{cyclesSinceNew}}</span></p>
            <p><span class="label"><b>Since Ovh: </b></span><span class="value">{{cyclesSinceOVH}}</span></p>
            <p><span class="label"><b>Since Insp: </b></span><span class="value">{{cyclesSinceInspection}}</span></p>
            <p><span class="label"><b>Since Repair: </b></span><span class="value">{{cyclesSinceRepair}}</span></p>
        </div>

        <div class="col-sm-4">
            <h5>Time</h5>
            <p><span class="label"><b>Remaining: </b></span><span class="value">{{timeRemaining}}</span></p>
            <p><span class="label"><b>Since New: </b></span><span class="value">{{timeSinceNew}}</span></p>
            <p><span class="label"><b>Since Ovh: </b></span><span class="value">{{timeSinceOVH}}</span></p>
            <p><span class="label"><b>Since Insp: </b></span><span class="value">{{timeSinceInspection}}</span></p>
            <p><span class="label"><b>Since Repair: </b></span><span class="value">{{timeSinceRepair}}</span></p>
        </div>

        <div class="col-sm-4">
            <h5>Last</h5>
            <p><span class="label"><b>Since New: </b></span><span class="value">{{lastSinceNew}}</span></p>
            <p><span class="label"><b>Since Ovh: </b></span><span class="value">{{lastSinceOVH}}</span></p>
            <p><span class="label"><b>Since Insp: </b></span><span class="value">{{lastSinceInspection}}</span></p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
</div>