<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">Asset Management</li>
                        <li class="breadcrumb-item" aria-current="page">Asset Management Maintanance</li>
                        <li class="breadcrumb-item active" aria-current="page">Intangible Type</li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <div class="inline-block display-flex">
                            <h3 class="po-head lead"> Intangible Type</h3>
                            &nbsp;&nbsp;
                            <a class="plusicon-cstm new-margin" pTooltip="Add Intangible Type" tooltipPosition="right" (click)="open(contentEdit)">
                                <i class="fa fa-plus-circle fa-lg"></i>
                            </a>
                        </div>
                        <div class="form-row col-row col-row1">
                            <div class="col-md-4 display-flex inline-block" style="margin-top: 25px;">
                              
                            </div>
                        </div>

                        <p-table #dt class="rpo-table-cstm rro-table-cstm" [value]="assetIntangibleList" [metaKeySelection]="true" [totalRecords]="totalRecords" [rows]="10" [paginator]="true" [pageLinks]="3"
                                 [rowsPerPageOptions]="[10,20,50,100]" [columns]="selectedColumns" selectionMode="multiple" (onPage)="changePage($event)" 
                                 [resizableColumns]="true" [reorderableColumns]="true" [scrollable]="true" scrollHeight="450px">
                            <ng-template pTemplate="caption">

                                <div style="text-align: right;margin-left:-6px !important;">
                                    <p-multiSelect [maxSelectedLabels]="2" [options]="selectedData" optionLabel="header" [(ngModel)]="selectedColumns"
                                                   [style]="{minWidth: '200px'}" style="float:left"></p-multiSelect>
                                    <button type="button" class="btn btn-primary-cstm " pTooltip="Download Selected" tooltipPosition="top" pButton icon="fa-download"
                                            iconPos="left" label="Export All Data" (click)="dt.exportCSV()"></button>
                                    <button type="button" class="btn btn-primary-cstm " pTooltip="Download All Data" tooltipPosition="top" pButton icon="fa-download"
                                            iconPos="left" label="Export Selection Only" (click)="dt.exportCSV({selectionOnly:true})"></button>
                                    <div class="excel-upload  excel-upload-cstm">
                                        <input type="file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected"
                                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                        <label for="upload">
                                            <span matTooltip="Upload Data (Excel)">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width:200px" *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                    <th style="width:200px;position:sticky"></th>
                                </tr>
                                <tr>
                                    <th style="width:200px" *ngFor="let col of columns" [ngSwitch]="col.field">
                                        
                                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field,'contains')">
                                    </th>
                                    <th style="width:200px;position:sticky"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" pReorderableRowHandle (dblclick)="openEdit(rowData)">
                                    <td style="width:200px" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                        {{
col.field == 'createdDate'? (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'updatedDate'?
                                        (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]
                                        }}
                                    </td>
                                    <td style="width:200px">
                                        <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData,$event)"
                                                       [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData,$event)"
                                                       [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData,$event)"
                                                       [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                        <span data-toggle="modal" data-target="#view">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openView(view,rowData)" matTooltip="View">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                        <button class="btn-edit" mat-icon-button (click)="openEdit(contentEdit,rowData)" matTooltip="Edit">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button class="btn-delete" mat-icon-button matTooltip="Delete" (click)="openDelete(content,rowData)">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </button>
                                        <button class="btn-history" mat-icon-button matTooltip="History" (click)="showAuditPopup(auditContent,rowData.shelfId)">
                                            <mat-icon color="green">history</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #auditContent let-c="close" let-d="dismiss">
                                <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
                                    <app-audit [Data]="AuditDetails" [Modal]="modal"></app-audit>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="summary" id="footer">
                                <label id="footer" class="footer">No'of records:</label> <input style="width: 5%;" [(ngModel)]="totalRecords" [disabled]="true" pInputText type="text" />
                                &nbsp;&nbsp;
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Confirmation for Delete-->

<ng-template #view class="modal fade " id="view" role="dialog">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
            <h4 class="modal-title"> Intangible Type Details</h4>
        </div>
        <div class="modal-body viewform">
            <div class="col-sm-12">
                <p>
                    <span class="label">
                        <b> Intangible Type Code: </b>
                    </span>
                    <span class="value">{{code}}</span>
                </p>
                <p>
                    <span class="label">
                        <b> Intangible Type Name: </b>
                    </span>
                    <span class="value">{{name}}</span>
                </p>

                <p>
                    <span class="label">
                        <b> Intangilble Type Memo: </b>
                    </span>
                    <span class="value">{{memo}}</span>
                </p>
                <p>
                    <span class="label">
                        <b>Created By: </b>
                    </span>
                    <span class="value">{{createdBy}}</span>
                </p>
                <p>
                    <span class="label">
                        <b>Created Date: </b>
                    </span>
                    <span class="value">{{createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                </p>
                <p>
                    <span class="label">
                        <b>Updated By: </b>
                    </span>
                    <span class="value">{{updatedBy}}</span>
                </p>
                <p>
                    <span class="label">
                        <b>Updated Date: </b>
                    </span>
                    <span class="value">{{updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger-cstm" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
        </div>
    </div>

</ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <strong>
            Intangible Type Code:
            <span class="new-label">{{code_Name}}</span>
        </strong>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="removeAssetIntangible()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>

<ng-template #contentEdit let-c="close" let-d="dismiss" style="width:auto">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isEditMode">Edit Intangible Type</h4>
        <h4 class="modal-title" *ngIf="!isEditMode">Add Intangible Type</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="SaveandEditIntangibleType()">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label for="name" class="control-label">
                            Intangible Type
                            <span class="clr-red">*</span>
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <!--<p-autoComplete field="code" [(ngModel)]="codeName" (onSelect)="partnmId($event)" (onKeyUp)="eventHandler('code', $event.target.value)" name="code"
                                        [suggestions]="localCollection" (completeMethod)="filterDisposalType($event)" [size]="30" [minLength]="1"
                                        [dropdown]="true" class="p-autoComplete-ctsm" required>-->
                        <p-autoComplete [(ngModel)]="codeName" name="codeName" (onSelect)="partnmId($event)" (onKeyUp)="eventHandler($event)" [suggestions]="localCollection" (completeMethod)="filterIntangibleType($event)" [size]="30"
                                        [minLength]="1" [dropdown]="true" class="p-autoComplete-ctsm" required>
                            <ng-template let-codeName pTemplate="item">
                                <div class="ui-helper-clearfix">{{codeName}}</div>
                            </ng-template>

                        </p-autoComplete>
                        <div *ngIf="disableSave" class="clr-red">Already Exists</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label for="AssetIntangibleName" class="control-label control-item">
                            Name
                            <span class="clr-red">*</span>
                        </label>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" name="name" class="form-control" required #Name="ngModel" [(ngModel)]="sourceAction.name" minlength="2">
                        <div *ngIf="Name.dirty && Name.errors?.required && Name.errors" class="invalid-form-error-message">
                            Intangible Type Name required.
                        </div>
                        <div *ngIf="Name.dirty && Name.errors?.minlength && Name.errors" class="invalid-form-error-message">
                            Intangible Type Name must be at least 2 characters long.
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label for="AssetIntangibleMemo" class="control-label">Memo</label>
                    </div>
                    <div class="col-sm-5">
                        <textarea class="text-item" #memo="ngModel" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceAction.memo" minlength="2"></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="checkbox-cstm check-value">
                        <label>
                            <input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input trigger2" checked id="isActive" [(ngModel)]="sourceAction.isActive" [ngModelOptions]="{standalone: true}">
                            <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                            Active
                        </label>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary-cstm" [disabled]="!userForm.valid || disableSave" (click)="SaveandEditIntangibleType()">Save</button>
        <button type="button" class="btn btn-danger-cstm" (click)="dismissModel()">Close</button>
    </div>
</ng-template>