<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main" style="min-height: 629px;">
        <div class="x_panel">
            <div class="x_content">
                    <div class="card">
                        <div class="card-body">
                            <div class="inline-block display-flex">
                                <h3 class="po-head lead">Publication</h3>
                            </div>
                        </div>
                    </div>

                <div class="form-row pub-global-filter">
                    <div class="col-md-2">                        
                        <div class="form-group">
                            <label class="fs12">Aircraft </label>
                            <p-dropdown name="aircraftSearch" class="pub-type-select" [options]="airCraftTypesList" [(ngModel)]="selectAircraftManfacturer" (onChange)="getAircraftModelByManfacturerType()"></p-dropdown>
                        </div>                        
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                                <label class="fs12">Aircraft Model</label>
                                <p-dropdown name="aircraftModelSearch" class="pub-type-select" [options]="aircraftModelList" [(ngModel)]="selectedAircraftModel" (onChange)="getDashNumberByManfacturerandModel();"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group ">
                            <label class="fs12">DashNumber </label>
                            <p-dropdown name="dashNumSearch" class="pub-type-select" [options]="dashNumberList" [(ngModel)]="selectedDashNumbers"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="fs12">ATA Chapter</label>
                            <p-dropdown name="ataChapterSearch" class="pub-type-select" [options]="ataChapterList" [(ngModel)]="selectedATAchapter" (onChange)="getSubChapterByATAChapter()"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="fs12">ATA SubChapter</label>
                            <p-dropdown name="ataSubChapterSearch" class="pub-type-select" [options]="ataSubChapterList" [(ngModel)]="selectedATASubChapter"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary-cstm" style="margin-top: 18px;" (click)="onSearchAircraftInfoAtaChapter()">Search</button>
                        <button class="btn btn-primary-cstm" style="margin-top: 18px;" (click)="onReset()">Reset</button>
                    </div>
                </div>


                <p-table #dt class="rpo-table-cstm rro-table-cstm" [first]="0" [rows]="pagesize" [value]="allpublicationInfo"  [metaKeySelection]="true" [paginator]="true"  [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]" [columns]="selectedColumns" selectionMode="multiple" [resizableColumns]="true" [reorderableColumns]="true"  [totalRecords]="totalRecords" (onLazyLoad)="publicationPagination($event)" [lazy]="true"> <!--onPage-->
                    <ng-template pTemplate="caption">

                        <div style="text-align: right">
                            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                           selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
                            <!-- <div class="inner-addon right-addon w200 inline-block">
                                <i class="fa fa-search"></i>
                                <input type="text" pInputText size="50" class="form-control ui-autocomplete-input" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Filter">
                            </div> -->
                            <button type="button" class="btn btn-primary-cstm" pButton icon="fa-download" iconPos="left" label="Export All Data" (click)="dt.exportCSV()" style="padding: 5px 12px !important;"></button>
                            <button type="button" class="btn btn-primary-cstm" pButton icon="fa-download" iconPos="left" label="Export Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="padding: 5px 12px !important;"></button>
                            <!-- <a (click)="open(contentEdit)" matTooltip="Add Publication" class="btn btn-success nobg"><span><i class="fa fa-plus"></i></span></a> -->
                            <a [routerLink]="['/singlepages/singlepages/app-create-publication']" matTooltip="Add Publication" class="btn btn-success nobg btn-cstm"><span><i class="fa fa-plus"></i></span></a>
                            <div class="excel-upload">
                                <input type="file" class="uploaddoc upload-file" name="upload[]" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                <label for="upload">
                                    <span matTooltip="Upload Data (Excel)"><i class="fa fa-upload"></i></span>
                                </label>
                            </div>
                        </div>


                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th style="width:200px;position:sticky" *ngIf="selectedColumns.length> 0"> Actions</th>
                        </tr>
                        <tr>
                            <th style="width:120px" *ngFor="let col of columns" [ngSwitch]="col.field">
                                <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field,'contains')">
                            </th>
                            <th  style="width:200px;position:sticky"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">


                            <td *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                {{col.field == 'createdDate'?  (rowData[col.field] | date: 'MM/dd/yyyy h:mm:ss a'):rowData[col.field] && col.field == 'updatedDate'?  (rowData[col.field] | date: 'MM/dd/yyyy h:mm:ss a'):rowData[col.field]}}
                            </td>

                            <td>
                                <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="handleChange(rowData,$event)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                <span data-toggle="modal" data-target="#view"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openView(view,rowData)" matTooltip="View"><i class="fa fa-eye"></i></a> </span>

                                <button class="btn-edit" mat-icon-button (click)="openEdit(rowData)" matTooltip="edit">
                                    <mat-icon>edit</mat-icon>
                                </button>

                                <button class="btn-delete" mat-icon-button matTooltip="delete" (click)="openDelete(content,rowData)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>

                                <button class="btn-history" mat-icon-button matTooltip="history" (click)="showAuditPopup(auditContent,rowData.publicationRecordId)">
                                    <mat-icon color="green">history</mat-icon>
                                </button>

                            </td>
                        </tr>
                    </ng-template>

                    <ng-template #auditContent let-c="close" let-d="dismiss">
                        <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
                            <app-audit [Data]="AuditDetails" [Modal]="modal"></app-audit>
                        </div>
                    </ng-template>



                </p-table>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteItemAndCloseModel()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>

</ng-template>

<!--<ng-template #contentEdit let-c="close" let-d="dismiss" style="width:auto">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="isEditMode">Edit Publication</h4>
        <h4 class="modal-title" *ngIf="!isEditMode">Add Publication</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="editItemAndCloseModel()">
			<div class="form-group">
				<label for="name" class="control-label">Publication Id</label>
				<div class="inner-addon right-addon inline-block">
					<div class="control-data">
			<input type="text" name="code" class="form-control" required minlength="5" #publicationId="ngModel" [(ngModel)]="sourceAction.publicationId">
			<div *ngIf="publicationId.dirty && publicationId.errors?.required && publicationId.errors" class="invalid-form-error-message">
				Name required.
			</div>
			<div *ngIf="publicationId.dirty && publicationId.errors?.minlength && publicationId.errors" class="invalid-form-error-message">
				Name must be at least 5 characters long.
			</div>
		</div>
					<p-autoComplete [(ngModel)]="publicationName" [ngModelOptions]="{standalone: true}" (onSelect)="publicationId($event)" (onKeyUp)="eventHandler($event)" [suggestions]="localCollection" (completeMethod)="filterpublications($event)" [size]="30"
									[minLength]="1" [dropdown]="true">
						<ng-template let-publicationName pTemplate="item">
							<div class="ui-helper-clearfix">{{publicationName}}</div>
						</ng-template>
					</p-autoComplete>
					<div *ngIf="disableSave" class="clr-red">Already Exists</div>
					<div class="clear"></div>
					<div class="clear"></div>
				</div>
				</div>
				<div class="form-group">
					<label for="netDays" class="control-label">Part Number</label>
					<div>
						<input type="text" name="partNumber" class="form-control" required #partNumber="ngModel" [(ngModel)]="sourceAction.partNumber" minlength="2">
						<div *ngIf="memo.dirty && memo.errors?.required && memo.errors" class="invalid-form-error-message">
							Part Number required.
						</div>
						<div *ngIf="memo.dirty && memo.errors?.minlength && memo.errors" class="invalid-form-error-message">
							Part Number must be at least 2 characters long.
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
					<label for="netDays" class="control-label">Description</label>
					<div>
						<input type="text" name="description" class="form-control" required #description="ngModel" [(ngModel)]="sourceAction.description" minlength="2">
						<div *ngIf="description.dirty && description.errors?.required && description.errors" class="invalid-form-error-message">
							Description required.
						</div>
						<div *ngIf="description.dirty && description.errors?.minlength && description.errors" class="invalid-form-error-message">
							Description must be at least 2 characters long.
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
					<label for="netDays" class="control-label">Model</label>
					<div>
						<input type="text" name="model" class="form-control" required #model="ngModel" [(ngModel)]="sourceAction.model">
						<div *ngIf="model.dirty && model.errors?.required && model.errors" class="invalid-form-error-message">
							Model required.
						</div>
						<div *ngIf="model.dirty && model.errors?.minlength && model.errors" class="invalid-form-error-message">
							Model must be at least 2 characters long.
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
					<label for="netDays" class="control-label">ATA Main</label>
					<div>
						<input type="text" name="ataMain" class="form-control" required #ataMain="ngModel" [(ngModel)]="sourceAction.ataMain">
						<div *ngIf="ataMain.dirty && ataMain.errors?.required && ataMain.errors" class="invalid-form-error-message">
							ATA Main required.
						</div>
						<div *ngIf="ataMain.dirty && ataMain.errors?.minlength && ataMain.errors" class="invalid-form-error-message">
							ATA Main must be at least 2 characters long.
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
					<label for="netDays" class="control-label">ATA SubChapter</label>
					<div>
						<input type="text" name="ataSubChapter" class="form-control" required #ataSubChapter="ngModel" [(ngModel)]="sourceAction.ataSubChapter">
						<div *ngIf="ataSubChapter.dirty && ataSubChapter.errors?.required && ataSubChapter.errors" class="invalid-form-error-message">
							ATA SubChapter Name required.
						</div>
						<div *ngIf="ataSubChapter.dirty && ataSubChapter.errors?.minlength && ataSubChapter.errors" class="invalid-form-error-message">
							ATA SubChapter must be at least 2 characters long.
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
					<label for="netDays" class="control-label">Platform</label>
					<div>
						<input type="text" name="platform" class="form-control" required #platform="ngModel" [(ngModel)]="sourceAction.platform">
						<div *ngIf="platform.dirty && platform.errors?.required && platform.errors" class="invalid-form-error-message">
							Platform required.
						</div>
						<div *ngIf="platform.dirty && platform.errors?.minlength && platform.errors" class="invalid-form-error-message">
							Platform must be at least 2 characters long.
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
					<label for="netDays" class="control-label">ATA PositionZone</label>
					<div>
						<input type="text" name="ataPositionZone" class="form-control" required #ataPositionZone="ngModel" [(ngModel)]="sourceAction.ataPositionZone">
						<div *ngIf="ataPositionZone.dirty && ataPositionZone.errors?.required && ataPositionZone.errors" class="invalid-form-error-message">
							ATA PositionZone Name required.
						</div>
						<div *ngIf="ataPositionZone.dirty && ataPositionZone.errors?.minlength && ataPositionZone.errors" class="invalid-form-error-message">
							ATA PositionZone must be at least 2 characters long.
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
					<label for="description" class="control-label">Memo</label>
					<div class="control-data">
						<input #memo="ngModel" id="memo" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceAction.memo">
						<div *ngIf="memo.dirty && memo.errors?.required && memo.errors" class="invalid-form-error-message">
							Memo required.
						</div>
						<div *ngIf="memo.dirty && memo.errors?.minlength && memo.errors" class="invalid-form-error-message">
							Memo must be at least 2 characters long.
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
		<label for="masterCompanyId" class="control-label">Company</label>
		<div class="">
			<select name="masterCompanyId" class="form-control form-control-lg w150" required #masterCompanyId="ngModel" id="masterCompanyId" [(ngModel)]="sourceAction.masterCompanyId">
				<option *ngFor="let pow of allComapnies" [value]="pow.masterCompanyId">{{pow.companyName}}</option>
			</select>
		</div>
		<div *ngIf="masterCompanyId.dirty && masterCompanyId.errors?.required && masterCompanyId.errors" class="invalid-form-error-message">
			Master company required.
		</div>
		<div class="clear"></div>
	</div>
				<div class="form-group">
					<div class="col-sm-6">
						<label class="form-check-label" for="isActive">
							<input type="checkbox" name="isActive" #isActive="ngModel" class="form-check-input" checked id="isActive" [(ngModel)]="sourceAction.isActive"> Active
						</label>
					</div>
					<div class="clear"></div>
				</div>


				<div class="modal-footer">

					<button class="btn btn-success" [disabled]="disableSave">Submit</button>
					<button type="button" class="btn btn-danger" (click)="dismissModel()">Close</button>
				</div>
</form>
    </div>

</ng-template>-->

<ng-template #contentHist let-c="close" let-d="dismiss" style="width:auto">
    <div class="modal-header">

        <h4 class="modal-title">History of Publication</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>


    </div>
    <div class="modal-body">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Description</th>
                        <th>previousValue</th>
                        <th>newValue</th>
                        <th>Last Updated By</th>
                        <th>Last Updated Time</th>
                    </tr>
                </thead>
                <tr *ngFor="let audit of auditHisory">
                    <td>{{audit.auditHistoryId}}</td>
                    <td>{{audit.columnName}}</td>
                    <td>{{audit.previousValue}}</td>
                    <td>{{audit.newValue}}</td>
                    <td>{{audit.updatedBy}}</td>
                    <td>{{audit.updatedDate}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dismissModel()">Close</button>
    </div>
</ng-template>



<div id="view" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close"  data-dismiss="modal" >×</button>
                    <h4 class="modal-title">Publication Details</h4>
            </div>
            <div class="modal-body">
                    <div id="adminsearchlocationajax" class="table-responsive default-bg clear">
                    
                    
                            <!--<a href="#" class="btn btn-primary openall">open all</a> <a href="#" class="btn btn-warning closeall">close all</a>-->
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div>
                                        <button type="button" class="btn btn-primary-cstm" data-toggle="collapse" (click)="openAllCollapse()" >Open All</button>
                                        <button type="button" class="btn btn-primary-cstm collapsed" data-toggle="collapse" (click)="closeAllCollapse()" >Close All</button>
                                        <hr />
                                    </div>
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step1" >General Information</a> </h4>
                                    </div>
                                    <div id="step1" class="panel-collapse  collapse" *ngIf="generalInfo">
                                        <div class="panel-body">
                                            <div class="modal-content">
                                                <div class="table-responsive default-bg clear">
                                                    <div class="col-sm-4">
                                                        <p><span class="label"><b>Entry Date: </b></span><span class="value">{{generalInfo.entryDate | date: 'dd/MM/yyyy'}}</span></p>
                                                        <p><span class="label"><b>Publication ID: </b></span><span class="value">{{generalInfo.publicationId ? generalInfo.publicationId : '-'}}</span></p>
                                                        <p><span class="label"><b>Publication Description: </b></span><span class="value">{{generalInfo.description ? generalInfo.description : '-'}}</span></p>
                                                        <p><span class="label"><b>Publication Type: </b></span><span class="value">{{generalInfo.publicationType ? generalInfo.publicationType : '-'}}</span></p>
                                                        <p><span class="label"><b>Author / Source / Directive: </b></span><span class="value">{{generalInfo.asd ? generalInfo.asd : '-'}}</span></p>                                                                                         
                                                    </div>
                                                    <div class="col-sm-4">
                                                            <p><span class="label"><b>Sequence: </b></span><span class="value">{{generalInfo.sequence ? generalInfo.sequence : '-'}}</span></p>
                                                            <p><span class="label"><b>Published By: </b></span><span class="value">{{generalInfo.publishby ? generalInfo.publishby : '-'}}</span></p>
                                                            <p><span class="label"><b>Location: </b></span><span class="value">{{generalInfo.location ? generalInfo.location : '-'}}</span></p>
                                                            <p><span class="label"><b>Revision Date: </b></span><span class="value">{{generalInfo.revisionDate | date: 'dd/MM/yyyy'}}</span></p>
                                                            <p><span class="label"><b>Expiration Date: </b></span><span class="value">{{generalInfo.expirationDate | date: 'dd/MM/yyyy'}}</span></p>
                                                    </div>
                                                    <div class="col-sm-4">
                                                            <p><span class="label"><b>Next Review Date: </b></span><span class="value">{{generalInfo.nextReviewDate | date: 'dd/MM/yyyy'}}</span></p>
                                                            <p><span class="label"><b>Employee: </b></span><span class="value">{{generalInfo.employeeName ? generalInfo.employeeName : '-'}}</span></p>
                                                            <p><span class="label"><b>Verified By: </b></span><span class="value">{{generalInfo.verifiedBy ? generalInfo.verifiedBy : '-'}}</span></p>
                                                            <p><span class="label"><b>Status: </b></span><span class="value">{{isActive}}</span></p>
                                                        
                                                    </div>
                                                </div>
                                                <div>
                                                    <h4 class="panel-title" style="padding-left: 10px;">Attachment Details:</h4>
                                                    <p-table
                                                      [columns]="headersforAttachment"
                                                      [value]="attachmentList"
                                                      [paginator]="true"
                                                      [rows]="10"
                                                      [first]="first"
                                                    >
                                                      <ng-template pTemplate="header" let-columns>
                                                        <tr>
                                                          <th>Sl.No</th>
                                                          <th *ngFor="let col of columns">
                                                            {{ col.header }}
                                                          </th>
                                                          <th>Action</th>
                                                        </tr>
                                                      </ng-template>
                                                      <ng-template
                                                        pTemplate="body"
                                                        let-rowData
                                                        let-columns="columns"
                                                        let-rowIndex="rowIndex"
                                                      >
                                                        <tr>
                                                          <td>{{ rowIndex + 1 }}</td>
                                                          <td *ngFor="let col of columns">
                                                            {{ rowData[col.field] }}
                                                          </td>
                                                          <td><a class="btn btn-primary-cstm" (click)="downloadFileUpload(rowData)" download>Download</a></td> <!--routerLink="/{{rowData.link}}"-->
                                                        </tr>
                                                        
                                                      </ng-template>
                                                    </p-table>
                                                  </div>
                                            </div>
        
                                        </div>
                                    </div>
        
                                     <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step2">PN Mapping</a> </h4>
                                        </div>
                                        <div id="step2" class="panel-collapse  collapse">
                                            <div class="panel-body">
                                                <div class="col-sm-12">
                                                    <div class="shadow-Box">
                                                      <p-table
                                                        [columns]="headersforPNMapping"
                                                        [value]="pnMappingList"
                                                        [paginator]="true"
                                                        [rows]="10"
                                                        [first]="first"
                                                      >
                                                        <ng-template pTemplate="header" let-columns>
                                                          <tr>
                                                            <th>Sl.No</th>
                                                            <th *ngFor="let col of columns">
                                                              {{ col.header }}
                                                            </th>
                                                          </tr>
                                                        </ng-template>
                                                        <ng-template
                                                          pTemplate="body"
                                                          let-rowData
                                                          let-columns="columns"
                                                          let-rowIndex="rowIndex"
                                                        >
                                                          <tr>
                                                            <td>{{ rowIndex + 1 }}</td>
                                                            <td *ngFor="let col of columns">
                                                              {{ rowData[col.field] }}
                                                            </td>
                                                          </tr>
                                                        </ng-template>
                                                      </p-table>
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#step3">Aircraft Information</a> </h4>
                                        </div>
                                        <div id="step3" class="panel-collapse  collapse">
                                            <div class="panel-body">
                                                <div class="col-sm-12">
                                                    <div class="shadow-Box">
                                                        <p-table
                                                          [columns]="aircraftInformationCols"
                                                          [value]="aircraftList"
                                                          [paginator]="true"
                                                          [rows]="10"
                                                          [first]="first"
                                                        >
                                                          <ng-template pTemplate="header" let-columns>
                                                            <tr>
                                                              <th>ID</th>
                                                              <th *ngFor="let col of columns">
                                                                {{ col.header }}
                                                              </th>
                                                            </tr>
                                                          </ng-template>
                                                          <ng-template
                                                            pTemplate="body"
                                                            let-rowData
                                                            let-columns="columns"
                                                            let-rowIndex="rowIndex"
                                                          >
                                                            <tr>
                                                              <td>{{ rowIndex + 1 }}</td>
                                                              <td *ngFor="let col of columns">
                                                                {{ rowData[col.field] }}
                                                              </td>
                                                            </tr>
                                                          </ng-template>
                                                        </p-table>
                                                      </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#step4">ATA Chapter</a></h4>
                                        </div>
                                        <div id="step4" class="panel-collapse  collapse">
                                            <div class="panel-body">
                                                <div class="col-sm-12">
                                                    <div class="shadow-Box">
                                                        <p-table
                                                          [columns]="atacols"  
                                                          [value]="ataList"             
                                                          [paginator]="true"
                                                          [rows]="10"
                                                          [first]="first"
                                                        >
                                                          <ng-template pTemplate="header" let-columns>
                                                            <tr>
                                                              <th>ID</th>
                                                              <th *ngFor="let col of columns">
                                                                {{ col.header }}
                                                              </th>
                                                            </tr>
                                                          </ng-template>
                                                          <ng-template
                                                            pTemplate="body"
                                                            let-rowData
                                                            let-columns="columns"
                                                            let-rowIndex="rowIndex"
                                                          >
                                                            <tr>
                                                              <td>{{ rowIndex + 1 }}</td>
                                                              <td *ngFor="let col of columns">
                                                                {{ rowData[col.field] }}
                                                              </td>
                                                            </tr>
                                                          </ng-template>
                                                        </p-table>
                                                      </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
        
                                   <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step3">Export Information</a> </h4>
                                        </div>
                                        <div id="step3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="col-sm-4">
                                                    <p><span class="label"><b>CountryId: </b></span><span class="value">{{viewItemMaster.exportCountryId}}</span></p>
                                                    <p><span class="label"><b>Value: </b></span><span class="value">{{viewItemMaster.exportValue}}</span></p>
                                                    <p><span class="label"><b>Weight: </b></span><span class="value">{{viewItemMaster.exportWeight}}</span></p>
                                                    <p><span class="label"><b>Size(L,W,H): </b></span><span class="value">{{viewItemMaster.exportSizeLength}} , {{viewItemMaster.exportSizeWidth}} , {{viewItemMaster.exportSizeHeight}}</span></p>
                                                    <p><span class="label"><b>Classification: </b></span><span class="value">{{viewItemMaster.exportClassificationId}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger-cstm" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>

<!-- <ng-template #helpText class="modal fade" id="help-popup" role="dialog">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
            <h4 class="modal-title">Help text about the page</h4>
        </div>
        <div class="modal-body">
            <p>Sample Point 1 about Page Description</p>
            <p>Sample Point 2 about Page Description</p>
            <p>Sample Point 3 about Page Description</p>
            <p>Sample Point 4 about Page Description</p>
            <p>Sample Point 5 about Page Description</p>
            <hr />
            <p><b>Excell format to upload the Data - <a href="documents/action-table-format.xlsx" class="clr-red">Download</a></b></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="dismissModel()">Close</button>
        </div>
    </div>

</ng-template> -->