.pub-global-filter label {
    width: auto !important;
    text-align: left !important;
}
.audithistory-cstm tr td {
    padding: 3px 2px !important;
}
.pubHistory-table.table-bordered thead tr th {
    width: 110px;
    padding: 8px 5px !important;
}