<div [@fadeInOut] class="page-content">
   <div class="card padding-10">
	<div class="right_col" role="main">
		<div class="x_panel">
            <div class="x_content">
                <div class="col-md-12 shadow-Box">        
                    <div class="col-md-4" >
                        <p class="fs12">
                        <label class="control-label labels-font-header" style="width: auto; ">Emp First Name: </label>
                    <span class="span-header-red" style="text-transform: capitalize"> {{firstName }} </span> </p>
                    </div>
                    <div class="col-md-4">
                        <p class="fs12">
                        <label class="control-label labels-font-header" style="width: auto; ">Emp Last Name: </label>
                        <span class="span-header-red" style="text-transform: capitalize"> {{lastName }} </span> </p>
                    </div>  
                    <div  class="col-md-4">
                        <p class="fs12">
                        <label class="control-label labels-font-header" style="width: auto; ">Emp Id: </label>
                        <span class="span-header-red" style="text-transform: capitalize"> {{empId}} </span></p>
                    </div>                              
                </div>

                <div class="card">
                        <div class="card-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb rpo-bcrumb" style="background-color: transparent;">
                                    <li class="breadcrumb-item" aria-current="page">Create Training Info</li>
                                </ol>
                            </nav>
                        </div>

                        <form name="" class="form-horizontal add-custustomer">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-3">                                
                                        <div class="form-group">
                                            <label>Aircraft Model</label>
                                            <select name="aircraftModelId" class="form-control" [(ngModel)]="sourceEmployee.aircraftModelId">
                                                <option *ngFor="let type of manufacturerData" [ngValue]="type.value">{{type.label}}</option>
                                            </select>                                        
                                        </div> 
                                        <div class="form-group">
                                            <label>Completion Date</label>
                                            <p-calendar [showIcon]="true" [minDate]="sourceEmployee.scheduleDate" name="completionDate" [(ngModel)]="sourceEmployee.completionDate"></p-calendar>
                                        </div>
                                        <div class="form-group">
                                            <label>Industry Code</label>
                                            <input type="number" class="form-control" name="industryCode" [(ngModel)]="sourceEmployee.industryCode">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Training Type <span class="clr-red">*</span></label>
                                            <select name="employeeTrainingTypeId" class="form-control" [(ngModel)]="sourceEmployee.employeeTrainingTypeId">
                                                <option *ngFor="let employeeName of alltrainingTypes" [ngValue]="employeeName.employeeTrainingTypeId">{{employeeName.description}}</option>
                                            </select>                                     
                                        </div>
                                        <div class="form-group">
                                            <label>Cost</label>
                                            <input type="number" class="form-control cost" name="cost" [(ngModel)]="sourceEmployee.cost">
                                        </div>
                                        <div class="form-group">
                                            <label>Expiration Date</label>
                                            <p-calendar [showIcon]="true" name="expirationDate" [(ngModel)]="sourceEmployee.expirationDate"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Schedule Date</label>
                                            <p-calendar [showIcon]="true" name="scheduleDate" [maxDate]="sourceEmployee.completionDate" [(ngModel)]="sourceEmployee.scheduleDate"></p-calendar>
                                        </div>
                                        <div class="form-group">
                                            <label>Duration</label>
                                            <input type="number" class="form-control" name="duration" [(ngModel)]="sourceEmployee.duration">
                                        </div>
                                        <div class="form-group">
                                            <!-- <label>Certification Received</label> -->
                                            <!-- <input type="file" name="CertificationFile[]" class="inputfile upload-file" data-multiple-caption="{count} files selected" (onSelect)="fileUpload($event,'Certification')" multiple />
                                              <label for="upload" style="margin-top: 7px;"><figure><i class="fa fa-upload"></i></figure> <span>Choose a file&hellip;</span></label> -->
                                            <p-fileUpload class="" name="CertificationFile[]" multiple="multiple" [showCancelButton]="false" [showUploadButton]="false" customUpload="true" (onSelect)="fileUpload($event,'Certification')">
                                            </p-fileUpload>
                                          
                                          
                                        </div>
                                                                               
                                <div class="form-group">
                                    <div class="table-responsive table-overflow" *ngIf="allEmployeeTrainingDocumentsList.length> 0">
                                        <h4 class="panel-title" >Attachment Details:</h4>
                                        <table class="table table-bordered ">
                                                <thead>                                                         <tr>
                                                                <th>File Name</th>
                                                                <th>Download</th>
                                                                <th>Delete</th>
                                                        </tr>
                                                </thead>

                                            <tbody *ngFor="let f of allEmployeeTrainingDocumentsList">
                                                    <tr>                                                             
                                                        <td>{{f.fileName}}</td>
                                                        <td><a (click)="downloadFileUpload(f)" matTooltip="Download" class="btn nobg btn-cstm"><span><i class="fa fa-download"></i></span></a> </td>
                                                        <td>  <button class="btn-delete" mat-icon-button matTooltip="Delete" (click)="getEmployeeAttachmentDelete(f)">
                                                        <mat-icon color="warn">delete</mat-icon> </button>
                                                    </td>
                                                    </tr>
                                                
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                       
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Frequency of Training</label>
                                            
                                                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.frequencyOfTrainingId">
                                                    <option value="0">Select </option>
                                                    <option *ngFor="let trainingData of getAllFrequencyTrainingInfodrpData" [ngValue]="trainingData.value">  {{trainingData.label}}</option>
                                                </select>
                                                <!--<div>
                                                     <div class="col-sm-7">
                                                    <input type="number" class="form-control" name="frequencyOfTraining" [(ngModel)]="sourceEmployee.frequencyOfTraining">
                                                </div>
                                                <div class="col-sm-5">
                                                    <select class="form-control" name="unitOfMeasureId" [(ngModel)]="sourceEmployee.unitOfMeasureId">
                                                        <option *ngFor="let unitName of allPurchaseUnitOfMeasureinfo" [ngValue]="unitName.unitOfMeasureId">{{unitName.shortName}}</option>
                                                    </select>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="form-group" style="margin-top: 25px;">
                                            <label>Provider</label>
                                            <input type="text" class="form-control" name="provider" [(ngModel)]="sourceEmployee.provider">
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-bottom: 20px;">
                                    <button type="button" [disabled]="nextbuttonEnable == false"  class="btn btn-primary-cstm pull-right" (click)="savetrainigSection()">Save & Next</button>
                                    <button type="button" class="btn btn-primary-cstm pull-right" (click)="previousClick()">Previous</button>
                                </div>
                            </div>
                        </form>
                    </div>


                <!-- <div class="form-group col-sm-4 w400" style="display: inline-block;margin: 10px 5px 0 5px;">
                    <p class="fs10"> <label class="control-label col-sm-4">Emp First Name:</label> {{firstName}}  </p>
                </div>
                <div class="form-group col-sm-4 w400" style="display: inline-block;margin: 10px 5px 0 5px;">
                    <p class="fs10"><label class="control-label col-sm-4">Emp Last Name:</label>  {{lastName}}</p>
                </div>
                <div class="form-group col-sm-4 w400" style="display: inline-block;margin: 10px 5px 0 5px;">
                    <p class="fs10"><label class="control-label col-sm-4">Emp Id:</label>  {{empId}}</p>
                </div>
                <h4 class="page-heading clr-green">Employee Setup</h4>
                <div class="clear"></div><br>
                <form action="#" method="post" id="" name="" class="form-horizontal add-custustomer">

                    <div class="employee-setup">

                        <div class="col-12 employer-block">

                            <div class="col-12">
                                <div class="tab-content form-bg" id="employee-block">
                                    <div class="tab-pane step-data active" id="step3">
                                        <div class="tab-pane">
                                            <div class="col-sm-12">
                                            </div>
                                            <div class="clear"></div>
                                            <hr class="hr-light-grey" />
                                            <div class="col-sm-6 w400">
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Aircraft Model</label>
                                                    <div class="col-sm-7">
                                                 

                                                             <p-dropdown
                                                            [options]="manufacturerData"
                                                            name="select Aircraft"
                                                            class="p-dropdown-custom "
                                                            [(ngModel)]="sourceEmployee.aircraftModelId"
                                                            
                                                          ></p-dropdown> 

                                                          <select [ngModelOptions]="{standalone: true}"   [(ngModel)]="sourceEmployee.aircraftModelId">
                                                                <option *ngFor="let type of manufacturerData" [ngValue]="type.value">{{type.label}}</option>
                                                            </select>
                                                    
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Training Type <span style="color:red">*</span></label>
                                                    <div class="col-sm-7">
                                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.employeeTrainingTypeId">
                                                            <option *ngFor="let employeeName of alltrainingTypes" [ngValue]="employeeName.employeeTrainingTypeId">{{employeeName.description}}</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Schedule Date</label>
                                                    <div class="col-sm-7">
                                                        <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.scheduleDate"></p-calendar>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Frequency of Training</label>
                                                    <div class="col-sm-4">
                                                        <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.frequencyOfTraining">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.unitOfMeasureId">
                                                            <option *ngFor="let unitName of allPurchaseUnitOfMeasureinfo" [ngValue]="unitName.unitOfMeasureId">{{unitName.shortName}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Completion Date</label>
                                                    <div class="col-sm-7">
                                                        <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.completionDate"></p-calendar>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Cost</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" class="form-control cost" id="" name="" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.cost">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-6 w400">
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Duration</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" class="form-control" id="" name="" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.duration">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Provider</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" class="form-control" id="" name="" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.provider">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Industry Code</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" class="form-control" id="" name="" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.industryCode">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Expiration Date</label>
                                                    <div class="col-sm-7">
                                                        <p-calendar [showIcon]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee.expirationDate"></p-calendar>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Certification Received</label>
                                                    <div class="col-sm-7 upload">
                                                        <input type="file" name="upload[]" id="upload" class="inputfile upload-file" data-multiple-caption="{count} files selected" multiple />
                                                        <label for="upload"><figure><i class="fa fa-upload"></i></figure> <span>Choose a file&hellip;</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>

                                            <button type="button" [disabled]="nextbuttonEnable == false"  class="btn btn-primary-cstm pull-right" (click)="savetrainigSection()">Save & Next</button>
                                            <button type="button" class="btn btn-primary-cstm pull-right" (click)="previousClick()">Previous</button>
                                            <div class="clear"></div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </form>             -->
            </div>
		</div>
		
    </div>
    </div>
    <div class="pull-right"> &copy; 2018 <a>PAS</a> </div>
</div>


