﻿<!-- <div
  id="ModalDashNumber"
  class="modal fade custom-popup"
  role="dialog"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-full">
 
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Add Aircraft Info</h4>
      </div> 
      <div class="modal-body">-->
				<div class="card mb-3">
					<div class="col-sm-12  font-padding">
							<div class="col-sm-2">
									PN: <span style="color:red">{{partData.partNumber}}</span>
							</div>
							<div class="col-sm-4">
									PN Description: <span style="color:red">{{partData.partDescription}}</span>
							</div>
							<!-- <div class="col-sm-3">
									Alternate PN: <span style="color:red">{{alternatePn}}</span>
							</div> -->
							<div class="col-sm-3">
									Manufacturer: <span style="color:red">{{partData.manufacturerName}}</span>
							</div>
					</div>
				</div>

		<form #addCapesForm="ngForm" *ngIf="isCapViewMode== false">        
			<div class="form-row">
			  <div class="col-md-2" *ngIf="itemMasterId == undefined">
				<div class="form-group">
					<label class="popup-plusicon-cstm">Part Number <strong class="clr-red">*</strong> </label>
					<p-dropdown class="imstock-pddowm imcapes-pddowm" [options]="pnData" filter="true"  [(ngModel)]="itemMasterIDFromPartNumberSelection" name="itemMasterIDFromPartNumberSelection" id="partNumber" title="Part Number" required  placeholder="Select Part Number" [showClear]="true" (onChange)="getPartPublicationByItemMasterId(itemMasterIDFromPartNumberSelection)"></p-dropdown>
				</div>
			  </div>
			  <div class="col-md-3">
				<div class="form-group">
					<label class="popup-plusicon-cstm">Capability <span class="clr-red">*</span>
						<a
					  data-dismiss="modal" style="margin-left: 3px;"
					  [routerLink]="['/singlepages/singlepages/app-capability-type']"
					  ><i class="fa fa-plus-circle fa-lg"></i></a>
					</label>
				  <!-- <p-dropdown multipl
					class="imstock-pddowm imcapes-pddowm"
					name="capabilityTypeId"
					[options]="capabalityTypeList"
					[(ngModel)]="capabilityTypeId"
					placeholder="Select Capability"
					[showClear]="true" [required]="true"
					></p-dropdown> -->
					<p-multiSelect
					[maxSelectedLabels]="2"
					class="imstock-pmselect"
					[options]="capabalityTypeList"
					[(ngModel)]="capabilityTypeId"
					name="capabilityTypeId"					
					></p-multiSelect>
				
				</div>
			  </div>
			
			  
			  <div class="col-md-2">
				<button
				  style="margin-top: 20px;margin-left: 30px;"
				  type="button"
				  class="btn btn-primary"
				  [disabled]="!addCapesForm.valid"
				  (click)="mapAircraftInformation(); "
				>
				  Add
				</button>
			  </div>
			</div>
			</form>
			
			<form #capesForm="ngForm">
			<div class="card" *ngIf="viewTable">
			  <p-table
				class="rpo-table-cstm pub-ptable-cstm itemcapes-ptable"
				[value]="aircraftData"
				
				[columns]="colaircraft"
				[scrollable]="true"
				[style]="{ width: '100%' }"
				[paginator]="false"
			  >
				<ng-template pTemplate="header" let-columns>
				  <tr>
					<th style="width: 130px;text-align: center;">Capability Type</th>
					<th style="width: 520px;text-align: center;" colspan="4">Managment Structure <span class="clr-red">*</span></th>
					<th style="width: 130px;text-align: center;" *ngFor="let col of columns">
					  {{ col.header }}
					</th>
					<th style="width: 130px;text-align: center;">Verified</th>
					<th style="width: 130px;text-align: center;">Verified By</th>
					<th style="width: 130px;text-align: center;">Verified Date</th>
					<th style="width: 130px;text-align: center;">Memo</th>
				  </tr>
				</ng-template>
				<ng-template
				  pTemplate="body"
				  let-row_no="rowIndex"
				  let-rowData
				  let-columns="columns"
				>
				<ng-container> <!--*ngFor="let rowData of aircraftData; let row_no = index;"-->
				  <tr>            
					<td style="width: 130px;">{{ rowData.capailityTypeName }}</td>
					<td style="width: 130px;">
					  <p-dropdown
					  placeholder="Select"
					  name="company{{row_no}}"
					  #companyId="ngModel"
					  [options]="legalEntityList"
					  class="p-dropdown-custom-sm"
					  (onChange)="selectedLegalEntity($event.value, row_no)"
					  [(ngModel)]="rowData.companyId"
					  [required]="true"
					>
					</p-dropdown>
					</td>
					<td style="width: 130px;">
					  <p-dropdown
					  placeholder="Select"
					  name="bu{{row_no}}"
					  #bu="ngModel"
					  [options]="getDynamicVariableData('businessUnitList',row_no)"
					  class="p-dropdown-custom-sm"
					  (onChange)="selectedBusinessUnit($event.value, row_no)"
					  [(ngModel)]="rowData.buId"
					>
					</p-dropdown>
					</td>
					<td style="width: 130px;">
					  <p-dropdown
					  placeholder="Select"
					  name="division{{row_no}}"
					  #division="ngModel"
					  [options]="getDynamicVariableData('divisionList',row_no)"
					  class="p-dropdown-custom-sm"
					  (onChange)="selectedDivision($event.value, row_no)"
					  [(ngModel)]="rowData.divisionId"
					>
					</p-dropdown>
					</td>
					<td style="width: 130px;">
					  <p-dropdown
					  placeholder="Select"
					  name="department{{row_no}}"
					  #department="ngModel"
					  [options]="getDynamicVariableData('departmentList',row_no)"
					  class="p-dropdown-custom-sm"
					  (onChange)="selectedDepartment($event.value, row_no)"
					  [(ngModel)]="rowData.departmentId"
					>
				  </p-dropdown>
					</td>
			
				
					<td style="width: 130px;text-align: center;">
					  <p-checkbox
					  	class="pcheckbox-cstm"
						name="isverified{{row_no}}"
						binary="false"
						[(ngModel)]="rowData.isVerified"
						(onChange)="resetVerified(rowData, $event)"
					
					  ></p-checkbox>
					</td>
					<td style="width: 130px;">
					  <p-dropdown
						class="p-dropdown-custom-sm"
						[options]="employeeList"
						placeholder="Select"
						[disabled]="!rowData.isVerified"
						[required]="rowData.isVerified"
						name="employeeList{{row_no}}"
						[(ngModel)]="rowData.verifiedById"
					  ></p-dropdown>
					</td>
					<td style="width: 130px;">
					  <p-calendar
					  	class="pcal-item-capes"
						[(ngModel)]="rowData.verifiedDate"
						[disabled]="!rowData.isVerified"
						[required]="rowData.isVerified"
						name="verifiedDate{{row_no}}"
						[showIcon]="true"
					  ></p-calendar>
					</td>
			
					<!-- <td *ngFor="let col of columns">
					  {{ rowData[col.field] }}
					</td> -->
					<td style="width: 130px;">
					  <input
						type="text"
						class="form-control input-value"
						[(ngModel)]="rowData.memo"
						name="memo{{row_no}}"
					  />
					</td>
				  
				  </tr></ng-container>
				</ng-template>
			  </p-table>
			  
			</div>
			<div class="pull-right" *ngIf="viewTable">
			  <button
			  type="button"
			  class="btn btn-primary" [disabled]="!capesForm.valid"
			  data-dismiss="modal" style="margin-top: 10px;"
			  (click)="saveCapability(); "
			>
			  Save
			</button>
			<button *ngIf="isEnableCapesList"
			type="button"
			class="btn btn-danger" 
			data-dismiss="modal" style="margin-top: 10px;"
			(click)="onCloseCapes();"
		  >
			Close
		  </button>
			</div>
			</form>
			<!-- </div>
				  <div class="modal-footer">
					<button
					  type="button"
					  class="btn btn-primary"
					  data-dismiss="modal"
					  (click)="saveAircraft()"
					>
					  Save
					</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">
					  Close
					</button>
				  </div>
				</div>
			  </div>
			</div> -->
			