<div class="x_content">

	<h4 class="page-heading clr-green">Item Master Capabilities</h4>
	<div class="clear"></div>

	<form action="#" method="post" id="" name="" class="form-horizontal ro-grid-form mtop10">

		<div class="modal-body">
			
				<div class="col-sm-6 w350">
					<label class="label col-sm-2 w100">Item Category</label>
					<div class="col-sm-8 ">
						<label class="w60 disabled"><input type="radio" name="item-category" value="stock" checked="checked" disabled=""> Stock</label>
						<label class="w90 disabled"><input type="radio" name="item-category" value="equipment" disabled=""> Equipment</label>
					</div>
				</div>
				<div class="col-xs-3 w250">
					<div class="col-sm-6 w350">
						<div class="form-group col-sm-12">
							<label for="customerName" class="control-label col-sm-4">PN <strong style="color:red">*</strong></label>
							

								<p-autoComplete [(ngModel)]="sourceItemMasterCap.partId" (onKeyUp)=partEventHandler($event) (onSelect)="partnmId($event)" [ngModelOptions]="{standalone: true}" [suggestions]="partCollection" (completeMethod)="filterpartItems($event)" [size]="30"
												[minLength]="1" [dropdown]="true">
									<ng-template let-partName pTemplate="part">
										<div class="ui-helper-clearfix">{{partName}}</div>
									</ng-template>
								</p-autoComplete>

							
						</div>
					</div>
					<div class="col-sm-6 w250">
						<span class="label"><b>PN Description:{{sourceItemMasterCap.partDescription}} </b></span>
					</div>
				</div>
			
				<!--<div class="col-xs-5 ">
					<p>
						
						
					</p>
				</div>-->
				
				<div id="" class="table-responsive default-bg clear">
					<table class="table table-bordered table-striped table-sorting">
						<thead>
							<tr>
								<th>Capability Types</th>
								<th>Company</th>
								<th>BU</th>
								<th>Division</th>
								<th>Dep</th>
								<th>Manufacturer</th>
								<th>Aircraft Manufacturer</th>
								<th>Model</th>
								<th>Description</th>
								<th>ATA Chapter</th>
								<th>Entry Date</th>
								<th>CMM ID</th>
								<th>Verified</th>
								<th>Verified By</th>
								<th>Date Verified</th>
								<th>Memo</th>
								<th class="events3"></th>
							</tr>
						</thead>
						<tbody>
							<tr style="background: #a5a5a5;">
								<td style="color: #fff; font-weight: bold;">MFG</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
                                    <div class="input-group">
                                        <p-multiSelect [options]="shiftValues" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedAircraftTypes" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
                                        <!--<select class="multiselect" multiple="" style="display: none;">
        <option value="AirBus">AirBus</option>
        <option value="Boeing">Boeing</option>
    </select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="AirBus"> AirBus</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing"> Boeing</label></a></li></ul></div>
    <a href="aircraft-manufacturer.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>-->
                                    </div>
								</td>
								<td>
                                    <div class="input-group">
                                        <p-multiSelect [options]="selectedAircraftDataModels" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedAircraftModelTypes" [panelStyle]="{minWidth:'12em'}" (click)="openModelPopups(contentModel)"></p-multiSelect>
                                        <!--<select class="multiselect" id="" name="catadd" multiple="" style="display: none;">
        <option value="Airbus-B767">AirBus - B767</option>
        <option value="Airbus-A320">AirBus - A320</option>
        <option value="Boeing-B767">Boeing - B767</option>
        <option value="Boeing-A320">Boeing - A320</option>
    </select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-B767"> AirBus - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-A320"> AirBus - A320</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-B767"> Boeing - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-A320"> Boeing - A320</label></a></li></ul></div>
    <a href="aircraft-models.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>-->
                                    </div>
								</td>
								<td><a href="#" class="btn btn-warning" data-toggle="tooltip" title="" data-original-title="Add Models"><i class="fa fa-plus clr-white"></i></a></td>

								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<select [(ngModel)]="sourceItemMasterCap.companyId" [ngModelOptions]="{standalone: true}" (change)="getBUList(sourceItemMasterCap.companyId)">
										<option *ngFor="let ataName of maincompanylist" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
									</select>
								</td>
								<td>
									<select [(ngModel)]="sourceItemMasterCap.businessUnitId" [ngModelOptions]="{standalone: true}" (change)="getDepartmentlist(sourceItemMasterCap.businessUnitId)">
										<option *ngFor="let ataName of bulist" [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
									</select>
								</td>
								<td>
									<select [(ngModel)]="sourceItemMasterCap.departmentId" [ngModelOptions]="{standalone: true}" (change)="getDivisionlist(sourceItemMasterCap.departmentId)">
										<option *ngFor="let ataName of departmentList " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
									</select>
								</td>
								<td>
									<select [(ngModel)]="sourceItemMasterCap.divisionId" [ngModelOptions]="{standalone: true}" (change)="getDivisionChangeManagementCode(sourceItemMasterCap.divisionId)">
										<option *ngFor="let ataName of divisionlist " [ngValue]="ataName.managementStructureId">{{ataName.code}}</option>
									</select>
								</td>
								<td>
                                    <div class="input-group">
                                        <!--<select class="w100">
        <option>-- Manufacturer --</option>
        <option>ABC Company</option>
        <option>XYZ Company</option>
        <option>123 Company</option>
        <option>456 Company</option>
        <option>789 Company</option>
    </select>-->
                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="manufacturerId">
                                            <option *ngFor="let name of allManufacturerInfo" [ngValue]="name.manufacturerId">{{name.name}}</option>
                                        </select>
                                        <a href="manufacturer.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
                                    </div>
								</td>
								<td>AirBus</td>
								<td>B767</td>
								<td><input type="text" class="form-control w100"></td>
								<td>
                                    <div class="input-group">
                                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="ataMainId">
                                            <option *ngFor="let ataName of allATAMaininfo1" [ngValue]="ataName.ataChapterId">{{ataName.ataChapterName}}</option>
                                        </select>
                                        <!--<select class="w70">
        <option>-- ATA --</option>
        <option value="AirBus">AirBus</option>
        <option value="Boeing">Boeing</option>
    </select>-->
                                        <a href="add-ata.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
                                    </div>
								</td>
								<td><input type="text" class="form-control datepicker w70 hasDatepicker" id="dp1552359556396"></td>
								<td><input type="text" class="form-control"></td>
								<td><input type="checkbox" class="form-control"></td>
								<td><input type="text" class="form-control w70"></td>
								<td><input type="text" class="form-control datepicker w70 hasDatepicker" id="dp1552359556397"></td>
								<td><input type="text" class="form-control w100"></td>
								<td>
									<span data-toggle="tooltip" class="status" title="" data-placement="right" data-original-title="Active">
										<div class="toggle btn btn-success" data-toggle="toggle" style="width: 30px; height: 19px;"><input type="checkbox" checked="" data-toggle="toggle" data-width="30" id="toggle-one" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="success" data-offstyle="danger"><div class="toggle-group"><label class="btn btn-success toggle-on"><i class="fa fa-check"></i></label><label class="btn btn-danger active toggle-off"><i class="fa fa-times"></i></label><span class="toggle-handle btn btn-default"></span></div></div>
									</span> <span data-toggle="modal" data-target="#history"><a href="#" class="btn btn-success nobg" data-toggle="tooltip" title="" data-original-title="History"><i class="fa fa-history"></i></a></span>
									<span data-toggle="modal" data-target="#delete"><a href="#" class="btn btn-success nobg" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></span>
								</td>
							</tr>
							<tr style="background: #a5a5a5;">
								<td style="color: #fff; font-weight: bold;">Overhaul</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="input-group">
										<select class="multiselect" multiple="" style="display: none;">
											<option value="AirBus">AirBus</option>
											<option value="Boeing">Boeing</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="AirBus"> AirBus</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing"> Boeing</label></a></li></ul></div>
										<a href="aircraft-manufacturer.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td>
									<div class="input-group">
										<select class="multiselect" id="" name="catadd" multiple="" style="display: none;">
											<option value="Airbus-B767">AirBus - B767</option>
											<option value="Airbus-A320">AirBus - A320</option>
											<option value="Boeing-B767">Boeing - B767</option>
											<option value="Boeing-A320">Boeing - A320</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-B767"> AirBus - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-A320"> AirBus - A320</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-B767"> Boeing - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-A320"> Boeing - A320</label></a></li></ul></div>
										<a href="aircraft-models.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td><a href="#" class="btn btn-warning" data-toggle="tooltip" title="" data-original-title="Add Models"><i class="fa fa-plus clr-white"></i></a></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr style="background: #a5a5a5;">
								<td style="color: #fff; font-weight: bold;">Distribution</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="input-group">
										<select class="multiselect" multiple="" style="display: none;">
											<option value="AirBus">AirBus</option>
											<option value="Boeing">Boeing</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="AirBus"> AirBus</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing"> Boeing</label></a></li></ul></div>
										<a href="aircraft-manufacturer.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td>
									<div class="input-group">
										<select class="multiselect" id="" name="catadd" multiple="" style="display: none;">
											<option value="Airbus-B767">AirBus - B767</option>
											<option value="Airbus-A320">AirBus - A320</option>
											<option value="Boeing-B767">Boeing - B767</option>
											<option value="Boeing-A320">Boeing - A320</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-B767"> AirBus - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-A320"> AirBus - A320</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-B767"> Boeing - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-A320"> Boeing - A320</label></a></li></ul></div>
										<a href="aircraft-models.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td><a href="#" class="btn btn-warning" data-toggle="tooltip" title="" data-original-title="Add Models"><i class="fa fa-plus clr-white"></i></a></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr style="background: #a5a5a5;">
								<td style="color: #fff; font-weight: bold;">Certification</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="input-group">
										<select class="multiselect" multiple="" style="display: none;">
											<option value="AirBus">AirBus</option>
											<option value="Boeing">Boeing</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="AirBus"> AirBus</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing"> Boeing</label></a></li></ul></div>
										<a href="aircraft-manufacturer.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td>
									<div class="input-group">
										<select class="multiselect" id="" name="catadd" multiple="" style="display: none;">
											<option value="Airbus-B767">AirBus - B767</option>
											<option value="Airbus-A320">AirBus - A320</option>
											<option value="Boeing-B767">Boeing - B767</option>
											<option value="Boeing-A320">Boeing - A320</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-B767"> AirBus - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-A320"> AirBus - A320</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-B767"> Boeing - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-A320"> Boeing - A320</label></a></li></ul></div>
										<a href="aircraft-models.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td><a href="#" class="btn btn-warning" data-toggle="tooltip" title="" data-original-title="Add Models"><i class="fa fa-plus clr-white"></i></a></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr style="background: #a5a5a5;">
								<td style="color: #fff; font-weight: bold;">Repair</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="input-group">
										<select class="multiselect" multiple="" style="display: none;">
											<option value="AirBus">AirBus</option>
											<option value="Boeing">Boeing</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="AirBus"> AirBus</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing"> Boeing</label></a></li></ul></div>
										<a href="aircraft-manufacturer.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td>
									<div class="input-group">
										<select class="multiselect" id="" name="catadd" multiple="" style="display: none;">
											<option value="Airbus-B767">AirBus - B767</option>
											<option value="Airbus-A320">AirBus - A320</option>
											<option value="Boeing-B767">Boeing - B767</option>
											<option value="Boeing-A320">Boeing - A320</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-B767"> AirBus - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-A320"> AirBus - A320</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-B767"> Boeing - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-A320"> Boeing - A320</label></a></li></ul></div>
										<a href="aircraft-models.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td><a href="#" class="btn btn-warning" data-toggle="tooltip" title="" data-original-title="Add Models"><i class="fa fa-plus clr-white"></i></a></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr style="background: #a5a5a5;">
								<td style="color: #fff; font-weight: bold;">Exchange</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="input-group">
										<select class="multiselect" multiple="" style="display: none;">
											<option value="AirBus">AirBus</option>
											<option value="Boeing">Boeing</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="AirBus"> AirBus</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing"> Boeing</label></a></li></ul></div>
										<a href="aircraft-manufacturer.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td>
									<div class="input-group">
										<select class="multiselect" id="" name="catadd" multiple="" style="display: none;">
											<option value="Airbus-B767">AirBus - B767</option>
											<option value="Airbus-A320">AirBus - A320</option>
											<option value="Boeing-B767">Boeing - B767</option>
											<option value="Boeing-A320">Boeing - A320</option>
										</select><div class="btn-group"><button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected"><span class="multiselect-selected-text">None selected</span> <b class="caret"></b></button><ul class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-B767"> AirBus - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Airbus-A320"> AirBus - A320</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-B767"> Boeing - B767</label></a></li><li><a tabindex="0"><label class="checkbox"><input type="checkbox" value="Boeing-A320"> Boeing - A320</label></a></li></ul></div>
										<a href="aircraft-models.html" target="_blank" class="add-icon"><i class="fa fa-plus"></i></a>
									</div>
								</td>
								<td><a href="#" class="btn btn-warning" data-toggle="tooltip" title="" data-original-title="Add Models"><i class="fa fa-plus clr-white"></i></a></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

						</tbody>
					</table>
					<div class="clear"></div>
					<br>
				</div>
			
		</div>
		<div class="col-sm-4">


		</div>
		<div class="col-sm-4">



		</div>
		<div class="clear"></div>
		<hr>
		<button type="submit" class="btn btn-success pull-right submit-btn" (click)="saveVendorCapsclose()">Save</button>
		<div class="clear"></div>
	</form>
	<div class="pull-right"> © 2019 <a href="#">PAS</a> </div>
</div>