<p-table
  #dt
  class="rpo-table-cstm rro-table-cstm"
  [value]="workOrderData"
  [first]="0"
  [rows]="pageSize"
  [paginator]="true"
  [pageLinks]="3"
  [rowsPerPageOptions]="[10, 20, 50, 100]"
  [columns]="selectedColumns"
  selectionMode="multiple"
  expandableRows="true"
  rowExpandMode="single"
  [lazy]="true"
  (onLazyLoad)="loadData($event)"
  [resizableColumns]="true"
  [reorderableColumns]="true"
  [scrollable]="true"
  [totalRecords]="totalRecords"
  [dataKey]="workOrderPartListDataKeys"
>
  <ng-template pTemplate="caption">
    <div style="text-align: right;margin-left:-6px !important;">
      <p-multiSelect
        [maxSelectedLabels]="2"
        [options]="headers"
        optionLabel="header"
        [(ngModel)]="selectedColumns"
        [style]="{ minWidth: '200px' }"
        style="float:left"
        (onChange)="columnsChanges()"
      ></p-multiSelect>

      <div
        class="inner-addon right-addon w200 inline-block  g-filter-search-cstm"
      >
        <i class="fa fa-search"></i>
        <input
          type="text"
          pInputText
          size="50"
          class="form-control ui-autocomplete-input"
          (input)="globalSearch($event.target.value)"
          placeholder=" Filter"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary-cstm "
        pTooltip="Download Selected"
        tooltipPosition="top"
        pButton
        icon="fa-download"
        iconPos="left"
        label="Export All Data"
        (click)="dt.exportCSV()"
      ></button>
      <button
        type="button"
        class="btn btn-primary-cstm "
        pTooltip="Download All Data"
        tooltipPosition="top"
        pButton
        icon="fa-download"
        iconPos="left"
        label="Export Selection Only"
        (click)="dt.exportCSV({ selectionOnly: true })"
      ></button>
      <div class="excel-upload  excel-upload-cstm">
        <input
          type="file"
          name="upload[]"
          id="upload"
          (change)="customExcelUpload($event)"
          class="uploaddoc upload-file"
          accept=".xlsx, .xls, .csv"
        />
        <label for="upload">
          <span matTooltip="Upload Data (Excel)">
            <i class="fa fa-upload"></i>
          </span>
        </label>
        &nbsp; &nbsp;
        <a
          matTooltip="Create Customer"
          class="btn btn-success nobg btn-cstm"
          [routerLink]="[
            '/workordersmodule/workorderspages/app-work-order-add'
          ]"
          ><span><i class="fa fa-plus"></i></span
        ></a>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>WorkOrder Number</th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th style="position:sticky" *ngIf="selectedColumns.length > 0">
        Actions
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-rowIndex="rowIndex"
    let-expanded="expanded"
    let-columns="columns"
  >
    <tr class="ui-widget-header">
      <td>
        <a [pRowToggler]="rowData">
          <i
            (click)="getWorkOrderPartListByWorkOrderId(rowData)"
            [ngClass]="
              expanded
                ? 'fa fa-fw fa-chevron-circle-down'
                : 'fa fa-fw fa-chevron-circle-right'
            "
          ></i>
          <span> {{ rowData.workOrderNum }}</span>
        </a>
      </td>
      <td *ngFor="let col of columns">
        {{
          col.field == 'openDate'
            ? (rowData[col.field] | date: 'MM/dd/yyyy')
            : rowData[col.field] && col.field == 'updatedDate'
            ? (rowData[col.field] | date: 'MM/dd/yyyy')
            : rowData[col.field]
        }}
      </td>
      <td style="width:200px" *ngIf="selectedColumns.length > 0">
        <p-inputSwitch
          [(ngModel)]="rowData['isActive']"
          name="isActive{{ rowIndex }}"
          (onChange)="changeStatus(rowData)"
        ></p-inputSwitch>

        <span data-toggle="modal" data-target="#view">
          <a
            class="btn btn-info boxed-float-btn nobg"
            data-toggle="tooltip"
            (click)="view(rowData)"
            data-target="#view"
            data-toggle="modal"
          >
            <i class="fa fa-eye"></i>
          </a>
        </span>
        <button
          class="btn-edit ptable-wo-btns"
          mat-icon-button
          (click)="edit(rowData)"
          matTooltip="Edit"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          class="btn-delete ptable-wo-btns"
          mat-icon-button
          matTooltip="Delete"
          data-target="#delete"
          data-toggle="modal"
          (click)="delete(rowData)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <button
          class="btn-history ptable-wo-btns"
          mat-icon-button
          matTooltip="History"
          data-target="#contentHist"
          data-toggle="modal"
          (click)="getAuditHistoryById(rowData)"
        >
          <mat-icon color="green">history</mat-icon>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
    <tr>
      <!-- <td>{{ partList.openDate }}</td> -->
    </tr>
  </ng-template>
</p-table>

<!-- Modal -->
<div id="view" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">WorkOrder View</h4>
      </div>

      <div class="card-body" *ngIf="viewWorkOrderHeader">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive default-bg clear">

<div>
          <div class="col-md-6">

          <p>
              <span class="label"><b>    MPN Type : </b></span
              ><span class="value">{{
                viewWorkOrderHeader.singleMPN }}</span>
                
            </p>  
          </div>
          <div class="col-md-6">


              <p>
                  <span class="label"><b> WorkOrder Type : </b></span
                  ><span class="value">{{
                    viewWorkOrderHeader.workOrderType }}</span>
                    
                </p>  
          </div>
          </div>
          <hr style="clear: both;">

              <div>
                  <div class="col-sm-3">
                      <p>
                        <span class="label"><b>WorkOrder Number: </b></span
                        ><span class="value">{{
                          viewWorkOrderHeader.workOrderNumber
                        }}</span>
                      </p>
                      <p>
                        <span class="label"><b>Open Date: </b></span
                        ><span class="value">{{
                          viewWorkOrderHeader.openDate | date: 'MM/dd/yyyy'
                        }}</span>
                      </p>
                      <p>
                        <span class="label"><b>WO Status: </b></span
                        ><span class="value">{{ viewWorkOrderHeader.woStatus }}</span>
                      </p>
                    </div>
                    <div class="col-sm-3">
                      <p>
                        <span class="label"><b>Customer Name: </b></span
                        ><span class="value">{{
                          viewWorkOrderHeader.customerName
                        }}</span>
                      </p>
                      <p>
                        <span class="label"><b>Customer Code: </b></span
                        ><span class="value"></span>
                      </p>
                      <p>
                        <span class="label"><b>Customer Ref: </b></span
                        ><span class="value"></span>
                      </p>
                    </div>
      
                    <div class="col-sm-3">
                      <p>
                        <span class="label"><b>Contract: </b></span
                        ><span class="value">{{
                          viewWorkOrderHeader.isContractAvl
                        }}</span>
                      </p>
                      <p *ngIf="isContractAvl">
                        <span class="label"> <b>Contract Reference:</b> </span
                        ><span class="value">{{
                          viewWorkOrderHeader.contractReference
                        }}</span>
                      </p>
                    </div>
                    <div class="col-sm-3">
                      <p>
                        <span class="label"><b>Credit Limit & Terms: </b></span
                        ><span class="value">
                          {{ viewWorkOrderHeader.creditTerm }} &
                          {{ viewWorkOrderHeader.creditLimit }}
                        </span>
                      </p>
                      <p>
                        <span class="label"><b>Employee: </b></span
                        ><span class="value">{{ viewWorkOrderHeader.employee }}</span>
                      </p>
                      <p>
                        <span class="label"><b>Salesperson: </b></span
                        ><span class="value">{{
                          viewWorkOrderHeader.salesperson
                        }}</span>
                      </p>
                    </div>
              </div>
            </div>

            <div
              class="table-responsive"
              *ngIf="viewWorkOrderMPN"
              style="height: 300px;"
            >
              <table
                class="table table-bordered table-striped table-fixed table-sorting mpn-list-table"
                id="mpn-list-table"
              >
                <thead>
                  <tr>
                    <th rowspan="2">MPN *</th>
                    <th rowspan="2">MPN Description *</th>
                    <th rowspan="2">Revised MPN</th>
                    <!-- <th rowspan="2">Work Scope *</th> -->
                    <th rowspan="2">NTE</th>
                    <th rowspan="2">Condition Id *</th>
                    <th rowspan="2">Stock Line Num *</th>
                    <th rowspan="2">Serial Num *</th>
                    <th rowspan="2">CMM/Pub Ref</th>
                    <!-- <th rowspan="2">Workflow ID </th> -->
                    <th rowspan="2">Stage *</th>
                    <th rowspan="2">Status *</th>
                    <th rowspan="2">Priority *</th>
                    <th rowspan="2">Customer Request Date *</th>
                    <th rowspan="2">Promised Date *</th>
                    <th rowspan="2">Est. Comp Date *</th>
                    <th rowspan="2">Est. Ship Date *</th>
                    <th colspan="2">Restrictions</th>
                    <th rowspan="2">Tech Name</th>
                    <th rowspan="2">Tech Station</th>
                    <th rowspan="2">Tear Down Report</th>
                    <th colspan="2">TAT (Days)</th>
                    <th rowspan="2"></th>
                  </tr>
                  <tr>
                    <th>PMA</th>
                    <th>DER</th>
                    <th>Current</th>
                    <th>Standard</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="mpn-row"
                    style="display: table-row;"
                    *ngFor="let p of viewWorkOrderMPN; let i = index"
                  >
                    <td>
                      {{ p.partNumber }}
                    </td>
                    <td>
                      {{ p.partDescription }}
                    </td>
                    <td>
                      {{ p.revisedPartNo }}
                    </td>
                    <td>
                      {{ p.nte }}
                    </td>
                    <td>
                      {{ p.condition }}
                    </td>
                    <td>
                      {{ p.stockLine }}
                    </td>

                    <td>
                      {{ p.serialNumber }}
                    </td>

                    <td>
                      {{ p.publicationId }}
                    </td>
                    <td>
                      {{ p.workOrderStage }}
                    </td>
                    <td>
                      {{ p.workOrderStatus }}
                    </td>
                    <td>
                      {{ p.priority }}
                    </td>
                    <td>
                      {{ p.customerRequestDate | date: 'MM/dd/yyyy' }}
                    </td>
                    <td>
                      {{ p.promisedDate | date: 'MM/dd/yyyy' }}
                    </td>
                    <td>
                      {{ p.estimatedShipDate | date: 'MM/dd/yyyy' }}
                    </td>

                    <td>
                      {{ p.estimatedCompletionDate | date: 'MM/dd/yyyy' }}
                    </td>

                    <td>
                      {{ p.isDER }}
                    </td>
                    <td>
                      {{ p.isPMA }}
                    </td>
                    <td>
                      {{ p.firstName }}
                    </td>
                    <td>
                      {{ p.techStation }}
                    </td>
                    <td>
                      {{ p.tearDownReport }}
                    </td>
                    <td>
                      {{ p.tatDaysCurrent }}
                    </td>
                    <td>
                      {{ p.tatDaysStandard }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card" *ngIf="showMPN">
        <div class="card-body">
            <p-dropdown [options]="mpnPartNumbersList" placeholder="Select Part Number" class="p-dropdown-custom-md" 
            (onChange)="changeofMPN($event.value)"
            >
              </p-dropdown>
        </div>
        </div>

        <div class="card"  >
          <div class="card-body" *ngIf="showTableGrid">
            <p-tabView  class="pas-tabview">
                        
              <p-tabPanel  *ngIf="workFlowId" header="Work Flow">
                  <app-workflow-list [isWorkOrder]="isWorkOrder"   [workFlowId]="workFlowId" ></app-workflow-list>  
              </p-tabPanel>
              <p-tabPanel header="Labor"> </p-tabPanel>
              <p-tabPanel header="Equipment">
               
                  <div class="equipment-tab-content" *ngIf="workOrderAssetList">
                      <div class="x_panel">
                          <div class="tab-content">
                              <div class="table-responsive" id="workflow-attributes-block">
                                  <table class="table table-bordered ">
                                      <thead>
                                          <tr>
                                          </tr>
                                          <tr>
                                              <th colspan="4" class="text-center"></th>
                                              <th colspan="4" class="text-center">TOLERANCE</th>
               
                                          </tr>
                                          <tr>
                                              <th class="text-center">Equipment </th>
                                              <th class="text-center">Equipment Description</th>
                                              <th class="text-center">Equipment Type</th>
                                              <th class="text-center">Qty</th>
                                              <th class="text-center">Min</th>
                                              <th class="text-center">Max</th>
                                              <th class="text-center">Expected</th>
                                              <th class="text-center">Findings</th>
                               
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let asset of workOrderAssetList; let i=index;">
                                              <td>{{asset.asset}}</td>
                                              <td>{{asset.description}}</td>
                                              <td>{{asset.assetTypeName}}</td>
                                              <td>{{asset.quantity}}</td>
                                              <td>
                                                 {{asset.minQuantity}}
                                              </td>
                                              <td>
                                                 {{asset.maxQuantity}}
                                              </td>
                                              <td>
                                                {{asset.expectedQuantity}}
                                              </td>
                                              <td>
                                                {{asset.findings}}
                                              </td>
                        
                                          </tr>

                  
                                          
                   
                                      </tbody>
                                  </table>

                              </div>
                          </div>
                          <div class="clear"></div>
                          <br />
                          <br />
                          <br />
                          <br />
                      </div>
                  </div>


              </p-tabPanel>
              <p-tabPanel header="Material List">
                <div class="equipment-tab-content" >
                    <div class="x_panel" *ngIf="workOrderMaterialList">
                        <div class="tab-content">
                            <div class="table-responsive table-overflow" id="workflow-attributes-block">
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr>

                                            <th class="text-center">Part Number </th>
                                            <th class="text-center">Part Description</th>
                                            <th class="text-center">Alternate PN</th>
                                            <th class="text-center">SerialNumber</th>
                                            <th class="text-center">Provision</th>
                                            <th class="text-center">OEM</th>
                                            <th class="text-center">Control</th>
                                            <th class="text-center">Condition</th>
                                            <th class="text-center">Item Type</th>
                                            <th class="text-center">Qunatity Requried</th>
                                            <th class="text-center">Qunatity Reserved</th>
                                            <th class="text-center">Qunatity TurnIn</th>
                                            <th class="text-center">Qunatity Issued</th>
                                            <th class="text-center">Qunatity BackOrder</th>
                                            <th class="text-center">Qunatity Remaining</th>
                                            <th class="text-center">Unit Cost</th>
                                            <th class="text-center">Extended Cost</th>
                                            <th class="text-center">Currency</th>
                                            <th class="text-center">Purchase OrderNumber</th>
                                            <th class="text-center">Repair OrderNumber</th>
                                            <th class="text-center">Part Quantity OnHand</th>
                                            <th class="text-center">Part Quantity Available</th>
                                            <th class="text-center">Part Quantity OnOrder</th>
                                            <th class="text-center">WorkOrder Number</th>
                                            <th class="text-center">Sub WorkOrder</th>
                                            <th class="text-center">SalesOrder</th>
                                            <th class="text-center">Condition</th>
                                            <th class="text-center">TimeLife</th>
                                            <th class="text-center">Ware House</th>
                                            <th class="text-center">Location</th>
                                            <th class="text-center">Shelf</th>
                                            <th class="text-center">Bin</th>

                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        <tr *ngFor="let m  of workOrderMaterialList; let i=index;">
                                            <td>{{m.partNumber}}</td>
                                            <td>{{m.partDescription}}</td>
                                            <td>{{m.altPartNumber}}</td>
                                            <td>{{m.serialNumber}}</td>
                                            <td>{{m.provision}}</td>
                                            <td>{{m.oem}}</td>
                                            <td>{{m.control}}</td>
                                            <td>{{m.condition}}</td>
                                            <td>{{m.itemType}}</td>
                                            <td>{{m.qunatityRequried}}</td>
                                            <td>{{m.qunatityReserved}}</td>
                                            <td>{{m.qunatityTurnIn}}</td>
                                            <td>{{m.qunatityIssued}}</td>
                                            <td>{{m.qunatityBackOrder}}</td>
                                            <td>{{m.qunatityRemaining}}</td>
                                            <td>{{m.unitCost}}</td>
                                            <td>{{m.extendedCost}}</td>
                                            <td>{{m.currency}}</td>
                                            <td>{{m.purchaseOrderNumber}}</td>
                                            <td>{{m.repairOrderNumber}}</td>
                                            <td>{{m.partQuantityOnHand}}</td>
                                            <td>{{m.partQuantityAvailable}}</td>
                                            <td>{{m.partQuantityOnOrder}}</td>
                                            <td>{{m.receiver}}</td>
                                            <td>{{m.workOrderNumber}}</td>
                                            <td>{{m.subWorkOrder}}</td>
                                            <td>{{m.salesOrder}}</td>
                                            <td>{{m.timeLife}}</td>
                                            <td>{{m.wareHouse}}</td>
                                            <td>{{m.location}}</td>
                                            <td>{{m.shelf}}</td>
                                            <td>{{m.bin}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
              </p-tabPanel>
              
              <p-tabPanel header="Charges">
                <div class="equipment-tab-content" >
                  <div class="x_panel" *ngIf="workOrderChargesList">
                      <div class="tab-content">
                          <div class="table-responsive table-overflow" id="workflow-attributes-block">
                              <table class="table table-bordered ">
                                  <thead>
                                      <tr>
                                          <th class="text-center">Charge Type </th>
                                          <th class="text-center">Description</th>
                                          <th class="text-center">Quantity</th>
                                          <th class="text-center">Unit Cost</th>
                                          <th class="text-center">Extented Cost</th>
                                          <th class="text-center">Unit Price</th>
                                          <th class="text-center">Extended Price</th>
                                          <th class="text-center">vendorName</th>
                                      </tr> 
                                  </thead>
                              
                                  <tbody>
                                    <tr *ngFor="let w  of workOrderChargesList; let i=index;">
                                          <td>{{w.chargeType}}</td>
                                          <td>{{w.description}}</td>
                                          <td>{{w.quantity}}</td>
                                          <td>{{w.unitCost}}</td>
                                          <td>{{w.extendedCost}}</td>
                                          <td>{{w.unitPrice}}</td>
                                          <td>{{w.extendedPrice}}</td>
                                          <td>{{w.vendorName}}</td>
                                      </tr> 
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <div class="clear"></div>
                      <br />
                      <br />
                      <br />
                      <br />
                  </div>
              </div>


              </p-tabPanel>


              
            </p-tabView>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- *ngFor="let partList of workOrderPartListData; let i = index"
[hidden]="rowIndex === i" -->

<!-- <div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="col-md-12">
            <div class="x_panel" style="">
                <div class="x_content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Work Order List</li>
                        </ol>
                    </nav>
                    <div class="pheading">
                        <h4 class="page-heading">List of Work Order's</h4>
						<form id="" class="lgrey-bg div8 filters" name="" action="#" method="post" onsubmit="return false;">
							<div class="col-sm-2">
								<label>WO Num</label>
								<br />
								<div class="inner-addon right-addon inline-block">
									<i class="fa fa-search"></i>
									<input type="text" class="form-control numberids" id="" name="" placeholder="WO Number" />
								</div>
							</div>
							<div class="col-sm-2">
								<label>Cust Name</label>
								<br />
								<div class="inner-addon right-addon inline-block">
									<i class="fa fa-search"></i>
									<input type="text" class="form-control names" id="" name="" placeholder="Cust Name" />
								</div>
							</div>
							<div class="col-sm-2">
								<label>Cust Code</label>
								<br />
								<div class="inner-addon right-addon inline-block">
									<i class="fa fa-search"></i>
									<input type="text" class="form-control numberids" id="" name="" placeholder="Cust Code" />
								</div>
							</div>
							<div class="col-sm-2">
								<label>Int./Ext.</label>
								<br />
								<select>
									<option value="">Select</option>
									<option value="External">External</option>
									<option value="Internal">Internal</option>
								</select>
							</div>
							<div class="col-sm-2">
								<label>Open Date</label>
								<br />
								<input type="text" class="form-control datepicker" id="" name="" placeholder="Open Date" />
							</div>
							<div class="col-sm-2">
								<label>Promise Date</label>
								<br />
								<input type="text" class="form-control datepicker" id="" name="" placeholder="Promise Date" />
							</div>
							<div class="col-sm-2">
								<label>Workflow ID</label>
								<br />
								<div class="inner-addon right-addon inline-block">
									<i class="fa fa-search"></i>
									<input type="text" class="form-control numberids" id="" name="" placeholder="W123" />
								</div>
							</div>
							<div class="col-sm-2">
								<label>PN</label>
								<br />
								<div class="inner-addon right-addon inline-block">
									<i class="fa fa-search"></i>
									<input type="text" class="form-control numberids" id="" name="" placeholder="PN123" />
								</div>
							</div>
							<div class="col-sm-2">
								<label>Revised PN</label>
								<br />
								<div class="inner-addon right-addon inline-block">
									<i class="fa fa-search"></i>
									<input type="text" class="form-control numberids" id="" name="" placeholder="PN456" />
								</div>
							</div>
							<div class="col-sm-2">
								<label>Status</label>
								<br />
								<select>
									<option value="">Select Status</option>
									<option value="Active">Active</option>
									<option value="Inactive">Inactive</option>
								</select>
							</div>
							<button type="button" class="btn btn-default height40 black-search-button btmargin"><i class="fa fa-search"></i></button>
							<div class="excel-upload">
								<input type="file" name="upload[]" multiple="" id="upload" class="uploaddoc upload-file" data-multiple-caption="{count} files selected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
								<label for="upload">
									<span data-toggle="tooltip" title="Excel Upload (table rows)"><i class="fa fa-file-excel-o"></i></span>
								</label>
							</div>
						</form>
                    </div>
                    <div class="cdetails-top">
                        <div class="col-sm-12">
                            <label>Company</label>
                            <span>Silverxis</span>
                        </div>
                        <div class="col-sm-12">
                            <label>BU</label>
                            <span>Adso</span>
                        </div>
                        <div class="col-sm-12">
                            <label>Division</label>
                            <span>Development</span>
                        </div>
                        <div class="col-sm-12">
                            <label>Dept</label>
                            <span>Java</span>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
            <div class="x_panel">
                <div id="adminsearchlocationajax" class="table-responsive default-bg clear">
                    <div class="col-12">
                        <table class="table table-bordered table-striped table-sorting">
                            <thead>
                                <tr>
                                    <th>WO Num</th>
                                    <th>Cust Name</th>
                                    <th>Cust Code</th>
                                    <th>Int./Ext.</th>
                                    <th>WO Qty</th>
                                    <th>Open Date</th>
                                    <th>Promise Date</th>
                                    <th>Workflow ID</th>
                                    <th>PN</th>
                                    <th>PN Des.</th>
                                    <th>Revised PN</th>
                                    <th class="events5"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>WO123</td>
                                    <td>Shabbir</td>
                                    <td>C123</td>
                                    <td>Internal</td>
                                    <td>2</td>
                                    <td>03/13/2018</td>
                                    <td>04/13/2018</td>
                                    <td>W123</td>
                                    <td>PN123</td>
                                    <td>single drum towing winch</td>
                                    <td>PN456</td>
                                    <td>
                                        <span data-toggle="tooltip" class="status" title="Active" data-placement="right"><input type="checkbox" checked data-toggle="toggle" data-width="30" id="toggle-one" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="success" data-offstyle="danger"></span>
                                        <span data-toggle="modal" data-target="#viewcustomer"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a> </span>
                                        <span data-toggle="modal" data-target="#history"><a class="btn btn-success nobg" data-toggle="tooltip" title="History"><i class="fa fa-history"></i></a></span>
                                        <span data-toggle="modal" data-target="#delete"> <a class="btn btn-danger boxed-float-btn nobg" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a> </span>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <div class="padding5">
                        <ul class="pagination">
                            <li class="arrows disabled"><a> <i class="fa fa-angle-left"></i> </a></li>
                            <li class="active"><a>1</a></li>
                            <li><a>2</a></li>
                            <li><a>3</a></li>
                            <li class="arrows"><a> <i class="fa fa-angle-right"></i> </a></li>
                        </ul>
                        <div class="pull-right"> &copy; 2018 <a routerLink="/">PAS</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="active" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="" name="">&times;</button>
                <h4 class="modal-title">Are You Sure Want to Active the current selection ?</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="inactive" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="" name="">&times;</button>
                <h4 class="modal-title">Are You Sure Want to InActive the current selection ?</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="" name="">&times;</button>
                <h4 class="modal-title">Are You Sure Want to Delete ?</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
 -->
