<div [@fadeInOut] class="page-content">
    <div class="x_content add-customer-work">
        <div class="tab-content form-bg">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">General Ledger</li>
                    <li class="breadcrumb-item active" aria-current="page">Create GL Calendar</li>
                </ol>
            </nav>
            <div class="pheading">
                <h4 class="page-heading">Create GL Calendar</h4>
            </div>


            <div class="tab-pane active" id="home">
               <!--  <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Calendar Name<strong class="clr-red">*</strong></label>
                        <div class="col-sm-7">

                            <input class="form-control" type="text" [(ngModel)]="currentCalendarObj.name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Calendar Description</label>
                        <div class="col-sm-7">

                            <input class="form-control" type="text" [(ngModel)]="currentCalendarObj.description">
                        </div>
                    </div>
                </div> -->
                <div class="col-sm-3">
                    <div class=" col-sm-12">
                        <label class="control-label col-sm-4">Ledger Name<strong class="clr-red">*</strong></label>
                        <div class="col-sm-7">
                            <select [(ngModel)]="currentCalendarObj.legalEntityId" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let entity of companyList" [ngValue]="entity.legalEntityId">  {{entity.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class=" col-sm-12">
                        <label class="control-label col-sm-4">Ledger Description<strong class="clr-red">*</strong></label>
                        <div class="col-sm-7">
                            <select [(ngModel)]="currentCalendarObj.legalEntityId" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let entity of companyList" [ngValue]="entity.legalEntityId">  {{entity.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <hr class="hr-dark">
                <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Fiscal Year<strong class="clr-red">*</strong></label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" value="2018" [(ngModel)]="currentCalendarObj.fiscalYear" (change)="setMonthDate()">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Period Type<strong class="clr-red">*</strong></label>

                        <div class="col-sm-7">
                            <select [(ngModel)]="currentCalendarObj.periodType">
                                <option>Select</option>
                                <option value="Calendar Months">Calendar Months</option>
                                <option value="Fiscal Month">Fiscal Month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Start Date<strong class="clr-red">*</strong></label>
                        <div class="col-sm-7">

                            <p-calendar [(ngModel)]="currentCalendarObj.fromDate" [showIcon]="true" [minDate]="minDate"></p-calendar>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Num of periods<strong class="clr-red">*</strong></label>

                        <div class="col-sm-7">
                            <select name="noperiods" id="noperiods" [(ngModel)]="currentCalendarObj.noOfPeriods" (change)="setSelectedAttribute($event.target.value)">
                                <option>Select</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="16">16</option>
                                <option value="Manual">Manual</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">End Date<strong class="clr-red">*</strong></label>
                        <div class="col-sm-7">

                            <p-calendar [(ngModel)]="currentCalendarObj.toDate" [showIcon]="true"></p-calendar>

                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Description</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <hr>
                <button class="btn btn-success pull-right add-cal-btn" (click)="addCalendar()">Add Calendar</button>
                <div class="clear"></div>
            </div>
        </div>
        </div>
        <button *ngIf="showManual" (click)="addPeriod()" class="btn btn-warning pull-right add-cal-btn" style="font-size: 12px;padding: 2px 5px;">Add Period <i class="fa fa-plus"></i></button>

        <div id="" class="table-responsive default-bg clear calendar-table-12 col-sm-6 input-85" *ngIf="showTable">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Calendar/Fiscal</th>
                        <th>Year</th>
                        <th>Qtr</th>
                        <th>Period </th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Period Name</th>
                        <th>Adjusting Period</th>
                    </tr>
                </thead>
                <tbody *ngIf="!showManual">
                    <tr *ngFor="let obj of calendarArray;let row_no = index">
                        <td>{{obj.fiscalName}}</td>
                        <td>{{obj.fiscalYear}}</td>
                        <td>{{obj.quater}}</td>
                        <td>{{obj.period}}</td>
                        <td>
                            <p-calendar [(ngModel)]="obj.fromDate" [showIcon]="true"></p-calendar>
                        </td>
                        <td>
                            <p-calendar [(ngModel)]="obj.toDate" [showIcon]="true" (onSelect)="setDate(obj,row_no)"></p-calendar>
                        </td>
                        <td>{{obj.periodName}}</td>
                        <td *ngIf="obj.adjusting=='yes' "> <input type="checkbox" [(ngModel)]="obj.isAdjustPeriod" disabled /></td>
                        <td *ngIf="obj.adjusting!='yes' "></td>
                    </tr>


                </tbody>
                <tbody *ngIf="showManual">
                    <tr *ngFor="let obj of calendarArray;let row_no = index">
                        <td>
                            <select [(ngModel)]="obj.fiscalName" (change)="addPeriodName(obj,obj.fiscalName)">
                                <option *ngFor="let name of obj.fiscalNameData" [ngValue]="name">
                                    {{name}}
                                </option>
                            </select>
                        </td>
                        <td>{{obj.fiscalYear}}</td>
                        <td>
                            <select [(ngModel)]="obj.quater">
                                <option *ngFor="let qtr of obj.quaterData" [ngValue]="qtr">
                                    {{qtr}}
                                </option>
                            </select>
                        </td>
                        <td>{{obj.period}}</td>
                        <td>
                            <p-calendar [(ngModel)]="obj.fromDate" [showIcon]="true"></p-calendar>
                        </td>
                        <td>
                            <p-calendar [(ngModel)]="obj.toDate" [showIcon]="true"></p-calendar>
                        </td>
                        <td>{{obj.periodName}}</td>
                        <th *ngIf="row_no>0"><input type="checkbox" [(ngModel)]="obj.isAdjustPeriod" (change)="setAdjustingPeriod(obj,row_no)" /></th>
                        <th *ngIf="row_no==0"><input type="checkbox" disabled /></th>
                        <th>
                            <span class="fa fa-trash-o delete-btn"
                                  (click)="deleteRow(row_no)"></span>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="clear"></div>
            <br>
            <button class="btn btn-success pull-right" (click)="saveCalendar()">Save</button>
            <div class="clear"></div>
        </div>


    </div>
    <p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
              [width]="350" [minWidth]="200" [responsive]="true"
              [minY]="1050" [baseZIndex]="1100000">


        <h5 [ngStyle]="{'color':'red'}">
            Please Enter (*) Mandatory Fields
        </h5>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Close"></button>
        </p-footer>

    </p-dialog>
