<div [@fadeInOut] class="page-content">
    <div class="tab-content form-bg">
        <div class="tab-pane active" id="home">
            <div class="col-sm-3">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Calender Name</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" [(ngModel)]="currentCalendarObj.calendarName">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Calender Description</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" [(ngModel)]="currentCalendarObj.calendarDescription">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <hr class="hr-dark">
            <div class="col-sm-3">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Fiscal Year</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="2018" [(ngModel)]="currentCalendarObj.fiscalYear">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Period Type</label>
                    <div class="col-sm-7">
                        <select [(ngModel)]="currentCalendarObj.periodType">
                            <option>-- Select --</option>
                            <option>Calendar Months</option>
                            <option>Fiscal Month</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Start Date</label>
                    <div class="col-sm-7">
                        <input class="form-control datepicker hasDatepicker" type="date" id="dp1555497164112" [(ngModel)]="currentCalendarObj.fromDate">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Num of periods</label>
                    <div class="col-sm-7">
                        <select name="noperiods" id="noperiods" (change)="setSelectedAttribute($event.target.value)">
                            <option>-- Select --</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="16">16</option>
                            <option value="0">Manual</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">End Date</label>
                    <div class="col-sm-7">
                        <input class="form-control datepicker hasDatepicker" type="date" id="dp1555497164113" [(ngModel)]="currentCalendarObj.toDate">
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-4">Description</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <hr>
            <button class="btn btn-success pull-right add-cal-btn" (click)="addCalendar()">Add Calendar</button>
            <div class="clear"></div>
        </div>
    </div>
    <div id="" class="table-responsive default-bg clear calendar-table-12 col-sm-6 input-85" *ngIf="showTable">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Calendar/Fiscal</th>
                    <th>Year</th>
                    <th>Qtr</th>
                    <th>Period </th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Period Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of calendarArray">
                    <td>{{obj.calendarType}}</td>
                    <td>{{obj.fiscalYear}}</td>
                    <td>{{obj.quarter}}</td>
                    <td>{{obj.period}}</td>
                    <td><input type="date" class="datepicker form-control hasDatepicker"  id="dp1555497164114" value="{{obj.fromDate}}"></td>
                    <td><input type="date" class="datepicker form-control hasDatepicker"  id="dp1555497164115" value="{{obj.toDate}}"></td>
                    <td>{{obj.periodName}}</td>
                </tr>


            </tbody>
        </table>
        <div class="clear"></div>
        <br>
        <a href="#" class="btn btn-success pull-right">Save</a>
        <div class="clear"></div>
    </div>


</div>