<div *ngIf="display" #addPartNumber id="addPartNumber" class="modal fade" role="dialog">
  <form #addPartNumbers="ngForm" class="form-horizontal" (ngSubmit)="onAddPartNumberSubmit()">
    <div class="form-controls">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Add PN to Quote</h4>
          </div>
          <div class="modal-body">
            <app-customer-detail [customer]="customer"></app-customer-detail>
            <app-part-number-filter (onPartSearch)="onPartSearch($event)"
              (onSearchTypeChange)="onSearchTypeChange($event)">
            </app-part-number-filter>
            <ng-container *ngIf="searchType === '1'">
              <app-part-details [parts]="parts" (onPartSelect)="onShowModalMargin($event)"></app-part-details>
            </ng-container>
            <ng-container *ngIf="searchType === '2'">
              <app-stockline-part-details [parts]="parts" (select)="onSelect($event)"></app-stockline-part-details>
            </ng-container>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              Save
            </button>
            <button type="button" (click)="onClose(false)" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<ng-container *ngIf="showModalMargin">
  <app-sales-margin [part]="part"></app-sales-margin>
</ng-container>
<button id="btnMarginDetails" style='display:none' data-toggle="modal" data-target="#salesMargin"></button>