.modal-body input, .modal-body select {
	width: 90px !important;
}
.font{
    font-weight: 600;
    background-color: white;
}
.add-color {
    background-color: #dcdcdc;
}
.font-padding {
    font-weight: 600;
    padding-top: 10px;
}

.add-color1 {
    background-color: #dcdcdc;
    margin-left: -2px;
}
.add-name{ 
    padding-left: 3px;   
}
.add-margin1 {
    margin-top: 10px;
    margin-left: -9px;
}
.add-margin {
    margin-left: -37px;
    margin-top: 10px;
}
.add-margin2{
    margin-left: -16px;
    padding-top:  10px;
}
.select-option{
    width: 60%
}