<div class="right_col" role="main">
  <div>
    <div class="x_content">
      <div class="col-md-12 shadow-box-cstm">
        <div class="col-md-4">
          <p class="fs12">
            <label class="control-label labels-font-header" style="width: auto;"
              >Customer Name:
            </label>
            <span class="span-header-red" style="text-transform: capitalize">
              {{ customerName }}
            </span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="fs12">
            <label class="control-label labels-font-header" style="width: auto;"
              >Customer Code:
            </label>
            <span class="span-header-red" style="text-transform: capitalize">
              {{ customerCode }}
            </span>
          </p>
        </div>
      </div>

      <!-- <div class="form-group col-sm-4 Customer-details-heading" style="display: inline-block;margin: 10px 5px 0 5px;">
                    <p class="fs10">
                        <label class="control-label w100">Customer Name:</label>
                        {{customerName}}
                    </p>
                </div>
                <div class="form-group col-sm-4 Customer-details-heading" style="display: inline-block;margin: 10px 5px 0 5px;">
                    <p class="fs10">
                        <label class="control-label w100">Customer Code:</label>
                        {{customerCode}}
                    </p>
                </div>

                <div class="clear"></div> -->
      <div class="card" style="padding: 10px;">
        <div class="col-md-12">
          <h4 class="po-head-sm">
            <!--class="float-right"-->
            Financial Information
          </h4>
        </div>
        <div class="clear"></div>
        <hr />

        <form #financialInfoForm="ngForm" class="form-horizontal">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="tab-content">
              <div class="tab-pane active" id="menu2">
                <div class="form-row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>
                        <span class="pull-left">Mark Up %</span>
                        <span style="margin-left:3px;cursor:pointer;">
                          <a
                            href="#"
                            class="fa fa-plus-circle fa-lg"
                            data-toggle="modal"
                            data-target="#addmarkup"
                            matTooltip="Add Percentage"
                          ></a>
                        </span>
                      </label>
                      <select
                        name="markUpPercentageId"
                        [(ngModel)]="
                          savedGeneralInformationData.markUpPercentageId
                        "
                      >
                        <option
                          *ngFor="let Percentlist of percentageList"
                          [ngValue]="Percentlist.value"
                          >{{ Percentlist.label }}</option
                        >
                      </select>
                    </div>
                    <div class="form-group">
                      <label
                        >Credit Limit<span class="clr-red">*</span>
                        <span style="margin-left:3px;cursor:pointer;"
                          ><a
                            href="#"
                            class="fa fa-info-circle fa-lg"
                            matTooltip="Format: {{
                              globalSettings.creditLimtFormat
                            }}"
                          ></a
                        ></span>
                      </label>
                      <input
                        class="form-control"
                        type="text"
                        id=""
                        name="creditLimit"
                        [(ngModel)]="savedGeneralInformationData.creditLimit"
                        required
                        (blur)="formatCreditLimit($event.target.value)"
                      />
                    </div>
                    <div class="form-group">
                      <label>
                        <span class="pull-left">Credit Terms </span
                        ><span class="clr-red">*</span>
                        <span style="margin-left:3px;cursor:pointer;"
                          ><a
                            href="#"
                            class="fa fa-plus-circle fa-lg"
                            data-toggle="modal"
                            data-target="#addcredit"
                            matTooltip="Add Credit Terms"
                          ></a
                        ></span>
                      </label>
                      <!--<select name="creditTermsId" [(ngModel)]="savedGeneralInformationData.creditTermsId" required>
            <option *ngFor="let creditTermsId of creditTermList" [ngValue]="creditTermsId.value">{{creditTermsId.label}}</option>
        </select>-->

                      <div class="inner-addon right-addon inline-block">
                        <p-autoComplete
                          class="p-autoComplete-ctsm"
                          name="creditTermsId"
                          [(ngModel)]="
                            savedGeneralInformationData.creditTermsId
                          "
                          field="label"
                          [suggestions]="_creditTermsList"
                          [forceSelection]="true"
                          emptyMessage="No Match Found"
                          (completeMethod)="filterCreditTerm($event)"
                          [size]="30"
                          [minLength]="1"
                          [dropdown]="true"
                          required
                        >
                        </p-autoComplete>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>
                        <span class="pull-left">Discount %</span>
                        <span style="margin-left:3px;cursor:pointer;"
                          ><a
                            href="#"
                            class="fa fa-plus-circle fa-lg"
                            data-toggle="modal"
                            data-target="#addDiscount"
                            matTooltip="Add Discount"
                          ></a
                        ></span>
                      </label>
                      <select
                        name="discountId"
                        [(ngModel)]="savedGeneralInformationData.discountId"
                      >
                        <option
                          *ngFor="let discontValue of discountList"
                          [ngValue]="discontValue.discountId"
                          >{{ discontValue.discontValue }}</option
                        >
                      </select>
                    </div>

                    <div class="form-group">
                      <label>Currency <span class="clr-red">*</span></label>
                      <select
                        name="generalCurrencyId"
                        [(ngModel)]="
                          savedGeneralInformationData.generalCurrencyId
                        "
                        required
                      >
                        <option
                          class="form-control"
                          *ngFor="let currencyName of allCurrencyInfo"
                          [ngValue]="currencyName.currencyId"
                        >
                          {{ currencyName.code }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-2">
                    <div
                      class="form-group"
                      style="margin-top: 15px;"
                      *ngIf="showAllowNettingOfAPAR == true"
                    >
                      <span class="checkbox-cstm">
                        <label>
                          <input
                            type="checkbox"
                            name="allowNettingOfAPAR"
                            [(ngModel)]="
                              savedGeneralInformationData.allowNettingOfAPAR
                            "
                          />
                          <span class="cr"
                            ><i class="cr-icon pi pi-check"></i
                          ></span>
                          Allow Netting of AP/AR
                        </label>
                      </span>
                    </div>
                    <div
                      class="form-group"
                      style="margin-top: 15px;margin-left:0px;"
                    >
                      <span class="checkbox-cstm">
                        <label>
                          <input
                            type="checkbox"
                            name="allowPartialBilling"
                            [(ngModel)]="
                              savedGeneralInformationData.allowPartialBilling
                            "
                          />
                          <span class="cr"
                            ><i class="cr-icon pi pi-check"></i
                          ></span>
                          Allow Partial Billing
                        </label>
                      </span>
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                      <span class="checkbox-cstm">
                        <label>
                          <input
                            type="checkbox"
                            name="allowProformaBilling"
                            [(ngModel)]="
                              savedGeneralInformationData.allowProformaBilling
                            "
                          />
                          <span class="cr"
                            ><i class="cr-icon pi pi-check"></i
                          ></span>
                          Allow ProForma Billing
                        </label>
                      </span>
                    </div>
                  </div>

                  <div class="col-md-7">
                    <div class="card">
                      <div class="form-row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="fs12">
                              Tax Type
                            </label>
                            <span style="margin-left:3px;cursor:pointer;">
                              <a
                                href="#"
                                class="fa fa-plus-circle fa-lg"
                                data-toggle="modal"
                                data-target="#addTaxType"
                                matTooltip="Add Tax Type"
                              ></a>
                            </span>
                            <select
                              name="taxType"
                              [(ngModel)]="selectedTaxType"
                            >
                              <option value="">select</option>
                              <option
                                *ngFor="let Percentlist of taxTypeList"
                                [ngValue]="Percentlist.value"
                                >{{ Percentlist.label }}</option
                              >
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="fs12">
                              Tax Rate
                            </label>
                            <span style="margin-left:3px;cursor:pointer;">
                              <a
                                href="#"
                                class="fa fa-plus-circle fa-lg"
                                data-toggle="modal"
                                data-target="#addTaxRate"
                                matTooltip="Add Tax Rate"
                              ></a>
                            </span>
                            <select
                              name="taxRates"
                              [(ngModel)]="selectedTaxRates"
                            >
                              <option value="">select</option>
                              <option
                                *ngFor="let Percentlist of taxRatesList"
                                [ngValue]="Percentlist.value"
                                >{{ Percentlist.label }}</option
                              >
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <button
                              class="btn btn-primary mtop20"
                              (click)="mapTaxTypeandRate()"
                            >
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                      <!--/Form-row for Add Tax Info-->
 
                      <!-- {{taxTypeRateMapping | json}} -->
                      <!-- [rowsPerPageOptions]="[5, 10, 20, 50]" -->
                      <p-table      #taxIfTble
                      class="rpo-table-cstm"
                      [value]="taxTypeRateMapping" [first]="0" [rows]="5" [paginator]="true"
                      [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]" [columns]="taxInfoTableColumns" 
                      (onPage)="changePage($event)" [resizableColumns]="true" [reorderableColumns]="true" [totalRecords]="totalRecords"

                        *ngIf="taxTypeRateMapping.length > 0">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th
                              *ngFor="let col of columns"
                              pResizableColumn
                              pReorderableColumn
                              [pSortableColumn]="col.field"
                            >
                              {{ col.header }}
                              <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th width="20%">Action</th>
                          </tr>
                          <tr>
                            <th
                              *ngFor="let col of columns"
                              [ngSwitch]="col.field" >
                              <input
                                style="width:100%;"
                                pInputText
                                type="text"
                                (input)="taxInfoTable.filter($event.target.value,col.field,'contains') "
                              />
                            </th>
                            <th></th>
                          </tr>
                        </ng-template>
                        <ng-template
                          pTemplate="body"
                          let-rowData
                          let-columns="columns"
                    
                        >
                          <tr>
                            <td *ngFor="let col of columns">
                              {{ rowData[col.field] }}
                            </td>

                            <td>
                              <!-- <span> -->
                                <button [disabled]="rowData.isDisable"
                                class="btn-edit set_proper_align"
                                mat-icon-button
                                (click)="getAuditHistoryById(contentAuditHist,rowData)"
                                matTooltip="History"><i class="fa fa-history"></i> 
                              </button>
                                <!-- <a
                                  class="btn nobg"
                                  (click)="
                                    getAuditHistoryById(contentAuditHist,rowData)"
                                  matTooltip="History"
                                  ><i class="fa fa-history"></i></a> -->
                              <!-- </span> -->
                              <button
                                class="btn-edit set_proper_align"
                                mat-icon-button
                                (click)="editTaxtRate(rowData)"
                                matTooltip="Edit"
                                data-toggle="modal"
                                data-target="#editTarget"
                              >
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button
                                class="btn-delete set_proper_align"
                                mat-icon-button
                                matTooltip="Delete"
                                (click)="
                                  deleteTaxTypeRate(deleteContent1, rowData)
                                "
                              >
                                <mat-icon color="warn">delete</mat-icon>
                              </button>
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" id="footer">
                          <label id="footer" class="footer">No'of records:</label>
                          <input
                            style="width: 5%;"
                            [(ngModel)]="taxIfTble._totalRecords" name="no'of records"
                           disabled
                            pInputText
                            type="text"
                          />
            
                          &nbsp;&nbsp;
                          <label id="footer" class="footer1">Pages Count:</label>
            
                          <input style="width: 5%;"
                            [ngModel]="getPageCount(taxIfTble._totalRecords, pageSize)" name="page count"
                            disabled
                            pInputText
                            type="text"
                          />
                        </ng-template>
                      </p-table>
                    </div>
                    <!--Card of Tax Types-->
                  </div>
                  <div class="col-md-8">
                    <div class="form-group" style="margin-top: 15px;">
                      <span class="checkbox-cstm">
                        <label>
                          <input
                            type="checkbox"
                            name="isTaxExempt"
                            [(ngModel)]="
                              savedGeneralInformationData.isTaxExempt"/>
                          <span class="cr"
                            ><i class="cr-icon pi pi-check"></i
                          ></span>
                          Tax Exempt
                        </label>
                      </span>
                    </div>
                    <div
                      class="form-group tax-certificate"
                      *ngIf="savedGeneralInformationData.isTaxExempt"
                    >
                      <label>Attach Certificate</label>
                      <p-fileUpload
                        #taxExemptFileUploadInput
                        name="customerTaxExemptFile[]"
                        multiple="multiple"
                        [showCancelButton]="false"
                        [showUploadButton]="false"
                        customUpload="true"
                        (onSelect)="fileUpload($event, 'customerTaxExemptFile')"
                      >
                      </p-fileUpload>
                      <div
                        class="table-responsive table-overflow"
                        *ngIf="allCustomerFinanceDocumentsList.length > 0"
                      >
                        <h4 class="panel-title" style="padding-left: 10px;">
                          Attachment Details:
                        </h4>
                        <p-table
                          #table3
                          class="table-responsive rpo-table-cstm"
                          [paginator]="allCustomerFinanceDocumentsList.length > 0"
                          [value]="allCustomerFinanceDocumentsList"
                          [rows]="5"
                          [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]"
                          [columns]="taxExemptTableColumns"
                          (onPage)="pageIndexChange($event)"
                        >
                          <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                              <col
                                *ngFor="let col of columns"
                                style="width:130px"
                              />
                            </colgroup>
                          </ng-template>
                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th
                                *ngFor="let col of columns"
                                pResizableColumn
                                pReorderableColumn
                                [pSortableColumn]="col.field"
                              >
                                {{ col.header }}
                                <p-sortIcon *ngIf="col.field !='download' && col.field !='delete'" [field]="col.field"></p-sortIcon>
                              </th>
                             
                            </tr>
                            <tr>
                              <th
                                style="width:auto"
                                *ngFor="let col of columns"
                                [ngSwitch]="col.field"
                              >
                                <input *ngIf="col.field !='download' && col.field !='delete'"
                                  style="width:100%;"
                                  pInputText
                                  type="text"
                                  (input)="
                                    table3.filter(
                                      $event.target.value,
                                      col.field,
                                      'contains'
                                    )
                                  "
                                />
                              </th>
                              <th style="width:140px;position:sticky"></th>
                              <th></th>
                            </tr>
                          </ng-template>
                          <ng-template
                            pTemplate="body"
                            let-rowData
                            let-columns="columns"
                            let-i="rowIndex"
                          >
                            <tr>    
                              <td *ngFor="let col of columns">
                                <!-- *ngIf="col.field == 'fileName'   col.field == 'createdDate' || col.field == 'createdBy' || col.field == 'updatedDate' || col.field == 'updatedBy' " -->
                                <!-- <ng-container > -->
                                <ng-container *ngIf="col.field !='download' && col.field !='delete'">
                                 <span >
                                   {{
                                    col.field == 'createdDate'
                                      ? (rowData[col.field] | date: 'MM/dd/yyyy')
                                      : rowData[col.field] && col.field == 'updatedDate'
                                      ? (rowData[col.field] | date: 'MM/dd/yyyy')
                                      : rowData[col.field]
                                  }}
                                </span>
                                <!-- <span *ngIf="col.field != 'createdDate' && col.field != 'updatedDate'">
                                  rowData[col.field]
                                  </span> -->
                                </ng-container>
                                <ng-container *ngIf="col.field =='download'" class="align_center">
                                  <a
                                  (click)="downloadFileUpload(rowData)"
                                  matTooltip="Download"
                                  class="btn nobg btn-cstm"
                                  ><span><i class="fa fa-download"></i></span
                                ></a>
                                </ng-container>
                                <ng-container *ngIf="col.field =='delete'" class="align_center">
                                  <button
                                  moduleName="app-customer-edit"
                                  requirePermission="canDelete"
                                  class="btn-delete"
                                  mat-icon-button
                                  matTooltip="Delete"
                                  data-target="#delete"
                                  data-toggle="modal"
                                  (click)="deleteFile(rowData)">
                                  <mat-icon color="warn">delete</mat-icon>
                                </button>
                                </ng-container>
                                <!-- </ng-container> -->
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="summary" id="footer">
                            <label id="footer" class="footer">No'of records:</label>
                            <input
                              style="width: 5%;"
                              [(ngModel)]="table3._totalRecords" name="no'of records"
                             disabled
                              pInputText
                              type="text"
                            />
              
                            &nbsp;&nbsp;
                            <label id="footer" class="footer1">Pages Count:</label>
              
                            <input style="width: 5%;"
                              [ngModel]="getPageCount(table3._totalRecords, pageSize)" name="page count"
                              disabled
                              pInputText
                              type="text"
                            />
                          </ng-template>
                          <ng-template
                            pTemplate="emptymessage"
                            let-columns
                            *ngIf="allCustomerFinanceDocumentsList.length == 0"
                          >
                            <tr>
                              <td
                                [attr.colspan]="columns.length"
                                style="color: red; font-weight: bold; text-align: center"
                              >
                                No records found
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>

                        <!-- <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th>Download</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let f of allCustomerFinanceDocumentsList">
                                                            <tr *ngIf="f.description == 'customerTaxExemptFile'">
                                                                <td>{{f.fileName}}</td>
                                                                <td><a (click)="downloadFileUpload(f)" matTooltip="Download" class="btn nobg btn-cstm"><span><i class="fa fa-download"></i></span></a> </td>
                                                                <td>
                                                                    <button moduleName="app-customer-edit" requirePermission="canDelete"
                                                                            class="btn-delete" mat-icon-button matTooltip="Delete"
                                                                            (click)="CustomerAttachmentDelete(f)">
                                                                        <mat-icon color="warn">delete</mat-icon>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>

                                                    </table> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-primary pull-right submit-btn"
              [disabled]="!financialInfoForm.valid"
              (click)="saveFinancialInformation()"
            >
              Save & Next
            </button>
            <button
              type="button"
              class="btn btn-primary pull-right submit-btn"
              (click)="backClick()"
            >
              Previous
            </button>
          </div>
        </form>
      </div>
      <!--/Card-->
    </div>
  </div>
</div>

<div id="editTarget" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Edit Tax Type & Tax Rate</h4>
      </div>
      <div class="modal-body" *ngIf="taxRateEditData">
        <div class="card">
          <div class="form-row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="fs12">
                  Tax Type
                </label>

                <select
                  name="taxType"
                  [(ngModel)]="taxRateEditData.taxTypeId"
                  disabled
                >
                  <option value="">select</option>
                  <option
                    *ngFor="let Percentlist of taxTypeList"
                    [ngValue]="Percentlist.value"
                    >{{ Percentlist.label }}</option
                  >
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="fs12">
                  Tax Rate
                </label>

                <select name="taxRates" [(ngModel)]="taxRateEditData.taxRateId">
                  <option value="">select</option>
                  <option
                    *ngFor="let Percentlist of taxRatesList"
                    [ngValue]="Percentlist.value"
                    >{{ Percentlist.label }}</option
                  >
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button
                  class="btn btn-primary mrt_18"
                  (click)="updateTaxTypeandRate()"
                  data-dismiss="modal"
                >
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template
  #contentAuditHist
  let-c="close"
  let-d="dismiss"
  data-backdrop="static"
>
  <div class="modal-header">
    <button type="button" class="close" (click)="dismissModel()">
      &times;
    </button>
    <h4 class="modal-title">History For Tax</h4>
  </div>
  <div class="modal-body" *ngIf="auditDataForTaxData.length > 0">
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th>Tax Type</th>
          <th>Tax Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of auditDataForTaxData; let i = index">
          <td
            [ngStyle]="{
              color: getColorCodeForHistory(i, 'taxType', x.taxType)
                ? 'black'
                : 'red'
            }"
          >
            {{ x.taxType }}
          </td>
          <td
            [ngStyle]="{
              color: getColorCodeForHistory(i, 'taxRate', x.taxRate)
                ? 'black'
                : 'red'
            }"
          >
            {{ x.taxRate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="dismissModel()">
      Close
    </button>
  </div>
</ng-template>

<div
  *ngIf="selectedRowFileForDelete"
  #delete
  id="delete"
  class="modal fade"
  role="dialog"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Are You Sure Want to Delete ?</h4>
      </div>
      <div class="modal-body">
        <strong
          >File:
          <span class="new-label">{{ selectedRowFileForDelete.fileName }}</span>
        </strong>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="deleteConformationForFile('Yes')"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="deleteConformationForFile('No')"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade success-msg"
  id="success-popup"
  role="dialog"
  data-backdrop="static"
>
  <div class="modal-dialog modal-sm popup-timeout">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4><i class="fa fa-check"></i>&nbsp; You Added Successfully !</h4>
      </div>
    </div>
  </div>
</div>
<ng-template
  #deleteContent1
  let-c="close"
  let-d="dismiss"
  data-backdrop="static"
>
  <div class="modal-header">
    <h4 class="modal-title">Are You Sure Want to Delete?</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="dismissModel()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>
      Tax Type:
      <span class="new-label">{{ selectedRowForDelete.taxType }}</span>
    </strong>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="deleteItemAndCloseModel()"
    >
      Yes
    </button>
    <button type="button" class="btn btn-danger" (click)="dismissModel()">
      No
    </button>
  </div>
</ng-template>
<!-- Modal -->
<div id="addMarkUp" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="restMarkUpPopUp()"
        >
          &times;
        </button>
        <h4 class="modal-title">Add Mark Up Percent</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body" style="padding-bottom: 30px;">
          <div class="form-group">
            <label for="name" class="control-label"
              >Mark Up Percentage <span class="clr-red">*</span></label
            >
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                name="markUpValue"
                pKeyFilter="pnum"
                [(ngModel)]="addNewIntergration.markUpValue"
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="saveMarkUpPercentage()"
          [disabled]="addNewIntergration.markUpValue! == ''"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="restMarkUpPopUp()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div id="addcredit" class="modal fade" role="dialog" data-backdrop="static">
  <form #addCredit="ngForm">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Add CreditTerm</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Credit Term <span class="clr-red">*</span></label>
              </div>
              <div class="col-sm-5">
                <div class="inner-addon right-addon inline-block">
                  <p-autoComplete
                    class="p-autoComplete-ctsm"
                    name="classificationName"
                    [(ngModel)]="addNewCreditTerms.name"
                    (onSelect)="selectedCreditTerm()"
                    (onKeyUp)="
                      checkCreditTermsExists('field', $event.target.value)
                    "
                    [suggestions]="_creditTermList"
                    field="label"
                    (completeMethod)="filterCreditTerms($event)"
                    [size]="30"
                    [minLength]="1"
                    [dropdown]="true"
                    required
                  >
                  </p-autoComplete>
                  <div *ngIf="isCreditTermsExists" class="clr-red">
                    Entry Already Exists
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Percentage <span class="clr-red">*</span></label>
              </div>
              <div class="col-sm-5">
                <div class="inner-addon right-addon inline-block">
                  <select
                    name="percentage"
                    [(ngModel)]="addNewCreditTerms.percentage"
                  >
                    <option value="">Select Percentage</option>
                    <option
                      *ngFor="let Percentlist of percentageList"
                      [ngValue]="Percentlist.label"
                      >{{ Percentlist.label }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Days <span class="clr-red">*</span></label>
              </div>

              <div class="col-sm-5">
                <input
                  type="text"
                  id=""
                  class="form-control"
                  pInputText
                  pKeyFilter="num"
                  name="days"
                  [(ngModel)]="addNewCreditTerms.days"
                  required
                  maxlength="3"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>NetDays <span class="clr-red">*</span></label>
              </div>
              <div class="col-sm-5">
                <input
                  type="text"
                  id=""
                  class="form-control"
                  pInputText
                  pKeyFilter="num"
                  name="netDays"
                  [(ngModel)]="addNewCreditTerms.netDays"
                  required
                  maxlength="3"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label for="description" class="control-label w100">Memo</label>
              </div>
              <div class="col-sm-5">
                <div class="control-data">
                  <textarea
                    #memo="ngModel"
                    name="memo"
                    [(ngModel)]="addNewCreditTerms.memo"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <div class="col-sm-6">
              <span class="checkbox-cstm">
                <label
                  style="margin-top: 12px;"
                  class="form-check-label"
                  for="isActive"
                >
                  <input
                    type="checkbox"
                    name="isActive"
                    #isActive="ngModel"
                    class="form-check-input"
                    checked
                    id="isActive"
                    [(ngModel)]="creditTermsNew.isActive"
                  />
                  <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                  Active
                </label>
              </span>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="newCreditTermAdd()"
            [disabled]="!addCredit.valid || isCreditTermsExists"
          >
            Submit
          </button>

          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="resetCreditTermsPopUp()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="addDiscount" class="modal fade" role="dialog" data-backdrop="static">
  <form #discount="ngForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="restDiscount()"
          >
            &times;
          </button>
          <h4 class="modal-title">Add Discount Percent</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Discount Percentage<span class="clr-red">*</span></label>
              </div>
              <div class="col-sm-5">
                <div class="inner-addon right-addon inline-block">
                  <p-autoComplete
                    class="p-dropdown-custom-2"
                    name="discontValue"
                    [(ngModel)]="discontValue"
                    pKeyFilter="num"
                    (onSelect)="selectedDiscount()"
                    (keyup)="checkDiscountExists($event)"
                    [suggestions]="_discountListForDropdown"
                    field="label"
                    (completeMethod)="filterDiscount($event)"
                    [size]="30"
                    [minLength]="1"
                    [dropdown]="true"
                  >
                  </p-autoComplete>
                  <div *ngIf="isDiscountExists" class="clr-red">
                    Entry Already Exists
                  </div>
                  <div *ngIf="isCountdisable" class="clr-red vin_aing">
                    Discount range should be 0 to 100
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="newDiscountAdd()"
            [disabled]="!discount.valid || isDiscountExists || isCountdisable"
          >
            Submit
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="restDiscount()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="addTaxType" class="modal fade" role="dialog" data-backdrop="static">
  <form #addTaxTypes="ngForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Add Tax Type</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Description <span class="clr-red">*</span></label>
              </div>
              <div class="col-sm-5">
                <div class="inner-addon right-addon inline-block">
                  <p-autoComplete
                    class="p-dropdown-custom-2"
                    name="description"
                    [(ngModel)]="addNewTaxType.description"
                    (onSelect)="selectedTaxTypes()"
                    (onKeyUp)="checkTaxTypeExists('field', $event.target.value)"
                    [suggestions]="_TaxTypeList"
                    field="label"
                    (completeMethod)="filterTaxType($event)"
                    [size]="30"
                    [minLength]="1"
                    [dropdown]="true"
                    required
                  >
                  </p-autoComplete>
                  <div *ngIf="isTaxTypeExists" class="clr-red">
                    Tax Type Already Exists
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label for="description">Memo</label>
              </div>
              <div class="col-sm-5">
                <div class="control-data">
                  <textarea
                    #memo="ngModel"
                    name="memo"
                    [(ngModel)]="addNewTaxType.memo"
                  ></textarea>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="newTaxTypeAdd()"
            [disabled]="!addTaxTypes.valid || isTaxTypeExists"
          >
            Submit
          </button>

          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="resetTaxType()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="addTaxRate" class="modal fade" role="dialog" data-backdrop="static">
  <form #addTaxRates="ngForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Add Tax Rate</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Tax Rate <span class="clr-red">*</span></label>
              </div>
              <div class="col-sm-5">
                <div class="inner-addon right-addon inline-block">
                  <p-autoComplete
                    class="p-dropdown-custom-2"
                    name="taxRate"
                    [(ngModel)]="addNewTaxRate.taxRate"
                    (onSelect)="selectedTaxRate()"
                    (onKeyUp)="checkPercentExists($event.target.value)"
                    [suggestions]="_TaxRateList"
                    field="label"
                    (completeMethod)="filterTaxRate($event)"
                    [size]="30"
                    [minLength]="1"
                    [dropdown]="true"
                    required
                  >
                  </p-autoComplete>
                  <div *ngIf="isTaxRateExists" class="clr-red">
                    Tax Rate Already Exists
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="newTaxRateAdd()"
            [disabled]="!addTaxRates.valid || isTaxRateExists"
          >
            Submit
          </button>

          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="resetTaxRate()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="addmarkup" class="modal fade" role="dialog" data-backdrop="static">
  <form #admarkup="ngForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Add Percentage</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label
                  for="description"
                  class="control-label"
                  style="margin-top:7px;"
                >
                  Percentage
                  <span class="clr-red">*</span>
                </label>
              </div>
              <div class="col-sm-5">
                <p-autoComplete
                  class="p-dropdown-custom-2"
                  name="taxratenew"
                  [(ngModel)]="addNewTaxRate.taxRate"
                  (onSelect)="selectedTaxRate()"
                  (onKeyUp)="checkPercentExists($event.target.value)"
                  [suggestions]="_TaxRateList"
                  field="label"
                  (completeMethod)="filterTaxRate($event)"
                  [size]="30"
                  [minLength]="1"
                  [dropdown]="true"
                  required
                >
                </p-autoComplete>
                <div *ngIf="isTaxRateExists" class="clr-red">
                  Already Exists
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="newTaxRateAdd()"
            [disabled]="!admarkup.valid || isTaxRateExists"
          >
            Submit
          </button>

          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="resetTaxRate()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
