<div id="app_container" [class.is-mobile]="mobileQuery.matches" class="nav-container">

	<mat-toolbar color="primary" class="app-toolbar">
		<h1 class="app-name"><a routerLink="/">{{appTitle}}</a></h1>
		<button mat-icon-button (click)="mainNav.toggle()"><mat-icon>menu</mat-icon></button>
		<button type="button" class="btn btn-danger back-btn" (click)="goBack()"> <i class="fa fa-chevron-circle-left"></i> Back</button>
		<span class="app-toolbar-spacer"></span>
		<i class="fa fa-sitemap entity-block-btn" (click)="showthis()"></i>
		<app-theme-picker tooltip="{{'mainMenu.Theme' | translate}}"></app-theme-picker>

		<button *ngIf="!isUserLoggedIn" mat-button (click)="router.navigateByUrl('/login')">
			<mat-icon>lock_open</mat-icon>
			<span>{{'mainMenu.Login' | translate}}</span>
		</button>

		<button *ngIf="isUserLoggedIn" class="side-button" mat-button [matMenuTriggerFor]="accountMenu" matTooltip="{{'mainMenu.UserAccount' | translate}}">
			<mat-icon class="menu-button">account_circle</mat-icon>
			<span fxHide.lt-sm>{{'mainMenu.Account' | translate}}</span>
		</button>
		<mat-menu #accountMenu="matMenu">
			<button mat-menu-item (click)="router.navigateByUrl('/settings')">
				<mat-icon>person</mat-icon><span>{{'mainMenu.Profile' | translate}}</span>
			</button>
			<button mat-menu-item (click)="router.navigateByUrl('/settings#preferences')">
				<mat-icon>settings</mat-icon><span>{{'mainMenu.Settings' | translate}}</span>
			</button>
			<button mat-menu-item (click)="logout()">
				<mat-icon>lock</mat-icon><span>{{'mainMenu.Logout' | translate}}</span>
			</button>
		</mat-menu>

	</mat-toolbar>

	<mat-sidenav-container class="app-sidenav-container"
						   [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
		<mat-sidenav #mainNav class="app-sidenav-nav mat-elevation-z6" [mode]="mobileQuery.matches ? 'over' : 'side'"
					 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="!mobileQuery.matches">
            <mat-nav-list *ngIf="isUserLoggedIn">
                <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="">{{'mainMenu.Home' | translate}}</a>

                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Roles
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active" routerLink="/rolesmodule/rolespages/app-roles-list">Roles List</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/rolesmodule/rolespages/app-roles-list-by-module">Roles List by Module</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/rolesmodule/rolespages/app-roles-setup">Role Setup</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/rolesmodule/rolespages/app-roles-management-structure">Role Management Structure</a>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Customers
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active" routerLink="/customersmodule/customerpages/app-customers-list">Customer's List</a>
                    <a mat-list-item routerLinkActive="active" routerLink="./customersmodule/customerpages/app-customer-general-information">Create Customer</a>
                    <!--<ul class="list-group nav child_menu left-nav-pills" style="display: block;">
            <li class="list-group-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-general-information">
                            Vendor Setup
                        </mat-expansion-panel-header>

                    </mat-expansion-panel>
                </mat-accordion>
            </li>

        </ul>-->

                </mat-expansion-panel>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Vendor
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendors-list">Vendor's List</a>
                        <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-general-information">Create Vendor</a>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Vendor Capabilities
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-capabilities-list">Vendor Capabilities List</a>
                                <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-add-vendor-capabilities">Add Vendor Capabilities</a>
                                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-edit-vendor-capabilities">Edit Vendor Capabilities</a>-->
                                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-ro-setup"></a>-->
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        PO
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-polist">PO List</a>
                                <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-create-po">Create PO</a>
                                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-po-approval">PO Approval</a>-->
                                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-purchase-setup">Setup</a>-->
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        RO
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-ro-list">RO List</a>
                                <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-create-ro">Create RO</a>
                                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-ro-setup"></a>-->
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-expansion-panel>
                </mat-accordion>
                <!--<a mat-list-item routerLinkActive='active' [routerLink]=['./vendorsmodule/vendorpages/app-vendor-general-information','./vendorsmodule/vendorpages/app-vendor-general-information','./vendorsmodule/vendorpages/app-vendor-financial-information','./vendorsmodule/vendorpages/app-vendor-payment-information','./vendorsmodule/vendorpages/app-vendor-shipping-information','./vendorsmodule/vendorpages/app-vendor-warnings','./vendorsmodule/vendorpages/app-vendor-memo','./vendorsmodule/vendorpages/app-vendor-emails','./vendorsmodule/vendorpages/app-vendor-conversations']>Vendor Setup</a>-->
                <!--<ul class="list-group nav child_menu left-nav-pills" style="display: block;">
        <li class="list-group-item">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-general-information">
                        Vendor Setup
                    </mat-expansion-panel-header>

                </mat-expansion-panel>
            </mat-accordion>
        </li>

    </ul>-->
                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendors-list">Vendor</a>-->
                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendors-list">Vendor's List</a>-->
                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-general-information">Vendor Setup</a>-->
                <!--<ul class="list-group nav child_menu left-nav-pills" style="display: block;">
        <li class="list-group-item">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-general-information">Vendor Setup</a>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-general-information">General Information</a>
    <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-contacts">Contacts</a>
    <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-financial-information">Financial Information</a>
    <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-payment-information">Payment Information</a>
    <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-shipping-information">Shipping Information</a>
    <a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-vendor-warnings">Warnings</a>
                </mat-expansion-panel>
            </mat-accordion>
        </li>

    </ul>-->
                <!--</mat-expansion-panel>-->

                <mat-expansion-panel #admin [class.mat-elevation-z0]="!admin.expanded" [expanded]="step === 4" (opened)="setStep(4)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Admin
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active" routerLink="/admin/users">Users</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/admin/roles">Roles</a>
                </mat-expansion-panel>

                <!--<mat-expansion-panel *ngIf="canViewUsers || canViewRoles" #admin [class.mat-elevation-z0]="!admin.expanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Receiving
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="list-group">
            <li class="list-group-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Customer Work
                        </mat-expansion-panel-header>
                        <a mat-list-item routerLinkActive="active" routerLink="/customersmodule/customerpages/app-receiving-customer-work-list">Customer Work List</a>
                        <a mat-list-item routerLinkActive="active" routerLink="/customersmodule/customerpages/app-receiving-customer-work-add">Customer Work Setup</a>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
        </ul>
    </mat-expansion-panel>-->



                <mat-accordion>
                    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Item Master
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-list-item routerLinkActive="active" routerLink="./itemmastersmodule/itemmasterpages/app-item-master-list">Item Master List</a>
                        <a mat-list-item routerLinkActive="active" routerLink="./itemmastersmodule/itemmasterpages/app-item-master-stock">Create Item Master</a>
                        <!--<a mat-list-item routerLinkActive="active" routerLink="/itemmastersmodule/itemmasterpages/app-item-master-stock">Item Master Stock</a>
            <a mat-list-item routerLinkActive="active" routerLink="/itemmastersmodule/itemmasterpages/app-item-master-non-stock">Item Master non-stock</a>
            <a mat-list-item routerLinkActive="active" routerLink="/itemmastersmodule/itemmasterpages/app-item-master-equipment">Item Master Equipement</a>
            <a mat-list-item routerLinkActive="active" routerLink="/itemmastersmodule/itemmasterpages/app-item-master-exchange">Item Master Exchange</a>
            <a mat-list-item routerLinkActive="active" routerLink="/itemmastersmodule/itemmasterpages/app-item-master-loan">Item Master Loan</a>-->
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Capabilities
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <a mat-list-item routerLinkActive="active" routerLink="./itemmastersmodule/itemmasterpages/app-item-master-capabilities-list">Capabilities List</a>
                                <a mat-list-item routerLinkActive="active" routerLink="./itemmastersmodule/itemmasterpages/app-item-master-create-capabilities">Create Capabilities</a>
                                <!--<a mat-list-item routerLinkActive="active" routerLink="./vendorsmodule/vendorpages/app-ro-setup"></a>-->
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-expansion-panel>
                </mat-accordion>


                <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            General Ledger
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active" routerLink="/generalledgermodule/generalledgerpage/app-entity-edit">Add Legal Entity Structure</a>
                    <!--<a mat-list-item routerLinkActive="active" routerLink="/generalledgermodule/generalledgerpage/app-legalentity-structure">Legal Entity Structure</a>-->
                    <a mat-list-item routerLinkActive="active" routerLink="/generalledgermodule/generalledgerpage/app-managemententity-structure">Management Structure</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/generalledgermodule/generalledgerpage/app-node-setup">Node</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/generalledgermodule/generalledgerpage/app-glaccount-list">GL Account List</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/generalledgermodule/generalledgerpage/app-glaccount-create">GL Account Create</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/generalledgermodule/generalledgerpage/app-accounting-calendar">GL Account Calendar</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/generalledgermodule/generalledgerpage/app-po-ro-category">PO-RO Category</a>



                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Employee
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <a mat-list-item routerLinkActive="active" routerLink="/employeesmodule/employeepages/app-employees-list">Employee's List</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/employeesmodule/employeepages/app-employee-general-information">Create Employee</a>
                </mat-expansion-panel>

                <!--Arun-->
                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Stock Line
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active" routerLink="/stocklinemodule/stocklinepages/app-stock-line-list">Stock Line List</a>
                    <!--By Arun-->
                    <a mat-list-item routerLinkActive="active" routerLink="/stocklinemodule/stocklinepages/app-stock-line-setup">Stock Line Create</a>
                    <!--<a mat-list-item routerLinkActive="active" routerLink="/stocklinemodule/stocklinepages/app-stock-adjustment">Stock Adjustment</a>-->
                    <a mat-list-item routerLinkActive="active" routerLink="/stocklinemodule/stocklinepages/app-stockline-adjustment-reason">Stock Adjustment Reason</a>
                </mat-expansion-panel>


                <mat-expansion-panel [expanded]="step ===13" (opened)="setStep(13)">
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            Master Maintainance
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Asset
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Asset Type
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <a mat-list-item routerLinkActive="active" routerLink="/mastermodule/masterpages/app-assettypelisting">Asset Type Listing</a>
                                    <a mat-list-item routerLinkActive="active" routerLink="/mastermodule/masterpages/app-assetcreate"> Asset Attribute</a>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Intanigible Type
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <a mat-list-item routerLinkActive="active" routerLink="/mastermodule/masterpages/app-intangibletype-listing">Intangible Type Attribute</a>
                                    <a mat-list-item routerLinkActive="active" routerLink="/mastermodule/masterpages/app-create-intangibletype">Create Asset Intangibletype</a>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Stockline
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-site">Site</a>
                                <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-warehouse">Ware House</a>
                                <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-location">Location</a>
                                <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-shelf">Shelf</a>
                                <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-bin">Bin</a>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-accordion>
                </mat-expansion-panel>


                <mat-expansion-panel [expanded]="step === 12" (opened)="setStep(12)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Work Flow
                        </mat-panel-title>
                    </mat-expansion-panel-header>


                    <a mat-list-item routerLinkActive="active" routerLink="/workflowmodule/workflowpages/app-workflow-list"> Work Flow List </a>
                    <!--<a mat-list-item routerLinkActive="active" routerLink="/workflowmodule/workflowpages/app-workflow-create"> Work-Flow Create </a>-->
                    <a mat-list-item routerLinkActive="active" routerLink="/workflowmodule/workflowpages/wf-create">Create  Work Flow </a>

                    <!--<a mat-list-item routerLinkActive="active" routerLink="/workflowmodule/workflowpages/wf-update"> Work-Flow update </a>-->
                    <!--<a mat-list-item routerLinkActive="active" routerLink="/Workflow/wf-create">Users</a>-->
                    <!--<a mat-list-item routerLinkActive="active" routerLink="/stocklinemodule/stocklinepages/app-stockline-adjustment-reason">Stock Adjustment Reason</a>-->
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Receiving
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Customer Work
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <a mat-list-item routerLinkActive="active" routerLink="/receivingmodule/receivingpages/app-customer-works-list">Customer Work List</a>

                            <a mat-list-item routerLinkActive="active" routerLink="/receivingmodule/receivingpages/app-customer-work-setup"> Customer Work Set Up</a>

                        </mat-expansion-panel>
                    </mat-accordion>
                    <a mat-list-item routerLinkActive="active" routerLink="/receivingmodule/receivingpages/app-purchase-order">Purchase Order</a>



                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 11" (opened)="setStep(11)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Asset Management
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Assets
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <a mat-list-item routerLinkActive="active" routerLink="/assetmodule/assetpages/app-asset-listing">AssetList</a>

                            <a mat-list-item routerLinkActive="active" routerLink="/assetmodule/assetpages/app-create-asset">Create Asset</a>

                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>


                <mat-expansion-panel [expanded]="step === 14" (opened)="setStep(14)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Account Payble
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active" routerLink="/accountpayble/accountpayble/app-open-close-ap-subledger">open/close AP Subledger </a>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 15" (opened)="setStep(15)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Account Receivable
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLinkActive="active" routerLink="/accountreceivable/accountreceivablepages/app-open-close-ar-subledger">open/close AR Subledger </a>
                </mat-expansion-panel>

                <!--Arun-->
                <mat-expansion-panel [expanded]="step === 16" (opened)="setStep(16)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Accounting
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <a mat-list-item routerLinkActive="active" routerLink="/accountmodule/accountpages/app-view-batch">View Batch</a>
                    <!--<a mat-list-item routerLinkActive="active" routerLink="/accountmodule/accountpages/app-create-batch">Create Batch</a>
    <a mat-list-item routerLinkActive="active" routerLink="/accountmodule/accountpages/app-create-journel">Add Journel</a>-->
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Single Screens
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-actions">Actions</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-action-attributes">Action Attributes</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-ata-main">Ata Chapter</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-ata-sub-chapter1">ATA Sub Chapter</a>
                    <!--<a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-ata-sub-chapter2">ATA Sub Chapter2</a>-->
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-certification-type">Certification Type</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-charges">Charges</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-conditions">Conditions</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-credit-terms">Credit Terms</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-currency">Currency</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-customer-classification">Customer Classification</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-documents">Documents</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-defaultmessage">Default Message</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-employee-expertise">Employee Expertise</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-expenditure">Expenditure</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-findings">Findings</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-gate-code">Gate Code</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-integration">Integration</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-item-classification">Item Classification</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-item-group">Item Group</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-job-title">Job Title</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-priority">Priority</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-provision">Provision</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-publication">Publication</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-reason">Reason</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-tax-rate">Tax Rate</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-tax-type">Tax Type</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-unit-of-measure">Unit of Measure</a>

                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-vendor-classification">Vendor Classification</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-work-performed">Work Performed</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-work-scope">Work Scope</a>

                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-action-attribute-mapping">Action Attribute Mapping</a>

                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-capabilities">Capabilities</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-financial-statement-mapping">Financial Statement Mapping</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-glaccount-category">Expenditure Type</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-gl-account-class">Gl Account Type</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-gl-cash-flow-classification">Gl CashFlow Classification</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-gl-financial-statement">GlFinancialStatement</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-journal-approvals">JournalApprovals</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-rfq-engine">RfqEngine</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-manufacturer">Manufacturer</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-vendorcapabilities">Vendor Setup</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-labor-and-overhead-cost-setup">Labor And Overhead Cost SetUp</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-asset-type-single-screen">Asset Type</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/asset-status">Asset Status</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-depriciation-method">Depriciation Method</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-asset-dep-convention-type">Depriciation Dep Convention Type</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-depreciation-intervals">Depriciation Intervals</a>
                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-disposal-type">Disposal Type</a>

                    <a mat-list-item routerLinkActive="active" routerLink="/singlepages/singlepages/app-asset-intangible-type-single-screen">Intangible Type</a>
                </mat-expansion-panel>


                <!--
    <mat-expansion-panel *ngIf="canViewUsers || canViewRoles" #admin [class.mat-elevation-z0]="!admin.expanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Work Order
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="list-group">
            <li class="list-group-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Work Order's List
                        </mat-expansion-panel-header>
                        <a mat-list-item routerLinkActive="active" routerLink="/workordersmodule/workorderspages/app-work-order-add">Work Order Setup</a>
                        <a mat-list-item routerLinkActive="active" routerLink="/workordersmodule/workorderspages/app-work-order-manual-entry-labor-hours">Add Labor</a>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>

        </ul>
    </mat-expansion-panel>

        -->


            </mat-nav-list>


		</mat-sidenav>

		<mat-sidenav-content>
			<div fxLayout="column" fxFill>
				<div id="mainContent" fxFlex="grow">
					<router-outlet></router-outlet>
				</div>

			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>

</div>

<div class="cdetails-top" *ngIf="translationService.closeCmpny && isUserLoggedIn" >
	<span class="cdetails-top-close-btn fa fa-times" (click)="closethis()"></span>
	<div class="col-sm-12"><label>Comp</label><span>Silverxis</span></div>
	<div class="col-sm-12"><label>BU</label><span>Adso</span></div>
	<div class="col-sm-12"><label>Div</label><span>Development</span></div>
	<div class="col-sm-12"><label>Dept</label><span>Java</span></div>
</div>

<ng2-toasty></ng2-toasty>
<script src="http://maps.googleapis.com/maps/api/js?key=[YOUR_API_KEY]"></script>